{% extends "layout.html" %}

{% set title = "You cannot remove this user" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form method="post" action="../services-on-team-member-admin">
        <h1 class="govuk-heading-xl">{{ title }}</h1>


        <p class="govuk-body">You cannot remove Barry Anders as there needs to be at least one admin from Acme Org Ltd who is also an admin for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Acme Org India</li>
          <li>Acme Org Thailand</li>
        </ul>
        <p class="govuk-body">To remove this user call the service: </p>
        <p class="govuk-body">Comply with Reach IT - 0174 45633458</p>
        <p class="govuk-body">[consuming service name] - [consuming service phone number]</p>

        {{ govukButton({
          text: "Back"
        }) }}


      </form>
    </div>
  </div>




{% endblock %}
