{% extends "layout.html" %}

{% set title = "Select your business address" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{title}}</h1>
    <p class="govuk-body">
      Postcode:
      <span class="govuk-!-font-weight-bold">{{ data['postcode'] }}</span>&nbsp;&nbsp;
      <a href="company-postcode" class="govuk-link">Change<span class="govuk-visually-hidden"> postcode</span>
      </a>
    </p>


    <form action="company-contact-radio" method="post">

      <!-- Used this insert for now as it is a bug and missing from design kit.  -->
      {% from "inset-text/macro.njk" import govukInsetText %}

      {{ govukInsetText({
        text: "We couldn't find any addresses for that postcode. Try again or enter your address manually"
      }) }}

      <p class="govuk-body">
        <a href="company-address-manual">
        Enter address manually</span>
        </a>
      </p>

    </form>





  </div>
</div>


{% endblock %}
