{% extends "layout.html" %}

{% set title = "2. Capture your details" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds app-column-minimum">

    <h1 class="govuk-heading-xl">
      {{title}}
    </h1>

    <p class="govuk-body">Please provide the following information: </p>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">a. </span> Your account
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <a class="app-task-list__task-name" href="check-mini/account-type-change" aria-describedby="account-type-completed">
              Account type
            </a>
            <strong class="govuk-tag app-task-list__task-completed" id="company-details-completed">
              Completed
            </strong>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">b. </span> About you
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <a class="app-task-list__task-name" href="personal-details" aria-describedby="personal-details-completed">
              Personal details
            </a>
            <strong class="govuk-tag app-task-list__task-completed" id="personal-details-completed">
              Completed
            </strong>
          </li>
          <li class="app-task-list__item">
            <a class="app-task-list__task-name" href="sole-trader-name" aria-describedby="sole-trader-details-completed">
              Sole Trader details
            </a>
            <strong class="govuk-tag app-task-list__task-completed" id="sole-trader-details-completed">
              Completed
            </strong>
          </li>
        </ul>
      </li>

      <li>
        <ul class="app-task-list__items">
          <li>
            {{ govukButton({
              text: "Check your answers",
              href: "check-answers/check-your-answers"
            }) }}
          </li>
        </ul>
      </li>
    </ol>

  </div>
</div>

{% endblock %}
