{% extends "/layouts/main.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}
Record data from an Annual Health and Welfare Review
{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- <div id="changed-name-hint" class="govuk-hint">
      This includes changing your last name or spelling your name differently.
    </div> -->
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
        What is the name of the vet who did the review?
        </label>
      </h1>
      <label class="govuk-label" for="first-name">
        Vet’s full name
      </label>
      <input class="govuk-input govuk-!-width-three-quarters" id="first-name" name="first-name" type="text">
    </div>

    {{ govukButton({
      text: "Continue",
      href: "vet-practice"
    }) }}

  </div>
</div>

{% endblock %}
