{% extends "layout.html" %}

{% set serviceName = "" %}

{% block pageTitle %}
  Your Defra Account | Prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

    <h1 class="govuk-heading-xl">Are these the correct registered company details?</h1>

    <p class="govuk-body">We need to know the registered company details for verification purposes. It is typically the head office.</p>

    <h2 class="govuk-heading-m">Acme Org Ltd</h2>

    <p><b>Limited Company</b></p>

    <p>1 Francis Crick Avenue, Cambridge Biomedical Campus, Cambridge, United Kingdom, CB2 0AA</p>

    <p>Company number {{ data['defraIdCompaniesHouseNumber'] or '01234567' }}.  <a href="company-lookup">Enter a different number</a>.</p>

    {{ govukDetails({
      summaryText: "That is not our registered office address",
      html: '<p class="govuk-body">We must use the address that is registered with Companies House. If your address has changed then you must <a href="https://www.gov.uk/file-changes-to-a-company-with-companies-house" target="_blank">tell Companies House (opens in a new tab)</a>.</p>
      <p class="govuk-body">Once your details have been updated by Companies House you can return and continue your service registration providing it is within 3 days of your last login.</p>'
    }) }}

    <form method="POST" action="company-contact">
      {{ govukButton({
        text: "Confirm"
      }) }}
    </form>

  </div>
</div>

{% endblock %}
