{% extends "layout.html" %}

{% set serviceName = "" %}

{% block pageTitle %}
  Government Gateway | Prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Email address confirmed</h1>

    <p>This will enable us to help you get the most from this service.</p>

    <form method="POST" action="your-name">
      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
    
    {% include "includes/get-help.html" %}

  </div>
</div>

{% endblock %}
