{% extends "layout.html" %}

{% set serviceName = "" %}

{% block pageTitle %}
  Government Gateway | Prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">What is your full name?</h1>

      <form action="create-password" method="POST">

        {{ govukInput({
          label: {
            text: title,
            isPageHeading: false
          },
          classes: "govuk-!-width-one-half",
          id: "govGateName",
          name: "govGateName"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      {% include "includes/get-help.html" %}

  </div>
</div>

{% endblock %}
