{% extends "layout.html" %}

{% set title = "Invite team member" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-visually-hidden">{{title}}</h1>
    {{ govukPanel({
          titleText: "We have sent an invitation email to [user name].",
          html: ""
    })
    }}

    <p class="govuk-body">We have also sent you a confirmation email.</p>

    <h3 class="govuk-heading-m">What happens next</h3>

    <p class="govuk-body">[User name] will need to accept the email invite.</p>
    <p class="govuk-body">They will then be able to perform tasks and view any services you have given them permission to.</p>
    <p class="govuk-body">You can <a href="#" class="govuk-link">change their role and access level here.</a></p>


    {{ govukButton({
        text: "Continue",
        href: "/manage/agent/agent-all-1"
    }) }}

  </div>
</div>


{% endblock %}
