{% extends "layout.html" %}

{% set title = "You have already asked to join this account" %}

{% block header %}
  {% include "includes/logged-out-header.html" %}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{ title }}</h1>

    <p>You will gain access once you have been approved by an account administrator for [organisation name].</p>

    <p class="govuk-body">If you know their contact details, you can contact them directly to request approval.</p>

    {{ govukButton({
      text: "Continue",
      href: "/manage/team-members/services-on-team-member-admin-account_individual"
    }) }}



    </div>
  </div>




{% endblock %}
