{% extends "layout.html" %}

{% set title = "What is your business trading address?" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{title}}</h1>

      <form action="company-address" method="post">

        {{ govukInput({
          label: {
            text: "Postcode lookup",
            classes: "govuk-label--s"
          },
          hint: {
            text: "This might be for a business address or your home address"
          },

          classes: "govuk-input--width-10",
          id: "postcode",
          name: "postcode",
          value: postcode
        }) }}

        {{ govukDetails({
          summaryText: "The company is outside of the UK",
          html: ' <p class="govuk-body">Some words go here about what to do</p>'

        }) }}

        {{ govukButton({
          text: "Find address"
        }) }}

        <div class="form-group">
          <label class="form-label" for="subsid-postcode">
            Postcode
          </label>
          <input class="form-control form-control-1-4" id="subsid-postcode" name="subsid-postcode" type="text" value="{{ data['subsid-postcode'] }}">
          &nbsp;&nbsp;<button type="submit" class="button" name="Continue">Find address</button>
        </div>

      </form>

  </div>
</div>

{% endblock %}
