{% extends "layout.html" %}

{% set title = "What is your business name?" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form action="check-your-answers" method="post">

        {{ govukInput({
          label: {
            text: title,
            isPageHeading: true,
            classes: "govuk-label--xl"
          },

          hint: {
            text: "You may trade under your own name, or a name you have given to your business."
          },

          classes: "govuk-input--width-20",
          id: "companyName",
          name: "companyName"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

  </div>
</div>

{% endblock %}
