{% extends "/layouts/main.html" %}

{% set serviceName = "Defra account" %}

{% set title = "Are you registering as a business or an individual?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- Radio button routing in ../defra-id/_routes.js -->
    <form method="post" action="change-organisation-type-choice">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              {{ title }}
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              {% if data['defraIdType'] == "business" %}
                <input class="govuk-radios__input" id="type1" name="defraIdType" type="radio" value="organisation" checked>
              {% else %}
                <input class="govuk-radios__input" id="type1" name="defraIdType" type="radio" value="organisation">
              {% endif %}
              <label class="govuk-label govuk-radios__label" for="type1">
                <strong>A business or organisation</strong>
              </label>
              <div class="govuk-hint govuk-radios__hint">You represent a business or organisation that wants to use this service (including sole traders and charities) and you have permission to create an account for them</div>
            </div>
            <div class="govuk-radios__item">
              {% if data['defraIdType'] == "individual" %}
                <input class="govuk-radios__input" id="type2" name="defraIdType" type="radio" value="individual" checked>
              {% else %}
                <input class="govuk-radios__input" id="type2" name="defraIdType" type="radio" value="individual">
              {% endif %}

              <label class="govuk-label govuk-radios__label" for="type2">
                <strong>An individual</strong>
              </label>
              <div class="govuk-hint govuk-radios__hint">You want to use this service for your own personal use</div>
            </div>
          </div>
        </fieldset>
      </div>

      {{govukButton({
        text: "Continue"
      })}}

    </form>

  </div>
</div>

{% endblock %}
