{% extends "/layouts/main.html" %}

{% set serviceName = "Government Gateway" %}

{% set title = "Enter your email address" %}

{% block pageTitle %}
  {{ title }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ title }}</h1>
    <p>This will only be used to send you security updates or if you need to recover your sign in details.</p>
    <p>To confirm it is your email address we will send you a code.</p>

    <form method="post" action="check-email">
      {{ govukInput({
        label: {
          text: "Email address"
        },
        classes: "govuk-!-width-three-quarters",
        id: "govGateEmail",
        name: "govGateEmail"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    {% include "includes/get-help.html" %}

  </div>
</div>


{% endblock %}
