{% set tocPage = "guide" %}

{% set mainClasses = "guide govuk-!-padding-top-0 govuk-!-padding-bottom-0" %}

{% extends "layouts/layout.html" %}

{% block head %}
{% include "includes/publisher/head.html" %}
{% endblock %}

{% block pageTitle %}
Guidance for vets
{% endblock %}
{% set serviceName %}
How to carry out an annual livestock health and welfare review
{% endset%}


{% block header %}
{% include "includes/publisher/header.html" %}
{% include "includes/publisher/global-bar.html" %}
{% endblock %}


{% block beforeContent %}

<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    ...
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="../guidance.html">Guidance for vets</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="technical.html">Technical guidance</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link">Labs for sheep</a>
  </li>
</ol>
</div>
{% endblock %}


{% block content %}

<style>
.navigation-container {
  padding: 20px 0 20px 0;
  margin-top: 30px;
  border-top: 1px solid #b1b4b6
}
.list-item--dashed:before {
  content: "—";
  position: relative ;
  left: 0;
  width: 20px;
  padding-right: 10px;
  overflow: hidden;
}
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- Logo -->
    <br><br>

    <!-- Blue box -->
    <div class="govuk-panel govuk-panel--confirmation govuk-!-text-align-left govuk-!-margin-bottom-7" style="background-color:#1d70b8;">
      <div class="govuk-panel__body govuk-!-margin-bottom-3">
        Guidance
      </div>
      <h1 class="govuk-panel__title">
        Approved laboratories to test effectiveness of worming treatments in sheep
      </h1>
      <div class="govuk-panel__body">
        Published 12 July 2022
      </div>
    </div>

    <!-- Intro -->
    <p class="govuk-body govuk-!-font-size-24">
      Vets must send samples to a laboratory on this list that has been 
      approved by the Department for Environment, Food and Rural Affairs (Defra).
    </p>

    <aside class="navigation-container">
        <ul class="govuk-list govuk-body-s">
        <li>Contents</li>
        <li class="list-item--dashed"><a href="#afbi">Agri-food and Biosciences Institute</a></li>
        <li class="list-item--dashed"><a href="#aphabury">APHA Bury St Edmunds Veterinary Investigation Centre</a></li>
        <li class="list-item--dashed"><a href="#aphacar">APHA Carmarthen Veterinary Investigation Centre</a></li>
        <li class="list-item--dashed"><a href="#aphapath">APHA Pathology and Animal Science Department</a></li>
        <li class="list-item--dashed"><a href="#aphapen">APHA Penrith Veterinary Investigation Centre</a></li>
        <li class="list-item--dashed"><a href="#aphashrew">APHA Shrewsbury Veterinary Investigation Centre</a></li>
        <li class="list-item--dashed"><a href="#aphathirsk">APHA Thirsk Veterinary Investigation Centre</a></li>
        <li class="list-item--dashed"><a href="#axiom">Axiom Veterinary Laboratories Ltd</a></li>
        <li class="list-item--dashed"><a href="#biobest">Biobest Laboratories</a></li>
        <li class="list-item--dashed"><a href="#finn">Finn Pathologists</a></li>
        <li class="list-item--dashed"><a href="#idexx">IDEXX UK</a></li>
        <li class="list-item--dashed"><a href="#langford">Langford Vets</a></li>
        <li class="list-item--dashed"><a href="#scitech">Sci-Tech Laboratories England</a></li>
        <li class="list-item--dashed"><a href="#scitechNI">Sci-Tech Laboratories Northern Ireland</a></li>
        <li class="list-item--dashed"><a href="#sacaber">Scottish Agricultural College (SAC) Aberdeen</a></li>
        <li class="list-item--dashed"><a href="#sacdum">Scottish Agricultural College (SAC) Dumfries</a></li>
        <li class="list-item--dashed"><a href="#sacedi">Scottish Agricultural College (SAC) Edinburgh - parasitology</a></li>
        <li class="list-item--dashed"><a href="#sacstbos">Scottish Agricultural College (SAC) St Boswells</a></li>
        <li class="list-item--dashed"><a href="#sacthur">Scottish Agricultural College (SAC) Thurso</a></li>
        <li class="list-item--dashed"><a href="#royal">The Royal Veterinary College Diagnostic Laboratory Services</a></li>
      </ul>
    </aside>

    <!-- Main body -->
    <h2 id="afbi" class="govuk-heading-m">Agri-food and Biosciences Institute (AFBI)</h2>

      <p class="govuk-body">
        Stormont Veterinary Laboratory <br>
        Stoney Road <br>
        Stormont <br>
        Belfast <br>
        BT4 3SD <br>
      </p>
      <p class="govuk-body">
        Telephone: 02890 525 649
      </p>
      <p class="govuk-body">
        Email: <a href="mailto:dsibsample.enquiries@afbini.gov.uk">dsibsample.enquiries@afbini.gov.uk</a>
      </p>

    <h2 id="aphabury" class="govuk-heading-m">APHA Carmarthen Veterinary Investigation Centre</h2>

      <p class="govuk-body">
        Rougham Hill <br>
        Bury St Edmunds <br>
        Suffolk <br>
        IP33 2RX <br>
      </p>
      <p class="govuk-body">
        Telephone: 03000 600018
      </p>
      <p class="govuk-body">
        Email: <a href="mailto:buryst.edmunds@apha.gov.uk">buryst.edmunds@apha.gov.uk</a>
      </p>

    <h2 id="aphacar" class="govuk-heading-m">APHA Carmarthen Veterinary Investigation Centre</h2>

      <p class="govuk-body">
        Job’s Well Road <br>
        Johnstown Carmarthen <br>
        Carmarthenshire <br>
        SA31 3EZ <br>
      </p>
      <p class="govuk-body">
        Telephone: 03000 600016
      </p>
      <p class="govuk-body">
        Email: <a href="mailto:carmarthen@apha.gov.uk">carmarthen@apha.gov.uk</a>
      </p>

    <h2 id="aphapath" class="govuk-heading-m">APHA Pathology and Animal Science Department</h2>

      <p class="govuk-body">
        Woodham Lane <br>
        New Haw <br>
        Addlestone <br>
        Surrey <br>
        KT15 3NB <br>
      </p>
      <p class="govuk-body">
        Telephone: 0208 225 7611
      </p>
      <p class="govuk-body">
        Email: <a href="mailto:lab.services@apha.gov.uk">lab.services@apha.gov.uk</a>
      </p>

    <h2 id="aphapen" class="govuk-heading-m">APHA Penrith Veterinary Investigation Centre</h2>

      <p class="govuk-body">
        Merrythought <br>
        Calthwaite <br>
        Penrith <br>
        Cumbria <br>
        CA11 9RR <br>
      </p>
      <p class="govuk-body">
        Telephone: 03000 600012
      </p>
      <p class="govuk-body">
        Email: <a href="mailto:penrith@apha.gov.uk">penrith@apha.gov.uk</a>
      </p>

    <h2 id="aphashrew" class="govuk-heading-m">APHA Shrewsbury Veterinary Investigation Centre</h2>

      <p class="govuk-body">
        Kendal Road <br>
        Harlescott <br>
        Shrewsbury <br>
        Shropshire <br>
        SY1 4HD <br>
      </p>
      <p class="govuk-body">
        Telephone: 03000 600023
      </p>
      <p class="govuk-body">
        Email: <a href="mailto:rlshrewsbury@apha.gov.uk">rlshrewsbury@apha.gov.uk</a>
      </p>

    <h2 id="aphathirsk" class="govuk-heading-m">APHA Thirsk Veterinary Investigation Centre</h2>

      <p class="govuk-body">
        West House <br>
        Station Road <br>
        Thirsk <br>
        North Yorkshire <br>
        YO7 1PZ <br>
      </p>
      <p class="govuk-body">
        Telephone: 03000 600098
      </p>
      <p class="govuk-body">
        Email: <a href="mailto:thirsk@apha.gov.uk">thirsk@apha.gov.uk</a>
      </p>

    <h2 id="axiom" class="govuk-heading-m">Axiom Veterinary Laboratories Ltd</h2>

      <p class="govuk-body">
        Manor House <br>
        Brunel Rd <br>
        Newton Abbot <br>
        TQ12 4PB <br>
      </p>
      <p class="govuk-body">
        Telephone: 01626 355655
      </p>
      <p class="govuk-body">
        Email: <a href="mailto:admin@axiomvetlab.co.uk">admin@axiomvetlab.co.uk</a>
      </p>

    <h2 id="biobest" class="govuk-heading-m">Biobest Laboratories</h2>

      <p class="govuk-body">
        6 Charles Darwin House <br>
        The Edinburgh Technopole <br>
        Milton Bridge <br>
        EH26 0PY <br>
      </p>
      <p class="govuk-body">
        Telephone: 0131 440 262
      </p>
      <p class="govuk-body">
        Email: <a href="mailto:enquiry@biobest.co.uk">enquiry@biobest.co.uk</a>
      </p>

    <h2 id="finn" class="govuk-heading-m">Finn Pathologists</h2>

      <p class="govuk-body">
        Units 3C - 3D <br>
        Mayflower Way <br>
        Harleston <br>
        IP20 9EB <br>
      </p>
      <p class="govuk-body">
        Telephone: 01379 854180
      </p>
      <p class="govuk-body">
        Email: <a href="mailto:email@finnpathologists.com">email@finnpathologists.com</a>
      </p>

    <h2 id="idexx" class="govuk-heading-m">IDEXX UK</h2>

      <p class="govuk-body">
        IDEXX Laboratories <br>
        Grange House <br>
        Sandbeck Way <br>
        Wetherby <br>
        West Yorkshire <br>
        LS22 7DN <br>
      </p>
      <p class="govuk-body">
        Telephone: 01937 544000
      </p>
      <p class="govuk-body">
        Enquiry form: <a href="https://www.idexx.co.uk/en-gb/livestock/contact-livestock/livestock-product-support-form/">
          Idexx lifestock product support form
        </a>
      </p>

    <h2 id="langford" class="govuk-heading-m">Langford Vets</h2>

      <p class="govuk-body">
        Langford Diagnostic Laboratories <br>
        Langford House <br>
        Langford <br>
        Bristol <br>
        BS40 5DU <br>
      </p>
      <p class="govuk-body">
        Telephone: 0117 3940510
      </p>
      <p class="govuk-body">
        Email: <a href="mailto:labs@langfordvets.co.uk">labs@langfordvets.co.uk</a> <br>
      </p>

    <h2 id="scitech" class="govuk-heading-m">Sci-Tech Laboratories England</h2>

      <p class="govuk-body">
        The Grove <br>
        Craven Arms <br>
        Shropshire <br>
        SY7 8DA <br>
      </p>
      <p class="govuk-body">
        Telephone: 01588 672600
      </p>
      <p class="govuk-body">
        Contact form: <a href="mailto:enquiries@scitech-labs.uk.com">enquiries@scitech-labs.uk.com</a>
      </p>

    <h2 id="scitechNI" class="govuk-heading-m">Sci-Tech Laboratories Northern Ireland</h2>

      <p class="govuk-body">
        20 Roskeen Road <br>
        Moygashel <br>
        Dungannon <br>
        BT71 7RG <br>
      </p>
      <p class="govuk-body">
        Telephone: 02887 722907
      </p>
      <p class="govuk-body">
        Email: <a href="mailto:enquiriesdungannon@scitech-labs.com">enquiriesdungannon@scitech-labs.com</a>
      </p>

    <h2 id="sacaber" class="govuk-heading-m">Scottish Agricultural College (SAC) Aberdeen</h2>

      <p class="govuk-body">
        Aberdeen Disease Surveillance Centre <br>
        AMill of Craibstone <br>
        Bucksburn <br>
        Aberdeen <br>
        AB21 9TB <br>
      </p>
      <p class="govuk-body">
        Telephone: 0131 535 3130
      </p>
      <p class="govuk-body">
        Email: <a href="mailto:vetservices.north@sruc.ac.uk">vetservices.north@sruc.ac.uk</a>
      </p>

    <h2 id="sacdum" class="govuk-heading-m">Scottish Agricultural College (SAC) Dumfries</h2>

      <p class="govuk-body">
        Grieves Cottage <br>
        Barony Campus <br>
        Parkgate <br>
        Dumfries <br>
        DG1 3NE <br>
      </p>
      <p class="govuk-body">
        Telephone: 01327 261172
      </p>
      <p class="govuk-body">
        Email: <a href="mailto:dumfries@sac.co.uk">dumfries@sac.co.uk</a>
      </p>

    <h2 id="sacedi" class="govuk-heading-m">Scottish Agricultural College (SAC) Edinburgh - parasitology</h2>

      <p class="govuk-body">
        Bush Estate <br>
        Penicuik <br>
        Edinburgh <br>
        EH26 0PH <br>
      </p>
      <p class="govuk-body">
        Telephone: 0131 603 7520
      </p>
      <p class="govuk-body">
        Email: <a href="mailto:edinburgh@sac.co.uk">edinburgh@sac.co.uk</a>
      </p>

    <h2 id="sacstbos" class="govuk-heading-m">Scottish Agricultural College (SAC) St Boswells</h2>

      <p class="govuk-body">
        Greycrook <br>
        St Boswells <br>
        Roxburghshire <br>
        TD6 0EU <br>
      </p>
      <p class="govuk-body">
        Telephone: 01835 823322
      </p>
      <p class="govuk-body">
        Email: <a href="mailto:stboswells@sac.co.uk">stboswells@sac.co.uk</a>
      </p>

    <h2 id="sacthur" class="govuk-heading-m">Scottish Agricultural College (SAC)</h2>

      <p class="govuk-body">
        Industrial Estate <br>
        Janetstown <br>
        Thurso <br>
        Caithness <br>
        KW14 7XF <br>
      </p>
      <p class="govuk-body">
        Telephone: 01847 892602
      </p>
      <p class="govuk-body">
        Email: <a href="mailto:thurso@sac.co.uk">thurso@sac.co.uk</a>
      </p>

    <h2 id="royal" class="govuk-heading-m">The Royal Veterinary College Diagnostic Laboratory Services</h2>

      <p class="govuk-body">
        Hawkshead Lane <br>
        Hatfield <br>
        Hertfordshire <br>
        AL9 7TA <br>
      </p>
      <p class="govuk-body">
        Telephone: 01707 666208
      </p>
      <p class="govuk-body">
        Email: <a href="mailto:diagnosticlabs@rvc.ac.uk">diagnosticlabs@rvc.ac.uk</a>
      </p>

    <!--Footer-->
    <div class="app-back-to-top" style="margin: 20px 0 20px 0; border-top: 1px solid #b1b4b6; padding-top: 20px;" data-module="app-back-to-top">
      <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
        <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
          <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg>
        Back to top
      </a>
    </div>

  </div>
<!--
  <div class="govuk-grid-column-one-third">
    <div class="gem-c-contextual-sidebar">
      {% block sidebar %}
      {% include "includes/publisher/transition-countdown.html" %}
      {% include "includes/publisher/related-content.html" %}
      {% endblock %}
    </div>
  </div>
-->
</div>

{% endblock %}
