{% extends "layout.html" %}

{% set title = "Check your information" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{title}}</h1>

    <h2 class="govuk-heading-m">
      About you
    </h2>
    <dl class="app-check-your-answers app-check-your-answers--short">

      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Your name
        </dt>
        <dd class="app-check-your-answers__answer">
          {{ data['personalFirstName']}} {{ data['personalSurname']}}
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="personal-details" class="govuk-link" >
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Your contact details
        </dt>
        <dd class="app-check-your-answers__answer">
          {{data['scpEmail']}} <br>
          {{ data['personalTelephone'] }}
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="personal-contact" class="govuk-link" >
            Change<span class="govuk-visually-hidden"> contact number</span>
          </a>
        </dd>
      </div>

    </dl>

    {% if data['service'] == "Imports"%}

    {{ govukButton({
      text: "Continue",
      href: "../confirmation-reg-sent-success"
    }) }}

    {% else %}

    {{ govukButton({
      text: "Continue",
      href: "reg-confirmation"
    }) }}

    {% endif %}

  </div>
</div>

{% endblock %}
