{% if (data['userType'] == "new-pending") or (data['userType'] == "new-complete") or (data['userType'] == "new-incomplete-service") %}

<div class="login-nav">
  <ul class="login-nav__list">
    <li class="login-nav__list-item">Signed in as: Ann Cooper</li>
    <li class="login-nav__list-item"><a href="/service-start-logged-out" class="govuk-nav__link govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

{% else %}
<div class="login-nav">
  <ul class="login-nav__list">
    <li class="login-nav__list-item"><a href="/service-start-logged-out" class="govuk-nav__link govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

{% endif %}
