{% if (data['numUsers'] == "1") %}
  {% set dashboardURL = "/manage/dashboard-all?numUsers=1" %}
{% endif %}

{% if (data['numUsers'] == "2") %}
  {% set dashboardURL = "/manage/dashboard-all?numUsers=2" %}
{% endif %}

{% if (data['numUsers'] == "5") %}
  {% set dashboardURL = "/manage/dashboard-all?numUsers=5" %}
{% endif %}

{% if (data['numUsers'] >= "6") %}
  {% set dashboardURL = "/manage/dashboard-all?numUsers=6" %}
{% endif %}

<!--
<div class="login-nav">
  <ul class="login-nav__list">
    <li class="login-nav__list-item">Signed in as: Ann Cooper</li>
    <li class="login-nav__list-item"><a href="/service-start-logged-out" class="govuk-nav__link govuk-link--no-visited-state">Sign out</a></li>
    <li class="login-nav__list-item">|</li>
    <li class="login-nav__list-item"><a href="{{ dashboardURL }}" class="govuk-nav__link govuk-link--no-visited-state"> Dashboard</a></li>
    <li class="login-nav__list-item"><a href="/manage/team-members/services-on-team-member-admin-account" class="govuk-nav__link govuk-link--no-visited-state">Account</a></li>
  </ul>
</div>
-->

<div class="login-nav">
    <ul class="login-nav__list">
      <li class="login-nav__list-item"><a href="/manage/team-members/services-on-team-member-admin-account" class="govuk-link login-nav__link govuk-link--no-visited-state profile">Ann Cooper</a>|</li>
      <li class="login-nav__list-item"><a href="{{ dashboardURL }}" class="govuk-link login-nav__link govuk-link--no-visited-state account">Manage account</a>|</li>
      <li class="login-nav__list-item"><a href="/service-start-logged-out" class="govuk-link login-nav__link govuk-link--no-visited-state">Sign out</a></li>
    </ul>
  </div>
