{% if data['numUsers'] >= "5" %}
<div class="login-nav">
    <ul class="login-nav__list">
      <li class="login-nav__list-item">Signed in as: Ann Cooper</li>
      <li class="login-nav__list-item"><a href="/service-start-logged-out" class="govuk-nav__link govuk-link--no-visited-state">Sign out</a></li>
      <li class="login-nav__list-item">|</li>
      <li class="login-nav__list-item"><a href="/manage/dashboard-all" class="govuk-nav__link govuk-link--no-visited-state"> Dashboard</a></li>
      <li class="login-nav__list-item"><a href="/manage/team-members/services-on-team-member-admin-account" class="govuk-nav__link  govuk-link--no-visited-state">Account</a></li>
    </ul>
  </div>

{% endif %}

{% if (data['numUsers'] == "1") or (data['numUsers'] <= "2") %}
  <div class="login-nav">
    <ul class="login-nav__list">
      <li class="login-nav__list-item">Signed in as: Ann Cooper</li>
      <li class="login-nav__list-item"><a href="/service-start-logged-out" class="govuk-nav__link govuk-link--no-visited-state">Sign out</a></li>
      <li class="login-nav__list-item">|</li>
      <li class="login-nav__list-item"><a href="/manage/dashboard-all-1" class="govuk-nav__link govuk-link--no-visited-state"> Dashboard</a></li>
      <li class="login-nav__list-item"><a href="/manage/team-members/services-on-team-member-admin-account" class="govuk-nav__link govuk-link--no-visited-state">Account</a></li>
    </ul>
  </div>
{% endif %}
