<div class="login-nav">
  <ul class="login-nav__list">
    <li class="login-nav__list-item">Signed in as: {{ data['personalFirstName'] }} {{ data['personalSurname'] }}</li>
    <li class="login-nav__list-item"><a href="/service-start-logged-out" class="govuk-nav__link govuk-link--no-visited-state">Sign out</a></li>
    <li><a href="/manage/team-members/services-on-team-member-invited-account" class="govuk-link--no-visited-state govuk-nav__link">Account details</a></li>
  </ul>
</div>


<ul class="login-nav__list">
  <li class="login-nav__list-item"><a href="/manage/team-members/services-on-team-member-admin-account" class="govuk-link login-nav__link govuk-link--no-visited-state">{{ data['personalFirstName'] }} {{ data['personalSurname'] }}</a>|</li>
  <li class="login-nav__list-item"><a href="/manage/dashboard-all" class="govuk-link login-nav__link govuk-link--no-visited-state">Manage account</a>|</li>
  <li class="login-nav__list-item"><a href="/service-start-logged-out" class="govuk-link login-nav__link govuk-link--no-visited-state">Sign out</a></li>
</ul>
