{% if data['numUsers'] >= "5" %}
<div class="login-nav">
    <ul class="login-nav__list">
      <li class="login-nav__list-item"><a href="/manage/team-members/services-on-team-member-admin-account" class="govuk-link login-nav__link govuk-link--no-visited-state profile">Ann Cooper</a>|</li>
      <li class="login-nav__list-item"><a href="/manage/dashboard-all" class="govuk-link login-nav__link govuk-link--no-visited-state account">Manage account</a>|</li>
      <li class="login-nav__list-item"><a href="/service-start-logged-out" class="govuk-link login-nav__link govuk-link--no-visited-state">Sign out</a></li>
    </ul>
  </div>

{% endif %}

{% if (data['numUsers'] == "1") or (data['numUsers'] <= "2") %}
  <div class="login-nav">
    <ul class="login-nav__list">
      <li class="login-nav__list-item"><a href="/manage/team-members/services-on-team-member-admin-account" class="govuk-link login-nav__link govuk-link--no-visited-state profile">Ann Cooper</a>|</li>
      <li class="login-nav__list-item"><a href="/manage/dashboard-all-1" class="govuk-link login-nav__link govuk-link--no-visited-state account">Manage account</a>|</li>
      <li class="login-nav__list-item"><a href="/service-start-logged-out" class="govuk-link login-nav__link govuk-link--no-visited-state">Sign out</a></li>
    </ul>
  </div>
{% endif %}

<!--

<details class="govuk-details login-nav__details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Change organisation
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list ">
      <li><a class="govuk-link govuk-link--no-visited-state" href="/dashboard0?orgName=Acme Org Ltd&numUsers=12&numAgents=1&numServices=3&numLocations=1&service=Chemicals&serviceLine=UK-REACH-IT&serviceRole=REACH Manager">Acme Org Ltd</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/dashboard0?orgName=FarmerRUS&numUsers=2&numAgents=14&numServices=3&numLocations=1&service=Chemicals&serviceLine=UK-REACH-IT&serviceRole=REACH Manager">FarmerRUS</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/dashboard0?orgName=Importers RUS&numUsers=6&numAgents=0&numServices=3&numLocations=1&service=Chemicals&serviceLine=UK-REACH-IT&serviceRole=REACH Manager">Importers RUS</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/dashboard0?orgName=Client2.com&numUsers=5&numAgents=3&numServices=3&numLocations=1&service=Chemicals&serviceLine=UK-REACH-IT&serviceRole=REACH Manager">Client2.com</a></li>
    </ul>
  </div>
</details>
-->
