{% set setDashURL %}
  {% if (data['numUsers'] == "1") or (data['numAgents'] == "0") or (data['numAgents'] == "1") %}
    /manage/dashboard-1
  {% endif %}

  {% if (data['numUsers'] >= "5") or (data['numAgents'] >= "3") %}
    /manage/dashboard-all
  {% endif %}
{% endset %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ setDashURL }}">Dashboard</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      {{title}}
    </li>
  </ol>
</div>
