{% if (data['numUsers'] == "1") %}
  {% set dashboardURL = "/manage/dashboard-all?numUsers=1" %}
{% endif %}

{% if (data['numUsers'] == "2") %}
  {% set dashboardURL = "/manage/dashboard-all?numUsers=2" %}
{% endif %}

{% if (data['numUsers'] == "5") %}
  {% set dashboardURL = "/manage/dashboard-all?numUsers=5" %}
{% endif %}

{% if (data['numUsers'] >= "6") %}
  {% set dashboardURL = "/manage/dashboard-all?numUsers=6" %}
{% endif %}

{% set setTeamURL %}
  {% if data['numUsers'] <= "2" %}
    /manage/team-members/team-members
  {% endif %}

  {% if data['numUsers'] >= "5" %}
    /manage/team-members/team-members
  {% endif %}
{% endset %}

{% set setUserName %}
  {{ data['nameBreadcrumb'] }}
{% endset %}


<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ dashboardURL }}">Dashboard</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ setTeamURL }}">Team Members</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">&nbsp{{ setUserName }}
    </li>
  </ol>
</div>
