{% set setAgentURL %}
  {% if data['numAgents'] <= "2" %}
    /manage/agent/agent-0
  {% endif %}

  {% if data['numAgents'] >= "3" %}
    /manage/agent/agent-all
  {% endif %}
{% endset %}

{% set setDashURL %}
  {% if data['numAgents'] <= "2" %}
    /manage/dashboard-all-1
  {% endif %}

  {% if data['numAgents'] >= "3" %}
    /manage/dashboard-all
  {% endif %}
{% endset %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ setDashURL }}">Dashboard</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ setAgentURL }}">Intermediaries</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      {{title}}
    </li>
  </ol>
</div>
