{% set setOrgName %}
  {{ data['orgName'] }}
{% endset %}

{% set setChildName %}
  {{ data['childName'] }}
{% endset %}

{% if (data['numAgents'] == "3") %}
  {% set parentURL = "/errors/user-access-child-error" %}
{% else %}
  {% set parentURL = "/manage/dashboard-all?multiOrg=yes&parentChild=parent" %}
{% endif %}

{% if data['parentChild'] == "child" %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      {% if (data['orgType'] == "onlyRep") %}
          <a class="govuk-breadcrumbs__link" href="/manage/team-members/services-on-team-member-admin-account_onlyrep">Home</a>
      {% else %}
          <a class="govuk-breadcrumbs__link" href="/manage/team-members/services-on-team-member-admin-account_company">Home</a>
      {% endif %}
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ parentURL }}"> {{ setOrgName }}</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/manage/dashboard-child"> {{ setChildName }}</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      {{ title }}
    </li>
  </ol>
</div>

{% else %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      {% if (data['orgType'] == "onlyRep") %}
          <a class="govuk-breadcrumbs__link" href="/manage/team-members/services-on-team-member-admin-account_onlyrep">Home</a>
      {% else %}
          <a class="govuk-breadcrumbs__link" href="/manage/team-members/services-on-team-member-admin-account_company">Home</a>
      {% endif %}
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/manage/dashboard-all"> {{ setOrgName }}</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      {{ title }}
    </li>
  </ol>
</div>

{% endif %}
