{% set setDashURL %}
  {% if (data['numUsers'] == "1") and (data['numAgents'] == "0") %}
    /manage/dashboard-all-1
  {% endif %}

  {% if (data['numUsers'] == "2") and (data['numAgents'] == "1") %}
    /manage/dashboard-all-2
  {% endif %}

  {% if (data['numUsers'] == "5") and (data['numAgents'] == "3") %}
    /manage/dashboard-all
  {% endif %}
{% endset %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ setDashURL }}">Dashboard</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      {{title}}
    </li>
  </ol>
</div>
