{% if (data['numUsers'] == "1") %}
  {% set dashboardURL = "/manage/dashboard-all?numUsers=1" %}
{% endif %}

{% if (data['numUsers'] == "2") %}
  {% set dashboardURL = "/manage/dashboard-all?numUsers=2" %}
{% endif %}

{% if (data['numUsers'] == "3") %}
  {% set dashboardURL = "/manage/dashboard-all?numUsers=3" %}
{% endif %}

{% if (data['numUsers'] == "4") %}
  {% set dashboardURL = "/manage/dashboard-all?numUsers=4" %}
{% endif %}

{% if (data['numUsers'] == "5") %}
  {% set dashboardURL = "/manage/dashboard-all?numUsers=5" %}
{% endif %}

{% if (data['numUsers'] == "6") %}
  {% set dashboardURL = "/manage/dashboard-all?numUsers=6" %}
{% endif %}


{% set setUserName %}
  {{ data['nameBreadcrumb'] }}
{% endset %}

{% set setOrgName %}
  {{ data['orgName'] }}
{% endset %}


<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/manage/dashboard-all">{{ setOrgName }}</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/manage/team-members/team-members">Team Members</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">&nbsp{{ setUserName }}
    </li>
  </ol>
</div>
