<!--{% if data['shouldShowCookieMessage'] == "yes" %}-->
<form method="post" action="/cookie-settings">
  <div class="gem-c-cookie-banner">
    <div class="govuk-width-container">
      <p class="govuk-body gem-c-cookie-banner__message">We use cookies which are essential for the site to work. We also use non-essential cookies to help us improve government digital services. Any data collected is anonymised. By continuing to use this site, you agree to our use of cookies.</p>
    </div>
    <div class="govuk-width-container">
      <div class="gem-c-cookie-banner__buttons">

        {{ govukButton({
          text: "Accept cookies",
          classes: "cookie-button",
          href: "?shouldShowCookieMessage=no&acceptCookie=yes&usage=on&campaigns=on&settings=on&savedCookieChanges="
        }) }}



        {{ govukButton({
          text: "Cookie settings",
          classes: "cookie-button",
          href: "/cookie-settings?shouldShowCookieMessage=no"
        }) }}

      </div>
    </div>
  </div>
</form>




<script>
  //Reset the session storage item
sessionStorage.removeItem('set');
</script>

{% endif %}

{% if data['shouldShowCookieMessage'] == "no" and data['acceptCookie'] == "yes"%}

<div class="gem-c-cookie-banner" id="cookieBanner">
  <div class="gem-c-cookie-banner__confirmation govuk-width-container" tabindex="-1" style="display: block;">
    <p class="gem-c-cookie-banner__confirmation-message">
      You've accepted all cookies. You can <a class="govuk-link" href="/cookie-settings" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner settings clicked from confirmation">change your cookie settings</a> at any time.
    </p>
    <a href="?shouldShowCookieMessage=no&acceptCookie=" style="display: none" id="hideCookieBannerButton" class="gem-c-cookie-banner__hide-button" data-hide-cookie-banner="true" data-module="track-click" data-track-category="cookieBanner" data-track-action="Hide cookie banner">Hide</a>
  </div>
</div>


    <script>

    //no script check
    document.getElementById('hideCookieBannerButton').style.display='inline';

    //hide the accepted cookie banner when the hide button is clicked
    document.getElementById('hideCookieBannerButton').onclick = function hide() {
        document.getElementById('cookieBanner').style.display='none';
       }

       window.onbeforeunload = function BannerSeen() {
    document.getElementById('cookieBanner').style.display='none';
       }

//hide the accepted cookie banner when it has been viewed once
      if (sessionStorage.getItem('set') === 'set') {
  document.getElementById('cookieBanner').style.display = 'none';
} else {
  sessionStorage.setItem('set', 'set');
};

    </script>



{% endif %}
