{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}
Record data from an Annual Health and Welfare Review
{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">

      <div class="govuk-width-container">

        <h1 class="govuk-heading-l">Submit your record</h1>

        <p class="govuk-body">
          By submitting the record you confirm that:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the information you’ve given is correct</li>
            <li>you’ve given the farmer a written report, including recommended actions</li>
          </ul>
          <!--
          <div class="govuk-form-group">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox" autofocus="autofocus" name="confirm" id="confirm" value="Declaration Accepted">
                <label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold govuk-checkboxes-long-label" for="confirm">I confirm that the information I have provided is correct to the best of my knowledge</label>
              </div>

            </div>
          </div>
        -->
      <div class="govuk-!-margin-top-6">
        <a href="confirmation" role="button" draggable="false" class="govuk-button docs-creator" data-module="govuk-button">
        Submit record
        </a>
      </div>
    </div>
  </div>


{% endblock %}
