{% extends "/layouts/main.html" %}

{% set serviceName = "Government Gateway" %}

{% set title = "Help using Your Defra account" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{ title }}</h1>

    <h2 class="govuk-heading-m">
      How to register for Defra online services
    </h2>

    <p class="govuk-body">
      To register for a Defra online service for the first time, you need to create a Defra account. Your Defra account lets you register with a range of online services from Defra and related organisations.
    </p>

    <p class="govuk-body">
      Here's the process:
    </p>

    <ol class="govuk-list govuk-list--number">
      <li>
        Sign in using your own Government Gateway username and password. If you do not have your own Government Gateway account, we’ll help you to create one. Do not use a shared account.
      </li>
      <li>
        Tell us some information about you and your organisation (if relevant).
      </li>
      <li>
        Complete your registration with the relevant service.
      </li>
    </ol>

    <h2 class="govuk-heading-m">
      Before you start
    </h2>

    <p class="govuk-body">
      You’ll need:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        your email address, phone number and postal address
      </li>
      <li>
        your Government Gateway user ID and password. If you do not have a Government Gateway account, we’ll help you to create one.
      </li>
    </ul>

    <p class="govuk-body">
      If you're registering on behalf of a business or organisation, you'll also need:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        the main contact details for your business or organisation (for example, head office contact details)
      </li>
      <li>
        the Companies House number if the business or organisation is a limited company
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Trouble singing in?
    </h2>

    <p class="govuk-body">
      If you cannot sign into your Defra account or service, please contact the relevant service using the telephone numbers below.
    </p>

    <h2 class="govuk-heading-m">
      Contact Defra services
    </h2>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          IPAFFS
        </span>
      </summary>
      <div class="govuk-details__text govuk-details__text--escaped">
        <div class="govuk-inset-text">
           Call the service on +443300 416 999.
        </div>
      </div>
    </details>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Exporter Service
        </span>
      </summary>
      <div class="govuk-details__text govuk-details__text--escaped">
        <div class="govuk-inset-text">
          Call the service on +44 3000 200 301.
        </div>
      </div>
    </details>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Fish Exports Service
        </span>
      </summary>
      <div class="govuk-details__text govuk-details__text--escaped">
        <div class="govuk-inset-text">
           Call the service on +44330 159 1989.
        </div>
      </div>
    </details>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Comply with UK REACH
        </span>
      </summary>
      <div class="govuk-details__text govuk-details__text--escaped">
        <div class="govuk-inset-text">
           Call the service on +44330 159 1985.
        </div>
      </div>
    </details>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Apply for a Phytosanitary Certificate
        </span>
      </summary>
      <div class="govuk-details__text govuk-details__text--escaped">
        <div class="govuk-inset-text">
           Call the service on 0300 1000 313.
        </div>
      </div>
    </details>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Certifier Service
        </span>
      </summary>
      <div class="govuk-details__text govuk-details__text--escaped">
        <div class="govuk-inset-text">
           Call the service on +44 3000 200 301.
        </div>
      </div>
    </details>

    <h2 class="govuk-heading-m">
      Change your associated phone number
    </h2>

    <p class="govuk-body">
      If you do not have access to the phone number associated with your Government Gateway ID, you’ll need to reset it by following these steps:
    </p>

    <ol class="govuk-list govuk-list--number">
      <li>
        Sign into the service you used to set up your Government Gateway ID.
      </li>
      <li>
        Follow the links to change your access code settings.
      </li>
    </ol>

    <h2 class="govuk-heading-m">
      Privacy notice
    </h2>

    <p class="govuk-body">
      Read our <a href="/privacy-notice">privacy notice</a>.
    </p>


    <h2 class="govuk-heading-m">
      Terms and conditions
    </h2>

    <p class="govuk-body">
      Read our <a href="/terms">terms and conditions</a>.
    </p>


    <h2 class="govuk-heading-m">
      Cookies
    </h2>

    <p class="govuk-body">
      Change the <a href="/cookie-settings">cookie settings</a>.
    </p>

    <h2 class="govuk-heading-m">
      Accessibility
    </h2>

    <p class="govuk-body">
      Read our <a href="/accessibility">accessibility statement</a>.
    </p>

  </div>
</div>

{% endblock %}
