{% extends "layout.html" %}

{% set serviceName = "Apply for an Annual Health and Welfare review" %}

{% set title = "Verify your identity" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{ title }}</h1>
    <p class="govuk-body">This is the number we will send the 6 digit verification code to.</p>
    <p class="govuk-body">It may take a few minutes to arrive.</p>
    <h2 class="govuk-heading-m">xxxxxxxx478</h2>

    <form action="get-code-sc2" method="post">





      {{ govukButton({
        text: "Continue"
      }) }}
    </form>


    {{ govukDetails({
      summaryText: "Help with this page",
      html: "If you are having problem you can call the service on [Service Number] [Service Opening Hours](except public holidays).
      Alternatively you can email the help desk: [service email]"
    }) }}

  </div>
</div>

{% endblock %}
