{% extends "layout.html" %}
{% set showBackLink = true %}
{% set serviceName = "" %}

{% set pageHeading = "Enter your password" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
        
        <form method="post" action="/oneLogin/check-your-phone" >

            {{ govukInput({
                label: {
                    text: "Email address",
                    classes: "govuk-visually-hidden",
                    isPageHeading: false
                },
                type: "email",
                suffix: {
                    text: "show"
                  },
                classes: "govuk-!-width-two-thirds"
            } | decorateFormAttributes(govOneLoginEmail)) }}
            
            <p><a href="#">I’ve forgotten my password</a></p>


            {{ govukButton({
                text: "Continue"
            }) }}                                


        </form>
       
    </div>
</div>


{% endblock %}
