{% extends "/layouts/main.html" %}
{% set serviceName = "Your Defra account" %}
{% set showPhaseBanner = false %}
{% set DefraAccount = true %}
{% set showNav = true %}
{% set showBackLink = false %}

{% if data['teamType'] == 'other' %}
  {% set fullname = "Sam Woods" %}
  {% set business = "Big Company Ltd" %}
  {% set userEmail = "sam.woods@bigcompany.co.uk" %}
  {% set phoneNumber = "07711 223344" %}
  {% set role = "Standard user" %}
{% else %}
  {% set fullname = "Nicky Bidbod (you)" %}
  {% set business = "Big Company Ltd" %}
  {% set userEmail = "nickybidbod@bigcompany.co.uk" %}
  {% set phoneNumber = "07976 217721" %}
  {% set role = "Admin" %}
{% endif %}

<!-- Page headings -->
{% if ((data['userType'] == "thirdPartyUser") or ( data['userType'] == "ThirdPartyCEO")) %}
	{% set pageHeading = "Chrispee Bacon" %}
	{% set pageSection = '' + data.defaultThirdPartyName + ' team member' %}
{% else %}
	{% set pageHeading = "Chrispee Bacon" %}
	{% set pageSection = "" %}
{% endif %}



{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}
<!-- ////// -->


{% block content %}

<div class="govuk-grid-row">
	

		{% if ((data['userType'] == "thirdPartyUser") or ( data['userType'] == "ThirdPartyCEO")) %}

		<div class="govuk-grid-column-two-thirds">
		
			{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}     
		
		</div>
		<div class="govuk-grid-column-full">
	

			{{ govukSummaryList({
				card: { title: { text: "Details" }, actions: { items: [ { href: "#", text: "Remove team member", visuallyHiddenText: "from organisation" } ] } },
				rows: [
					{ key: { text: "Name" }, value: { html: "Chrispee Bacon" }, actions: { items: [ { href: "#", text: "" } ] } },
					{ key: { text: "Email address" }, value: { html: "chrispeebacon@authority.test.com" }, actions: { items: [ { href: "#", text: "" } ] } },
					{ key: { text: "Account role" }, value: { html: "Administrator" }, actions: { items: [ { href: "#", text: "Change", visuallyHiddenText: "working situation" } ] } }
					
				]
			}) }}



			<h2 class="govuk-heading-m">Service access</h2>
			<p>They have access to the following Defra online services on behalf of {{ data.defaultThirdPartyName }}.</p>

			{{ govukSummaryList({
				card: { title: { text: "Available services" }, actions: { items: [ { href: "#", text: " " } ] } },
				rows: [					
					{ key: { text: "LAPS" }, value: { html: "Managing waste data" }, actions: { items: [ { href: "/account/manage/team/change-role", text: "Change service role", visuallyHiddenText: "working situation" }, { href: "#", text: "Remove access", visuallyHiddenText: "working situation" } ] } }
				]
			}) }}
<!-- 
			<h2 class="govuk-heading-l">Service access</h2>
				<table class="govuk-table {{ tableCSS }}">
					<thead class="govuk-table__head">
						<tr class="govuk-table__row">
							<th class="govuk-table__header column-full" scope="col">Service</th>
							<th class="govuk-table__header column-full" scope="col">Service role</th>
							<th class="govuk-table__header column-full" scope="col"><span class="govuk-visually-hidden td-header">Action</span></th>
							<th class="govuk-table__header column-full" scope="col"><span class="govuk-visually-hidden td-header">Action</span></th>
						</tr>
					</thead>

					<tr class="govuk-table__row no-border">
						<td class="govuk-table__cell">IPAFFS</td>
						<td class="govuk-table__cell">Notifier</td>        		
						<td class="govuk-table__cell"><a href="/account/manage/team/change-role" class="govuk-link--no-visited-state">Change service role</a></td>        
						<td class="govuk-table__cell"><a href="dashboard" class="govuk-link--no-visited-state">Remove access</a></td>        
					</tr>
				</table> -->
				
		{% else %}
		
		<div class="govuk-grid-column-two-thirds">
		
			{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}      
	
				<dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-6">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Full name</dt>
						<dd class="govuk-summary-list__value">	{{ fullname }}{% if data['teamType'] == 'other' %}<br><a href="#">Remove<span class="govuk-visually-hidden"> this person</span></a>{% endif %}</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Email address</dt>
						<dd class="govuk-summary-list__value">{{ userEmail }}</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Phone number</dt>
						<dd class="govuk-summary-list__value">{{ phoneNumber }}</dd>
					</div>    	
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Account</dt>
						<dd class="govuk-summary-list__value">{{ business }}</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Role</dt>
						<dd class="govuk-summary-list__value">{{ role }}{% if data['teamType'] == 'other' %}<br><a href="#">Change account role</a>{% endif %}</dd>
					</div>
				</dl>

				<p><a href="/account/manage/cannot-change">Change account role</a></p>

  			</div>

  			<div class="govuk-grid-column-full">
    		
				<h2 class="govuk-heading-l">Service access</h2>
				<table class="govuk-table {{ tableCSS }}">
					<thead class="govuk-table__head">
						<tr class="govuk-table__row">
							<th class="govuk-table__header column-full" scope="col">Service</th>
							<th class="govuk-table__header column-full" scope="col">Service role</th>
							<th class="govuk-table__header column-full" scope="col"><span class="govuk-visually-hidden td-header">Action</span></th>
							<th class="govuk-table__header column-full" scope="col"><span class="govuk-visually-hidden td-header">Action</span></th>
						</tr>
					</thead>

					<tr class="govuk-table__row no-border">
						<td class="govuk-table__cell">IPAFFS</td>
						<td class="govuk-table__cell">Notifier</td>        		
						<td class="govuk-table__cell"><a href="/account/manage/team/change-role" class="govuk-link--no-visited-state">Change service role</a></td>        
						<td class="govuk-table__cell"><a href="dashboard" class="govuk-link--no-visited-state">Remove access</a></td>        
					</tr>
				</table>
				
				<div class="govuk-card__content">    			
					<h2 class="govuk-heading-l">Link to services</h2>
					<div class="govuk-grid-row idm-grid-row__services">
						<div class="govuk-grid-column-one-third">
							<div class="govuk-card govuk-card--contained govuk-card--selectable">
								<a id="link-ipaffs" href="#" aria-label="Manage service IPAFFS"></a>
								<div class="govuk-card__content">
									<h3 class="govuk-heading-m">IPAFFS</h3>
								</div>
							</div>
						</div>
					</div>
				</div>				
			
			</div>
		
		{% endif %}	
  		
</div>	

{% endblock %}
