{% extends "layout.html" %}

{% set title = "Team member" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-corp.html" %}
  {% include "includes/breadcrumb-four-level-team.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Ann Cooper
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">Full name:</span> Ann Cooper<br>
      <!--<span class="govuk-!-font-weight-bold">Account access level:</span> Full access<br>-->
      <span class="govuk-!-font-weight-bold">Email address:</span> Ann.Cooper@email.com<br>
      <span class="govuk-!-font-weight-bold">Telephone:</span> 01179267473
    </p>
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">Added on:</span> 10 January 2010<br>
    <span class="govuk-!-font-weight-bold">Last signed in:</span> 27 June 2018</p>
  </div>
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body"><a href="user-account" class="govuk-link--no-visited-state">Edit team member details</a></p>
    <p class="govuk-body"><a href="" class="govuk-link--no-visited-state">Reset password</a><br>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <br>

    {{ govukTable({
      caption: "Access to services",
      captionClasses: "govuk-heading-l",
      firstCellIsHeader: false,
      head: [
        {
          html: 'Service',
          format: 'column-quarter column-full'

        },
        {
          html: 'Location',
          format: 'column-quarter column-full'

        },
        {
          html: 'Role',
          format: 'column-fifth column-full'

        },
        {
          html: '<span class="govuk-visually-hidden column-full">Action</span>',
          format: ''
        },
        {
          html: '<span class="govuk-visually-hidden column-full">Action</span>',
          format: ''
        }
      ],
      rows: [
      [
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Service:</span> UK CLP'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Location:</span> AstraZeneca UK Limited'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Role: </span>LE Manager, Administrator'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Action:</span> <a href="add-user-service/add-user-roles-1" class="govuk-link--no-visited-state">Change role <span class="govuk-visually-hidden">to [Service name]</span></a>'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Action:</span> <a href="#" class="govuk-link--no-visited-state">Remove access <span class="govuk-visually-hidden">to [Service name]</span></a>'
        }
      ],
      [
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Service:</span> UK CLP'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Location:</span> AstraZeneca Farma'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Role: </span>LE Manager, Administrator'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Action:</span> <a href="add-user-service/add-user-roles-1" class="govuk-link--no-visited-state">Change role <span class="govuk-visually-hidden">to [Service name]</span></a>'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Action:</span> <a href="#" class="govuk-link--no-visited-state">Remove access <span class="govuk-visually-hidden">to [Service name]</span></a>'
        }
      ],
      [
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Service:</span> UK ePIC'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Location:</span> AstraZeneca UK Limited'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Role: </span>LE Manager, Administrator'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Action:</span> <a href="add-user-service/add-user-roles-1" class="govuk-link--no-visited-state">Change role <span class="govuk-visually-hidden">to [Service name]</span></a>'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Action:</span> <a href="#" class="govuk-link--no-visited-state">Remove access <span class="govuk-visually-hidden">to [Service name]</span></a>'
        }
      ],
      [
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Service:</span> UK ePIC'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Location:</span> AstraZeneca Farma'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Role: </span>LE Manager, Administrator'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Action:</span> <a href="add-user-service/add-user-roles-1" class="govuk-link--no-visited-state">Change role <span class="govuk-visually-hidden">to [Service name]</span></a>'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Action:</span> <a href="#" class="govuk-link--no-visited-state">Remove access <span class="govuk-visually-hidden">to [Service name]</span></a>'
        }
      ],
      [
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Service:</span> UK-REACH-IT'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Location:</span> AstraZeneca UK Limited'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Role: </span>LE Manager, Administrator'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Action:</span> <a href="add-user-service/add-user-roles-1" class="govuk-link--no-visited-state">Change role <span class="govuk-visually-hidden">to [Service name]</span></a>'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Action:</span> <a href="#" class="govuk-link--no-visited-state">Remove access <span class="govuk-visually-hidden">to [Service name]</span></a>'
        }
      ],
      [
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Service:</span> UK-REACH-IT'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Location:</span> AstraZeneca Farma'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Role: </span>LE Manager, Administrator'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Action:</span> <a href="add-user-service/add-user-roles-1" class="govuk-link--no-visited-state">Change role <span class="govuk-visually-hidden">to [Service name]</span></a>'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Action:</span> <a href="#" class="govuk-link--no-visited-state">Remove access <span class="govuk-visually-hidden">to [Service name]</span></a>'
        }
      ],
      [
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Service:</span> UK-REACH-IT'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Location:</span> AstraZeneca Has Chem'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Role: </span>LE Manager, Administrator'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Action:</span> <a href="add-user-service/add-user-roles-1" class="govuk-link--no-visited-state">Change role <span class="govuk-visually-hidden">to [Service name]</span></a>'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Action:</span> <a href="#" class="govuk-link--no-visited-state">Remove access <span class="govuk-visually-hidden">to [Service name]</span></a>'
        }
      ]

      ]
    }) }}

  </div>
</div>


{% endblock %}
