{#
    {{ macroPageTitle.pageTitle(pageHeading, pageSection) }}
#}
{% macro pageTitle (
    pageHeading = "",
    pageSection = ""
) %}
    {% if pageHeading %}{{ pageHeading }} - {% endif %}{% if pageSection %}{{ pageSection }} - {% endif %}Manage training for early career teachers - GOV.UK
{% endmacro %}
