{% extends "/layouts/main.html" %}

{% set serviceName = "Defra account" %}

{% set title = "Are these the correct charity details?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">{{ title }}</h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">
      Good Hands Charity Ltd
    </h2>

    <p>
      1 Francis Crick Avenue, Cambridge Biomedical Campus, Cambridge, United Kingdom, CB2 0AA
    </p>

    <p class="govuk-!-margin-bottom-6">
      Charity number {{ data['defraIdCharityNumber'] or '01234567' }}.<br>
      <a href="charity-region">Use a different charity number</a>.
    </p>

    {{ govukDetails({
      summaryText: "What to do if these details are not correct",
      html: "You can contact Comply with UK REACH on 0330 159 1985 for advice."
    }) }}

    <form method="post" action="charity-contact">
      {{ govukButton({
        text: "Confirm"
      }) }}
    </form>

  </div>
</div>

{% endblock %}
