{% extends "layout.html" %}

{% set pageHeading = "Before we start" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ macroPageHeader.pageHeader(pageHeading) }}
    <form method="post" class="form">
      {{ govukInput({
        label: {
          text: "Your name",
          classes: "govuk-label--s"
        },
        value: ''
      } | decorateFormAttributes('sitName')) }}

      {{ govukInput({
        label: {
          text: "Your school",
          classes: "govuk-label--s"
        },
        value: ''
      } | decorateFormAttributes('schoolName')) }}

      {{ govukButton({
        text: "Begin research"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
