{% extends "/layouts/main.html" %}

{% set serviceName = "{Service Name}" %}

{% set title = "Set up recovery for your sign in details" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{ title }}</h1>
    <p class="govuk-body">You need to set up a recovery word so that you can get back into Government Gateway if you forget your password.</p>

    <form action="recovery-word" method="post">
      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    {% include "includes/get-help.html" %}

  </div>
</div>

{% endblock %}
