{% extends "/layouts/main.html" %}

{% set serviceName = "Apply for an Annual Health and Welfare review" %}

{% set title = "Select your business" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">{{ title }}</h1>

<form action="account-page">
  <p class="govuk-body">Businesses registered to your Rural Payments Agency (RPA) account are included in the following list.</p>


{% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "which-org",
        name: "which-org",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--l"
          }
      },
      hint: {
      text: "Select the business that’s applying for an annual health and welfare review of livestock. "
      },


        items: [
          {
            value: "Andy James Produce Ltd.",
            text: "Andy James Produce Ltd."
          },
          {
            value: "mcvities",
            text: "Mc Vities"
          },
          {
            value: "Ant Farm Co.",
            text: "Ant Farm Co."
          },
          {
            value: "Drummonds",
            text: "Drummonds"
          },
          {
            value: "Echo Foods",
            text: "Echo Foods"
          },
          {
            value: "Eddard Benjamin",
            text: "Eddard Benjamin"
          },
          {
            value: "Hiscox James Ltd.",
            text: "Hiscox James Ltd."
          },
          {
            value: "Jan and Jo Exports",
            text: "Jan and Jo Exports"
          },
          {
            value: "Moonfaced Dog Co.",
            text: "Moonfaced Dog Co."
          },
          {
            value: "Niche Transit",
            text: "Niche Transit"
          },
          {
            value: "Poplar Enterprise Group",
            text: "Poplar Enterprise Group"
          },
          {
            value: "Positively Great Goods",
            text: "Positively Great Goods"
          },
          {
            value: "Rich Goods Company",
            text: "Rich Goods Company"
          },
          {
            value: "Runnymede Foods Limited",
            text: "Runnymede Foods Limited"
          },
          {
            value: "Rusquo Grub",
            text: "Rusquo Grub"
          },
          {
            value: "Sandford Logistics",
            text: "Sandford Logistics"
          },
          {
            value: "Sedgeford, Hoppleberg and Wadebridge",
            text: "Sedgeford, Hoppleberg and Wadebridge"
          },
          {
            value: "Sjambok Steel",
            text: "Sjambok Steel"
          }

        ]
      }) }}

      {{ govukButton({
        text: "Continue"

      }) }}
      </form>






</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        Need to update the list?
        </span>
      </summary>
      <div class="govuk-details__text">
        Contact the Rural Payments Agency.<br><br>
        Rural Payments Agency  <br>
        Telephone: 03000 200 301 <br>
        Monday to Friday, 8:30am to 5pm (except public holidays) <br>
        <a href="mailto:ruralpayments@defra.gov.uk?subject=feedback">ruralpayments@defra.gov.uk</a>
        <br><br>
        <p class="govuk-body">Find out about <a href="https://www.gov.uk/call-charges" target=”_blank”>call charges</p>
      </div>
    </details>

  </div>
</div>

{% endblock %}
