{% extends "layout.html" %}

{% set title = "Are your sure you wish to change your account type?" %}

{% block header %}
  {% include "includes/logged-out-header.html" %}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="change" onsubmit="return myFunction()" method="post">
            <script>
                const form = document.querySelector('.change')

                function myFunction() {
                    const checked = document.querySelector('[name="cancelAccount"]:checked')
                    const checkedValue = checked.value

                    switch (checkedValue) {
                        case 'Yes':
                            form.action = '/new-user-reg/new-organisation-journey/organisation-type'
                            break;
                        case 'No':
                            event.preventDefault();
                            form.action = history.back();
                            break;
                    }
                    return true;
                }
            </script>

           
        

                {{
 govukRadios({
          idPrefix: "cancelAccount",
          name: "cancelAccount",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Yes",
              html: ' <span class="govuk-body govuk-!-font-weight-bold">Yes</span>
                      - change my account type and  any information I have entered'
            },
            {
              value: "No",
              html: ' <span class="govuk-body govuk-!-font-weight-bold">No</span>
                      - do not change my account type'
            }
          ]
        })
                }}

                {{
 govukButton({
          text: "Continue"
        })


                }}


            </form>
    </div>
  </div>




{% endblock %}
