{% extends "layout-signed-out.html" %}
{% set serviceName = "Defra" %}

{% set title = "Upload reference data for" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">




    <form action="review-content" autocomplete="false">




      {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukFileUpload({
      id: "file-upload-1",
      name: "file-upload-1",
      isPageHeading: true,
      label: {
      text: "Upload reference data",
      classes: 'govuk-label--xl'
      },
      hint: {
      text: 'This will be in CSV format'
      }
      }) }}

      {{ govukButton({ text: 'Continue' }) }}





  </div>











  </form>






</div>

{% endblock %}