{% extends "layout.html" %}
{% set serviceName = "Defra" %}

{% set title = "Sign in" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>
  
      

<form action="choose-template" autocomplete="false">
  
  <div class="govuk-form-group">
    <label class="govuk-label" for="crn">
      Username
    </label>
  
    
    
    
  
  <input class="govuk-input govuk-!-width-full-width" id="crn" name="crn" type="text" aria-describedby="crn-hint" autocomplete="false">
  </div>
  
  
      
  
  <div class="govuk-form-group">
    <label class="govuk-label" for="password--">
      Password
    </label>
  
  <input class="govuk-input govuk-!-width-full-width" id="password--" name="password--" type="password" autocomplete="false">

  

  </div>
  
  
      
  
    
      
    
  <button class="govuk-button">Sign in</button>



</form>
  
  
      <p><a href="../../password/enter-email">I've forgotten my password</a></p>
    
  
  
     
    </div>
  </div>

{% endblock %}
