{% extends "layout-signed-out.html" %}
{% set serviceName = "Defra" %}

{% set title = "Sign in" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
        {% from "govuk/components/panel/macro.njk" import govukPanel %}

        {{ govukPanel({
          titleText: "Your content has been published"
          
        }) }}
  
      

<form action="choose-template" autocomplete="false">
  
  <div class="govuk-form-group">
    
  
    
    
    

  
  
      
  
  

  </div>
  
  
      
  
    <p><a href="">View the page</a></p>
      
    
  <button class="govuk-button">Sign out</button>



</form>
  
    
  
  
     
    </div>
  </div>

{% endblock %}
