{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "Get funding to improve animal health and welfare" %}

{% set pageHeading = "Apply for an annual health and welfare review of your livestock" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <p class="govuk-body">Use this service to apply for an annual health and welfare review with your vet.</p>        
        <p class="govuk-body">Applying takes around 5 minutes.</p>    

        {{ govukButton({
          text: "Start now",
          href: "/authentication/vets/sign-in",
          isStartButton: true
        }) }}

        <h2 class="govuk-heading-m">Before you start</h2>
        <p class="govuk-body">You’ll need your Rural Payments service customer reference number (CRN) and password to sign in.</p>
        <p class="govuk-body">You must be eligible to apply for an annual health and welfare review. Read the guidance on <a href="#" class="govuk-link">getting a funded annual health and welfare review of your livestock</a> before you use this service.</p>

        <h2 class="govuk-heading-m">Get help with your application</h2>
        <p class="govuk-body">If you cannot apply online or have a question about your application, contact the Rural Payments Agency by email or phone.</p>
        <p class="govuk-body">Email: <a href="mailto:ruralpayments@defra.gov.uk" class="govuk-link">ruralpayments@defra.gov.uk</a></p>
        <ul class="govuk-list">
          <li>Telephone: 03000 200 301</li>
          <li>Monday to Friday, 8:30am to 5pm (except public holidays)</li>          
        </ul>
        <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link" rel="noreferrer noopener" target=”_blank”>Find out about call charges (opens in new tab)</p>                                        
    
    </div>
</div>

{% endblock %}
