{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "Get funding to improve animal health and welfare" %}

{% set pageHeading = "Get funding to improve animal health and welfare" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <p class="govuk-body">Use this service to apply for funding for a vet to visit your farm to:</p>        
        <ul class="govuk-list govuk-list--bullet">
          <li>improve the health and welfare of your livestock</li>
          <li>help reduce diseases</li>
        </ul>
        <p>If you’re eligible, you can apply for funding for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://fcp-ahwr-prototype.herokuapp.com/v27/farmer/guidance-apply#welfare-review" class="govuk-link">animal health and welfare reviews</a></li>
          <li><a href="https://fcp-ahwr-prototype.herokuapp.com/v27/farmer/guidance-apply#follow-up" class="govuk-link">endemic disease follow-ups</a></li>

        </ul>

        <h3 class="govuk-heading-m">If you already have an agreement in the old scheme</h3>
        <p>If you have claimed for your last review, start now to sign an agreement for the new service.</p>
        <p>If you have not claimed for your last review, start now to either:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>claim for your last review</li>
          <li>withdraw your old agreement</li>

        </ul>        
        <p>Then you can sign an agreement for the new service.</p>        
        <p class="govuk-body">Applying takes around 5 minutes.</p>    

        {{ govukButton({
          text: "Start now",
          href: "/authentication/vets/sign-in",
          isStartButton: true,
          classes: "govuk-!-margin-bottom-8 govuk-!-margin-top-2"
        }) }}

        <h2 class="govuk-heading-m">Before you start</h2>
        <p class="govuk-body">You’ll need your Rural Payments service customer reference number (CRN) and password to sign in.</p>
        <p><a href="#">You must be eligible to apply for funding to improve animal health and welfare.</a></p>
        

        <h2 class="govuk-heading-m">Get help with your application</h2>
        <p class="govuk-body">If you cannot apply online or have a question about your application, contact the Rural Payments Agency by email or phone.</p>
        <p class="govuk-body">Email: <a href="mailto:ruralpayments@defra.gov.uk" class="govuk-link">ruralpayments@defra.gov.uk</a></p>
        <ul class="govuk-list">
          <li>Telephone: 03000 200 301</li>
          <li>Monday to Friday, 8:30am to 5pm (except public holidays)</li>          
        </ul>
        <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link" rel="noreferrer noopener" target=”_blank”>Find out about call charges</p>
    
    </div>
</div>

{% endblock %}
