{% extends "layout.html" %}

{% set title = "Intermediaries" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-corp.html" %}
  {% include "includes/breadcrumb-three-level.html" %}
{% endblock %}

{% block content %}

<!-- Hiding/ showing the New User row according to the userType invitedAgent/new -->

{% if (data['numAgents'] === "0") %}
  {% set introCSS = "" %}
  {% set tableCSS = "govuk-visually-hidden" %}
  {% set MarcyUserCSS = "govuk-visually-hidden" %}
  {% set ErinUserCSS = "govuk-visually-hidden" %}
  {% set BobUserCSS = "govuk-visually-hidden" %}
  {% set newAgentCSS = "govuk-visually-hidden" %}
  {% set invitedAgentCSS = "govuk-visually-hidden" %}
{% endif %}

{% if (data['numAgents'] == "1") %}
  {% set introCSS = "govuk-visually-hidden" %}
  {% set tableCSS = "" %}
  {% set MarcyUserCSS = "govuk-visually-hidden" %}
  {% set ErinUserCSS = "govuk-visually-hidden" %}
  {% set BobUserCSS = "govuk-visually-hidden" %}
  {% set newAgentCSS = "" %}
  {% set invitedAgentCSS = "" %}
{% endif %}

{% if (data['numAgents'] == "2") %}
  {% set introCSS = "govuk-visually-hidden" %}
  {% set tableCSS = "" %}
  {% set MarcyUserCSS = "govuk-visually-hidden" %}
  {% set ErinUserCSS = "govuk-visually-hidden" %}
  {% set BobUserCSS = "govuk-visually-hidden" %}
  {% set newAgentCSS = "" %}
  {% set invitedAgentCSS = "" %}
{% endif %}

{% if (data['numAgents'] == "3") or (data['numChildUsers'] == "3") %}
  {% set introCSS = "govuk-visually-hidden" %}
  {% set tableCSS = "" %}
  {% set MarcyUserCSS = "" %}
  {% set ErinUserCSS = "" %}
  {% set BobUserCSS = "" %}
  {% set newAgentCSS = "" %}
  {% set invitedAgentCSS = "" %}
{% endif %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">{{title}}</h1>

    {{ govukButton({
      text: "Add an intermediary",
      href: "/manage/agent/invite-user/add-user-details"
    }) }}

    <p class="govuk-body {{ introCSS }}">An intermediary is a third party (such as an agent or consultant) who you authorise to interact with Defra and related agencies and public bodies on your behalf.</p>


    <table class="govuk-table {{ tableCSS }}">
      <caption class="govuk-table__caption govuk-visually-hidden">All Intermediaries</caption>
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-table__header--column-quarter column-full" scope="col">
          Intermediary
        </th>
        <th class="govuk-table__header govuk-table__header--column-third column-full" scope="col">
          Email address
        </th>
        <th class="govuk-table__header govuk-table__header--column-sixth column-full" scope="col">
          Account status
        </th>
      </tr>
      </thead>

      {% if (data['addAgent'] == "yes") and (data['userType'] == "new") %}

          <tr class="govuk-table__row {{ newAgentCSS }}">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
              <span class="govuk-body govuk-body--grey">Name to be confirmed</span>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Email address:</span> {{ data['inviteEmail'] }}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Invite email sent
            </td>
          </tr>

          {% else %}

          <tr class="govuk-table__row {{ invitedAgentCSS }}">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
              <a class="govuk-link--no-visited-state" href="services-on-team-member-agent-invited?name=Robin Swale&userType=invitedAgent">Bob Holmness</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Email address:</span> email@email.com
            </td>
            <td class="govuk-table__cell">
              {% if (data['userType'] == "invitedAgent") and (data['accountAccess'] == "yes") %}
              <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Live
              {% else %}
              <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Needs access
              {% endif %}
            </td>
          </tr>
          {% endif %}

      <tr class="govuk-table__row {{ MarcyUserCSS }}">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Intermediary:</span>
          <a class="govuk-link--no-visited-state" href="services-on-team-member-agent">Marcy Ponds</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Email address:</span> Marcy.Ponds@agent.com
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Live
        </td>
      </tr>

      <tr class="govuk-table__row {{ ErinUserCSS }}">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Intermediary:</span>
          <a class="govuk-link--no-visited-state" href="">Erin Slot</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Email address:</span> Erin.Slot@email.com
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Live
        </td>
      </tr>

      <tr class="govuk-table__row {{ BobUserCSS }}">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Intermediary:</span>
          <a class="govuk-link--no-visited-state" href="services-on-team-member-agent-invited?name=Bob Holmness">Bob Holmness</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Email address:</span> Bob.Holmness@email.com
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Needs access
        </td>
      </tr>

    </table>

  </div>
</div>

{% endblock %}
