{% extends "layout.html" %}

{% set title = "What is your telephone number?" %}

{% block header %}
  {% include "includes/logged-out-header.html" %}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

          {% if data['flowType'] == "addAccount" %}
            <form method="post" action="check-your-answers-add-account">
              {% else %}
                {% if data['flowType'] == "check" %}
                  <form method="post" action="check-your-answers">
                    {% else %}
                      <form method="post" action="/new-organisation-journey/individual/personal-postcode">
                {% endif %}
        {% endif %}


      {{ govukInput({
        label: {
          text: title,
          classes: "govuk-label--xl",
          isPageHeading: true
        },
        hint: {
        text: "We ask for this in case we need to call you directly with any queries about your registration."
        },

        classes: "govuk-input--width-10",
        id: "personalTelephone",
        name: "personalTelephone",
        value: data['personalTelephone'],
        type: "tel"
      }) }}

      <div class="govuk-inset-text">
       We may also contact you by email, using the address registered with your Government Gateway account:
       <span class="govuk-!-font-weight-bold">{{data['scpEmail']}}</span>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
