{% extends "layout.html" %}

{% set title = "This company type is not supported." %}

{% block header %}
  {% include "includes/logged-out-header.html" %}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds app-column-minimum">

        <h1 class="govuk-heading-xl">{{title}}</h1>


        <p class="govuk-body">
            Some company types which are registered with Companies House are not eligible for registration for Defra services.

            <h2 class="govuk-heading-m">Acme Org Ltd</h2>

        <p class="govuk-body">
            <b>Limited Company</b>  <strong class="govuk-tag app-task-list__task-completed" style="float:inherit" id="account-type-completed">
                Not Supported
            </strong>
        </p>

        <p class="govuk-body">
            Company number {{ data['companyRegNum'] }}.
            <a href="company-lookup?flowType=task" class="govuk-link">Enter a different number</a>.
        </p>



        <input type="hidden" name="companyNumber" value="{{company.company_number}}">
        <input type="hidden" name="companyName" value="{{company.title}}">
        <input type="hidden" name="companyAddress" value="{{company.address_snippet}}">
        <br />

        {{
 govukDetails({
        summaryText: "Where can I find the number?",
        html: ' <p class="govuk-body">You can find this on the <a href="https://www.gov.uk/get-information-about-a-company" target="_blank" rel="noopener noreferrer" class="govuk-link">Companies House register (opens in a new tab).</a></p>
        <p>If you are applying on behalf of a company that is not registered in the UK, you need to change your account type to: <span class="govuk-body govuk-!-font-weight-bold">Organisation that is not registered in the UK.</span></p>'
      })
        }}


        {{
 govukDetails({
        summaryText: "My company isn't supported",
        html: ' <p class="govuk-body">Some company types which are registered with Companies House are not eligible for registration for Defra services.
            Please enter a different company number or
            <a href="/help#contacting-defra-services" target="_blank">contact the service helpdesk</a> (link opens in a new window) for help on how to complete your registration.
        </p>'
      })
        }}
        <!--{{
    govukButton({
           text: "Enter a Different Number",
           href: "company-lookup?flowType=task",
           classes: "govuk-button--secondary"
         })
           }}-->
        {{
 govukButton({
        text: "Sign Out",
        href: "../../../signed-out"
      })
        }}


    </div>
</div>

{% endblock %}
