{% extends "layout.html" %}

{% set title = "Set up a recovery word" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form method="post" id="memorable" action="user-id-confirmation-page">
        <h1 class="govuk-heading-xl">{{title}}</h1>
				<p>Make a note of this word in case you need it in the future.</p>
				<p>The word must:</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>be between 6 and 12 characters</li>
					<li>not contain spaces or special characters</li>
					<li>not contain numbers</li>
				</ul>

        {{ govukInput({
          label: {
            text: "Recovery word"
          },
          id: "email",
          name: "email",
          classes: "govuk-input--width-20"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}


		</form>
    <p class="govuk-body"><a href="#">Get help with this page</a></p>
  </div>
</div>

{% endblock %}
