{% extends "layout.html" %}

{% set title = "Are you registering as a business or an individual?" %}



{% block header %}
{% include "includes/logged-out-header.html" %}
{% endblock %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{{
 govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  })
}}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <form method="post" class="acc-type" onsubmit="return myFunction()">

            {% if data['userType'] == "existing" %}
            <script>
                const form = document.querySelector('.acc-type')

                function myFunction() {
                    const checked = document.querySelector('[name="orgType"]:checked')
                    const checkedValue = checked.value

                    switch (checkedValue) {
                        case 'Business':
                            form.action = 'organisation-uk-or-else'

                            break;
                        case 'Individual':
                            form.action = '/new-organisation-journey/individual/personal-details?flowType=task'

                            break;
                        //default:
                        //    form.action = 'organisation-business-type'
                    }
                    return true
                }
            </script>

            {% else %}
            <script>
                const form = document.querySelector('.acc-type')

                function myFunction() {
                    const checked = document.querySelector('[name="orgType"]:checked')
                    const checkedValue = checked.value

                    switch (checkedValue) {
                        case 'Business':
                            form.action = 'organisation-UK-or-else'

                            break;
                        case 'Individual':
                            form.action = '/new-organisation-journey/individual/personal-details?flowType=task'

                            break;
                        //default:
                        //    form.action = 'organisation-business-type'
                    }
                    return true
                }
            </script>
            {% endif %}

            {{
 govukRadios({
          idPrefix: "orgType",
          name: "orgType",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Business",
              html: ' <span class="govuk-body govuk-!-font-weight-bold">A business or organisation</span><br>
                      You represent a business or organisation that wants to use this service (including sole traders and charities) and you have permission to create an account for them',
              checked:  checked('orgType','Business')
            },
            {
              value: "Individual",
              html: ' <span class="govuk-body govuk-!-font-weight-bold">An individual</span><br>
                      You want to use this service for your own personal use',
              checked:  checked('orgType','Individual')
            }
          ]
        })
            }}

            {{
 govukButton({
          text: "Continue"
        })
            }}

        </form>
    </div>
</div>

{% endblock %}
