{% extends "layout.html" %}

{% set title = "Do you have authority to act on behalf of this business or organisation when using the [service name] service?" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="check-your-answers">

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "personalSRO",
        name: "personalSRO",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },

        items: [
          {
            value: "Yes",
            text: "Yes",
            html: ' <span class="govuk-body govuk-!-font-weight-bold">Yes</span><br>
                      I own, run or have permission to act on behalf of this business or organisation.',
            checked:  checked('personalSRO','Yes')

          },
          {
            value: "No",
            text: "No",
            html: ' <span class="govuk-body govuk-!-font-weight-bold">No</span><br>
                      Someone else has this authority.',
            checked:  checked('personalSRO','No')

          }

        ]
        
      {{ govukButton({
        text: "Continue"
      }) }}
    
      }) }}

    </form>

  </div>
</div>

{% endblock %}
