{% extends "layout.html" %}

{% set title = "Add service access" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form action="add-user-roles-admin" method="post">

        {{ govukRadios ({
          idPrefix: "serviceRole",
          name: "serviceRole",
          fieldset: {
            legend: {
              text: "What type of tasks do you want this person to do in the service?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            html: setServiceTypeHtml
          },
          items: [
            {
              value: "serviceAll",
              html: 'All tasks - this person can view, add and edit information within the service.',
              checked:  checked('serviceRole','serviceAll')
            },
            {
              value: "serviceViewer",
              html: 'View only - this person can view all information held by the service.',
              checked:  checked('serviceRole','serviceViewer')
            },
            {
              value: "serviceNone",
              html: 'None - this person cannot access the service.',
              checked:  checked('serviceRole','serviceNone')
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>




{% endblock %}
