{% extends "layout.html" %}

{% set title = "You cannot change your own account role" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form method="post" action="javascript:history.back()">
        <h1 class="govuk-heading-xl">{{ title }}</h1>
    <div class="govuk-warning-text">
           <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
           <strong class="govuk-warning-text__text">
           <span class="govuk-warning-text__assistive">Warning</span>
           Your organisation must have at least one person with an account administrator role to use our services.
        </strong>
    </div>
        <p class="govuk-body">You need to ask another account administrator from your organisation to change your account role.</p>

        <p class="govuk-body">If you are the only account administrator, you must give someone else administrator access and ask them to change your account role.</p>



        {{ govukButton({
          text: "Continue"
        }) }}


      </form>
    </div>
  </div>




{% endblock %}
