{% extends "layout.html" %}

{% set title = "Do you want to give this person any admin responsibilities for your organisation?" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    {% if (data['name'] == "Adam Mastly") %}
      <form method="post" class="admin-role" action="services-on-team-member-standard?name=Adam Mastly">
    {% endif %}

    {% if (data['name'] == "Sara Chippers") %}
      <form method="post" class="admin-role" action="services-on-team-member-invited?name=Sara Chippers">
    {% endif %}

    {% if (data['name'] == "Tiegan Mole") %}
      <form method="post" class="admin-role" action="services-on-team-member-verify?name=Tiegan Mole">
    {% endif %}


        <input type="hidden" name="accountAccess" value="yes">

        {% if (data['service'] == "Imports") or (data['service'] == "VMD") or (data['service'] == "Chemicals")%}

          {{ govukRadios ({
            idPrefix: "systemRole",
            name: "systemRole",
            fieldset: {
              legend: {
                text: title,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            items: [
              {
                value: "Admin",
                html: 'Admin - this person can view and edit the information the service holds about your organisation. They can also manage other people\'s access to the service.',
                checked:  checked('systemRole','Admin')
              },
              {
                value: "Standard user",
                html: 'Standard user - this person has no account responsibilities, they can only perform the tasks you choose within a service.',
                checked:  checked('systemRole','Standard user')
              }
            ]
          }) }}

        {% endif %}



        {{ govukButton({
          text: "Continue"
        }) }}



      </form>
    </div>
  </div>




{% endblock %}
