{% extends "layout.html" %}

{% set title = "What is your address?" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form action="services-on-team-member-update-details" method="post">


{% call govukFieldset({
  legend: {
    text: title,
    classes: "govuk-fieldset__legend--xl",
    isPageHeading: true
  }
}) %}

  {{ govukInput({
    label: {
      html: 'Sub-building name'
    },
    hint: {
      text: "For example the unit, room or apartment number."
    },
    classes: "govuk-input--width-10",
    id: "sub-building-name",
    name: "sub-building-name",
    value: data['sub-building-name']

  }) }}

  {{ govukInput({
    label: {
      html: 'Building number'
    },
    classes: "govuk-input--width-10",
    id: "building-number",
    name: "building-number",
    value: data['building-number']
  }) }}

  {{ govukInput({
    label: {
      html: 'Building name'
    },
    classes: "govuk-input--width-10",
    id: "building-name",
    name: "building-name",
    value: data['building-name']
  }) }}

  {{ govukInput({
    label: {
      html: 'Street name'
    },
    classes: "govuk-!-width-two-thirds",
    name: "street-name",
    id: "street-name",
    value: data['street-name']
  }) }}

  {{ govukInput({
    label: {
      text: "Town or city"
    },
    classes: "govuk-!-width-two-thirds",
    id: "address-town",
    name: "address-town",
    value: data['address-town']
  }) }}

  {{ govukInput({
    label: {
      text: "Zip or postal code"
    },
    classes: "govuk-input--width-10",
    id: "address-postcode",
    name: "address-postcode",
    value: data['address-postcode']
  }) }}

  {{ govukSelect({

    id: "address-country",
    name: "address-country",
    label: {
      text: "Country"
    },
    items: [
      {
        value: "Default",
        text: "Select a country"
      },
      {
        value: "UK",
        text: "United Kingdom"
      },
      {
        value: "France",
        text: "France"
      },
      {
        value: "Spain",
        text: "Spain"
      },
      {
        value: "Other",
        text: "AnOther Country"
      },
      {
        value: "Other",
        text: "AnOther Country"
      }
    ]

  }) }}

  <p class="govuk-body">
    <a href="personal-postcode">
      Search for my address by UK Postcode
    </a>
  </p>

  {% endcall %}

  {{ govukButton({
    text: "Continue"
  }) }}



          </form>

    </div>
  </div>

{% endblock %}
