{% extends "layout.html" %}

{% set title = "Page not available" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{title}}</h1>
        <p class="govuk-body">
          If you have tried registering for a Defra service please return to the service to complete your registration.
        </p>
        <p class="govuk-body">
          For more information please visit our <a href="/help">help</a> pages.
        </p>
    </div>
  </div>


{% endblock %}
