{% extends "layout.html" %}

{% set serviceName = "Defra account" %}

{% set title = "Sending your details" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  <!-- {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }} -->

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <!-- <h1 class="govuk-heading-xl">
      {{title}}
    </h1> -->

    <!-- loading spinner / based on the nhs css example -->
    <!-- http://nhsuk-design-system-testing.herokuapp.com/loading-spinner -->
    <!-- <div class="defra-loader" role="alert" aria-live="assertive"> -->
    <div class="defra-loader" aria-live="polite" aria-busy="true">
      <span class="defra-loader__spinner"></span>
      <span class="defra-loader__text govuk-body-l">Sending your details. Please wait.</span>
    </div>

    <!-- dummy redirect after some time -->
    <!-- <script language="javascript" type="text/javascript">
      window.setTimeout('location.replace("/")',5000);
    </script> -->

    <!-- if the wait will be long consider a message like: -->
    <!-- “Sending your details. Please wait. This might take up to a minute.” -->

  </div>
</div>

<div class="spinner"></div>

{% endblock %}
