{% extends "layout.html" %}

{% set title = "Select the address" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{title}}</h1>
    <p class="govuk-body">
      Postcode:
      <span class="govuk-!-font-weight-bold">{{ data['postcode'] }}</span>&nbsp;&nbsp;
      <a href="company-postcode" class="govuk-link">Change<span class="govuk-visually-hidden"> postcode</span>
      </a>
    </p>


   {% if data['userType'] == "existing" %}
    <form method="post" action="update-details">
    {% else %}
    <form method="post" action="update-details">
    {% endif %}

      {{ govukSelect({
        id: "addressList",
        name: "addressList",
        label: {
        },
        items: [
          {
            value: "",
            text: "15 addresses found",
            selected: true
          },
          {
            value: "Flat 1, 3, Grange Road, Bristol, BS1 5AH",
            text: "Flat 1, 3, Grange Road, Bristol, BS1 5AH"
          },
          {
            value: "Flat 2, 3, Grange Road, Bristol, BS1 5AH",
            text: "Flat 2, 3, Grange Road, Bristol, BS1 5AH"
          },
          {
            value: "Flat 5, Grange Road, Bristol, BS1 5AH",
            text: "Flat 5, Grange Road, Bristol, BS1 5AH"
          },
          {
            value: "7, Grange Road, Bristol, BS1 5AH",
            text: "7, Grange Road, Bristol, BS1 5AH"
          },
          {
            value: "9, Grange Road, Bristol, BS1 5AH",
            text: "9, Grange Road, Bristol, BS1 5AH"
          },
          {
            value: "11, Grange Road, Bristol, BS1 5AH",
            text: "11, Grange Road, Bristol, BS1 5AH"
          },
          {
            value: "15, Grange Road, Bristol, BS1 5AH",
            text: "15, Grange Road, Bristol, BS1 5AH"
          },
          {
            value: "17, Grange Road, Bristol, BS1 5AH",
            text: "17, Grange Road, Bristol, BS1 5AH"
          },
          {
            value: "19, Grange Road, Bristol, BS1 5AH",
            text: "19, Grange Road, Bristol, BS1 5AH"
          },
          {
            value: "21, Grange Road, Bristol, BS1 5AH",
            text: "21, Grange Road, Bristol, BS1 5AH"
          }

        ]
      }) }}

      <p class="govuk-body">
        <a href="/manage/organisations/company-address-manual">
          I cannot find the address in the list
        </a>
      </p>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>





  </div>
</div>


{% endblock %}
