{% extends "/layouts/main.html" %}
{% set serviceName = "Apply for an Annual Health and Welfare review" %}


{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  <div id="account">

  </div>
{% endblock %}

{% block content %}


{% set orgName = data['orgName'] %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">
      Account for
    </span>
    <h1 class="govuk-heading-xl govuk-heading-xl--no-margin">
      {{ orgName }}
    </h1>
    
  </div>
</div>

 {% set addUserURL = "/archived/manage/team-members/invite-user/add-user-details" %}

  






{% endblock %}
