{% extends "layout.html" %}
{% set showBackLink = false %}


{% set pageHeading = "The organisation you want to register is not listed" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


        <p>We will need to work out the content that we require here to give the right information to the various types of user. This could be: </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>provide an option here</li>
            <li>or an alternative line of content if not</li>
        </ul>

        <p>Possible links such as:</p>
        <ul class="govuk-list">
            <li><a href="#">Sign out</a></li>
            <li><a href="/mfa-V2/core/select-your-business">Return to your list of organisations</a></li>
        </ul>



    </div>
</div>

{% endblock %}
