{% extends "layout.html" %}
{% set showBackLink = false %}


{% set pageHeading = "There are no other organisations available for you to enrol" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


        <p>If you expected to see other options to enrol, you will need to speak to the account administator of that organisation to make sure you have the right access to enrol them.</p>





    </div>
</div>

{% endblock %}
