{% extends "/layouts/main.html" %}

{% set serviceName = "Apply for an Annual Health and Welfare review" %}
{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}

{% endblock %}

{% block content %}


{% set orgName = data['orgName'] %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  
    <h1 class="govuk-heading-xl govuk-heading-xl--no-margin">
    Check your details
    </h1>


    {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Farmer name"
      },
      value: {
        text: ""
      }
    },
    {
      key: {
        text: "Business name"
      },
      value: {
        text: ""
      }
    },
    {
      key: {
        text: "SBI number"
      },
      value: {
        text: ""
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: '<p class="govuk-body"></p>'
      }
    }
  ]
}) }}


{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "are-your-details-correct",
  name: "are-your-details-correct",
  fieldset: {
    legend: {
      text: "Are your details correct?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}
    
  </div>
</div>

 {% set addUserURL = "/archived/manage/team-members/invite-user/add-user-details" %}







{% endblock %}
