{% extends "layout.html" %}
{% set showBackLink = false %}


{% set pageHeading = "Registration complete" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">




        {{ govukPanel({
        titleText: pageHeading,
        classes: "govuk-!-margin-bottom-7"

      }) }}

        <p>You have succesfully registered NAME with SERVICENAME.</p>


      <p class="govuk-body">
        <a href="#" class="govuk-link">Continue to SERVICENAME</a>
      </p>





    </div>
</div>

{% endblock %}
