{% extends "layout.html" %}

{% set title = "Select the address" %}

{% block header %}
  {% include "includes/logged-out-header.html" %}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

{% if data['userType'] == "existing" %}
    <form action="check-your-answers-add-account" method="post">
{% else %}

    {% if data['flowType'] == "check" %}
      <form method="post" action="check-your-answers">
    {% endif %}
    {% if data['flowType'] == "task" %}
      <form action="task-list-page-address" method="post">
    {% endif %}

{% endif %}

    {% set hintText %}
        <p class="govuk-body">
          Postcode:
          <span class="govuk-!-font-weight-bold">{{ data['postcode'] }}</span>&nbsp;&nbsp;
          <a href="personal-postcode" class="govuk-link">Change<span class="govuk-visually-hidden"> postcode</span>
          </a>
        </p>
    {% endset %}



      {{ govukSelect({
        id: "addressList",
        name: "addressList",
        label: {
          text: title,
          classes: "govuk-label--xl",
          isPageHeading: true
        },
        hint: {
          html: hintText
        },
        items: [
          {
            value: "",
            text: "15 addresses found",
            selected: true
          },
          {
            value: "1,3",
            text: "Flat 1, 3, Grange Road, Bristol, BS1 5AH"
          },
          {
            value: "2,3",
            text: "Flat 2, 3, Grange Road, Bristol, BS1 5AH"
          },
          {
            value: "5",
            text: "Flat 5, Grange Road, Bristol, BS1 5AH"
          },
          {
            value: "7",
            text: "7, Grange Road, Bristol, BS1 5AH"
          },
          {
            value: "9",
            text: "9, Grange Road, Bristol, BS1 5AH"
          },
          {
            value: "11",
            text: "11, Grange Road, Bristol, BS1 5AH"
          },
          {
            value: "15",
            text: "15, Grange Road, Bristol, BS1 5AH"
          },
          {
            value: "17",
            text: "17, Grange Road, Bristol, BS1 5AH"
          },
          {
            value: "19",
            text: "19, Grange Road, Bristol, BS1 5AH"
          },
          {
            value: "21",
            text: "21, Grange Road, Bristol, BS1 5AH"
          }

        ]
      }) }}


      <p class="govuk-body">
        <a href="personal-address-manual">
          I cannot find the address in the list
        </a>
      </p>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>





  </div>
</div>


{% endblock %}
