{% extends "layout.html" %}

{% set title = "What is your email address?" %}

{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{title}}
      </h1>
      <p>We will send you a code to confirm your email address.</p>

      <form action="check-email" method="post">
        {{ govukInput({
          label: {
            text: "Email address"
          },
          classes: "govuk-input--width-20",
          id: "scpEmail",
          name: "scpEmail",
          value: scpEmail
        }) }}

        {{ govukCheckboxes({
          idPrefix: "emailConfirm",
          name: "emailConfirm",
          fieldset: {
            legend: {
              text: "Confirm the email is correct",
              isPageHeading: true,
              classes: "govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "emailConfirm",
              text: "This email address is correct"

            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <p class="govuk-body"><a href="#">Get help with this page</a></p>


  </div>
</div>


{% endblock %}
