{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}
Get funding for a vet visit
{% endset%}

{% block content %}

<!-- <a href="index" class="govuk-back-link">Back</a> -->
<!-- <a class="govuk-back-link" href="/url/of/previous/page">Back</a> -->
<!-- <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a> -->

    <div class="govuk-width-container">
      <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
              <h1 class="govuk-panel__title">
                Record complete
              </h1>
              <div class="govuk-panel__body">
                Your reference number<br><strong>HDJ2123F</strong>
              </div>
            </div>

            <!-- <p class="govuk-body">We have sent you a confirmation email.</p> -->

            <h2 class="govuk-heading-m">What happens next</h2>

            <p class="govuk-body">
              We have sent you a confirmation email.
            </p>


            <p class="govuk-body">
              <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
            </p>
          </div>
        </div>
      </main>
    </div>

      </div>
  </div>




{% endblock %}
