{% extends "layout.html" %}

{% set title = "Do you want to give this person any admin responsibilities?" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if (data['service'] == "Chemicals") and (data['numServices'] == "1") %}
      {% set continueURL = "chemicals/add-user-service-roles" %}
    {% endif %}

    {% if (data['service'] == "Chemicals") and (data['numServices'] == "3") %}
      {% set continueURL = "chemicals/add-user-service" %}
    {% endif %}

    {% if (data['service'] == "Imports") and (data['numServices'] == "1") %}
      {% set continueURL = "../services-on-team-member-invited" %}
    {% endif %}

    {% if (data['service'] == "Imports") and (data['numServices'] == "3") %}
      {% set continueURL = "imports/add-user-service" %}
    {% endif %}

      <form action="{{ continueURL }}" method="post">

        {% if data['service'] == "Imports"%}

        {{ govukRadios ({
          idPrefix: "systemRole",
          name: "systemRole",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Admin",
              html: 'Admin - this person can view and edit the information the service holds about your organisation. They can also manage other people\'s access to the service.',
              checked:  checked('systemRole','Admin')
            },
            {
              value: "None",
              html: 'None - this person has no extra responsibilities, they can only perform the tasks you choose within a service.',
              checked:  checked('systemRole','None')
            }
          ]
        }) }}

        {% endif %}

        {% if data['service'] == "Chemicals"%}

        {{ govukRadios ({
          idPrefix: "systemRole",
          name: "systemRole",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Admin",
              html: 'Admin - this person can view and edit the information the service holds about your organisation. They can also manage other people\'s access to the service.',
              checked:  checked('systemRole','Admin')
            },
            {
              value: "Reader",
              html: 'Reader - this person can view a list of the services your organisation is registered to use, and the people who can access the services. A reader cannot view, edit or submit any information on behalf of your organisation.',
              checked:  checked('systemRole','Reader')
            },
            {
              value: "None",
              html: 'None - this person has no extra responsibilities, they can only perform the tasks you choose within a service.',
              checked:  checked('systemRole','None')
            }
          ]
        }) }}


        {% endif %}

        {{ govukButton({
          text: "Continue"
        }) }}



      </form>
    </div>
  </div>




{% endblock %}
