{% extends "layout.html" %}

{% set title = "What is your name?" %}

{% block header %}
  {% include "includes/logged-out-header.html" %}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    {% if data['flowType'] == "check" %}
      <form method="post" action="task-list-page-personal-details">
    {% else %}
      <form method="post" action="task-list-page-personal-details">
    {% endif %}

        {% call govukFieldset({
          legend: {
            text: title,
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}

        {{ govukInput({
          label: {
            text: "First or given name"
          },
          classes: "govuk-input--width-20",
          id: "personalFirstName",
          name: "personalFirstName",
          value: data['personalFirstName']
        }) }}

        {{ govukInput({
          label: {
            text: "Surname or family name"
          },
          classes: "govuk-input--width-20",
          id: "personalSurname",
          name: "personalSurname",
          value: data['personalSurname']
        }) }}

        {% endcall %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

  </div>
</div>

{% endblock %}
