{% extends "layout.html" %}

{% set title = "Where does your organisation trade?" %}

{% block header %}
  {% include "includes/logged-out-header.html" %}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form class="org-type" onsubmit="return myFunction()" method="post">

          {% if data['userType'] == "existing" %}
          <script>
              const form = document.querySelector('.org-type')

              function myFunction() {
                  const checked = document.querySelector('[name="businessType"]:checked')
                  const checkedValue = checked.value

                  switch (checkedValue) {
                      case 'UK Organisation':
                          form.action = '/new-organisation-journey/limited-company/notsupported/company-registered-question'

                          break;
                      case 'Non-UK Organisation':
                          form.action = '/new-organisation-journey/non-uk-org/task-list-page-account'
                          break;

                      default:
                          form.action = '/organisation-business-coming-soon'
                  }
                  return true
              }
          </script>

          {% else %}
          <script>
              const form = document.querySelector('.org-type')

              function myFunction() {
                  const checked = document.querySelector('[name="businessType"]:checked')
                  const checkedValue = checked.value

                  switch (checkedValue) {
                      case 'UK Organisation':
                          form.action = '/new-organisation-journey/limited-company/notsupported/company-registered-question'

                          break;
                      case 'Non-UK Organisation':
                          form.action = '/new-organisation-journey/non-uk-org/org-name'
                          break;
                      default:
                          form.action = '/organisation-business-coming-soon'
                  }
                  return true
              }
          </script>

          {% endif %}

          {{
 govukRadios({
        idPrefix: "businessType",
        name: "businessType",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "UK Organisation",
            text: "UK",
            checked:  checked('businessType','UK Organisation')
          },
          {
            value: "Non-UK Organisation",
            text: "Non-UK (Organisation that is not registered in the UK)",
            checked:  checked('businessType', 'Non-UK Organisation')
          }
        ]
      })
          }}

          {{
 govukButton({
        text: "Continue"
      })
          }}

      </form>

  </div>
</div>

{% endblock %}
