<footer id="footer" role="contentinfo">
  <div class="govuk-width-container">
    <div class="footer-container govuk-main-wrapper">
      {% block global %}
      {% include "../../includes/publisher/global-footer.html" %}
      {% endblock %}
      <div class="govuk-grid-row footer-categories" data-module="track-click">
        <div class="govuk-grid-column-two-thirds">
          <h2>Services and information</h2>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <ul>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Benefits" href="/browse/benefits">
                    Benefits
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Births, deaths, marriages and care" href="/browse/births-deaths-marriages">
                    Births, deaths, marriages and care
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Business and self-employed" href="/browse/business">
                    Business and self-employed
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="" href="/browse/childcare-parenting">
                    Childcare and parenting
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Citizenship and living in the UK" href="/browse/citizenship">
                    Citizenship and living in the UK
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Crime, justice and the law" href="/browse/justice">
                    Crime, justice and the law
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Disabled people" href="/browse/disabilities">
                    Disabled people
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Driving and transport" href="/browse/driving">
                    Driving and transport
                  </a>
                </li>
              </ul>
            </div>
            <div class="govuk-grid-column-one-half">
              <ul>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Education and learning" href="/browse/education">
                    Education and learning
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Employing people" href="/browse/employing-people">
                    Employing people
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Environment and countryside" href="/browse/environment-countryside">
                    Environment and countryside
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Housing and local services" href="/browse/housing-local-services">
                    Housing and local services
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Money and tax" href="/browse/tax">
                    Money and tax
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Passports, travel and living abroad" href="/browse/abroad">
                    Passports, travel and living abroad
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Visas and immigration" href="/browse/visas-immigration">
                    Visas and immigration
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Working, jobs and pensions" href="/browse/working">
                    Working, jobs and pensions
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <h2>Departments and policy</h2>

          <ul>
            <li>
              <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="How government works" href="/government/how-government-works">
                How government works
              </a>
            </li>
            <li>
              <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Departments" href="/government/organisations">
                Departments
              </a>
            </li>
            <li>
              <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Worldwide" href="/world">
                Worldwide
              </a>
            </li>
            <li>
              <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Services" href="/search/services">
                Services
              </a>
            </li>
            <li>
              <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Guidance and regulation" href="/search/guidance-and-regulation">
                Guidance and regulation
              </a>
            </li>
            <li>
              <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="News and communications" href="/search/news-and-communications">
                News and communications
              </a>
            </li>
            <li>
              <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Research and statistics" href="/search/research-and-statistics">
                Research and statistics
              </a>
            </li>
            <li>
              <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Policy papers and consultations" href="/search/policy-papers-and-consultations">
                Policy papers and consultations
              </a>
            </li>
            <li>
              <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Transparency and freedom of information releases" href="/search/transparency-and-freedom-of-information-releases">
                Transparency and freedom of information releases
              </a>
            </li>
          </ul>
        </div>
        <hr>
      </div>


      <div class="footer-meta">
        <div class="footer-meta-inner">
          <h2 class="visuallyhidden">Support links</h2>
          <ul>
            <li><a class="govuk-link" href="https://govuk-prototype-kit.herokuapp.com/">GOV.UK Prototype Kit v9.10.0</a></li>
            <li><a class="govuk-link" href="/prototype-admin/clear-data">Clear data</a></li>
          </ul>



          <div class="open-government-licence">
            <p class="logo">
              <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license" class="govuk-link open-government-licence__logo-link">
                Open Government Licence
              </a>
            </p>
            <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license" class="govuk-link">Open Government Licence v3.0</a>, except where otherwise stated</p>
          </div>
        </div>

        <div class="copyright">
          <a class="govuk-link" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">
            © Crown copyright
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="https://www.gov.uk/assets/static/global-bar-init-fdee306aabb4e27c2ab7aabc506b407e6fce180be48271ab093ee168f2d96123.js"></script>
<script src="https://www.gov.uk/assets/static/libs/jquery/jquery-1.12.4-c731c20e2995c576b0509d3bd776f7ab64a66b95363a3b5fae9864299ee594ed.js"></script>
<script src="https://www.gov.uk/assets/static/header-footer-only-dbb327104afc9b7cf8381c4a2a4af083133a9d907237a629f6c8053eb4dfca5e.js"></script>
<script src="https://www.gov.uk/assets/static/surveys-5bda3f4eefbce1d584961c032bcde7c72417fdfb41d514fd849d24f0641e6850.js"></script>
<script src="https://www.gov.uk/assets/government-frontend/application-1c8ad2a545db83863a141a21f47edaf6a04a4535bbac81a3ed31df7c53fc0a3b.js"></script>
