<div class="govuk-grid-row footer-categories" data-module="track-click">
  <div class="govuk-grid-column-two-thirds">
    <h2>Coronavirus (COVID-19)</h2>
    <ul>
      <li>
        <a data-track-category="footerClicked" data-track-action="coronavirusLinks" data-track-label="Coronavirus (COVID-19): guidance and support" href="https://www.gov.uk/coronavirus" class="govuk-link">
          Coronavirus (COVID-19): guidance and support
        </a>
      </li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <h2>Brexit transition</h2>
    <ul>
      <li>
        <a data-track-category="footerClicked" data-track-action="transitionLinks" data-track-label="Check the new rules for January 2021" href="https://www.gov.uk/transition" class="govuk-link">
          Check the new rules for January 2021
        </a>
      </li>
    </ul>
  </div>
</div>
