<div id="global-bar" style="display: block!important" class="global-bar dont-print">
  <div class="global-bar-message govuk-width-container">
    <div class="global-bar-covid-wrapper">
      <div class="gem-c-action-link gem-c-action-link--light-text gem-c-action-link--simple-light gem-c-action-link--with-subtext govuk-!-margin-bottom-3">
        <span class="gem-c-action-link__contents-wrapper">
          <span class="gem-c-action-link__link-wrapper">
            <a class="govuk-link gem-c-action-link__link js-call-to-action" href="https://www.gov.uk/coronavirus">
              Coronavirus (COVID-19)
            </a>
          </span>
          <span class="gem-c-action-link__subtext-wrapper">
            <span class="gem-c-action-link__subtext">Guidance and support</span>
          </span>
        </span>
      </div>
      <div class="gem-c-action-link gem-c-action-link--light-text gem-c-action-link--simple-light gem-c-action-link--with-subtext govuk-!-margin-bottom-0">
        <span class="gem-c-action-link__contents-wrapper"> <span class="gem-c-action-link__link-wrapper">
            <a class="govuk-link gem-c-action-link__link js-call-to-action" href="https://www.gov.uk/transition">
              Brexit
            </a>
          </span>
          <span class="gem-c-action-link__subtext-wrapper">
            <span class="gem-c-action-link__subtext">Check how the new rules affect you</span>
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
