{% extends "layout.html" %}

{% set title = "Confirm your Defra details" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



      <form method="post" action="credential-recovery-security-word">

        {% call govukFieldset({
          legend: {
            text: title,
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}
        <span id="passport-issued-hint" class="govuk-hint">
          To recover your Government Gateway credentials, enter the details that you used to register with Defra.</span>

        {{ govukInput({
          label: {
            text: "First or given name"
          },
          classes: "govuk-input--width-20",
          id: "personalFirstName",
          name: "personalFirstName",
          value: data['personalFirstName']
        }) }}

        {{ govukInput({
          label: {
            text: "Surname or family name"
          },
          classes: "govuk-input--width-20",
          id: "personalSurname",
          name: "personalSurname",
          value: data['personalSurname']
        }) }}



        {% endcall %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

  </div>
</div>

{% endblock %}
