{% extends "layout.html" %}

{% set title = "Enter the access code" %}

{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{title}}</h1>

    {% if data['mfa-type'] == "text" %}
      <p class="govk-body">We have sent a 6 digit access code to: <span class="govuk-!-font-weight-bold">{{data['mobile-UK']}}</span></p>
    {% endif %}
    {% if data['mfa-type'] == "voice" %}
    <p class="govk-body">We are calling: <span class="govuk-!-font-weight-bold">{{data['mobile-UK']}}</span> with a 6 digit access code.</p>
    {% endif %}

    <p class="govk-body">It may take a few minutes to arrive.</p>

      <form action="mfa-confirm" method="post">

        {{ govukInput({
          label: {
            text: "Access code",
            isPageHeading: false
          },
          classes: "govuk-input--width-10",
          id: "mobile-code",
          name: "mobile-code",
          value: mobile-code
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      <p><p class="text">Problems with this code? <a href="#">Try another option</a></p>
      <p class="govuk-body"><a href="#">Get help with this page</a></p>

  </div>
</div>

{% endblock %}
