{% extends "layout.html" %}

{% set serviceName = "Your Defra account" %}

{% set title = "Which account do you want to sign into Comply with REACH IT with?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="org-pick" class="govuk-!-margin-bottom-3">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-3">
                {{ title }}
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="representation1" name="representing" type="radio" value="has-representation">
                <label class="govuk-label govuk-radios__label" for="representation1">
                  <span class="govuk-!-font-weight-bold">Sam Woods</span><br>
                  Team member
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="representation2" name="representing" type="radio" value="has-representation">
                <label class="govuk-label govuk-radios__label" for="representation2">
                  <span class="govuk-!-font-weight-bold">Big Company Ltd</span><br>
                  Team member
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="representation3" name="representing" type="radio" value="has-representation">
                <label class="govuk-label govuk-radios__label" for="representation3">
                  <span class="govuk-!-font-weight-bold">Middle Company Co.</span><br>
                  Team member
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="representation4" name="representing" type="radio" value="has-representation">
                <label class="govuk-label govuk-radios__label" for="representation4">
                  <span class="govuk-!-font-weight-bold">Small Company Ltd</span><br>
                  Team member
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="representation5" name="representing" type="radio" value="has-representation">
                <label class="govuk-label govuk-radios__label" for="representation5">
                  <span class="govuk-!-font-weight-bold">Other Company Limited</span><br>
                  Intimediary
                </label>
              </div>

            </div>
          </fieldset>
        </div>

        {{govukButton({
          text: "Continue"
        })}}

      </form>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
        Can’t see your organisation?
      </h2>

      <!-- pending access -->
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Pending access
          </span>
        </summary>
        <div class="govuk-details__text">

          <p>
            Access with these accounts will be approved by the service.
          </p>

          <ul class="govuk-list">
            <li>
              <span class="govuk-!-font-weight-bold">
                Big Company Ltd
              </span><br>
              Intermediary
            </li>
            <li>
              <span class="govuk-!-font-weight-bold">
                Best sandwich
              </span><br>
              Team member
            </li>

          </ul>

        </div>
      </details>

      <p class="govuk-body govuk-!-margin-bottom-6">
        <a href="add-new-organisation" class="govuk-link govuk-link--no-visited-state">
          Add an organisation
        </a>
      </p>

    </div>
</div>

{% endblock %}
