{% extends "layout.html" %}

{% set serviceName = "Your Defra account" %}

{% set title = "Which organisation do you want to use for Comply with REACH IT?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  <!-- {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }} -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="service-start-complete" method="post" class="govuk-!-margin-bottom-6">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <!-- <span class="govuk-caption-xl">{{ data['serviceLine'] }}</span> -->
            <h1 class="govuk-heading-xl">{{ title }}</h1>
          </legend>

          <!-- filter UI -->
          <div class="defra-filter govuk-!-margin-bottom-6">

            <h2 class="govuk-heading-m">Search for your organisation</h2>

            <!-- <div class="govuk-!-margin-bottom-3">
              <a href="#" class="govuk-link govuk-link--no-visited-state">
                Clear filter
              </a>
            </div> -->

            <div class="govuk-form-group">
              <span class="govuk-visually-hidden">
                <label class="govuk-label govuk-label--m" for="keywords">
                  Filter using keywords
                </label>
              </span>
              <!-- <input class="govuk-input govuk-!-width-three-quarters" id="keywords" name="keywords" type="text"> -->
              <input class="govuk-input govuk-!-width-three-quarters" id="keywords" name="keywords" type="text">
              <br>
              <p class="govuk-body govuk-!-padding-top-1">
                <a href="#">Clear search</a>
              </p>
            </div>
          </div>

          <!-- big list of radio buttons -->
          <!--
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representation1" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representation1">
                <span class="govuk-!-font-weight-bold">Sam Woods</span><br>
                Individual
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representation2" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representation2">
                <span class="govuk-!-font-weight-bold">Big Company Ltd</span><br>
                Team member
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representation3" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representation3">
                <span class="govuk-!-font-weight-bold">Middle Company Co.</span><br>
                Team member
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representation4" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representation4">
                <span class="govuk-!-font-weight-bold">Small Company Ltd</span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representation5" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representation5">
                <span class="govuk-!-font-weight-bold">Other Company Limited</span><br>
                Intimediary
              </label>
            </div>


            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Intimediary
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Intimediary
              </label>
            </div>

          </div> -->

          <!-- recent access list -->

          <h2 class="govuk-heading-m">
            Recent access
          </h2>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representation1" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representation1">
                <span class="govuk-!-font-weight-bold">Eventual Point</span><br>
                Intermediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representation2" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representation2">
                <span class="govuk-!-font-weight-bold">Big Company Ltd</span><br>
                Team member
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representation3" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representation3">
                <span class="govuk-!-font-weight-bold">Intervein</span><br>
                Team member
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representation4" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representation4">
                <span class="govuk-!-font-weight-bold">Small Company Ltd</span><br>
                Team member
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representation5" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representation5">
                <span class="govuk-!-font-weight-bold">The OH Company</span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representation5" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representation5">
                <span class="govuk-!-font-weight-bold">Repell Systems Ltd</span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representation5" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representation5">
                <span class="govuk-!-font-weight-bold">Monster Exports</span><br>
                Team member
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representation5" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representation5">
                <span class="govuk-!-font-weight-bold">Badger, Bercow and Boop</span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representation5" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representation5">
                <span class="govuk-!-font-weight-bold">Shamford and Co</span><br>
                Intimediary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representation5" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representation5">
                <span class="govuk-!-font-weight-bold">Sam Woods</span><br>
                Individual
              </label>
            </div>

            {% if data['nothing-pending'] == false %}

              <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

              <h2 class="govuk-heading-m">
                Pending access
              </h2>

              <p>
                You may not have access to parts of the service with these until your enrolment is completed.
              </p>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="representation4" name="representing" type="radio" value="has-representation">
                <label class="govuk-label govuk-radios__label" for="representation4">
                  <span class="govuk-!-font-weight-bold">Big Company Ltd</span><br>
                  Intermediary
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="representation5" name="representing" type="radio" value="has-representation">
                <label class="govuk-label govuk-radios__label" for="representation5">
                  <span class="govuk-!-font-weight-bold">Stockville Transport</span><br>
                  Team member
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="representation5" name="representing" type="radio" value="has-representation">
                <label class="govuk-label govuk-radios__label" for="representation5">
                  <span class="govuk-!-font-weight-bold">Lasko Inter Ltd</span><br>
                  Intermediary
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="representation5" name="representing" type="radio" value="has-representation">
                <label class="govuk-label govuk-radios__label" for="representation5">
                  <span class="govuk-!-font-weight-bold">Bingo Cars</span><br>
                  Intermediary
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="representation5" name="representing" type="radio" value="has-representation">
                <label class="govuk-label govuk-radios__label" for="representation5">
                  <span class="govuk-!-font-weight-bold">Sam Burridge</span><br>
                  Individual
                </label>
              </div>

            {% endif %}

          </div>
        </fieldset>
      </div>

      {{govukButton({
        text: "Continue"
      })}}

    </form>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
      Can’t find your organisation?
    </h2>

    <p class="govuk-body govuk-!-margin-bottom-6">
      <a href="add-new-organisation" class="govuk-link govuk-link--no-visited-state">
        Add an organisation
      </a>
    </p>

  </div>
</div>

{% endblock %}
