{% extends "layout.html" %}

{% set serviceName = "Your Defra account" %}

{% set title = "Which organisation do you want to use for UK Reach?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="POST" action="org-pick" class="govuk-!-margin-bottom-6">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <span class="govuk-caption-xl">{{ data['serviceLine'] }}</span>
            <h1 class="govuk-heading-xl">{{ title }}</h1>
          </legend>

          <div class="defra-filter govuk-!-margin-bottom-6">

            <h2 class="govuk-heading-m">Filter the organisations below</h2>

            <div class="govuk-!-margin-bottom-3">
              <a href="#" class="govuk-link govuk-link--no-visited-state">
                Clear filter
              </a>
            </div>

            <div class="govuk-form-group">
              <span class="govuk-visually-hidden">
                <label class="govuk-label govuk-label--m" for="keywords">
                  Filter using keywords
                </label>
              </span>
              <!-- <input class="govuk-input govuk-!-width-three-quarters" id="keywords" name="keywords" type="text"> -->
              <input class="govuk-input" id="keywords" name="keywords" type="text">

              <!-- <div id="tt-default" class="autocomplete-wrapper">
                <div class="autocomplete__wrapper">
                  <div style="border: 0px none; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px;">
                    <div id="autocomplete-default__status--A" role="status" aria-atomic="true" aria-live="polite">
                    </div>
                    <div id="autocomplete-default__status--B" role="status" aria-atomic="true" aria-live="polite">
                    </div>
                  </div>
                  <input aria-expanded="false" aria-owns="autocomplete-default__listbox" aria-autocomplete="list" autocomplete="off" class="autocomplete__input autocomplete__input--default" id="autocomplete-default" name="input-autocomplete" placeholder="" type="text" role="combobox" aria-describedby="autocomplete-default__assistiveHint">
                  <ul class="autocomplete__menu autocomplete__menu--inline autocomplete__menu--hidden" id="autocomplete-default__listbox" role="listbox">
                  </ul>
                  <span id="autocomplete-default__assistiveHint" style="display: none;">
                    When autocomplete results are available use up and down arrows to review and enter to select.  Touch device users, explore by touch or with swipe gestures.
                  </span>
                </div>
              </div>
-->
            </div>
          </div>

          <!-- radio buttons -->
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representation1" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representation1">
                <span class="govuk-!-font-weight-bold">Sam Woods</span><br>
                Citizen
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representation2" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representation2">
                <span class="govuk-!-font-weight-bold">Big Company Ltd</span><br>
                Employee
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representation3" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representation3">
                <span class="govuk-!-font-weight-bold">Middle Company Co.</span><br>
                Employee
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representation4" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representation4">
                <span class="govuk-!-font-weight-bold">Small Company Ltd</span><br>
                Agent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representation5" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representation5">
                <span class="govuk-!-font-weight-bold">Other Company Limited</span><br>
                Agent
              </label>
            </div>


            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Agent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Agent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Agent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Agent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Agent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Agent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Agent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Agent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Agent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Agent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Agent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Agent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Agent
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Agent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Agent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Agent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Agent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Agent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Agent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Agent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Agent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Agent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Agent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Agent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Agent
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited
                </span><br>
                Agent
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      {{govukButton({
        text: "Continue"
      })}}

    </form>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
      Can’t see your organisation?
    </h2>
    <p class="govuk-body govuk-!-margin-bottom-6">
      <a href="add-new-organisation" class="govuk-link govuk-link--no-visited-state">
        Add a new organisation
      </a>
    </p>

  </div>
</div>

{% endblock %}
