{% extends "/layouts/main.html" %}

{% set showBackLink = false %}
{% set serviceName = "Defra account" %}

{% set pageHeading = "Security word updated" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

		{{ govukPanel({
			titleText: pageHeading			
		}) }}		    		
    	
		<p>Your new security word will help us verify your identity if you contact us.</p>					

		<p><a href="/account/?notification_banner=">Continue to your account</a></p>      	

	</div>
</div>

{% endblock %}