{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Update your details" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "services-on-team-member-admin-account_onlyrep"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <p>Make updates to Your Defra account personal information.</p>


		<h2 class="govuk-heading-m govuk-!-margin-bottom-2">Personal information</h2>
			<!-- Account Type -->
    		<dl class="govuk-summary-list govuk-!-margin-bottom-7">
      			<div class="govuk-summary-list__row">
        			<dt class="govuk-summary-list__key">Personal information</dt>
        			<dd class="govuk-summary-list__value">
                        Peter Moyles
        			</dd>
        			<dd class="govuk-summary-list__actions">
						<a class="govuk-link govuk-link--no-visited-state" href="/register/account-type?link=change">Change<span class="govuk-visually-hidden"> type of account</span></a>
        			</dd>
      			</div>
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Personal address</dt>
					<dd class="govuk-summary-list__value">												
						
                        Hutton Yeat Farm<br>Old Hutton<br>Kendal<br>South Lakeland<br>LA8 0NL
						
					</dd>
					<dd class="govuk-summary-list__actions">
						<a class="govuk-link govuk-link--no-visited-state" href="/register/account-type?link=change">Change<span class="govuk-visually-hidden"> type of account</span></a>
        			</dd>
				</div>	
                
    		</dl>

			
      	</dl>


		  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Billing information</h2>
		  {% if data['billingDetailsAdded'] == "Yes" %}		  

		  
		  <!-- Account Type -->
		  <dl class="govuk-summary-list govuk-!-margin-bottom-9">								
			  <div class="govuk-summary-list__row">
				  <dt class="govuk-summary-list__key">Address</dt>
				  <dd class="govuk-summary-list__value">												
					  {% if data['billingDetailsAdded'] == "Yes" %}

						  {% if data['billingAddress'] == "Yes" %}
							  Hutton Yeat Farm<br>Old Hutton<br>Kendal<br>South Lakeland<br>LA8 0NL
						  {% else %}

						  {% endif %}

					  {% else %}

					  {% endif %}
				  </dd>
				  <dd class="govuk-summary-list__actions">

					  {% if data['billingDetailsAdded'] == "Yes" %}
					  <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> type of account</span></a>
					  {% else %}
					  <a class="govuk-link govuk-link--no-visited-state" href="/account/address/billing/">Add<span class="govuk-visually-hidden"> billing address</span></a>
					  {% endif %}
				  </dd>
			  </div>
			  <div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Email address</dt>
				<dd class="govuk-summary-list__value">												
					
						{{ data['billingEmail'] }}					
					
				</dd>
				<dd class="govuk-summary-list__actions">
				
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Telephone</dt>
				<dd class="govuk-summary-list__value">												
					
						{{ data['billingTelephone'] }}					
					
				</dd>
				<dd class="govuk-summary-list__actions">

					
				</dd>
			</div>
		  </dl>

		  
		</dl>

		{% else %}

		<p class="govuk-body govuk-!-margin-bottom-7"><a href="/account/address/billing/">Add billing information</a> to your Defra account.</p>
		<!-- <p class="govuk-body govuk-!-margin-bottom-7">There is no billing address on your account.</p> -->
            <!-- <form method="post" action="/account/address/billing/" >
            {{ govukButton({
                text: "Add billing address"
              }) }}

            </form> -->

		{% endif %}
       



            
        <h2 class="govuk-heading-m govuk-!-margin-top-9">Need to update your email or password</h2>
        <p class="govuk_body">Defra account uses your Government Gateway credentials to log in, so you will need to go to your Government Gateway profile to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>update your email address</li>
            <li>change your password</li>
        </ul>        
        
        <div class="govuk-inset-text">
        <p>You will be signed out of your Defra account if you <a href="#" class="govuk-link" target="_blank">go to your Government Gateway profile (opens in new tab)</a>.</p>
    </div>

        
  </div>
</div>




{% endblock %}
