{% extends "layout.html" %}
{% set serviceName = "Defra account" %}

{% set title = "Update your organisation details" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
<!-- Determines the navigation -->
  <div id="profile">
    {% include "includes/account-nav.html" %}
  </div>  
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        {{title}}
      </h1>
    </div>
  </div>

  <p class="govuk-body">Make updates to Your Defra registered Organisation information.</p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone number
          </dt>
          <dd class="govuk-summary-list__value">
            01625 376176
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="update-company-phone-number">
              Change<span class="govuk-visually-hidden"> phone number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            sam.woods@bigcompany.co.uk
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="update-company-email-address">
              Change<span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>

      </dl>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Change your organisation address
          </span>
        </summary>
        <div class="govuk-details__text">          
          <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Contact your Defra service</a> to update your adress.
        </div>
      </details>

    </div>
  </div>


{% endblock %}
