{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "{Service Name}" %}

{% set pageHeading = "Sorry, there is a problem registering for this service" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
        
        <p>You cannot currently register {SERVICE NAME} through your Defra Account.</p>
        <!-- <p>This service is not currently available to register using your Defra Account at this time.</p> -->
        <p>If you need to use this service, you can register your interest in an <a href="#">{SERVICE NAME}</a>.</p>        
        
        
        <p>You can also <a href="#">register for another service</a>.</p>

        
        
        

  </div>
</div>

{% endblock %}
