{% extends "layout.html" %}

{% set title = "What is your business address?" %}

{% block header %}
  {% include "includes/logged-out-header.html" %}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{title}}</h1>

      <form action="company-address" method="post">

        {{ govukInput({
          label: {
            text: "Enter your postcode",
            classes: "govuk-label--s"
          },
          hint: {
            text: "This could be your home address if you do not have a business premises."
          },

          classes: "govuk-input--width-10",
          id: "postcode",
          name: "postcode",
          value: postcode
        }) }}


        {{ govukButton({
          text: "Find address"
        }) }}

        <p class="govuk-body"><a class="govuk-link" href="company-address-manual">Enter the address manually</a></p>

      </form>

  </div>
</div>

{% endblock %}
