{% extends "layout.html" %}

{% set title = "Invite new team member" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-corp.html" %}
  {% include "includes/breadcrumb-two-level.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">{{title}}</h1>


      <form action="#" method="post">

        {{ govukInput({
          label: {
            text: "Email address"
          },
          hint: {
            text: "This should be their business address email"
          },
          classes: "govuk-input--width-20",
          id: "businessEmail",
          name: "businessEmail",
          value: businessEmail
        }) }}

        {{ govukCheckboxes({
          idPrefix: "terms",
          name: "terms",
          fieldset: {
            legend: {
              text: "Terms of Service"
            }
          },
          items: [
            {
              value: "terms",
              text: "Confirm the email address is correct"

            }
          ]
        }) }}



        <div class="form-group">
         <fieldset>
           <div class="multiple-choice">
             <input id="confirm-email" name="waste-types" type="checkbox" value="confirm-email">
             <label for="confirm-email">Confirm the email address is correct</label>
           </div>
         </fieldset>
        </div>
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
      </form>
      </div>
    </div>
    <div class="column-one-third">
    </div>
  </div>

</main>

{% endblock %}
