{% extends "layout.html" %}

{% set title = "Access roles" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation_logout.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/account-nav-admin-corp.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="javascript:history.back()" class="link-back">Back</a>

      <form class="form" action="#" method="post">

        <div class="form-group">
          <fieldset>
            <legend>
              <h1 class="heading-large">Select the role the member needs</h1>
              <span class="body-text">Select all that apply</span>
            </legend>

            <div class="multiple-choice" data-target="role-type-1">
              <input id="role-type-1" name="role-check" type="checkbox" value="role-type-1" {{ checked('role-check','role-type-1') }}>
              <label for="role-type-1">LE Manager</label>
            </div>
            <div class="multiple-choice" data-target="role-type-2">
              <input id="role-type-2" name="role-check" type="checkbox" value="role-type-2" {{ checked('role-check','role-type-2') }}>
              <label for="role-type-2">LE Reader</label>
            </div>
            <div class="multiple-choice" data-target="role-type-3">
              <input id="role-type-3" name="role-check" type="checkbox" value="role-type-3" {{ checked('role-check','role-type-4') }}>
              <label for="role-type-3">RE Manager</label>
            </div>
            <div class="multiple-choice" data-target="role-type-4">
              <input id="role-type-3" name="role-check" type="checkbox" value="role-type-4" {{ checked('role-check','role-type-4') }}>
              <label for="role-type-3">RE Reader</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <input class="button" type="submit"  value="Continue">
        </div>
      </form>
    </div>
    <div class="column-one-third">
    </div>
  </div>


</main>

{% endblock %}
