{% extends "layout.html" %}

{% set title = "Check your answers" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation_logout.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/account-nav-admin-corp.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="javascript:history.back()" class="link-back">Back</a>


      <h1 class="heading-large">
        {{title}}
      </h1>


      <!-- only add a heading for a list if there is more than one list --

      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `cya-questions-short` for short questions -->
      <!--   * `cya-questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Team member
          </dt>
          <dd class="cya-answer">
            {{ data['email-address'] }}
          </dd>
          <dd class="cya-change">
            <a href="add-user-roles">
              Change<span class="visually-hidden"> email</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Service
          </dt>
          <dd class="cya-answer">
            {{ data['service-radio'] }}
          </dd>
          <dd class="cya-change">
            <a href="add-user-roles">
              Change<span class="visually-hidden"> service</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Access role
          </dt>
          <dd class="cya-answer">
            {{ data['role-radio'] }}
          </dd>
          <dd class="cya-change">
            <a href="add-user-roles">
              Change<span class="visually-hidden"> roles</span>
            </a>
          </dd>
        </div>
      </dl>
      <br>
      <div class="form-group">
        <a href="add-user-confirm" class="button">Confirm and send</a>
      </div>

    </div>
  </div>
</main>

{% endblock %}
