{% extends "layout.html" %}

{% set title = "Are you sure you want to remove this person's access?" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form method="post" class="remove" onsubmit="return myFunction()">

        <script>
          const form = document.querySelector('.remove')

          function myFunction() {
            const checked = document.querySelector('[name="removeAccess"]:checked')
            const checkedValue = checked.value

            switch(checkedValue){
              case 'Yes':
              form.action = 'services-on-team-member-invited?subscribeService=no&accountAccess=yes'

              break;
              default:
              form.action = 'services-on-team-member-invited'
            }
            return true
          }
        </script>

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "removeAccess",
          name: "removeAccess",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "They will no longer be able to use the [service name] service on behalf of [account name]. You can give them access again at any time."
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}


      </form>
    </div>
  </div>




{% endblock %}
