{% extends "layout.html" %}

{% set title = "Are you sure you want to remove your own admin responsibilities?" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form method="post" action="services-on-team-member-invited">

          {{ govukRadios ({
            idPrefix: "systemRoleConfirm",
            name: "systemRoleConfirm",
            fieldset: {
              legend: {
                text: title,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            items: [
              {
                value: "Yes",
                html: 'Yes - I confirm this will remove my administration responsibilities and ability to manage this organisations users and services',
                checked:  checked('systemRoleConfirm','Yes')
              },
              {
                value: "No",
                html: 'No - I want to retain my administrator responsibilities',
                checked:  checked('systemRoleConfirm','No')
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>




{% endblock %}
