{% extends "layout.html" %}

{% set title = "Reset your security word" %}


{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class=govuk-heading-xl>{{ title }}</h1>
    <p class="govuk-body">Your security word helps us to verify your identity if you need to contact us.</p>

    <p class="govuk-body">The word must:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>be alphanumeric</li>
      <li>contain between 6 and 12 characters (not case sensitive)</li>
      <li>contain no spaces or special characters</li>
    </ul>


      <form method="post" action="personal-security-confirmation">


    {{ govukInput({
      id: "securityNum",
      name: "securityNum",
      type: "password",
      classes: "govuk-!-width-one-third",
      label: {
        text: "Your security word"
      }
    }) }}

    {{ govukCharacterCount({
      id: "securityHint",
      name: "securityHint",
      value: data['securityHint'],
      classes: "govuk-!-width-two-thirds",
      maxlength: 100,
      rows: 2,
      label: {
        text: "Your hint question"
      },
      hint: {
        text: "Provide a hint question that will help you remember your security word."
      }
    }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
