{% extends "layout.html" %}

{% set title = "Your Defra account" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-corp.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      {{title}}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">


  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">Full name:</span> Ann Cooper<br>
      <span class="govuk-!-font-weight-bold">Email address:</span> Ann.Cooper@email.com<br>
      <span class="govuk-!-font-weight-bold">Telephone number:</span> 01179267473</p>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Contact Support ID
          </span>
        </summary>
        <div class="govuk-details__text">
         If you need to contact us for support you will need your Contact Support ID: CID-000000002109
        </div>
      </details>
  </div>
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body"><a href="services-on-team-member-update-details" class="govuk-link--no-visited-state">Update details</a></p>
    <p class="govuk-body"><a href="" class="govuk-link--no-visited-state">Reset password</a></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <br>
      <h2 class="govuk-heading-l">
        Your services
      </h2>

    {% set serviceLineName %}
      <span class="govuk-visually-hidden--desktop td-header">Service:</span> {{ data['serviceLine'] }}
    {% endset %}

    {% set serviceLinePendingName %}
      <span class="govuk-visually-hidden--desktop td-header">Service:</span><span class="govuk-body govuk-body--grey"> {{ data['serviceLine'] }}</span>
    {% endset %}

    {% set serviceRoleName %}
      <span class="govuk-visually-hidden--desktop td-header">Service role: </span>{{ data['serviceRole']}}
    {% endset %}

    {% set systemRoleName %}
      <span class="govuk-visually-hidden--desktop td-header">Account role: </span>{{ data['systemRole']}}
    {% endset %}


    {{ govukTable({
      caption: "This is a list of one or more accounts and the related services that you have access to.",
      captionClasses: "govuk-body govuk-!-font-weight-regular",
      firstCellIsHeader: false,
      head: [
        {
          html: 'Account',
          format: 'column-full'

        },
        {
          html: 'Account role',
          format: 'column-full'
        },
        {
          html: 'Service',
          format: 'column-full'

        },
        {
          html: 'Service role',
          format: 'column-full'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Action</span>',
          format: 'column-sixth column-full'
        }
      ],
      rows: [

      [
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Account:</span> Acme Org Ltd'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Account role:</span> Administrator'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Service:</span> UK-REACH-IT'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Service role:</span> REACH Manager'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Action:</span><a href="/manage/dashboard-all?orgName=Acme Org Limited&numUsers=5&numAgents=3&numServices=3&multiOrg=No" class="govuk-link--no-visited-state"> Manage account</a><span class="govuk-visually-hidden--desktop td-header"> for Acme Org Ltd</span>'
        }
      ],
      [
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Account:</span> Acme Org India'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Account role:</span> Administrator'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Service:</span> UK-REACH-IT'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Service role:</span> REACH Manager'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Action:</span><a href="/manage/dashboard-all?orgName=Acme Org India&numUsers=6&numAgents=1&numServices=1&multiOrg=Yes&relOrg=Yes" class="govuk-link--no-visited-state"> Manage account</a><span class="govuk-visually-hidden--desktop td-header"> for Acme Org India</span>'        }
      ],
      [
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Account:</span> Acme Org Thailand'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Account role:</span> Administrator'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Service:</span> UK-REACH-IT'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Service role:</span> REACH Manager'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Action:</span><a href="/manage/dashboard-all?orgName=Acme Org Thailand&numUsers=2&numAgents=0&numServices=1&multiOrg=Yes&relOrg=Yes" class="govuk-link--no-visited-state"> Manage account</a><span class="govuk-visually-hidden--desktop td-header"> for Acme Org Ltd</span>'
        }
      ]
      ]
    }) }}


  </div>
</div>


<div class="govuk-card__content">
  <h2 class="govuk-heading-l">Link to your services</h2>

{% if (data['numServices'] == "1") and (data['service'] == "Chemicals") %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-card govuk-card--contained govuk-card--selectable">
        <a href="/UK-REACH-IT"></a>
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m">{{ data['serviceLine'] }}</h3>
        </div>
      </div>
    </div>
  </div>

  {% endif %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="/Notifications"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m">UK-REACH-IT</h3>
          </div>
        </div>
      </div>
    </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukButton({
      text: "Register for another service",
      href: "#"
    }) }}
  </div>
</div>


{% endblock %}
