{% extends "layout.html" %}

{% set title = "Team member" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-invited-account.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      {{ data['personalFirstName'] }} {{ data['personalSurname'] }}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">Full name:</span> {{ data['personalFirstName'] }} {{ data['personalSurname'] }}<br>
      <span class="govuk-!-font-weight-bold">Account access level:</span> {{ data['systemRole'] }}<br>
      <span class="govuk-!-font-weight-bold">Email address:</span> {{ data['businessEmail'] }}<br>
      <span class="govuk-!-font-weight-bold">Telephone number:</span> {{ data['businessTelephone'] }}

    </p>
    <!--<p class="govuk-body">
      <span class="govuk-!-font-weight-bold">Added on:</span> 10 July 2018<br>
      <span class="govuk-!-font-weight-bold">Last signed in:</span> Never
    </p>-->
  </div>
  <div class="govuk-grid-column-one-third">
    <!--<p class="govuk-body"><a href="user-account" class="govuk-link--no-visited-state">Edit team member details</a></p>
    <p class="govuk-body"><a href="/manage/team-members/chemicals/service-access/add-user-roles-system-roles" class="govuk-link--no-visited-state">Change access level</a></p>-->
    <p class="govuk-body"><a href="" class="govuk-link--no-visited-state">Reset password</a><br></p>
    <!--<p class="govuk-body"><a href="" class="govuk-link--no-visited-state">Delete team member</a></p>-->
  </div>
</div>

<br>

<!-- Decides where there Give Service Access button goes according to the service and number of services-->


{% if (data['numServices'] == 3) and (data['service'] == "Imports") %}
  {{ govukButton({
    text: "Give service access",
    href: "/manage/team-members/invite-user/imports/add-user-service"
  }) }}
{% endif %}

{% if (data['numServices'] == 3) and (data['service'] == "Chemicals") %}
  {{ govukButton({
    text: "Give service access",
    href: "/manage/team-members/invite-user/chemicals/add-user-service"
  }) }}
{% endif %}

{% set setServiceNameHtml %}
    <span class="govuk-visually-hidden--desktop td-header">Service:</span> {{ data['serviceLine'] }}
{% endset %}

{% set setOrgHtml %}
    <span class="govuk-visually-hidden--desktop td-header">Organisation:</span> {{ data['orgName'] }}
{% endset %}

{% set setServiceRoleHtml %}
    <span class="govuk-visually-hidden--desktop td-header">Role: </span> {{ data['serviceRole'] }}
{% endset %}


  {{ govukTable({
  caption: "Access to services",
  captionClasses: "govuk-heading-l",
  firstCellIsHeader: false,
  head: [
    {
      html: 'Service',
      format: 'column-quarter column-full'

    },
    {
      html: 'Organisation',
      format: 'column-quarter column-full'

    },
    {
      html: 'Role',
      format: 'column-fifth column-full'

    }
  ],
  rows: [
  [
    {
      html: setServiceNameHtml
    },
    {
      html: setOrgHtml
    },
    {
      html: setServiceRoleHtml
    }
  ]

  ]
}) }}

<div class="govuk-card__content">
  <h3 class="govuk-heading-m">Link to services</h3>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="https://chemicals-prototypes.herokuapp.com/prototype/rc4/iu/dashboard"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m">{{ data['service'] }} - {{ data['serviceLine'] }}</h3>
            <p class="govuk-body">A short summary of the tasks you can complete with this service.
            </p>
          </div>
        </div>
    </div>
  </div>
</div>


{% endblock %}
