{% extends "layout.html" %}

{% set title = "Team member" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-user-admin.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Sara Chippers
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">Full name:</span> Sara Chippers<br>
      <span class="govuk-!-font-weight-bold">System role:</span> User administrator <br>
      <span class="govuk-!-font-weight-bold">Email address:</span> Sara.Chippers@email.com<br>
      <span class="govuk-!-font-weight-bold">Telephone:</span> 01179267473, 07852086123
</p>
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">Added on:</span> 30 September 2016<br>
    <span class="govuk-!-font-weight-bold">Last signed in:</span> Never</p>
  </div>
  <div class="govuk-grid-column-one-thirds">
    <p class="govuk-body"><a href="user-account" class="govuk-link--no-visited-state">Edit details</a></p>
    <p class="govuk-body"><a href="" class="govuk-link--no-visited-state">Reset password</a><br>
  </div>
</div>

<br>


{% endblock %}
