{% extends "layout.html" %}

{% set title = "Team member" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-corp.html" %}
  {% include "includes/breadcrumb-four-level-team.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Ann Cooper
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">Full name:</span> Ann Cooper<br>
      <span class="govuk-!-font-weight-bold">Account access level:</span> Full access<br>
      <span class="govuk-!-font-weight-bold">Email address:</span> Ann.Cooper@email.com<br>
      <span class="govuk-!-font-weight-bold">Telephone:</span> 01179267473, 07852086123
    </p>
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">Added on:</span> 10 January 2010<br>
    <span class="govuk-!-font-weight-bold">Last signed in:</span> 27 June 2018</p>
  </div>
  <div class="govuk-grid-column-one-thirds">
    <p class="govuk-body"><a href="user-account" class="govuk-link--no-visited-state">Edit team member details</a></p>
    <p class="govuk-body"><a href="" class="govuk-link--no-visited-state">Reset password</a><br>
    <a href="" class="govuk-link--no-visited-state">Resend user ID</a></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <br>
    {{ govukTable({
      caption: "Access to services",
      captionClasses: "govuk-heading-l",
      firstCellIsHeader: false,
      head: [
        {
          html: '<a class="govuk-link--no-visited-state" href="">Service</a>',
          format: 'column-quarter'

        },
        {
          html: '<a class="govuk-link--no-visited-state" href="">Location</a>',
          format: 'column-third'

        },
        {
          html: '<a class="govuk-link--no-visited-state" href="">Role type</a>',
          format: 'column-fifth'

        },
        {
          html: '<span class="govuk-visually-hidden">Action</span>',
          format: ''
        },
        {
          html: '<span class="govuk-visually-hidden">Action</span>',
          format: ''
        }
      ],
      rows: [
      [
        {
          text: "UK BPR"
        },
        {
          html: 'AstraZeneca UK Limited<br><span class="govuk-body-s">03674842</span>'
        },
        {
          text: "Manager"
        },
        {
          html: '<a href="add-user-service/add-user-roles" class="govuk-link--no-visited-state">Change role</a>'
        },
        {
          html: '<a href="#" class="govuk-link--no-visited-state">Remove access</a>'
        }
      ],
      [
        {
          text: "UK CLP"
        },
        {
          html: 'AstraZeneca UK Limited <br><span class="govuk-body-s">03674842</span>'
        },
        {
          text: "Editor"
        },
        {
          html: '<a href="add-user-service/add-user-roles" class="govuk-link--no-visited-state">Change role</a>'
        },
        {
          html: '<a href="#" class="govuk-link--no-visited-state">Remove access</a>'
        }
      ],
      [
        {
          text: "UK CLP"
        },
        {
          text: "AstraZeneca - Farma"
        },
        {
          text: "Editor"
        },
        {
          html: '<a href="add-user-service/add-user-roles" class="govuk-link--no-visited-state">Change role</a>'
        },
        {
          html: '<a href="#" class="govuk-link--no-visited-state">Remove access</a>'
        }
      ],
      [
        {
          text: "UK ePIC"
        },
        {
          html: 'AstraZeneca UK Limited <br><span class="govuk-body-s">03674842</span>'
        },
        {
          text: "Editor"
        },
        {
          html: '<a href="add-user-service/add-user-roles" class="govuk-link--no-visited-state">Change role</a>'
        },
        {
          html: '<a href="#" class="govuk-link--no-visited-state">Remove access</a>'
        }
      ],
      [
        {
          text: "UK ePIC"
        },
        {
          text: "AstraZeneca - Farma"
        },
        {
          text: "Editor"
        },
        {
          html: '<a href="add-user-service/add-user-roles" class="govuk-link--no-visited-state">Change role</a>'
        },
        {
          html: '<a href="#" class="govuk-link--no-visited-state">Remove access</a>'
        }
      ],
      [
        {
          text: "UK-REACH-IT"
        },
        {
          html: 'AstraZeneca UK Limited <br><span class="govuk-body-s">03674842</span>'
        },
        {
          html: 'LE Manager<br>RE Manager'
        },
        {
          html: '<a href="add-user-service/add-user-roles" class="govuk-link--no-visited-state">Change role</a>'
        },
        {
          html: '<a href="#" class="govuk-link--no-visited-state">Remove access</a>'
        }
      ],
      [
        {
          text: "UK-REACH-IT"
        },
        {
          html: 'AstraZeneca - Farma'
        },
        {
          html: 'LE Manager<br>RE Manager'
        },
        {
          html: '<a href="add-user-service/add-user-roles-1" class="govuk-link--no-visited-state">Change role</a>'
        },
        {
          html: '<a href="#" class="govuk-link--no-visited-state">Remove access</a>'
        }
      ],
      [
        {
          text: "UK-REACH-IT"
        },
        {
          html: 'AstraZeneca - Has Chem'
        },
        {
          html: 'LE Manager<br>RE Manager'
        },
        {
          html: '<a href="add-user-service/add-user-roles-1" class="govuk-link--no-visited-state">Change role</a>'
        },
        {
          html: '<a href="#" class="govuk-link--no-visited-state">Remove access</a>'
        }
      ],
      [
        {
          text: "UK-REACH-IT"
        },
        {
          html: 'Akzo Nobel Decorative Coatings Limited<br><span class="govuk-body-s">00139914</span>'
        },
        {
          html: 'LE Manager<br>RE Manager'
        },
        {
          html: '<a href="services-on-team-member-roles2" class="govuk-link--no-visited-state">Change role</a>'
        },
        {
          html: '<a href="#" class="govuk-link--no-visited-state">Remove access</a>'
        }
      ]

      ]
    }) }}

  </div>
</div>


{% endblock %}
