{% extends "layout.html" %}

{% set title = "Update your contact details" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ title }}</h1>
    
    <h3 class="govuk-heading-m">Change your name or telephone number</h3>
    <p class="govuk-body">Please call the [service name] service on [phone number].</p>
      <br>
    
    <h3 class="govuk-heading-m">Change your address</h3>
<table class="govuk-table">

      <th class="govuk-table__header" scope="col">Account type</th>
      <th class="govuk-table__header" scope="col">What to do</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
      <td class="govuk-table__cell">Business: limited company</td>
      <td class="govuk-table__cell">Please <a href="https://www.gov.uk/file-changes-to-a-company-with-companies-house">contact Companies House</a> (opens in a new tab). The process should take around 5 working days and your details will automatically be updated in this account.</td>
    </tr>
      <td class="govuk-table__cell">Business: all other organisations</td>
      <td class="govuk-table__cell">Please call the [service name] service on [phone number].</td>
    </tr>
      <td class="govuk-table__cell">Personal</td>
      <td class="govuk-table__cell">Please call the [service name] service on [phone number].</td>
    </tr>
  </tbody>
</table>


    <h3 class="govuk-heading-m">Change your email address</h3>
    <p class="govuk-body">Your email address comes from your Goverment Gateway account. If you <a href="#">update your Government Gateway account</a> (opens in a new tab) your details will automatically be updated in this account too.</p>
    <div class="govuk-inset-text">
      <p class=govuk-body>Information about call charges is available <a href=”https://www.gov.uk/call-charges”>on the GOV.UK website</a> (opens in a new tab).</p>
    </div>


    {{ govukButton({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </div>
</div>




{% endblock %}
