{% extends "layout.html" %}

{% set title = "Team member" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
<div id="profile">
  {% include "includes/account-nav-standard-account.html" %}
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Adam Mastly
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">Full name:</span> Adam Mastly<br>
      <span class="govuk-!-font-weight-bold">Email address:</span> Adam.Mastly@email.com<br>
      <span class="govuk-!-font-weight-bold">Telephone number:</span> 01179267473
    </p>
  </div>
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body"><a href="services-on-team-member-update-details" class="govuk-link govuk-link--no-visited-state">Update details</a></p>
    <p class="govuk-body"><a href="" class="govuk-link govuk-link--no-visited-state">Reset password</a><br></p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ govukWarningText({
      html: 'Please keep your <a class="govuk-link govuk-link--no-visited-state" href="/manage/team-members/services-on-team-member-update-details">contact details</a> up to date',
      iconFallbackText: "Warning"
    }) }}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <br>

    {% set serviceLineName %}
      <span class="govuk-visually-hidden--desktop td-header">Service:</span> {{ data['serviceLine'] }}
    {% endset %}

    {% set serviceRoleName %}
      <span class="govuk-visually-hidden--desktop td-header">Role: </span>{{ data['serviceRole']}}
    {% endset %}

    {% set systemRoleName %}
      <span class="govuk-visually-hidden--desktop td-header">Role: </span>{{ data['systemRole']}}
    {% endset %}


    {{ govukTable({
      caption: "My accounts",
      captionClasses: "govuk-heading-l",
      firstCellIsHeader: false,
      head: [
        {
          html: 'Account',
          format: 'column-quarter column-full'

        },
        {
          html: 'Access level',
          format: 'column-quarter column-full'
        },
        {
          html: 'Service',
          format: 'column-third column-full'

        },
        {
          html: 'Service role',
          format: 'column-sixth column-full'
        }
      ],
      rows: [
      [
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Account:</span> Acme Org Ltd'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Access level:</span> No access'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Service:</span> Chemicals UK-REACH-IT'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Role:</span> REACH Manager'
        }
      ]

      ]
    }) }}

  </div>
</div>

<div class="govuk-card__content">
  <h2 class="govuk-heading-l">Link to services</h2>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="/service-start-complete?service=Chemicals&userType=new-complete-admin&serviceLine=UK-REACH-IT"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m">UK-REACH-IT</h3>
            <!--
            <p class="govuk-body">A short summary of the tasks you can complete with this service.
            </p>
          -->
          </div>
        </div>
    </div>

  </div>

{% endblock %}
