{% extends "layout.html" %}

{% set title = "Team member" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-corp-all-2.html" %}
  {% include "includes/breadcrumb-four-level-team-all-2.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      {{ data['personalFirstName'] }} {{ data['personalSurname'] }}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">Full name:</span> {{ data['personalFirstName'] }} {{ data['personalSurname'] }}<br>
      <span class="govuk-!-font-weight-bold">Email address:</span> {{ data['businessEmail'] }}<br>
      <span class="govuk-!-font-weight-bold">Telephone:</span> {{ data['businessTelephone'] }}

    </p>
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">Added on:</span> 10 July 2018<br>
      <span class="govuk-!-font-weight-bold">Last signed in:</span> Never
    </p>
  </div>
  <div class="govuk-grid-column-one-thirds">
    <p class="govuk-body"><a href="user-account" class="govuk-link--no-visited-state">Edit team member details</a></p>
    <p class="govuk-body"><a href="" class="govuk-link--no-visited-state">Reset password</a><br>
    <a href="" class="govuk-link--no-visited-state">Resend user ID</a></p>
    <p class="govuk-body"><a href="" class="govuk-link--no-visited-state">Delete team member</a></p>
  </div>
</div>

<br>
{{ govukButton({
  text: "Give service access",
  href: "add-user-service/add-user-service"
}) }}

{% set setServiceNameHtml %}
    {{ data['serviceName'] }}
{% endset %}

{% set setServiceName1Html %}
    {{ data['serviceName1'] }}
{% endset %}

\{% set setServiceName1Html %}
    {{ data['serviceName1'] }}
{% endset %}

{% set setOrgHtml %}
    {{ data['orgName'] }}
{% endset %}

{% set setOrg1Html %}
    {{ data['orgName1'] }}
{% endset %}

{% set setServiceRoleHtml %}
    {{ data['serviceRole'] }}
{% endset %}

{% set setServiceRole1Html %}
    {{ data['serviceRole1'] }}
{% endset %}

{{ govukTable({
  caption: "Services",
  captionClasses: "govuk-heading-l",
  firstCellIsHeader: false,
  head: [
    {
      html: '<a class="govuk-link--no-visited-state" href="">Service</a>',
      format: 'column-quarter'

    },
    {
      html: '<a class="govuk-link--no-visited-state" href="">Location</a>',
      format: 'column-third'

    },
    {
      html: '<a class="govuk-link--no-visited-state" href="">Role type</a>',
      format: 'column-fifth'

    },
    {
      html: '<span class="govuk-visually-hidden">Action</span>',
      format: ''
    },
    {
      html: '<span class="govuk-visually-hidden">Action</span>',
      format: ''
    }
  ],
  rows: [
  [
    {
      html: setServiceNameHtml
    },
    {
      html: setOrgHtml
    },
    {
      html: setServiceRoleHtml
    },
    {
      html: '<a href="add-user-service/add-user-roles" class="govuk-link--no-visited-state">Change role</a>'
    },
    {
      html: '<a href="#" class="govuk-link--no-visited-state">Remove access</a>'
    }
  ],
  [
    {
      html: setServiceName1Html
    },
    {
      html: setOrg1Html
    },
    {
      html: setServiceRole1Html
    },
    {
      html: '<a href="add-user-service/add-user-roles" class="govuk-link--no-visited-state">Change role</a>'
    },
    {
      html: '<a href="#" class="govuk-link--no-visited-state">Remove access</a>'
    }
  ]

  ]
}) }}

{% endblock %}
