{% extends "layout.html" %}

{% set title = "Account" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-corp.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Ann Cooper
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">Full name:</span> Ann Cooper<br>
      <span class="govuk-!-font-weight-bold">Email address:</span> Ann.Cooper@email.com<br>
      <span class="govuk-!-font-weight-bold">Telephone number:</span> 01179267473</p>

    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">User ID:</span> 1395868583</p>

    </p>
  </div>
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body"><a href="services-on-team-member-update-details" class="govuk-link--no-visited-state">Update details</a></p>
    <p class="govuk-body"><a href="" class="govuk-link--no-visited-state">Reset password or user ID</a></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <br>

    {% set serviceLineName %}
      <span class="govuk-visually-hidden--desktop td-header">Service:</span> {{ data['serviceLine'] }}
    {% endset %}

    {% set serviceRoleName %}
      <span class="govuk-visually-hidden--desktop td-header">Role: </span>{{ data['serviceRole']}}
    {% endset %}

    {% set systemRoleName %}
      <span class="govuk-visually-hidden--desktop td-header">Role: </span>{{ data['systemRole']}}
    {% endset %}


  {% if data['numServices'] == "1" %}

    {{ govukTable({
      caption: "My organisations",
      captionClasses: "govuk-heading-l",
      firstCellIsHeader: false,
      head: [
        {
          html: 'Organisation',
          format: 'column-quarter column-full'
        },
        {
          html: 'Access level',
          format: 'column-quarter column-full'
        },
        {
          html: 'Service',
          format: 'column-third column-full'

        },
        {
          html: 'Service role',
          format: 'column-sixth column-full'
        }
      ],
      rows: [
      [
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Accounts:</span><a href="/manage/dashboard-all" class="govuk-link--no-visited-state"> Acme Org Ltd</a>'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Access level:</span> Administrator'
        },
        {
          html: serviceLineName
        },
        {
          html: serviceRoleName
        }
      ]
    ]
    }) }}

{% else %}

    {{ govukTable({
      caption: "My accounts",
      captionClasses: "govuk-heading-l",
      firstCellIsHeader: false,
      head: [
        {
          html: 'Account',
          format: 'column-quarter column-full'

        },
        {
          html: 'Access level',
          format: 'column-quarter column-full'
        },
        {
          html: 'Service',
          format: 'column-third column-full'

        },
        {
          html: 'Service role',
          format: 'column-sixth column-full'
        }
      ],
      rows: [
      [
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Account:</span> Ann Cooper'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Access level:</span> Administrator'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Service:</span> Chemicals UK-REACH-IT'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Role:</span> REACH Manager'
        }
      ],
      [
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Account:</span><a href="/manage/dashboard-all-org?orgName=Acme Org Limited&numUsers=5&numAgents=3&numServices=3" class="govuk-link--no-visited-state"> Acme Org Ltd</a>'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Access level:</span> Administrator'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Service:</span> Chemicals UK-REACH-IT'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Role:</span> REACH Manager'
        }
      ],
      [
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Account:</span><a href="/manage/dashboard-all-org?orgName=Acme Org Ltd&numUsers=5&numAgents=3&numServices=3" class="govuk-link--no-visited-state"> Acme Org Ltd</a>'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Access level:</span> Administrator'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Service:</span> Notification Service'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Role: </span>Importer'
        }
      ],
      [
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Account:</span><a href="/manage/dashboard-all-org?orgName=Acme Org India&numUsers=12&numAgents=3&numServices=3" class="govuk-link--no-visited-state"> Acme Org India</a>'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Access level:</span> Administrator'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Service:</span><span class="govuk-body govuk-body--grey"> No registered service</span>'
        },

        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Role: </span>'
        }
      ],
      [
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Account:</span><a href="/manage/dashboard-all-org?orgName=Acme%20Org%20Thailand&numUsers=2&numAgents=14&numServices=3" class="govuk-link--no-visited-state"> Acme Org Thailand</a>'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Access level:</span> Administrator'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Service:</span><span class="govuk-body govuk-body--grey"> Notification Service</span>'
        },

        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Role: </span><span class="govuk-body govuk-body--grey"> Pending</span>'
        }
      ],
      [
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Account:</span> Acme Org Spain'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Access level:</span> No access'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Service:</span> Apply for Export Catch Certificate'
        },

        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Role: </span>General'
        }
      ],
      [
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Account:</span> Importers RUS'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Access level:</span> No Access'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Service:</span> VMD Secure Messaging'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Role:</span> Administrator'
        }
      ]

      ]
    }) }}

{% endif %}

  </div>
</div>


<div class="govuk-card__content">
  <h2 class="govuk-heading-l">Link to services</h2>

{% if (data['numServices'] == "1") and (data['service'] == "Chemicals") %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-card govuk-card--contained govuk-card--selectable">
        <a href="/UK-REACH-IT"></a>
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m">{{ data['serviceLine'] }}</h3>
        </div>
      </div>
    </div>
  </div>

  {% endif %}

  {% if (data['numServices'] == "1") and (data['service'] == "Imports") %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="/Notifications"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m">{{ data['serviceLine'] }}</h3>
          </div>
        </div>
      </div>
    </div>

{% endif %}

{% if (data['numServices'] == "3") %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-card govuk-card--contained govuk-card--selectable">
        <a href="/UK-REACH-IT"></a>
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m">UK-REACH-IT</h3>
          <!--
          <p class="govuk-body">A short summary of the tasks you can complete with this service.
          </p>
        -->
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-third {{serviceCSS}}">
      <div class="govuk-card govuk-card--contained govuk-card--selectable">
        <a href="/Notifications"></a>
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m">Notification Service</h3>
          <!--
          <p class="govuk-body">A short summary of the tasks you can complete with this service.
          </p>
        -->
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-third {{serviceCSS}}">
      <div class="govuk-card govuk-card--contained govuk-card--selectable">
        <a href="/service-start-complete?service=Exports&userType=new-complete-admin&serviceLine=Apply for Export Catch Certificate"></a>
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m">Apply for Export Catch Certificate</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third {{serviceCSS}}">
      <div class="govuk-card govuk-card--contained govuk-card--selectable">
        <a href="/service-start-complete?service=VMD&userType=new-complete-admin&serviceLine=VMD Secure Messaging"></a>
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m">VMD Secure Messaging</h3>
          <!--
          <p class="govuk-body">A short summary of the tasks you can complete with this service.
          </p>
        -->
        </div>
      </div>
    </div>
  </div>

{% endif %}
</div>


{% endblock %}
