{% extends "layout.html" %}

{% set title = "Update your contact details" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/account-nav-admin-corp.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ title }}</h1>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Change your name or telephone number
        </span>
      </summary>
      <div class="govuk-details__text">Please call the [consuming service name] service on [consuming service phone number].
      </div>
    </details>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Change your address</span>
      </summary>
      <div class="govuk-details__text">
        Please <a href="https://www.gov.uk/file-changes-to-a-company-with-companies-house"target="_blank">contact Companies House</a> (opens in a new tab). The process should take around 5 working days and your details will automatically be updated in this account.
      </div>
      <div class="govuk-details__text">
        Please call the [consuming service name] service on [consuming service phone number].
      </div>
    </details>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Change your email address</span>
      </summary>
      <div class="govuk-details__text">
        Your email address comes from your Goverment Gateway account. If you <a href="#">update your Government Gateway account</a> (opens in a new tab) your details will automatically be updated in this account too.
      </div>
    </details>

    <p class=govuk-body>Information about call charges is available <a href="https://www.gov.uk/call-charges"target="_blank">on the GOV.UK website</a> (opens in a new tab).</p>



    {{ govukButton({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </div>
</div>




{% endblock %}
