{% extends "layout.html" %}

{% set title = "Account" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-corp.html" %}
    {% include "includes/breadcrumb-two-level.html" %}
  </div>
{% endblock %}

{% block content %}

{% if data['numUsers'] == "1" %}
  {% set setchangeAccessHtml %}
    edit-user-one-admin-confirm
  {% endset %}

  {% else %}
  {% set setchangeAccessHtml %}
    edit-user-system-roles
  {% endset %}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Ann Cooper
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">Full name:</span> Ann Cooper<br>
      <span class="govuk-!-font-weight-bold">Email address:</span> Ann.Cooper@email.com<br>
      <span class="govuk-!-font-weight-bold">Telephone number:</span> 01179267473
    </p>
    <!--<p class="govuk-body">
      <span class="govuk-!-font-weight-bold">Added on:</span> 10 January 2010<br>
      <span class="govuk-!-font-weight-bold">Last signed in:</span> 27 June 2018
    </p>-->
  </div>
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body"><a href="user-account" class="govuk-link--no-visited-state">Edit personal details</a></p>
    <p class="govuk-body"><a href="" class="govuk-link--no-visited-state">Reset password</a><br></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <br>

    {% set serviceLineName %}
      <span class="govuk-visually-hidden--desktop td-header">Service:</span> {{ data['serviceLine'] }}
    {% endset %}

    {% set serviceRoleName %}
      <span class="govuk-visually-hidden--desktop td-header">Role: </span>{{ data['serviceRole']}}
    {% endset %}

    {% set systemRoleName %}
      <span class="govuk-visually-hidden--desktop td-header">Role: </span>{{ data['systemRole']}}
    {% endset %}


    {{ govukTable({
      caption: "Service access",
      captionClasses: "govuk-heading-l",
      firstCellIsHeader: false,
      head: [
        {
          html: 'Service',
          format: 'column-quarter column-full'

        },
        {
          html: 'Organisation',
          format: 'column-quarter column-full'

        },
        {
          html: 'Access level',
          format: 'column-fifth column-full'
        },
        {
          html: 'Service role',
          format: 'column-fifth column-full'
        }
      ],
      rows: [
      [
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Service:</span> UK SO2'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Organisation:</span> Acme Org Ltd'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Access level:</span> Admin'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Role: </span>Standard'
        }
      ],
      [
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Service:</span> UK SO2'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Organisation:</span> Acme Org Ltd'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Access level:</span> Admin'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Role: </span>Standard'
        }
      ],
      [
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Service:</span> UK SO2'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Organisation:</span> Acme Org Ltd'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Access level:</span> Admin'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Role:</span> Standard'
        }
      ],
      [
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Service:</span> UK SO3'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Organisation:</span> My Other Org'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Access level:</span> No Access'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Role:</span> Standard'
        }
      ]

      ]
    }) }}

  </div>
</div>

<div class="govuk-card__content">
  <h3 class="govuk-heading-m">Link to your services</h3>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="https://chemicals-prototypes.herokuapp.com/prototype/rc4/iu/dashboard"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m">Chemicals - UK-REACH-IT</h3>
            <p class="govuk-body">A short summary of the tasks you can complete with this service.
            </p>
          </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-third {{serviceCSS}}">
      <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="/service-start-complete"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m">Imports - IMP-SO2</h3>
            <p class="govuk-body">A short summary of the tasks you can complete with this service.
            </p>
          </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-third {{serviceCSS}}">
      <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="/service-start-complete"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m">VMD - VMD-SO3</h3>
            <p class="govuk-body">A short summary of the tasks you can complete with this service.
            </p>
          </div>
        </div>
    </div>
  </div>
</div>


{% endblock %}
