{% extends "layout.html" %}

{% set title = "Update your contact details" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ title }}</h1>

    <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">Change your name or telephone number
    </span>
  </summary>
  <div class="govuk-details__text">Please call the [service name] service on [phone number].
  </div>
</details>
    <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">Change your address
    </span>
  </summary>
  <div class="govuk-details__text">
    <table class="govuk-table">

      <th class="govuk-table__header" scope="col">Account type</th>
      <th class="govuk-table__header" scope="col">What to do</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
      <td class="govuk-table__cell">Business: limited company</td>
      <td class="govuk-table__cell">Please <a href="https://www.gov.uk/file-changes-to-a-company-with-companies-house">contact Companies House</a> (opens in a new tab). The process should take around 5 working days and your details will automatically be updated in this account.</td>
    </tr>
      <td class="govuk-table__cell">Business: all other organisations</td>
      <td class="govuk-table__cell">Please call the [service name] service on [phone number].</td>
    </tr>
      <td class="govuk-table__cell">Personal</td>
      <td class="govuk-table__cell">Please call the [service name] service on [phone number].</td>
    </tr>
  </tbody>
</table>
  </div>
</details>
      <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">Change your email address
    </span>
  </summary>
  <div class="govuk-details__text">Your email address comes from your Goverment Gateway account. If you <a href="#">update your Government Gateway account</a> (opens in a new tab) your details will automatically be updated in this account too.
  </div>
</details>

      <p class=govuk-body>Information about call charges is available <a href=”https://www.gov.uk/call-charges”>on the GOV.UK website</a> (opens in a new tab).</p>



    {{ govukButton({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </div>
</div>




{% endblock %}
