{% extends "layout.html" %}

{% set title = "Team member" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-standard-account.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Adam Mastly
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">Full name:</span> Adam Mastly<br>
      <span class="govuk-!-font-weight-bold">Account access level:</span> Standard<br>
      <span class="govuk-!-font-weight-bold">Email address:</span> Adam.Mastly@email.com<br>
      <span class="govuk-!-font-weight-bold">Telephone:</span> 01179267473
    </p>
    <!--<p class="govuk-body">
      <span class="govuk-!-font-weight-bold">Added on:</span> 15 March 2017<br>
      <span class="govuk-!-font-weight-bold">Last signed in:</span> 3 July 2018
    </p>-->
  </div>
  <div class="govuk-grid-column-one-third">
    <!--<p class="govuk-body"><a href="user-account" class="govuk-link--no-visited-state">Edit details</a></p>-->
    <!--<p class="govuk-body"><a href="" class="govuk-link--no-visited-state">Change access level</a></p>-->
    <p class="govuk-body"><a href="" class="govuk-link--no-visited-state">Reset password</a><br></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <br>
<!--
    {{ govukButton({
      text: "Request service access",
      href: ""
    }) }}
  -->

    {{ govukTable({
      caption: "Access to services",
      captionClasses: "govuk-heading-l",
      firstCellIsHeader: false,
      head: [
        {
          html: 'Service',
          format: 'column-quarter column-full'

        },
        {
          html: 'Location',
          format: 'column-quarter column-full'

        },
        {
          html: 'Role',
          format: 'column-fifth column-full'

        }
      ],
      rows: [
      [
      {
        html: '<span class="govuk-visually-hidden--desktop td-header">Service:</span> UK-REACH-IT'
      },
      {
        html: '<span class="govuk-visually-hidden--desktop td-header">Location:</span> AstraZeneca UK Limited'
      },
      {
        html: '<span class="govuk-visually-hidden--desktop td-header">Role: </span>RE Manager'
      }
      ]

      ]
    }) }}

  </div>
</div>


{% endblock %}
