{% extends "layout.html" %}

{% set title = "Manage team access" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-corp.html" %}
  {% include "includes/breadcrumb-three-level.html" %}
{% endblock %}

{% block content %}

<!-- Hiding/ showing the New User row according to the userType invite/new -->
    {% if data['userType'] == "invite" %}
      {% set newUserCSS = "" %}
    {% endif %}

    {% if data['numUsers'] == "2" %}
      {% set otherUserCSS = "govuk-visually-hidden" %}
      {% set newUserCSS = "" %}
    {% endif %}

    {% if data['numUsers'] == "1" %}
      {% set otherUserCSS = "govuk-visually-hidden" %}
      {% set newUserCSS = " govuk-visually-hidden" %}
    {% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      {{title}}
    </h1>

    {{ govukButton({
      text: "Add a team member",
      href: "/manage/team-members/invite-user/add-user-details?addUser=Yes"
    }) }}

<!-- Setting Ann's urls -->
    {% set setAnnURL %}
      {% if data['numUsers'] == "1" %}
        services-on-team-member-admin-self-all-1
      {% else %}
        services-on-team-member-admin-self
      {% endif %}
    {% endset %}

    <table class="govuk-table {{ tableCSS }}">
      <caption class="govuk-table__caption govuk-visually-hidden">All team members</caption>
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-table__header--column-quarter column-full" scope="col">
          Team member
        </th>
        <th class="govuk-table__header govuk-table__header--column-third column-full" scope="col">
          Email address
        </th>
        <th class="govuk-table__header govuk-table__header--column-sixth column-full" scope="col">
          Account status
        </th>
      </tr>
      </thead>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
          <a class="govuk-link--no-visited-state" href="{{ setAnnURL }}">Ann Cooper (you)</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Email address:</span> Ann.Cooper@email.com
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Live
        </td>
      </tr>
      {% if data['addUser'] == "Yes" %}
      <tr class="govuk-table__row{{ newUserCSS }}">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
          <span class="govuk-body govuk-body--grey"> Name to be confirmed</span>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Email address:</span> {{ data['inviteEmail'] }}
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Invite email sent
        </td>
      </tr>
      {% endif %}

      <tr class="govuk-table__row {{ otherUserCSS }}">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
          <a class="govuk-link--no-visited-state" href="services-on-team-member-standard">Adam Mastly</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Email address:</span> Adam.Mastly@email.com
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Live
        </td>
      </tr>

      <tr class="govuk-table__row {{ otherUserCSS }}">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
          <a class="govuk-link--no-visited-state" href="services-on-team-member-admin">Barry Anders</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Email address:</span> Barry.Anders@email.com
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Live
        </td>
      </tr>

      <tr class="govuk-table__row {{ otherUserCSS }}">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
          <a class="govuk-link--no-visited-state" href="services-on-team-member-invited?name=Sara Chippers">Sara Chippers</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Email address:</span> Sara.Chippers@email.com
        </td>
        <td class="govuk-table__cell">
          {% if data['subscribeService'] == "Yes" %}
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Live
          {% else %}
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Needs access
          {% endif %}
        </td>
      </tr>

      <tr class="govuk-table__row {{ otherUserCSS }}">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
          <a class="govuk-link--no-visited-state" href="services-on-team-member-standard-verify?name=Tiegan Mole">Tiegan Mole</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Email address:</span> Tiegan.Mole@email.com
        </td>
        <td class="govuk-table__cell">
          {% if not (data['verifiedUser'] == "Decline") and not (data['verifiedUser'] == "Yes") %}
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span>  Request received
          {% endif %}



          {% if data['verifiedUser'] == "Decline" %}
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span>  Request declined
          {% endif %}

          {% if data['verifiedUser'] == "Yes" %}
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Live
          {% endif %}



        </td>
      </tr>

    </table>




  </div>
</div>





{% endblock %}
