{% extends "layout.html" %}

{% set title = "Manage team access" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-corp.html" %}
  {% include "includes/breadcrumb-three-level.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      {{title}}
    </h1>


    {{ govukTable({
      caption: "A list of all team members",
      captionClasses: "govuk-caption-hidden",
      firstCellIsHeader: false,
      head: [
        {
          html: '<a class="govuk-link--no-visited-state" href="">Team member</a>',
          format: 'column-third'
        },
        {
          html: '<a class="govuk-link--no-visited-state" href="">Role type</a>',
          format: 'column-quarter'
        },
        {
          html: '<a class="govuk-link--no-visited-state" href="">Account status</a>',
          format: 'column-quarter'
        },
        {
          html: '<span class="govuk-visually-hidden">Action</span>',
          format: 'column-sixth'
        }
      ],
      rows: [
        [
          {
            html: '<a class="govuk-link--no-visited-state" href="services-on-team-member-admin-self">Ann Cooper (you)</a><br>
                    <span class="govuk-body-s">Ann.Cooper@email.com</span>'
          },
          {
            text: "Administrator"
          },
          {
            text: ""
          },
          {
            html: '<a class="govuk-link--no-visited-state" href="">Manage</a>'
          }
        ],
        [
          {
            html: '<a class="govuk-link--no-visited-state" href="services-on-team-member-standard">Adam Mastly</a><br>
                    <span class="govuk-body-s">Adam.Mastly@email.com</span>'
          },
          {
            text: "Standard user"
          },
          {
            text: ""
          },
          {
            html: '<a class="govuk-link--no-visited-state" href="">Manage</a>'
          }
        ],
        [
          {
            html: '<a class="govuk-link--no-visited-state" href="services-on-team-member-admin">Barry Anders</a><br>
                    <span class="govuk-body-s">Barry.Anders@email.com</span>'
          },
          {
            text: "Administrator"
          },
          {
            text: ""
          },
          {
            html: '<a class="govuk-link--no-visited-state" href="">Manage</a>'
          }
        ],
        [
          {
            html: '<a class="govuk-link--no-visited-state" href="services-on-team-member-invited-1">Sara Chippers</a><br>
                    <span class="govuk-body-s">Sara.Chippers@email.com</span>'
          },
          {
            text: "Access manager"
          },
          {
            text: "Invite email sent"
          },
          {
            html: '<a class="govuk-link--no-visited-state" href="#">Manage</a>'
          }
        ],
        [
          {
            html: '<a class="govuk-link--no-visited-state" href="services-on-team-member-service-request">Tiegan Mole</a><br>
                    <span class="govuk-body-s">Tiegan.Mole@email.com</span>'
          },
          {
            text: "Standard user"
          },
          {
            text: "Access request received"
          },
          {
            html: '<a class="govuk-link--no-visited-state" href="">Manage</a>'
          }
        ],
        [
          {
            html: '<a class="govuk-link--no-visited-state" href="services-on-team-member-service-request">Ann Other</a><br>
                    <span class="govuk-body-s">Ann.Other@email.com</span>'
          },
          {
            text: "Standard user"
          },
          {
            text: ""
          },
          {
            html: '<a class="govuk-link--no-visited-state" href="">Manage</a>'
          }
        ],
        [
          {
            html: '<a class="govuk-link--no-visited-state" href="services-on-team-member-service-request">Ann Other</a><br>
                    <span class="govuk-body-s">Ann.Other@email.com</span>'
          },
          {
            text: "Standard user"
          },
          {
            text: ""
          },
          {
            html: '<a class="govuk-link--no-visited-state" href="">Manage</a>'
          }
        ],
        [
          {
            html: '<a class="govuk-link--no-visited-state" href="services-on-team-member-service-request">Ann Other</a><br>
                    <span class="govuk-body-s">Ann.Other@email.com</span>'
          },
          {
            text: "Standard user"
          },
          {
            text: ""
          },
          {
            html: '<a class="govuk-link--no-visited-state" href="">Manage</a>'
          }
        ],
        [
          {
            html: '<a class="govuk-link--no-visited-state" href="services-on-team-member-service-request">Ann Other</a><br>
                    <span class="govuk-body-s">Ann.Other@email.com</span>'
          },
          {
            text: "Standard user"
          },
          {
            text: "Access request received"
          },
          {
            html: '<a class="govuk-link--no-visited-state" href="">Manage</a>'
          }
        ],
        [
          {
            html: '<a class="govuk-link--no-visited-state" href="services-on-team-member-service-request">Ann Other</a><br>
                    <span class="govuk-body-s">Ann.Other@email.com</span>'
          },
          {
            text: "Standard user"
          },
          {
            text: ""
          },
          {
            html: '<a class="govuk-link--no-visited-state" href="">Manage</a>'
          }
        ],
        [
          {
            html: '<a class="govuk-link--no-visited-state" href="services-on-team-member-service-request">Ann Other</a><br>
                    <span class="govuk-body-s">Ann.Other@email.com</span>'
          },
          {
            text: "Standard user"
          },
          {
            text: ""
          },
          {
            html: '<a class="govuk-link--no-visited-state" href="">Manage</a>'
          }
        ],
        [
          {
            html: '<a class="govuk-link--no-visited-state" href="services-on-team-member-service-request">Ann Other</a><br>
                    <span class="govuk-body-s">Ann.Other@email.com</span>'
          },
          {
            text: "Standard user"
          },
          {
            text: ""
          },
          {
            html: '<a class="govuk-link--no-visited-state" href="">Manage</a>'
          }
        ],
        [
          {
            html: '<a class="govuk-link--no-visited-state" href="services-on-team-member-service-request">Ann Other</a><br>
                    <span class="govuk-body-s">Ann.Other@email.com</span>'
          },
          {
            text: "Standard user"
          },
          {
            text: ""
          },
          {
            html: '<a class="govuk-link--no-visited-state" href="">Manage</a>'
          }
        ],
        [
          {
            html: '<a class="govuk-link--no-visited-state" href="services-on-team-member-service-request">Ann Other</a><br>
                    <span class="govuk-body-s">Ann.Other@email.com</span>'
          },
          {
            text: "Standard user"
          },
          {
            text: ""
          },
          {
            html: '<a class="govuk-link--no-visited-state" href="">Manage</a>'
          }
        ],
        [
          {
            html: '<a class="govuk-link--no-visited-state" href="services-on-team-member-service-request">Ann Other</a><br>
                    <span class="govuk-body-s">Ann.Other@email.com</span>'
          },
          {
            text: "Standard user"
          },
          {
            text: ""
          },
          {
            html: '<a class="govuk-link--no-visited-state" href="">Manage</a>'
          }
        ]


      ]
    }) }}


  </div>
</div>





{% endblock %}
