{% extends "layout.html" %}
{% set showBackLink = false %}

{% block page_title %}
    Page listings - Manage training for early career teachers - Department for Education - GOV.UK
{% endblock %}
{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
                <span class="govuk-caption-xl">Prototype</span>
                Page listings
            </h1>

            <p class="govuk-body-s">Last updated 18 November 2022</p>
            <p class="govuk-body govuk-!-margin-bottom-7">Some pages have dynamic content, so if using the links and not going through the flows that lead to each page, its not always possible to show the right content for all scenarios.</p>



            {% set checkingHtml %}


            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Accessing the service</h2>
            <p>Various routes into the service either via sign in, access link or email and sign up journey for schools.</p>
            {# <p>Induction Tutor is notified via email that they have been nominated. <span class="miro-link"><a href="https://miro.com/app/board/o9J_ldVNkCY=/?moveToWidget=3074457355250705583&cot=14">User journey on Miro</a></span></p> #}

            <h3 class="govuk-heading-s">Monitoring the GIAS email address</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="/emails/tell-us-if-you-have-nqt" >(Email) - Does your school expect any early career teachers in the term ahead? *</a></li>
            </ul>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

            <h3 class="govuk-heading-s">Service pages</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="/start" >Manage training for early career teachers*</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/how-to-set-up-your-programme" >Set up your school’s early career teacher training programme: step by step*</a></li>
                </ul>
                <li><a class="govuk-link" href="/sign-in" >Sign in*</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/how-to-get-an-account" >How to access this service*</a></li>
                    <li><a class="govuk-link" href="/nominations/resend-email" >Send your school a link to use this service*</a></li>
                    <li><a class="govuk-link" href="/nominations/local-authority" >What is your school’s local authority?*</a></li>
                    <li><a class="govuk-link" href="/nominations/choose-school" >What’s the name of your school?*</a></li>
                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                        <li><a class="govuk-link" href="/nominations/induction-tutor/already-nominated" >An induction tutor has already been nominated*</a></li>
                    </ul>
                    <li><a class="govuk-link" href="/nominations/confirm" >Confirm this is your school*</a></li>
                    <li><a class="govuk-link" href="/nominations/success" >Your school has been sent a link*</a></li>
                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                        <li><a class="govuk-link" href="/emails/tell-us-if-you-have-nqt" >(Email) - Does your school expect any early career teachers in the term ahead? *</a> move on to confirm is school has ECTs and induction tutor nomination</li>
                    </ul>
                </ul>
                <li><a class="govuk-link" href="/check-your-email" >Check your email*</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/emails/link-to-sign-in" >(Email) - Link to sign in</a></li>
                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                        <li><a class="govuk-link" href="/nominations/expired-link?sign-in-link=expired" >This link has expired*</a></li>
                    </ul>
                </ul>
                <li><a class="govuk-link" href="/signed-in" >You’re now signed in*</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/cannot-use-this-service" >You do not have access to this service*</a></li>
                </ul>
                <li><a class="govuk-link" href="/privacy-policy?journey-mode=NoDecision" >Privacy policy*</a></li>

            </ul>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Confirm if has ECTs and nominate an induction tutor</h2>
            <p>Email links them to service to confirm ECTs and nominate induction tutor.</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="/nominations/expect-early-career-teachers" >Do you expect any early career teachers to join your school this academic year?</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/nominations/confirmation?school-status=not-required" >Your information has been saved for this academic year (No ECT)</a></li>
                </ul>
                <li><a class="govuk-link" href="/nominations/induction-tutor/" >Nominate an induction tutor for your school*</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/nominations/expired-link?sign-in-link=" >This link has expired*</a></li>
                    <li><a class="govuk-link" href="/nominations/invalid-link?sign-in-link=" >This link provided is invalid*</a></li>
                </ul>
                <li><a class="govuk-link" href="/nominations/induction-tutor/full-name" >What’s the full name of your induction tutor?*</a></li>
                <li><a class="govuk-link" href="/nominations/induction-tutor/email-address" >What’s { name’s } email address?*</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/nominations/induction-tutor/email-already-in-use" >That email address is being used by another school</a></li>
                </ul>
                <li><a class="govuk-link" href="/nominations/induction-tutor/check-your-answers" >Check your answers*</a></li>

                <li><a class="govuk-link" href="/nominations/induction-tutor/confirmation" >Induction tutor nominated*</a></li>



            </ul>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Others (still to check)</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="/guidance_1" >Guidance: Induction training and support for new teachers</a></li>
                <li><a class="govuk-link" href="/sign-out" >Sign out</a></li>
                <li><a class="govuk-link" href="/pseudo-email-training-provider-invite" >Training provider invite</a></li>
                <li><a class="govuk-link" href="/teacher-or-mentors/cip-validation/email-sign-in-ect-mentor" >Link to sign in ECT start</a></li>
                <li><a class="govuk-link" href="/teacher-or-mentors/cip-validation/pseudo-email-sign-in-ect" >Link to sign in</a></li>
            </ul>



            {% endset -%}




            {% set ectHtml %}

            <h3 class="govuk-heading-m">Nominated as an induction tutor</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="/emails/induction-nomination" >(Email) - Sign in to manage training for early career teachers*</a></li>
                <li><a class="govuk-link" href="/choose-study-materials" >Choose accredited study materials for your early career teachers</a></li>
            </ul>






            <!-- ////////////////////////////////// -->

            <h3 class="govuk-heading-m">Choose programme</h3>
            <p>What an induction tutor sees after first sign in, or if they have not yet chosen an induction programme. <span class="miro-link"><a href="https://miro.com/app/board/o9J_ldVNkCY=/?moveToWidget=3074457355290069818&cot=14">User journey on Miro</a></span></p>
            <ul class="govuk-list govuk-list--bullet">
                <!-- <li><a class="govuk-link" href="/schools/induction-programme-info" >Do you know how you want to run your 2021/22 induction for early career teachers?</a></li>
                <li><a class="govuk-link" href="/schools/induction-programme-info?eligible-funding=No" >Do you know how you want to run your 2021/22 induction for early career teachers? (Not eligible for funding)</a></li> -->
                <li><a class="govuk-link" href="/schools/choose-induction-programme?eligible-funding=" >How do you want to run your training in 2021 to 2022?</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/schools/choose-induction-programme?eligible-funding=No" >How do you want to run your training in 2021 to 2022? (No funding)</a></li>
                </ul>

                <li><a class="govuk-link" href="/schools/confirm-induction-programme" >Confirm your induction programme</a></li>
                <li><a class="govuk-link" href="/schools/provision-confirmed" >Your choice has been saved for 2021/22</a></li>
            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p>// End of sign up journey for schools and choice of induction programme. //</p>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

            <!-- ////////////////////////////////// -->

            <h2 class="govuk-heading-l">Induction tutor/school management </h2>
            <p>All schools on sign in land at the Manage your training page, which has different functionality depending on induction programme chosen below.</p>
            <h3 class="govuk-heading-m">Core induction programme (CIP)</h3>
            <p>When a school is delivering their own using DfE accredited materials. <span class="miro-link"><a href="https://miro.com/app/board/o9J_ldVNkCY=/?moveToWidget=3074457355308879313&cot=14">User journey on Miro</a></span></p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                <li><a class="govuk-link" href="/schools/manage-your-training?inductionProgramme=CIP" >Manage your training</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/schools/materials/?inductionProgramme=CIP" >Do you know which accredited materials you want to use?</a></li>
                    <li><a class="govuk-link" href="/schools/materials/which?inductionProgramme=CIP" >Which training materials do you want this cohort to use?</a></li>
                    <li><a class="govuk-link" href="/schools/materials/confirmation?inductionProgramme=CIP" >Training materials confirmed</a></li>
                    <li><a class="govuk-link" href="/schools/materials/your-accredited-materials?inductionProgramme=CIP" >Your accredited materials</a></li>
                </ul>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a class="govuk-link" href="/schools/programme-choice?inductionProgramme=CIP" >Choose your induction programme</a></li>
                </ul>
                <!-- No longer needed -->
                <!-- <li><a class="govuk-link" href="/school-signed-in/cip/cip-cohort-detail" >2021/22 cohort: use DfE accredited materials</a></li> -->
                <!-- <li><a class="govuk-link" href="/school-signed-in/fip/fip-cohort-detail" >2021/2022 cohort: use a training provider</a></li> -->
            </ul>



            <h3 class="govuk-heading-m">Full induction programme (FIP)</h3>
            <p>When a school is using a training provider funded by DfE. <br /><span class="miro-link"><a href="https://miro.com/app/board/o9J_ldVNkCY=/?moveToWidget=3074457355306758748&cot=14">User journey on Miro</a></span></p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                <li><a class="govuk-link" href="/schools/manage-your-training?inductionProgramme=FIP" >Manage your training</a></li>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a class="govuk-link" href="/schools/sign-up-to-training-provider" >Signing up with a training provider</a></li>
                    <li><a class="govuk-link" href="/schools/programme-choice?inductionProgramme=FIP" >Choose your induction programme</a></li>
                    <li><a class="govuk-link" href="/schools/report/incorrect-signup?inductionProgramme=FIP" >Report that your school has been signed up incorrectly</a></li>
                    <li><a class="govuk-link" href="/schools/report/submitted?inductionProgramme=FIP" >Your report has been submitted</a></li>
                </ul>
                <p>Notified via email of a new partnership. <span class="miro-link"><a href="https://miro.com/app/board/o9J_ldVNkCY=/?moveToWidget=3074457354439630103&cot=14">User journey on Miro</a></span></p>
                <li><a class="govuk-link" href="/emails/provider-confirmed?inductionProgramme=FIP" >Provider confirmed (email)</a></li>

            </ul>

            <h3 class="govuk-heading-m">Deliver your own (DYO)</h3>
            <p>When a school designs and deliver their own programme based on the early career framework (ECF).</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">
                <li><a class="govuk-link" href="/schools/manage-your-training?inductionProgramme=DYO" >Manage your training</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/schools/programme-choice?inductionProgramme=DYO" >Choose your induction programme</a></li>
                </ul>
            </ul>


            <h3 class="govuk-heading-m">Not expecting any ECT (noECTs)</h3>
            <p>When a school is not expecting to have any ECTs but has an induction tutor.</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">
                <li><a class="govuk-link" href="/schools/manage-your-training?inductionProgramme=noECTs" >Manage your training</a></li>
            </ul>


            {% endset -%}

            {% set mentorHtml %}

                <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Manage ECT and mentors</h2>

                {% include "includes/listings/manage-ect-mentor.html" %}
                {% include "includes/listings/transfer-out.html" %}
                {% include "includes/listings/remove-ect-mentor.html" %}
                {% include "includes/listings/add-ect.html" %}
                {% include "includes/listings/assign-mentor.html" %}
                {% include "includes/listings/add-mentor.html" %}
                {% include "includes/listings/add-sit-mentor.html" %}
                {% include "includes/listings/add-transfer.html" %}
                {% include "includes/listings/validation.html" %}
                <h2 class="govuk-heading-l">Orphaned pages</h2>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a class="govuk-link" href="/schools/participants/what-each-person-does">Check what each person needs to do in the early career teacher training programme</a></li>
                </ul>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">
                    <li><a class="govuk-link" href="/schools/participants/add/existing-mentor" >Do you want to add a mentor from another cohort? (Not in use)</a></li>
                    <li><a class="govuk-link" href="/schools/participants/add/which-mentor" >Which mentor do you want to add to the 2021 cohort? (Not in use)</a></li>
                </ul>

            {% endset -%}

            {% set nottrainingHtml %}

            <h2 class="govuk-heading-l">Training provider signed in</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="/lead-provider/cohort-listing" >Cohorts</a></li>
                <li><a class="govuk-link" href="/lead-provider/dashboard" >Lorem Ipsum Education Ltd.</a></li>
                <li><a class="govuk-link" href="/lead-provider/find-and-add-schools-confirm" >Add partnerships with these schools</a></li>
                <li><a class="govuk-link" href="/lead-provider/find-and-add-schools-results" >Search results</a></li>
                <li><a class="govuk-link" href="/lead-provider/find-and-add-schools-success" >You have added partnerships with schools</a></li>
                <li><a class="govuk-link" href="/lead-provider/find-and-add-schools" >Find and add schools</a></li>
                <li><a class="govuk-link" href="/lead-provider/school-detail-zero" >Vale Valley Primary School</a></li>
                <li><a class="govuk-link" href="/lead-provider/school-detail" >Abacus Primary School</a></li>
                <li><a class="govuk-link" href="/lead-provider/your-schools" >Your schools (2021)</a></li>
                <li><a class="govuk-link" href="/lead-provider/school-listing-2022" >Your schools (2022)</a></li>
            </ul>


            <h2 class="govuk-heading-l">Support / Admin</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="/support/search">Search</a></li>
                <li><a class="govuk-link" href="/support/schools">Schools</a></li>
                <li><a class="govuk-link" href="/support/participants">Participants</a></li>
                <li><a class="govuk-link" href="/support/suppliers">Suppliers</a></li>
                <li><a class="govuk-link" href="/support/administrators">Schools</a></li>



                <li><a class="govuk-link" href="/support/schools/SC4/overview">School overview</a></li>
                <li><a class="govuk-link" href="/support/schools/SC4/participants">School participants</a></li>
                <li><a class="govuk-link" href="/support/schools/SC4/cohorts">School cohorts</a></li>

                <li><a class="govuk-link" href="/support/schools/SC4/induction-coordinators/new">New induction tutor for {SCHOOL NAME}</a></li>
                <li><a class="govuk-link" href="/support/schools/SC4/induction-coordinators/replace-or-update-induction-tutor">Are you replacing an induction tutor or updating their details?</a></li>


                <li><a class="govuk-link" href="/support/schools/change-lead-provider/why-are-you-changing">School cohorts</a></li>
                <li><a class="govuk-link" href="/support/schools/change-lead-provider/multiple-providers">Which lead provider are you changing?</a></li>
                <li><a class="govuk-link" href="/support/schools/change-lead-provider/switching-guidance">Check you have the information you need to make this change</a></li>
                <li><a class="govuk-link" href="/support/schools/change-lead-provider/end-partnership">Have you confirmed that Ambition Institute knows the partnership is ending?</a></li>
                <li><a class="govuk-link" href="/support/schools/change-lead-provider/declarations">Have you confirmed that Ambition Institute has submitted all relevant declarations?</a></li>
                <li><a class="govuk-link" href="/support/schools/change-lead-provider/new-partnership">Which lead provider does the school want to change to?</a></li>
                <li><a class="govuk-link" href="/support/schools/change-lead-provider/who">Will all participants in the 2021 to 2022 cohort be moving to undefined?</a></li>
                <li><a class="govuk-link" href="/support/schools/change-lead-provider/tell-us-who">Who will be switching to {NEW PROVIDER}?</a></li>
                <li><a class="govuk-link" href="/support/schools/change-lead-provider/check">Check your answers and confirm</a></li>
                <li><a class="govuk-link" href="/support/schools/change-lead-provider/confirmation">The lead provider has been changed</a></li>
                <li><a class="govuk-link" href="/support/schools/change-lead-provider/why-are-you-changing">School cohorts</a></li>


                <li><a class="govuk-link" href="/support/participants/ME1/">School cohorts</a></li>
                <li><a class="govuk-link" href="/support/participants/ME1/details">Participant details</a></li>
                <li><a class="govuk-link" href="/support/participants/ME1/remove">School cohorts</a></li>



            </ul>

            {% endset -%}


            <!-- Tabs -->
            {{ govukTabs({
                items: [

                    { label: "Access", id: "checking", panel: { html: checkingHtml } },
                    { label: "Programme", id: "ECT", panel: { html: ectHtml } },
                    { label: "Participants", id: "mentors", panel: { html: mentorHtml } },
                    { label: "Provider/Support", id: "not-training", panel: { html: nottrainingHtml } }

                ]
            }) }}

            <p><a href="data">Data been stored as part of current session</a></p>

    </div>
</div>

{% endblock %}
