{% extends "layout-target.html" %}
{% set serviceName = "Defra account" %}

{% set title = "Select your address" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data['checking'] %}
      <form action="check-your-answers?checking=" method="post" class="form">
    {% else %}
      <form action="task-list" method="post" class="form">
    {% endif %}

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              {{ title }}
            </h1>
          </legend>

          <p class="govuk-body">
            3 addresses found for Clifton House and SW19 5JA. <a href="" class="govuk-link">Change</a>
          </p>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="defraIdIndividualAddress" name="defraIdIndividualAddress" type="radio" value="1 BAILEY HOUSE, BAILEY ROAD, BS2 1PP">
              <label class="govuk-label govuk-radios__label" for="defraIdIndividualAddress">
                1 Bailey House, Bailey Road, BS2 1PP
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="defraIdIndividualAddress-2" name="defraIdIndividualAddress" type="radio" value="2 BAILEY HOUSE, BAILEY ROAD, BS2 1PP">
              <label class="govuk-label govuk-radios__label" for="defraIdIndividualAddress-2">
                2 Bailey House, Bailey Road, BS2 1PP
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="defraIdIndividualAddress-3" name="defraIdIndividualAddress" type="radio" value="3 BAILEY HOUSE, BAILEY ROAD, BS2 1PP">
              <label class="govuk-label govuk-radios__label" for="defraIdIndividualAddress-3">
                3 Bailey House, Bailey Road, BS2 1PP
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="defraIdIndividualAddress-4" name="defraIdIndividualAddress" type="radio" value="3a BAILEY HOUSE, BAILEY ROAD, BS2 1PP">
              <label class="govuk-label govuk-radios__label" for="defraIdIndividualAddress-4">
                3a Bailey House, Bailey Road, BS2 1PP
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Add this address
      </button>

    </form>


  </div>
</div>

{% endblock %}
