{% extends "layout-target.html" %}

{% set serviceName = "Defra account" %}

{% set title = "What is your name?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{ title }}</h1>

    <form method="post" action="task-list">

      {{ govukInput({
        label: {
          text: "First or given name"
        },
        classes: "govuk-!-width-three-quarters",
        id: "defaultFirstName",
        name: "defaultFirstName",
        value: data.defaultFirstName
      }) }}

      {{ govukInput({
        label: {
          text: "Surname or family name"
        },
        classes: "govuk-!-width-three-quarters",
        id: "defaultSurname",
        name: "defaultSurname",
        value: data.defaultSurname
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
