{% extends "layout-target.html" %}

{% set serviceName = "Defra account" %}

{% if (data['orgType'] == "individual") or (data['orgType'] == "sole-trader") %}
  {% set title = "Your information" %}
{% else %}
  {% set title = "About the organisation you represent" %}
{% endif %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{ title }}</h1>
    <p>
      If you sign out before you complete everything, we will save your answers for <strong>3 days</strong> so that you can return and continue.
    </p>

    <ol class="app-task-list">

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span>Your account
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <a class="app-task-list__task-name" href="change-organisation-type?defraIdType=individual">
              Your type of account
            </a>
            <strong class="govuk-tag app-task-list__task-completed">
              Completed
            </strong>
          </li>
        </ul>
      </li>

      {% if (data['orgType'] == "uk") or (data['orgType'] == "charity") or (data['orgType'] == "non-uk") %}

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span>About your organisation
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="change-organisation-type?defraIdType=individual">
                Your organisation’s details
              </a>
              <strong class="govuk-tag app-task-list__task-completed">
                Completed
              </strong>
            </li>

            <!-- charities do not see org contact details -->
            {% if (data['orgType'] != "charity") and (data['orgType'] != "non-uk") %}
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="change-organisation-type?defraIdType=individual">
                  Your organisation’s contact details
                </a>
                <strong class="govuk-tag app-task-list__task-completed">
                  Completed
                </strong>
              </li>
            {% endif %}

            <!-- additional addresses -->
            {% if data['askAboutExtraAddresses'] == "yes" %}
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="change-organisation-type?defraIdType=individual">
                  Added addresses
                </a>
                <strong class="govuk-tag app-task-list__task-completed">
                  Completed
                </strong>
              </li>
            {% endif %}
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span>About you
          </h2>
        </li>

      {% else %}
      <!-- individual -->

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span>About you
          </h2>
        </li>

      {% endif %}

        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <a class="app-task-list__task-name" href="personal-name">
              Your name
            </a>
            {% if data['defraIdFirstName'] %}
              <strong class="govuk-tag app-task-list__task-completed">
                Completed
              </strong>
            {% endif %}
          </li>

          <li class="app-task-list__item">
            <a class="app-task-list__task-name" href="individual-contact">
              Your contact details
            </a>
            {% if data['defraIdPersonalPhone'] %}
              <strong class="govuk-tag app-task-list__task-completed">
                Completed
              </strong>
            {% endif %}
          </li>

          {% if data['orgType'] == "sole-trader" %}
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="sole-trader-personal-name">
                Your business details
              </a>
              {% if data['companyName'] %}
                <strong class="govuk-tag app-task-list__task-completed">
                  Completed
                </strong>
              {% endif %}
            </li>
          {% endif %}

          {% if data['orgType'] == "individual" %}
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="individual-address-postcode">
                Your address
              </a>
              {% if data['defraIdIndividualAddress'] %}
                <strong class="govuk-tag app-task-list__task-completed">
                  Completed
                </strong>
              {% endif %}
            </li>
          {% endif %}

          <li class="app-task-list__item">
            <a class="app-task-list__task-name" href="individual-security">
              Your security word
            </a>
            {% if data['defraIdSecurityWord'] %}
              <strong class="govuk-tag app-task-list__task-completed">
                Completed
              </strong>
            {% endif %}
          </li>
        </ul>

      <li>
        <ul class="app-task-list__items">
          <li>

            {% if data['defraIdFirstName'] %}

              <!-- AND -->
              {% if data['defraIdPersonalPhone'] %}

                <!-- AND -->
                {% if data['defraIdIndividualAddress'] %}

                  <!-- AND -->
                  {% if data['defraIdSecurityWord'] %}

                    <!-- done -->
                    <form action="check-your-answers" method="post">

                  {% else %}

                    <!-- next is security question -->

                    <form action="individual-security" method="post">

                  {% endif %}

                  <!-- next is individual address -->

                  <form action="individual-address-postcode" method="post">

                {% else %}

                    <!-- name complete, next is phone number -->
                    <form action="check-your-answers" method="post">

                {% endif %}



              {% else %}
                <!-- name complete, next is phone number -->
                <form action="personal-contact" method="post">

              {% endif %}


            {% endif %}

            {{ govukButton({
                text: "Check your answers"
            }) }}

          </form>
          </li>
        </ul>
      </li>
    </ol>

  </div>
</div>

{% endblock %}
