{% extends "layout.html" %}

{% set title = "Are these the correct registered charity details?" %}

{% block header %}
  {% include "includes/logged-out-header.html" %}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds app-column-minimum">

    <h1 class="govuk-heading-xl">{{title}}</h1>

    <form action="charity-contact" method="post">
      <p class="govuk-body">We need to know the registered charity details for verification purposes. It is typically the public head office.</p>

      <h2 class="govuk-heading-m">Acme Charity</h2>


      <p class="govuk-body">12 Giving Avenue, Cambridge, United Kingdom, CB2 0AA</p>

      <p class="govuk-body">Charity number {{ data['britishCharityNum'] }}.  <a href="charity-name" class="govuk-link">Enter a different number</a>.</p>

      {{ govukDetails({
        summaryText: "That is not our registered public address",
        html: '<p class="govuk-body">We must use the address that is registered with the Charity Commission. If your address has changed then you must <a href="https://www.gov.uk/change-your-charitys-details" target="_blank">tell the Charity Commission (opens in a new tab)</a>.</p>
        <p class="govuk-body">Once your details have been updated by the Charity Commission you can return and continue your service registration providing it is within 3 days of your last login.</p>'
      }) }}

      {{ govukButton({
        text: "Confirm"
      }) }}

    </form>




  </div>
</div>

{% endblock %}
