{% extends "layout.html" %}

{% set title = "What is the charity called?" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data['flowType'] == "check" %}
      <form method="post" action="check-your-answers">
    {% else %}
      <form method="post" action="charity-number">
    {% endif %}

        {{ govukInput({
          label: {
            text: title,
            classes: "govuk-label--xl",
            isPageHeading: true
          },
          classes: "govuk-input--width-20",
          id: "charityName",
          name: "charityName",
          value: data['charityName']
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

  </div>
</div>

{% endblock %}
