{% extends "layout.html" %}

{% set title = "Sorry, this organisation already exists" %}

{% block header %}
  {% include "includes/logged-out-header.html" %}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{title}}</h1>
    <p class="govuk-body">The organisation that you are trying to register already exists and cannot be registered again.</p>
    <p class="govuk-body">To work on behalf of [org name] please contact the account admin of this organisation or call the [service name] service on [service number] to resolve this issue.</p>


  </div>
</div>


{% endblock %}
