{% extends "layout.html" %}

{% set title = "Create a password" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form method="post" id="login" action="make-sign-in-easier">
        <h1 class="govuk-heading-xl">{{title}}</h1>

        <p class="govuk-body-l">You will use this every time you sign in.</p>
        <p>Your password must:</p>
        <ul id="1" class="govuk-list govuk-list--bullet">
          <li>be between 8 and 12 characters</li>
        </ul>
        <ul id="2" class="govuk-list govuk-list--bullet">
          <li>have at least one number (0 to 9) and one letter (a to z)</li>
        </ul>
        <ul id="3" class="govuk-list govuk-list--bullet">
          <li>not include any special characters</li>
        </ul>
        <ul id="4" class="govuk-list govuk-list--bullet">
          <li>not include the word 'password'</li>
        </ul>

        {{ govukInput({
          label: {
            text: title,
            classes: "govuk-visually-hidden"
          },

          id: "password",
          name: "password"


        }) }}


        {{ govukInput({
          label: {
            text: "Confirm your password"
          },
          
          id: "password",
          name: "password"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

		</form>

  </div>
</div>

{% endblock %}
