.govuk-table__header--column-half {
  width: 50%;
}

.govuk-table__header--column-third {
  width: 33.333%;
}

.govuk-table__header--column-quarter {
  width: 25%;
}

.govuk-table__header--column-fifth {
  width: 20%;
}

.govuk-table__header--column-sixth {
  width: 16.666%;
}

.govuk-table__header--column-eighth {
  width: 12.5%;
}

.govuk-list--indent {
  padding-left: 20px;
}

.govuk-heading-xl--no-margin {
  margin-bottom: 20px;
}
