@media all and (max-width: 37em) {

  /*  table,*/
    tr,
    td,
    th {
    display: block;
  }

//Cresting a striped effect across rows

    tr {
    padding: 0.7em 2vw;
    }

    tr:nth-child(even) {
    background-color: govuk-colour("grey-4");
    }

    th {
      background-color: govuk-colour("grey-4");
    }

    //Forcing the column width on small screens to be full width

    .column-full {
      width: 100% !important;
    }

  //Dispalying the before content on small screens

  td::before {
    display: block !important;
  }

  th::before {
    display: inline !important;
  }

  .visibility{
    visibility: visible !important;
  }

  th::before {
      content: "Sort by: ";
  }

}



//Forcing aligment

td,
th {
vertical-align: text-top;
}

td::before {
font-weight: bold;
}

th::before {
font-weight: normal;
}

td::before,
th::before {
  display: none;
}



//Column header style
  .colHeader {
      color: #005ea5;
      cursor: pointer;
      text-decoration: underline;
  }

.visibility{
  visibility: hidden;
}
