/*** CSS rowcounting ***/
table { counter-reset: rowcount; }
tr { counter-increment: rowcount; counter-reset: cellcount; }
td, th { counter-increment: cellcount; }

/* Show/ say row number */
#team1 tr:before {
  content: "Row "counter(rowcount)". ";
}



/*** Small viewports ***/
//@media all and (max-width: 40.0625em) {

@include govuk-media-query($until: tablet) {

      /*  Turn table in blocks */
      tr,
      th,
      td {
      display: block;
      }

      .td-header {
        display: block !important;
        font-weight: bold;
      }

      //Create a striped effect across rows
      tr {
      padding: 0.7em 0;
      }

      tr:nth-child(even) {
      background-color: govuk-colour("grey-4");
      }

      tr::before {
        @extend .govuk-body;
        display: block !important;
        color: govuk-colour("grey-1");
      }

      //Forcing the header column width on small screens to be full width

      th {
        background-color: govuk-colour("grey-4");
        display: none;
      }

      #team1 th {
        display: block !important;
      }

      .column-full {
        width: auto !important;
      }

}

/**** Normal size viewport ****/

//Forcing cell aligment

td,
th {
  vertical-align: text-top;
}

//Visibly hiding certain fields on desktop only
.visually-hidden--desktop {
    @include govuk-media-query($from: tablet) {
    @include govuk-visually-hidden();
  }
}

#team1 tr:before {
  display: none;
}




//Sortable table headers / buttons

.sortable-button[role="button"]:hover, .sortable-button[role="button"]:focus {
    background-color: govuk-colour("grey-4");
}

.sortable th i {
    font-size: 1.1em;
    padding-left: 5px;
    width: 10px;
    color: govuk-colour("grey-1");
}

.arrow:after {
    font-weight: bold;
    font-style: normal;
}

.arrow:after {
    content: "\2195";
}

.arrow-down:after {
    content: "\2193";
}

.arrow-up:after {
    content: "\2191";
}
