/*** CSS rowcounting ***/
table { counter-reset: rowcount; }
tr { counter-increment: rowcount; counter-reset: cellcount; }
td, th { counter-increment: cellcount; }

/* Show/ say row number */
tr:before {
  content: "Row "counter(rowcount)". ";
}



/*** Small viewports ***/
//@media all and (max-width: 40.0625em) {

@include govuk-media-query($until: tablet) {

      /*  Turn table in blocks */
      tr,
      th,
      td {
      display: block;
      }

      //Setting tr::before content style

      tr::before {
        @extend .govuk-body;
        display: block !important;
        color: govuk-colour("grey-1");
        margin-bottom: 0px;
      }

      //Displaying td::before content on small screens and setting it to be the td data-title attribute
      td::before {
        display: block !important;
        content: attr(data-title);
        font-weight: bold;
      }

      // Hides the action header when not needed for sorting on mobile
      .hide-cell {
        display: none;
      }

      //Create a striped effect across rows
      tr {
      padding: 0.7em 0;
      }

      tr:nth-child(even) {
      background-color: govuk-colour("grey-4");
      }

      th {
        background-color: govuk-colour("grey-4");
      }

      //Forcing the column width on small screens to be full width
      .column-full {
        width: auto !important;
      }


}

/**** Normal size viewport ****/

//Forcing cell aligment

td,
th {
  vertical-align: text-top;
  padding-left: 0.5em !important;

}

// Hiding ::before content in larger viewports
th::before,
tr::before,
td::before {
  display: none;
}

//Column header style
.colHeader {
    color: #005ea5;
    cursor: pointer;
  }

.colHeader--nounderline {
  text-decoration: none;
}

//Sortable table headers / buttons

.sortable-button[role="button"]:hover, .sortable-button[role="button"]:focus {
    background-color: govuk-colour("grey-3");
}

.sortable th i {
    font-size: 1.1em;
    padding-left: 5px;
    width: 10px;
    color: govuk-colour("grey-1");
}

.arrow:after {
    font-weight: bold;
    font-style: normal;
}

.arrow:after {
    content: "\2195";
}

.arrow-down:after {
    content: "\2193";
}

.arrow-up:after {
    content: "\2191";
}

//Visibly hiding certain fields on desktop only
.visually-hidden--desktop {
    @include govuk-media-query($from: tablet) {
    @include govuk-visually-hidden();
  }
}
