{% extends "layout_email.html" %}

{% set serviceName = "{Service Name}" %}

{% set title = "You have been invited to access {SERVICE NAME}" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    

    <p class="govuk-body">Hello,</p>
    <p class="govuk-body">You have been invited to access {SERVICE NAME} on behalf of {THIRD PARTY NAME}.</p>
    
    <p class="govuk-body">To access this service, you need to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>sign in using your {THIRD PARTY NAME} email address</li>
      <li>accept Defra account terms and conditions</li>
      <li>complete a short registration process telling us your name</li>
    </ul>

    <div class="govuk-inset-text">
      <p class="govuk-body"><a href="/b2c/thirdParty/?userType=TPmemberInvite">Start your secure registration process on GOV.UK</a></p>
    </div>

    <p class="govuk-body">You must complete the registration within 30 days, or we will delete your information.</p>
    <p class="govuk-body">View our <a href="#">privacy notice</a></p>

    

  </div>
</div>

{% endblock %}
