
{% extends "layout.html" %}
{% set showBackLink = true %}
{% set serviceName = "" %}

{% if data['status'] == "review" %}
	{% if data['registrationAccountType'] == "Individual" %}
		{% set pageHeading = "What’s your postcode?" %}
	{% else %}
		{% set pageHeading = "What’s your postcode?" %}
	{% endif %}
		
{% else %}
	
	{% if data['registrationAccountType'] == "Individual" %}
		{% set pageHeading = "What is your address?" %}
	{% else %}
		{% set pageHeading = "What is your business address?" %}
	{% endif %}

	
{% endif %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">        

		{% if data['status'] == "review" %}
        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
		{% else %}
		<h1 class="govuk-heading-l">{{pageHeading}}</h1>
		{% endif %}

        <form action="/register/address/select-address" method="post">


			{% if data['status'] == "review" %}

				{{ govukInput({
					label: { text: pageHeading, classes: "govuk-visually-hidden" },					
					classes: "govuk-input--width-10"      
				} | decorateFormAttributes('registrationIndividualPostcode')) }}

			{% else %}

				{{ govukInput({
					label: { text: "Enter your postcode", classes: "govuk-label--s"
				},
					hint: {
						text: "If you cannot find your address or if you need to add a non-UK address, you can add it manually below."
					},
					classes: "govuk-input--width-10"                
				} | decorateFormAttributes('registrationIndividualPostcode')) }}

			{% endif %}
            
            
            {{ govukButton({
                text: "Find address"
            }) }}
            

            <p class="govuk-body"><a class="govuk-link" href="/register/address/add-address-manual">Enter your address manually</a></p>

        </form>

  </div>
  <div class="govuk-grid-column-one-third review">      
    <ul class="govuk-list govuk-body-s govuk-!-text-align-right">                
        {% if data['status'] == "review" %}
            <li><a href="/register/address/postcode?status=" class="govuk-link govuk-link--no-visited-state">Current page</a></li>        
        {% else %}
            <li><a href="/register/address/postcode?status=review" class="govuk-link govuk-link--no-visited-state">Suggested page changes</a></li>        
        {% endif %}
    </ul>          
</div>  
</div>

{% endblock %}
