
{% extends "layout.html" %}
{% set showBackLink = true %}
{% set serviceName = "" %}

{% set pageHeading = "What is your address?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">        

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <form action="/register/address/select-address" method="post">

        <!-- <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            Building number or name
            <span class="govuk-hint">
              For example, Flat 20A
             </span>
          </label>
          <input class="govuk-input govuk-input--width-20" id="building-number" name="building-number" type="text">
        </div> -->

            {{ govukInput({
                label: { text: "Enter your postcode", classes: "govuk-label--s"
             },
                hint: {
                    text: "If you cannot find your address or if you need to add a non-UK address, you can add it manually below."
                },
                classes: "govuk-input--width-10"                
            } | decorateFormAttributes('postcode')) }}
            
            {{ govukButton({
                text: "Find address"
            }) }}
            

            <p class="govuk-body"><a class="govuk-link" href="add-address-manual">Enter the address manually</a></p>

        </form>

  </div>
</div>

{% endblock %}
