{% extends "layout.html" %}
{% set showBackLink = true %}
{% set serviceName = "" %}

{% set pageHeading = "Select your address" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">        

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <p class="govuk-body">Postcode: <span class="govuk-!-font-weight-bold">{{ data['postcode'] }}</span> <a href="" class="govuk-link">Change</a></p>
        <!-- <p class="govuk-body">3 addresses found for Clifton House and SW19 5JA. <a href="" class="govuk-link">Change</a></p> -->

        <form action="/register/task-list-page-about-you-details?individual-address=completed" method="post" class="form">

            {{ govukSelect({                
                fieldset: {
                    legend: { text: "Select the address", isPageHeading: false, classes: "govuk-visually-hidden"  }
                },
                items: [
                    { value: "Not selected", text: "3 addresses found", checked: checked("companySize", "Single") },    
                    { value: "Clifton House, Clifton Road, LONDON SW19 5JA", text: "Clifton House, Clifton Road, LONDON SW19 5JA", checked: checked("companySize", "Single") },
                    { value: "2a, Clifton House, Clifton Road, LONDON SW19 5JA", text: "2a, Clifton House, Clifton Road, LONDON SW19 5JA", checked: checked("companySize", "20") },
                    { value: "2b, Clifton House, Clifton Road, LONDON SW19 5JA", text: "2b, Clifton House, Clifton Road, LONDON SW19 5JA", checked: checked("companySize", "45") }
                ]
            } | decorateFormAttributes('address')) }}          

            <p><a href="/register/address/manual-address" class="govuk-link">I cannot find the address in the list</a></p>

            {{ govukButton({
                text: "Continue"
            }) }}
      
        </form>
    </div>
</div>

{% endblock %}
