{% extends "layout-signed-out.html" %}

{% set serviceName = "Vets visits" %}

{% set title = "Enter a new password" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{ title }}</h1>



<p>Your new password must:</p>
<ul class="govuk-list govuk-list--bullet">
  <li class="govuk-list-item">Contain at least 8 characters</li>
  <li class="govuk-list-item">Contain at least 1 upper case letter</li>
  <li>Contain at least 1 special character</li>
  <li>Not be one of your previous 3 passwords</li>
</ul>







    <form action="reset-complete" method="post">


      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="password">
          Password
        </label>

        <div class="moj-password-reveal"><input class="govuk-input govuk-input--width-20" id="password" name="password"
            type="password" value="1234ABC!" data-module="moj-password-reveal"><button type="button"
            class="govuk-button govuk-button--secondary moj-password-reveal__button">Show <span
              class="govuk-visually-hidden">password</span></button></div>

              <label class="govuk-label govuk-label--m" for="password">
                Re enter password
              </label>

              <div class="moj-password-reveal"><input class="govuk-input govuk-input--width-20" id="password" name="password"
                  type="password" value="1234ABC!" data-module="moj-password-reveal"><button type="button"
                  class="govuk-button govuk-button--secondary moj-password-reveal__button">Show <span
                    class="govuk-visually-hidden">password</span></button></div>





              {{ govukButton({
                text: "Continue"
                }) }}
      </div>










    </form>


  </div>
</div>
{% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}
    <script type="text/javascript">
      MOJFrontend.initAll();
    </script>

    {% endblock %}
  {% endblock %}

{% endblock %}
