{% extends "/layouts/main.html" %}

{% set serviceName = "Government Gateway" %}

{% set title = "Create a password" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{ title }}</h1>

    <form method="post" action="recovery-word-1">

      <p>Your password must be 10 or more characters. You can use a mixture of letters, numbers and symbols.</p>

      {{ govukInput({
        label: {
          text: "Password"
        },
        classes: "govuk-!-width-three-quarters",

        id: "GovGatePassword",
        name: "GovGatePassword"


      }) }}

      {{ govukInput({
        label: {
          text: "Confirm your password"
        },
        classes: "govuk-!-width-three-quarters",

        id: "GovGatePasswordConfirm",
        name: "GovGatePasswordConfirm"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

		</form>

    {% include "includes/get-help.html" %}


  </div>
</div>

{% endblock %}
