{% extends "layout.html" %}

{% set title = "You have ended your registration" %}

{% block header %}
  {% include "includes/logged-out-header.html" %}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
          titleText: title
    })
    }}


    <p class="govuk-body">You can <a href="/help#contacting-defra-services">contact the service</a> for advice on other ways to complete your task.</p>


    {{ govukButton({
      text: "Sign out",
      href: "/signed-out"
    }) }}



    </div>
  </div>




{% endblock %}
