{% extends "layout.html" %}

{% set title = "Are you sure you wish to end your registration?" %}

{% block header %}
  {% include "includes/logged-out-header.html" %}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form method="post" class="change" onsubmit="return myFunction()">

      <script>
          const form = document.querySelector('.change')

          function myFunction() {
            const checked = document.querySelector('[name="changeAccount"]:checked')
            const checkedValue = checked.value

            switch(checkedValue){
              case 'Yes':
              form.action = 'duplicate-company-no-consent-end'

              break;
              default:
              form.action = 'duplicate-company-error'
            }
            return true
          }
        </script>



        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "changeAccount",
          name: "changeAccount",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },

          items: [
            {
              value: "Yes",
              html: 'Yes'
            },
            {
              value: "No",
              html: 'No'
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}


      </form>
    </div>
  </div>




{% endblock %}
