{% extends "layout.html" %}

{% set title = "You cannot continue your registration" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
          titleText: title
    })
    }}

    <p class="govuk-body">You have chosen not to allow your details to be sent to the account administrator for [organisation name].</p>
    <p class="govuk-body">This means that your registration cannot continue.</p>
    <p class="govuk-body">You can contact [Service name] on [Consuming service phone number] for advice about other ways to complete your task.</p>


    {{ govukButton({
      text: "Sign out",
      href: "/signed-out"
    }) }}



    </div>
  </div>




{% endblock %}
