{% extends "layout.html" %}

{% set title = "Sorry, there is a problem with the service" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
    <p class="govuk-body">Contact the Rural Payments Agency</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <p class="govuk-body">
            Rural Payments Agency  <br>
            Telephone: 03000 200 301 <br>
            Monday to Friday, 8:30am to 5pm (except public holidays) <br>
            <a href="mailto:ruralpayments@defra.gov.uk?subject=feedback">ruralpayments@defra.gov.uk</a></p>
            <p class="govuk-body">Find out about <a href="https://www.gov.uk/call-charges" target=”_blank”>call charges</p>
          </div>
        </div>
      </div>

  </div>


{% endblock %}
