{% extends "layout.html" %}

{% set title = "Intermediaries" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-corp.html" %}
  {% include "includes/breadcrumb-three-level.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">{{title}}</h1>
    {{ govukButton({
      text: "Add intermediary",
      href: "#"
    }) }}
    {{ govukTable({
      caption: "Intermediaries",
      captionClasses: "govuk-visually-hidden",
      firstCellIsHeader: false,
      head: [
        {
          html: '<a class="govuk-link--no-visited-state" href="">Standard user</a>',
          format: 'column-third'
        },
        {
          html: '<a class="govuk-link--no-visited-state" href="">System role</a>',
          format: 'column-quarter'
        },
        {
          html: '<a class="govuk-link--no-visited-state" href="">Status</a>',
          format: 'column-quarter'
        },
        {
          html: '<span class="govuk-visually-hidden">Action</span>',
          format: 'column-sixth'
        }
      ],
      rows: [
        [
          {
            html: '<a href="services-on-team-member-agent" class="govuk-link--no-visited-state">Roy Wickes</a>
              <br><span class="govuk-body-s">C T Henderson and Co</span>'
          },
          {
            text: "Standard user"
          },
          {
            text: ""
          },
          {
            html: '<a class="govuk-link--no-visited-state" href="">Remove user</a>'
          }
        ],
        [
          {
            html: '<a href="#" class="govuk-link--no-visited-state">Jenny Lordes</a>
              <br><span class="govuk-body-s">C T Henderson and Co</span>'
          },
          {
            text: "Standard user"
          },
          {
            text: ""
          },
          {
            html: '<a class="govuk-link--no-visited-state" href="">Remove user</a>'
          }
        ]

      ]
    }) }}


  </div>
</div>

{% endblock %}
