{% extends "layout.html" %}

{% set title = "Intermediary" %}

{% block pageTitle %}
    Intermediary - [First name] [Surname] - GOV.UK
{% endblock %}

{% block beforeContent %}
<div id="profile">
  {% include "includes/account-nav-admin-corp.html" %}
  {% include "includes/breadcrumb-four-level-agent.html" %}
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Marcy Ponds
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">Email address:</span> Marcy.Ponds@agent.com<br>
      <span class="govuk-!-font-weight-bold">Telephone number:</span> 01179267473
    </p>
  </div>
  <div class="govuk-grid-column-one-half">
  <!--  <p class="govuk-body"><a href="" class="govuk-link--no-visited-state">Reset password</a></p>
  -->
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">Account:</span> Acme Org<br>
      <span class="govuk-!-font-weight-bold">Account role:</span> Standard user
    </p>
  </div>
  <div class="govuk-grid-column-one-half">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <br>

    {% set serviceLineName %}
      <span class="govuk-visually-hidden--desktop td-header">Service:</span> Comply with REACH IT
    {% endset %}

    {% set serviceRoleName %}
      <span class="govuk-visually-hidden--desktop td-header">Role:</span>REACH Manager
    {% endset %}


    {{ govukTable({
      caption: "Service access for Acme Org",
      captionClasses: "govuk-heading-l",
      firstCellIsHeader: false,
      head: [
        {
          html: 'Service',
          format: 'column-third column-full'

        },
        {
          html: 'Service Role',
          format: 'column-third column-full'

        },
        {
          html: '<span class="govuk-visually-hidden column-full">Action</span>',
          format: ''
        },
        {
          html: '<span class="govuk-visually-hidden column-full">Action</span>',
          format: ''
        }
      ],
      rows: [
      [
        {
          html: serviceLineName
        },
        {
          html: serviceRoleName
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Action:</span> <a href="#" class="govuk-link--no-visited-state">Change role <span class="govuk-visually-hidden">to [Service name]</span></a>'
        },
        {
          html: '<span class="govuk-visually-hidden--desktop td-header">Action:</span> <a href="#" class="govuk-link--no-visited-state">Remove access <span class="govuk-visually-hidden">to [Service name]</span></a>'
        }
      ]

      ]
    }) }}

  </div>
</div>

<div class="govuk-card__content">
  <h3 class="govuk-heading-m">Link to services</h3>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="/service-start-complete?serviceLine=Comply with REACH IT"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m">Comply with REACH IT</h3>
            <!--
            <p class="govuk-body">A short summary of the tasks you can complete with this service.
            </p>
          -->
          </div>
        </div>
    </div>

  </div>
</div>

{% endblock %}
