{% extends "layout.html" %}

{% set title = "Your security words has been reset" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Security word reset complete
      </h1>
    </div>

    <p class="govuk-body">Your security word and hint question have been reset.</p>
    <p class="govuk-body"> The new security word will be used to securely access your account if you need to contact us.</p>


      {{ govukButton({
        text: "Continue",
        href: "services-on-team-member-admin-account_onlyrep"
      }) }}

  </div>
</div>


{% endblock %}
