{% extends "layout.html" %}

{% set title = "Manage team access" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-corp.html" %}
  {% include "includes/breadcrumb-three-level.html" %}
{% endblock %}

{% block content %}

<!-- Hiding/ showing users according to the the number of team members and journet flow e.g. invited user or n+1 user -->

    {% if (data['numUsers'] == "1") or (data['numChildUsers'] == "1") %}
      {% set AdamUserCSS = "govuk-visually-hidden" %}
      {% set BarryUserCSS = "govuk-visually-hidden" %}
      {% set invitedUserCSS = "govuk-visually-hidden" %}
      {% set newUserCSS = "govuk-visually-hidden" %}
      {% set n1UserCSS = "govuk-visually-hidden" %}
    {% endif %}

    {% if (data['numUsers'] == "2") or (data['numChildUsers'] == "2") %}
    {% set AdamUserCSS = "govuk-visually-hidden" %}
    {% set BarryUserCSS = "govuk-visually-hidden" %}
    {% set invitedUserCSS = "" %}
    {% set newUserCSS = "" %}
    {% set n1UserCSS = "govuk-visually-hidden" %}
    {% endif %}

    {% if (data['numUsers'] == "3") or (data['numChildUsers'] == "3") %}
    {% set AdamUserCSS = "govuk-visually-hidden" %}
    {% set BarryUserCSS = "" %}
    {% set invitedUserCSS = "" %}
    {% set newUserCSS = "" %}
    {% set n1UserCSS = "govuk-visually-hidden" %}
    {% endif %}

    {% if (data['numUsers'] == "4") or (data['numChildUsers'] == "4") %}
    {% set AdamUserCSS = "" %}
    {% set BarryUserCSS = "" %}
    {% set invitedUserCSS = "govuk-visually-hidden" %}
    {% set newUserCSS = "" %}
    {% set n1UserCSS = "" %}
    {% endif %}


    {% if (data['numUsers'] == "5") or (data['numChildUsers'] == "5") %}
    {% set AdamUserCSS = "" %}
    {% set BarryUserCSS = "" %}
    {% set invitedUserCSS = "" %}
    {% set newUserCSS = "" %}
    {% set n1UserCSS = "" %}
    {% endif %}

    {% if (data['numUsers'] == "6") or (data['numChildUsers'] == "6") %}
      {% set AdamUserCSS = "" %}
      {% set BarryUserCSS = "" %}
      {% set invitedUserCSS = "" %}
      {% set newUserCSS = "" %}
      {% set n1UserCSS = "" %}
    {% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      {{title}}
    </h1>

    {{ govukButton({
      text: "Add a team member",
      href: "/manage/team-members/invite-user/add-user-details"
    }) }}

<!-- Setting Ann's urls -->
    {% set setAnnURL %}
      {% if data['numUsers'] == "1" %}
        services-on-team-member-admin-self-all-1?name=Ann Cooper
      {% else %}
        services-on-team-member-admin-self?name=Ann Cooper
      {% endif %}
    {% endset %}


    <table class="govuk-table {{ tableCSS }}">
      <caption class="govuk-table__caption govuk-visually-hidden">All team members</caption>
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-table__header--column-quarter column-full" scope="col">
          Team member
        </th>
        <th class="govuk-table__header govuk-table__header--column-third column-full" scope="col">
          Email address
        </th>
        <th class="govuk-table__header govuk-table__header--column-sixth column-full" scope="col">
          Account status
        </th>
      </tr>
      </thead>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
          <a class="govuk-link--no-visited-state" href="{{ setAnnURL }}">Ann Cooper (you)</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Email address:</span> Ann.Cooper@email.com
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Live
        </td>
      </tr>

        {% if data['removeUser'] == "yes" %}
      {% else %}
      <tr class="govuk-table__row {{ AdamUserCSS }}">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
          <a class="govuk-link--no-visited-state" href="services-on-team-member-standard?name=Adam Mastly">Adam Mastly</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Email address:</span> Adam.Mastly@email.com
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Live
        </td>
      </tr>
      {% endif %}

      <tr class="govuk-table__row {{ BarryUserCSS }}">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
          <a class="govuk-link--no-visited-state" href="services-on-team-member-admin?name=Barry Anders">Barry Anders</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Email address:</span> Barry.Anders@email.com
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Live
        </td>
      </tr>

    {% if (data['addUser'] == "yes") and (data['userType'] == "new") %}

        <tr class="govuk-table__row {{ newUserCSS }}">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
            <span class="govuk-body govuk-body--grey">Name to be confirmed</span>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Email address:</span> {{ data['inviteEmail'] }}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Invite email sent
          </td>
        </tr>

        {% else %}


        <tr class="govuk-table__row {{ invitedUserCSS }}">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
            <a class="govuk-link--no-visited-state" href="services-on-team-member-invited?name=Sara Chippers&userType=invited">Sara Chippers</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Email address:</span> Sara.Chippers@email.com
          </td>
          <td class="govuk-table__cell">
            {% if (data['userType'] == "invited") and (data['accountAccess'] == "yes") %}
            <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Live
            {% else %}
            <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Needs access
            {% endif %}
          </td>
        </tr>
        {% endif %}


  {% if data['verifiedUser'] == "no" %}
    {% else %}

      <tr class="govuk-table__row {{ n1UserCSS }}">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
          <a class="govuk-link--no-visited-state" href="services-on-team-member-verify?name=Tiegan Mole&userType=verified&parentService=yes">Tiegan Mole</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Email address:</span> Tiegan.Mole@email.com
        </td>
        <td class="govuk-table__cell">
          {% if not (data['verifiedUser'] == "no") and not (data['verifiedUser'] == "yes") %}
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span>  Request received
          {% endif %}

          {% if data['verifiedUser'] == "no" %}
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span>  Request declined
          {% endif %}

          {% if data['verifiedUser'] == "yes" %}
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Live
          {% endif %}

      {% endif %}



        </td>
      </tr>

    </table>




  </div>
</div>





{% endblock %}
