{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}
Claim funding for an annual health and welfare review
{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">



          <h1 class="govuk-heading-l">Check your answers before sending your application</h1>

          <!-- <h2 class="govuk-heading-m">Eligibility</h2> -->

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                BPS funding
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Livestock
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">More than 10 cattle</p>
                <p class="govuk-body">More than 50 sheep</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> date of birth</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Cattle type
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Beef</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                CPH number
              </dt>
              <dd class="govuk-summary-list__value">
                12/345/6789
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> licence type</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Your name
              </dt>
              <dd class="govuk-summary-list__value">
                Helen Oswald
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> previous application number</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Vet practice
              </dt>
              <dd class="govuk-summary-list__value">
                Castle Farm Vets
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> previous application number</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Contact preference
              </dt>
              <dd class="govuk-summary-list__value">
                email@hotmail.com
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> licence type</span>
                </a>
              </dd>
          </dl>


            </div>


          <h2 class="govuk-heading-m">Now send your application</h2>

          <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

          <form action="/form-handler" method="post" novalidate>

            <input type="hidden" name="answers-checked" value="true">

            <!-- <button class="govuk-button" data-module="govuk-button">
              Confirm and send
            </button> -->
            <a href="confirmation" role="button" draggable="false" class="govuk-button docs-creator" data-module="govuk-button">
              Confirm and send
            </a>


          </form>

        </div>







    <!-- {{ govukButton({
      text: "Continue",
      href: "check-answers"
    }) }} -->


{% endblock %}
