{% extends "layout.html" %}

{% set title = "This charity cannot be registered" %}

{% block header %}
  {% include "includes/logged-out-header.html" %}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{title}}</h1>
    <p class="govuk-body">The Charties Commission does not have address details for this charity. We need to know the registered charity address for verification purposes.</p>
    <p class="govuk-body">You must <a href="https://www.gov.uk/change-your-charitys-details" target="_blank">tell the Charity Commission (opens in a new tab)</a> your address details.</p>
    <p class="govuk-body">Once your details have been updated by the Charity Commission you can return and continue your service registration providing it is within 3 days of your last login.</p>
    {{ govukButton({
      text: "Sign out",
      href: "/signed-out"
    }) }}

  </div>
</div>


{% endblock %}
