{% extends "layout.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Change your Rural Payments account password
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Change your Rural Payments account password
      </h1>

      <p>
        Your RPA customer reference number is: <strong>0123456789</strong><br>
        We have sent a code to: <strong>your@email.com</strong>
      </p>
      
      {{ govukWarningText({
        text: "If you use a browser to access your email, you may need to open a new window or tab to see the code.",
        iconFallbackText: "Warning"
      }) }}

      <h2 class="govuk-heading-m">Now update your password</h2>

      <p>
        Once you have received your code enter it here along with your new password.
      </p>

      {{ govukInput({
        label: {
          text: "Confirmation code",
          isPageHeading: false
        },
        id: 'crn',
        name: 'crn',
        type: 'text'
      }) }}      

      {{ govukDetails({
        summaryText: "I have not received the email",
        html: "<p>The email may take a few minutes to arrive. If you still have not got the code, you can try <a href='#' class='govuk-link'>resending</a> it.</p><p>If your RPA customer reference number or email address are wrong you will need to start again.</p>"
      }) }}

      {{ govukInput({
        label: {
          text: "Your new password",
          isPageHeading: false
        },
        id: 'password',
        name: 'password',
        type: 'password'
      }) }}

      {{ govukInput({
        label: {
          text: "Confirm your new password",
          isPageHeading: false
        },
        id: 'password-confirmation',
        name: 'password-confirmation',
        type: 'password'
      }) }}
      
      {{ govukButton({
        text: "Save and continue",
        href: '/vets/forgot-password-complete'
      }) }}

    </div>
  </div>

{% endblock %}
