{% extends "layout.html" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Rural Payments password updated
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     {{ govukPanel({
        titleText: "Password update complete",
        html: ""
      }) }}

      <p>
        We have updated your Rural Payments password.
      </p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>Now that we have updated your password you can continue on to the service.</p>
      
      {{ govukButton({
        text: "Continue",
        href: '#'
      }) }}


    </div>
  </div>

{% endblock %}
