{% extends "layout.html" %}

{% set title = "Add service access" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form action="add-user-roles-2" method="post">

        {{ govukRadios ({
          idPrefix: "serviceRole1",
          name: "serviceRole1",
          fieldset: {
            legend: {
              text: "What do you want them to be able to do in the UK BPR service?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            html: setServiceTypeHtml
          },
          items: [
            {
              value: "RE Manager",
              html: 'RE Manager - they can edit and submit information.',
              checked:  checked('serviceRole1','Manager')
            },
            {
              value: "RE Reader",
              html: 'RE Reader - they can only view information. They cannot edit or submit any information.',
              checked:  checked('serviceRole1','Reader')
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>




{% endblock %}
