{% extends "layout.html" %}

{% set title = "Which organisation can they use this service for?" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form action="../services-on-team-member-invited-3" method="post">

        {% set setServiceTypeHtml %}
            <p class="govuk-hint">Select one or more organisations registered with {{ data['serviceName'] }}:</p>
        {% endset %}

        {{ govukCheckboxes ({
          idPrefix: "orgName1",
          name: "orgName1",
          fieldset: {
            legend: {
              text: "Which organisation can they use this service for?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            html: setServiceTypeHtml
          },
          items: [
            {
              value: "AstraZeneca UK Limited",
              html: 'AstraZeneca UK Limited',
              checked:  checked('orgName1','AstraZeneca UK Limited')
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>




{% endblock %}
