{% extends "layout.html" %}

{% set title = "Defra account:[Parent organisation name]" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-corp-all-2.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      {{title}}
    </h1>
  </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">

    <div class="govuk-card govuk-card--contained govuk-card--selectable">
      <a href="team-members/team-members-all-2"></a>
      <div class="govuk-card__content">
        <h3 class="govuk-heading-m"><a href="team-members/team-members-all-2" class="govuk-link--no-visited-state">Manage team access</a></h3>
        <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-font-weight-bold">2</p>
      </div>
      <div class="govuk-card__actions">
        <ul class="govuk-list govuk-!-mb-r0">
          <li><a href="team-members/add-user-details" class="govuk-link--no-visited-state">Add a team member</a></li>
        </ul>
      </div>
    </div>

  </div>

  <div class="govuk-grid-column-one-third">

    <div class="govuk-card govuk-card--contained govuk-card--selectable">
      <a href="agent/agent-all-1"></a>
      <div class="govuk-card__content">
        <h3 class="govuk-heading-m"><a href="agent/agent-all-1" class="govuk-link--no-visited-state">Manage intermediary access</a></h3>
        <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-font-weight-bold">0</p>
      </div>
      <div class="govuk-card__actions">
        <ul class="govuk-list govuk-!-mb-r0">
          <li><a href="#2" class="govuk-link--no-visited-state">Add an intermediary</a></li>
        </ul>
      </div>
    </div>

  </div>

  <div class="govuk-grid-column-one-third">

    <div class="govuk-card govuk-card--contained govuk-card--selectable">
      <a href="organisations/organisation-all-1"></a>
      <div class="govuk-card__content">
        <h3 class="govuk-heading-m"><a href="organisations/organisation-all-1" class="govuk-link--no-visited-state">Manage your locations</a></h3>
        <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-font-weight-bold">1</p>
      </div>
      <div class="govuk-card__actions">
        <ul class="govuk-list govuk-!-mb-r0">
          <li><a href="#2" class="govuk-link--no-visited-state">Add new location</a></li>
        </ul>
      </div>
    </div>

  </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-card__content">
      <h2 class="govuk-heading-l">Services your organisation has registered to use</h2>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third">
          <div class="govuk-card govuk-card--contained govuk-card--selectable">
              <a href="manage-access-1"></a>
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Chemicals</h3>
                <p class="govuk-body">A short summary of the tasks you can complete with this service.
                </p>
              </div>
            </div>
        </div>

      </div>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
          {{ govukButton({
            text: "Register for another service",
            href: "#"
          }) }}
        </div>
      </div>

{% endblock %}
