{% extends "layout.html" %}

{% set title %}
  {{ title }}
{% endset%}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-corp.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-xl">Account for</span>
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>
  </div>

</div>




  <div class="govuk-grid-row {{ orgSwitch }}">

    {% set dashboardURL %}
      {% if data['account'] == "My Organisation" %}
        dashboard-all-agent?numUsers=12&numServices=2&numAgents=4
      {% endif %}

      {% if data['account'] == "FarmerRUS" %}
        dashboard-all-agent?numUsers=7&numServices=3&numAgents=10
      {% endif %}

      {% if data['account'] == "Client2 Ltd" %}
        dashboard-all-agent?numUsers=3&numServices=3&numAgents=3
      {% endif %}

      {% if data['account'] == "Client2.com" %}
        dashboard-all-agent?numUsers=4&numServices=1&numAgents=23
      {% endif %}
    {% endset %}

    <form action="{{ dashboardURL }}" method="post">

      <div class="govuk-grid-column-one-third">
        {{ govukSelect({
          id: "account",
          name: "account",
          label: {
          },
          items: [
            {
              value: "Choose organisation",
              text: "Choose organisation"
            },
            {
              value: "My Organisation",
              text: "My Organisation",
              checked: yes
            },
            {
              value: "FarmerRUS",
              text: "FarmerRUS"
            },
            {
              value: "Client1 Ltd",
              text: "Client1 Ltd"
            },
            {
              value: "Client2.com",
              text: "Client2.com"
            }

          ]
        }) }}

      </div>

      <div class="govuk-grid-column-one-third">
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
    </form>

  </div>

 {% set addUserURL = "/manage/team-members/add-user/add-user-details"%}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
            <div class="govuk-card govuk-card--contained govuk-card--selectable">
        <a href="{{ teamMemberURL }}"></a>
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m"><a href="{{ teamMemberURL }}" class="govuk-link--no-visited-state">Manage team access</a></h3>
          <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-font-weight-bold">{{ data['numUsers'] }}</p>
        </div>
        <div class="govuk-card__actions">
          <ul class="govuk-list govuk-!-mb-r0">
            <li><a href="{{ addUserURL }}" class="govuk-link--no-visited-state">Add a team member</a></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="govuk-grid-column-one-third">

      <div class="govuk-card govuk-card--contained govuk-card--selectable">
        <a href="{{ agentURL }}"></a>
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m"><a href="{{ agentURL }}" class="govuk-link--no-visited-state">Manage intermediary access
        </a></h3>
        <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-font-weight-bold">{{ data['numAgents'] }}</p>
        </div>
        <div class="govuk-card__actions">
          <ul class="govuk-list govuk-!-mb-r0">
            <li><a href="/manage/agent/invite-user/add-user-details" class="govuk-link--no-visited-state">Add an intermediary</a></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="govuk-grid-column-one-third">

      <div class="govuk-card govuk-card--contained govuk-card--selectable">
        <a href="{{locationURL}}"></a>
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m"><a href="{{ locationURL }}" class="govuk-link--no-visited-state">Manage your organisation</a></h3>
          <!--
          <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-font-weight-bold">{{ data['numLocations'] }}</p>
        -->
        </div>
        <!--<div class="govuk-card__actions">
          <ul class="govuk-list govuk-!-mb-r0">
            <li><a href="{{addLocationURL}}" class="govuk-link--no-visited-state">Add a location</a></li>
          </ul>
        </div>
      -->
      </div>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-card__content">
        <h2 class="govuk-heading-l">Services your organisation has registered to use</h2>

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-third">
            <div class="govuk-card govuk-card--contained govuk-card--selectable">
                <a href="/service-start-complete"></a>
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">{{ data['service'] }} - {{ data['serviceLine'] }}</h3>
                  <p class="govuk-body">A short summary of the tasks you can complete with this service.
                  </p>
                </div>
              </div>
          </div>
          <div class="govuk-grid-column-one-third {{serviceCSS}}">
            <div class="govuk-card govuk-card--contained govuk-card--selectable">
                <a href="/service-start-complete"></a>
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">{{ data['service'] }} - UK SO2</h3>
                  <p class="govuk-body">A short summary of the tasks you can complete with this service.
                  </p>
                </div>
              </div>
          </div>
          <div class="govuk-grid-column-one-third {{serviceCSS}}">
            <div class="govuk-card govuk-card--contained govuk-card--selectable">
                <a href="/service-start-complete"></a>
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">{{ data['service'] }} - UK SO3</h3>
                  <p class="govuk-body">A short summary of the tasks you can complete with this service.
                  </p>
                </div>
              </div>
          </div>

        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            {{ govukButton({
              text: "Register for another service",
              href: "#"
            }) }}
          </div>
        </div>




{% endblock %}
