{% extends "layout.html" %}

{% set title = "Manage [service name] access" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-corp-all-1.html" %}
  {% include "includes/breadcrumb-two-level.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      {{title}}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-half">
          <div class="govuk-card govuk-card--contained govuk-card--selectable">
            <a href="team-members/team-members-all-1"></a>
            <div class="govuk-card__content">
              <h3 class="govuk-heading-m"><a href="team-members/team-members-all-1" class="govuk-link--no-visited-state">Team members</a></h3>
              <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-font-weight-bold">1</p>
            </div>
          </div>
        </div>

        <div class="govuk-grid-column-one-half">
          <div class="govuk-card govuk-card--contained govuk-card--selectable">
            <a href="agent/agent-all-1"></a>
            <div class="govuk-card__content">
              <h3 class="govuk-heading-m"><a href="agent/agent-all-1" class="govuk-link--no-visited-state">Intermediaries</a></h3>
              <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-font-weight-bold">0</p>
            </div>
          </div>
        </div>

      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <div class="govuk-card govuk-card--contained govuk-card--selectable">
            <a href="services/service-line"></a>
            <div class="govuk-card__content">
              <h3 class="govuk-heading-m"><a href="services/service-line" class="govuk-link--no-visited-state">Service lines</a></h3>
              <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-font-weight-bold">4</p>
            </div>
          </div>
        </div>

          <div class="govuk-grid-column-one-half">
            <div class="govuk-card govuk-card--contained govuk-card--selectable">
              <a href="organisations/organisation-service-all-1"></a>
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m"><a href="organisations/organisation-service-all-1" class="govuk-link--no-visited-state">Organisations</a></h3>
                <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-font-weight-bold">1</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  
{% endblock %}
