{% extends "layout.html" %}

{% set title = "Manage [service name] access" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-corp-all-1.html" %}
  {% include "includes/breadcrumb-two-level.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      {{title}}
    </h1>
  </div>
</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m"><a href="team-members/team-members-all-1"><span class="govuk-!-font-size-24">Team members</span></a></h2>
      <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">1</p>
      <!--<p class="govuk-body govuk-body-s">2 pending</p>
      <p class="govuk-body govuk-body-s">3 service requests</p>-->
    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m"><a href="agent/agent-all-1">Intermediaries</a></h2>
      <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">0</p>
      <!--<p class="govuk-body govuk-body-s">0 pending</p>-->
    </div>
  </div>
  <br>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">Manage services</h2>
      <p class="govuk-!-font-weight-bold govuk-!-font-size-24"><a href="services/service-line">Services</a></p>
      <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-font-weight-bold">4</p>
    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">Manage organisations</h2>
      <p class="govuk-!-font-weight-bold govuk-!-font-size-24"><a href="organisations/organisation-all-1">Organisations</a></p>
      <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-font-weight-bold">1</p>
    </div>
  </div>





{% endblock %}
