{% extends "layout.html" %}

{% set title = "Register for services" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

    {% include "includes/account-nav-admin-corp.html" %}


  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{title}}</h1>


      <p class="govuk-body">You have registered [Org name] with all available services.</p>

    </div>
  </div>




{% endblock %}
