{% extends "layout.html" %}

{% set title = "Register for services" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

    {% include "includes/account-nav-admin-corp.html" %}


  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{title}}</h1>


      <!--
      <h2 class="govuk-heading-m">Available services</h2>
    -->
      <p class="govuk-body">The following services are available for you to register with. To register click the links below.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="/service-start-logged-out?userType=existing&service=Chemicals&serviceLine=Comply with REACH IT">Comply with REACH IT</a>
        </li>
        <li>
          <a class="govuk-link" href="/service-start-logged-out-VMD?userType=existing&service=VMD&serviceLine=VMD Secure Messaging">VMD Secure Messaging</a>
        </li>
        <li>
          <a class="govuk-link" href="/service-start-logged-out-imports?userType=existing&service=Imports&serviceLine=Notification service">Notification service</a>
        </li>
        <li>
          <a class="govuk-link" href="#">An Other Service</a>
        </li>


      </ul>

    </div>
  </div>




{% endblock %}
