{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}
Record data from an Annual Health and Welfare Review
{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
                <!-- <div id="changed-name-hint" class="govuk-hint">
                  This includes changing your last name or spelling your name differently.
                </div> -->
                <div class="govuk-form-group">
                  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
                      Enter your email address
                    </label>
                  </h1>
                  <label class="govuk-label" for="event-name">
   
 </label>
                  <input class="govuk-input govuk-!-width-three-quarters" id="event-name" name="event-name" type="text">
                </div>
<p>We’ll send you a link to confirm that you have access.</p>
<!-- <p>We'll send you a link to confirm your email address.</p> -->


    {{ govukButton({
      text: "Continue",
      href: "check-email"
    }) }}

  </div>
</div>

{% endblock %}
