{% extends "/layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "" %}

{% set pageHeading = "Who do you want to access your organisation's services?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        
        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}  
    
    	<form action="/account/agent/confirmation" method="post">
      		

        	{{ govukInput({
          		label: {
            		text: "Email address",
            		classes: "govuk-label--s"
          		},
          		classes: "govuk-input--width-20",
          		id: "agentEmail",
          		name: "agentEmail",
          		value: data['agentEmail'],
          		type: email
        	}) }}

        	{{ govukButton({
          		text: "Continue"
        	}) }}

      	</form>

    </div>
</div>
{% endblock %}
