{% extends "layout.html" %}

{% set title = "Invite Intermediary" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-visually-hidden">{{title}}</h1>
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        An invitation email has been sent
      </h1>
      <div class="govuk-panel__body">

      </div>

    </div>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">When <span class="govuk-!-font-weight-bold">{ EMAIL ADDRESS }</span> has registered to use Defra online services, you can choose which information they can see and which tasks they can do on behalf of {COMPANY NAME}.</p>
    <p class="govuk-body">If they do not respond to the invitation email within 30 days, you'll need to send another invitation.</p>


    {{ govukButton({
      text: "Done",
      href: "/account/agent/"
    }) }}

    {{ govukButton({
      text: "Add an intermediary",
      classes: "govuk-button--secondary",
      href: "/manage/agent/agent"
    }) }}

  </div>
</div>


{% endblock %}
