{% extends "layout.html" %}

{% set title = "Add service access" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/manage/team-members/invite-user/enrollment-confirmation" method="post">

        {{ govukRadios({
          idPrefix: "serviceLine",
          name: "serviceLine",
          fieldset: {
            legend: {
              text: "Which service do you want this person to use?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [

            {
              value: "Adverse Event Reporting",
              html: 'Adverse Event Reporting',
              checked:  checked('serviceLine','Adverse Event Reporting')
            },
            {
              value: "Licencing",
              html: 'Licencing',
              checked:  checked('serviceLine','Licencing')
            },
            {
              value: "Secure Messaging",
              html: 'Secure Messaging',
              checked:  checked('serviceLine','Secure Messaging')
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}



      </form>
    </div>
  </div>




{% endblock %}
