{% extends "/layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "Government Gateway" %}

{% set pageHeading = "Enter code to confirm your email address" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">        

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    
        <p>We have sent a code to <strong>{{ data['govGateEmail'] }}</strong></p>

        {{ govukWarningText({
            text: "If you use a browser to access your email, you may need to open a new window or tab to see the code.",
            iconFallbackText: "Warning"
        }) }}

        <form action="/gov-gateway/email-confirmed" method="post">

            {{ govukInput({
                label: {
                    text: "Confirmation code"
                },
                hint: {
                    html: "For example, DNCLRK"
                },
                classes: "govuk-!-width-one-half",
                name: "govGateEmailCode"
            }) }}

            {{ govukDetails({
                summaryText: "I have not received the email",
                html: '<p>The email may take a few minutes to arrive. Its subject line is: ‘Confirm your email address - Government Gateway’.</p>
                <p>Check your spam or junk folder – if it still has not arrived, you can <a href="#">request a new code</a> or <a href="#">provide another email address</a>.</p>'
            }) }}

            {{ govukButton({
                text: "Confirm"
            }) }}

        </form>

        <p class="govuk-!-margin-top-7"><a href="#" class="govuk-link govuk-link--no-visited-state ">Get help with this page</a></p>

    </div>
</div>

{% endblock %}
