{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "Government Gateway" %}
{% set GovGateId = "49 21 78 79 24 96"%}

{% set pageHeading = "Your Government Gateway user ID is "+data['GovGateId'] %}" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">        
        
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">Your Government Gateway user ID is</h1>
            <div class="govuk-panel__body">
                {{GovGateId}}
            </div>
        </div>

        <p>We have sent it to <strong>{{ data['govGateEmail'] or 'samwoods@company.co.uk' }}</strong>.</p>
        <p>You will need your user ID and your password each time you sign in to Government Gateway.</p>
        <p class="govuk-!-font-weight-bold">Never share your Government Gateway user ID or password with anyone else.</p>
    
        <form action="/register/" method="post">
            
            {{ govukButton({
                text: "Continue"                
            }) }}

        </form>

        <p class="govuk-!-margin-top-7"><a href="#" class="govuk-link govuk-link--no-visited-state ">Get help with this page</a></p>

    </div>
</div>
{% endblock %}
