{% extends "/layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "Government Gateway" %}

{% set pageHeading = "Create a password" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">        

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        

        <p>Your password needs to be 10 or more characters. To help you create a long and strong password, the National Cyber Security Centre recommends using three random words.</p>
        <p>You can use a mix of letters, numbers or symbols in these three words.</p>

        <form action="/gov-gateway/confirmation" method="post">

            {{ govukInput({
                label: {
                    text: "Password"
                },
                type: password,
                classes: "govuk-!-width-three-quarters",
                name: "GovGatePassword"
            }) }}

            {{ govukInput({
                label: {
                    text: "Confirm your password"
                },
                type: password,
                classes: "govuk-!-width-three-quarters",
                name: "GovGatePasswordConfirm"
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

		</form>

        <p class="govuk-!-margin-top-7"><a href="#" class="govuk-link govuk-link--no-visited-state ">Get help with this page</a></p>

    </div>
</div>

{% endblock %}
