{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "Government Gateway" %}

{% set pageHeading = "This email address is already in use" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">        

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <p class="govuk-body">There's an existing Defra account associated with this email address.</p>
        <p class="govuk-body">You'll need to return to Government Gateway and change the email address to one that's not already in use on a Defra account.</p>
        <!-- <p class="govuk-body">If you have any issues, you can <a href="/help#contacting-defra-services" target="_blank">contact the service</a> (link opens in a new window) for help on how to complete your task.</p> -->

        {{ govukButton({
            text: "Sign out",
            href: "/signed-out"
        }) }}

        <p class="govuk-!-margin-top-7"><a href="#" class="govuk-link govuk-link--no-visited-state ">Help with this page</a></p>

    </div>
</div>

{% endblock %}
