
{% extends "/layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "Government Gateway" %}

{% set pageHeading = "Enter your email address" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">        

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <p>This will only be used to send you security updates or if you need to recover your sign in details.</p>
        <p>To confirm it is your email address we will send you a code.</p>

        <form method="post" action="/gov-gateway/check-email" class="form">

            <!-- <input type="hidden" name="returnUrl" value="{{data['returnUrl']}}"> -->
            {{ govukInput({
                label: { text: "Email address" },
                classes: "govuk-!-width-three-quarters",
                name: "govGateEmail"
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>

        <p class="govuk-!-margin-top-7"><a href="#" class="govuk-link govuk-link--no-visited-state ">Get help with this page</a></p>

    </div>
</div>

{% endblock %}