{% extends "/layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "Government Gateway" %}

{% set pageHeading = "Email address confirmed" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">        

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <p>This will enable us to help you get the most from this service.</p>

        <form method="post" action="/gov-gateway/your-name">
            
            {{ govukButton({
                text: "Continue"
            }) }}
        
        </form>

        <p class="govuk-!-margin-top-7"><a href="#" class="govuk-link govuk-link--no-visited-state ">Get help with this page</a></p>

    </div>
</div>

{% endblock %}
