{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "Government Gateway" %}

{% set pageHeading = "What is your full name?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">        

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <form action="/gov-gateway/create-password" method="post" class="form">

            {{ govukInput({
                label: {
                    text: "Your full name",
                    classes: "govuk-visually-hidden",
                    isPageHeading: false
                },
                classes: "govuk-!-width-one-half",
                name: "govGateName"
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>

        <p class="govuk-!-margin-top-7"><a href="#" class="govuk-link govuk-link--no-visited-state ">Get help with this page</a></p>

  </div>
</div>

{% endblock %}
