{% extends "/layouts/main.html" %}

{% set serviceName = "Government Gateway" %}

{% set title = "Your Government Gateway user ID is 49 21 78 79 24 95" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Your Government Gateway user ID is</h1>
      <div class="govuk-panel__body">
        49 21 78 79 24 95
      </div>
    </div>

    <p>We have sent it to: <strong>{{ data['govGateEmail'] or 'samwoods@company.co.uk' }}</strong>.</p>
    <p>You will need this ID and your password each time you sign in to Government Gateway.</p>

    <form method="post" action="about-data">
      {{ govukButton({
        text: "Continue",
        href: ""
      }) }}
    </form>

    {% include "includes/get-help.html" %}

  </div>
</div>
{% endblock %}
