{% extends "/layouts/main.html" %}

{% set serviceName = "Defra account" %}

{% set title = "Is this organisation a sole trader or a charity?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="charity-region">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                {{ title }}
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="field1" name="defraIdSoleTraderOrCharity" type="radio" value="sole-trader">
                <label class="govuk-label govuk-radios__label" for="field1">
                  Sole trader
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="field2" name="defraIdSoleTraderOrCharity" type="radio" value="charity">
                <label class="govuk-label govuk-radios__label" for="field2">
                  Charity
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{govukButton({
          text: "Continue"
        })}}

      </form>

    </div>
</div>

{% endblock %}
