.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    width: 100%;
    // 
  }
  .autocomplete-items {
    background-color: #fff;
    width: 100%;
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    div {
      padding: 1rem;
      background-color: $background-white;
      border-bottom: 1px solid $border-grey;
      &:hover {
        background-color: $background-grey;
      }
    }
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
  