/* ==========================================================================
   COMPONENTS / #FILTER / DEFRA version
   ========================================================================== */

.defra-filter {
  padding: 1rem;
  background-color: #f3f2f1;
}

.defra-filter__header {

}
