/* ==========================================================================
   COMPONENTS / #LOADER / NHS version
   ========================================================================== */

.nhsuk-loader {
  position: relative;
  text-align: center;
}

.nhsuk-loader__spinner {
  animation: spin 2s linear infinite;
  border: 1rem solid $govuk-border-colour;
  border-radius: 50%;
  border-top: 1rem solid $govuk-brand-colour;
  display: inline-block;
  height: 120px;
  margin: auto;
  width: 120px;
}

/* ==========================================================================
   COMPONENTS / #LOADER / Defra version
   ========================================================================== */

.defra-loader {
  position: relative;
  text-align: center;
  height: 45vh;
}



.defra-loader__spinner {
  animation: spin 2s linear infinite;
  border: 1.4rem solid $govuk-border-colour;
  border-radius: 50%;
  border-top: 1.4rem solid $govuk-brand-colour;
  display: inline-block;
  height: 120px;
  width: 120px;
  margin: 2rem;
}

.nhsuk-loader__text {
  display: block;
  margin-bottom: 0;
}

.defra-loader__text {
  display: block;
  margin-bottom: 0;
}

.nhsuk-loader--small {
  text-align: left;

  .nhsuk-loader__spinner {
    border-width: nhsuk-spacing(1);
    border-top-width: nhsuk-spacing(1);
    height: nhsuk-spacing(4);
    left: 0;
    position: absolute;
    top: 0;
    width: nhsuk-spacing(4);

    @include mq($from: desktop) {
      height: 28px;
      width: 28px;
    }
  }

  .nhsuk-loader__text {
    padding-left: nhsuk-spacing(5);

    @include mq($from: desktop) {
      padding-left: nhsuk-spacing(6);
    }
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (prefers-reduced-motion: reduce) {
  //remove animation
}

@media screen and (prefers-reduced-motion) {
  //remove animation
}
