/* ==========================================================================
   COMPONENTS / #LOADER / Defra version
   ========================================================================== */

.defra-loader {
  position: relative;
  text-align: center;
  height: 45vh;
}

.defra-loader__spinner {
  animation: spin 2s linear infinite;
  border: 1.4rem solid $govuk-border-colour;
  border-radius: 50%;
  border-top: 1.4rem solid $govuk-brand-colour;
  display: inline-block;
  height: 120px;
  width: 120px;
  margin: 2rem;
}

.nhsuk-loader__text {
  display: block;
  margin-bottom: 0;
}

.defra-loader__text {
  display: block;
  margin-bottom: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (prefers-reduced-motion: reduce) {
  //remove animation
}

@media screen and (prefers-reduced-motion) {
  //remove animation
}
