{% extends "layout.html" %}

{% set title = "Add service access" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

        <form action="add-agent-system-roles" method="post">

        {{ govukRadios({
          idPrefix: "serviceName",
          name: "serviceName",
          fieldset: {
            legend: {
              text: "Which service do you want this person to use?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [

            {
              value: "Imports-1",
              html: 'Imports-1',
              checked:  checked('serviceName','Imports-1')
            },

            {
              value: "Imports-2",
              html: 'Imports-2',
              checked:  checked('serviceName','Imports-2')
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

        <!--{
          value: "UK BPR",
          html: 'UK BPR',
          checked:  checked('serviceName','UK BPR')
        },
        {
          value: "UK CLP",
          html: 'UK CLP',
          checked:  checked('serviceName','UK CLP')
        },
        {
          value: "UK ePIC",
          html: 'UK ePIC',
          checked:  checked('serviceName','UK ePIC')
        },-->

      </form>
    </div>
  </div>




{% endblock %}
