{% extends "layout.html" %}

{% set title = "Organisations" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-corp.html" %}
  {% include "includes/breadcrumb-four-level-service-org-all-1.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      {{title}}
    </h1>

    {{ govukButton({
      text: "Add branch",
      href: "#"
    }) }}

    {{ govukTable({
      caption: "All organisations",
      captionClasses: "govuk-visually-hidden",
      firstCellIsHeader: false,
      head: [
        {
          html: '<a class="govuk-link--no-visited-state" href="">Organisation</a>',
          format: 'column-half'
        },
        {
          html: '<span class="govuk-visually-hidden">Action</span>',
          format: 'column-sixth'
        },
        {
          html: '<span class="govuk-visually-hidden">Action</span>',
          format: 'column-sixth'
        },
        {
          html: '<span class="govuk-visually-hidden">Action</span>',
          format: 'column-sixth'
        }
      ],
      rows: [
        [
          {
            html: '<a href="organisation-details-all-1" class="govuk-link--no-visited-state">AstraZeneca UK Limited</a> (parent)<br>
              <span class="govuk-body-s">03674842</span>'
          },
          {
            html: '<a href="organisation-services" class="govuk-link--no-visited-state">View services</a>'
          },
          {
            html: '<a href="organisation-team-members" class="govuk-link--no-visited-state">View members</a>'
          },
          {
            html: '<a href="#" class="govuk-link--no-visited-state">Remove org</a>'
          }
        ]

        ]
      }) }}


{% endblock %}
