{% extends "layout.html" %}

{% set title = "Organisation details" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-corp.html" %}
  {% include "includes/breadcrumb-four-level-org.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      [Parent organisation name]
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">Registered name:</span> [Parent organisation name]<br>
    <span class="govuk-!-font-weight-bold">Company Number:</span> 03674842<br>
    <span class="govuk-!-font-weight-bold">Address:</span> No.1 Forbury Place 43 Forbury Road,<br>
     Reading, United Kingdom, RG1 3JH</p>
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">Telephone:</span> 0171 444555666<br>
    <span class="govuk-!-font-weight-bold">Mobile:</span> 07833344455<br>
    <span class="govuk-!-font-weight-bold">Email:</span> simone@org.com<br></p>
  </div>
  <div class="govuk-grid-column-one-thirds">
    <p class="govuk-body"><a href="user-account" class="govuk-link--no-visited-state">Edit Address</a><br>
    <a href="" class="govuk-link--no-visited-state">Edit contact details</a></p>
    <p class="govuk-body"><a href="" class="govuk-link--no-visited-state">Delete organisation</a></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <br>
    {{ govukButton({
      text: "Add branch",
      href: "#"
    }) }}

    {{ govukTable({
      caption: "Branches",
      captionClasses: "govuk-heading-l",
      firstCellIsHeader: false,
      head: [
        {
          html: '<a class="govuk-link--no-visited-state" href="">Organisation</a>',
          format: 'column-half'
        },
        {
          html: '<span class="govuk-visually-hidden">Action</span>',
          format: 'column-sixth'
        },
        {
          html: '<span class="govuk-visually-hidden">Action</span>',
          format: 'column-sixth'
        },
        {
          html: '<span class="govuk-visually-hidden">Action</span>',
          format: 'column-sixth'
        }
      ],
      rows: [
        [
          {
            html: '<a href="organisation-details-branch" class="govuk-link--no-visited-state">My Organisation</a>'
          },
          {
            html: '<a href="services-on-org" class="govuk-link--no-visited-state">View services</a>'
          },
          {
            html: '<a href="org-team-members" class="govuk-link--no-visited-state">View members</a>'
          },
          {
            html: '<a href="#" class="govuk-link--no-visited-state">Remove org</a>'
          }
        ],
        [
          {
            html: '<a href="organisation-details-branch" class="govuk-link--no-visited-state">My Organisation</a>'
          },
          {
            html: '<a href="services-on-org" class="govuk-link--no-visited-state">View services</a>'
          },
          {
            html: '<a href="org-team-members" class="govuk-link--no-visited-state">View members</a>'
          },
          {
            html: '<a href="#" class="govuk-link--no-visited-state">Remove org</a>'
          }
        ]

        ]
    }) }}
  </div>
</div>

{% endblock %}
