{% extends "layout.html" %}

{% set title = "Organisation details" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-corp.html" %}
  {% include "includes/breadcrumb-three-level.html" %}
{% endblock %}

{% block content %}

{% set orgName = data['orgName'] %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      {{ orgName }}
    </h1>
  </div>
</div>

{% if data['parentChild'] == "parent" %}


  {% from "tabs/macro.njk" import govukTabs %}

  {% set regAddressHtml %}
    <h2 class="govuk-heading-l">Organisation address</h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-card govuk-card--contained">
          <div class="govuk-card__content">
            <p class="govuk-body"><span class="govuk-!-font-weight-bold">Address:</span> {{ orgName }}, No.1 Forbury Place 43 Forbury Road, Reading, United Kingdom, RG1 3JH<br>
            </p>
            <p class="govuk-body"><span class="govuk-!-font-weight-bold">Telephone:</span> 0171 444555666<br>
              <span class="govuk-!-font-weight-bold">Email:</span> simone@org.com<br>
            </p>
          </div>
          <div class="govuk-card__actions">
            <ul class="govuk-list govuk-!-mb-r0">
              <li><a href="/manage/team-members/services-on-team-member-update-details" class="govuk-link govuk-link--no-visited-state">Update details</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  {% endset -%}

  {% set relOrganisationsHtml %}
    <h2 class="govuk-heading-l">Related organisations</h2>


    <p class="govuk-body">If you are an <strong>Only Representative</strong> using the<strong> Comply for REACH IT</strong> service, you can add information about the non-EU manufacturers and importers you represent here.</p>

    <!--
      <p class="govuk-body">You can add related organisations or businesses to this account. This allows you to  separately manage the team members for each one from the account dashboard.</p>
      -->

    <!--
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What are related organisations?
        </span>
      </summary>
      <div class="govuk-details__text">
        If your organisation is linked to another branch or division, you can add it to this account. This allows you to manage each part of your organisation individually, but using the same account.
      </div>
      <div class="govuk-details__text">
        If you are an Only Representative, you can add information about the non-EU manufacturers and importers you represent here.
      </div>
    </details>
    -->

    {{ govukButton({
      text: "Add a related organisation",
      href: "company-name?addAddress=rel-org&addressCSS4=show"
    }) }}

    {% if data['relOrg'] == "Yes" %}

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained">
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m"><a href="/manage/dashboard-child?numUsers=1&numServices=0&numLocations=0&service=Chemicals&orgName=Acme Org India&serviceLine=Comply with REACH IT&serviceRole=REACH Manager&multiOrg=Yes&relOrg=No&parentChild=child" class="govuk-link--no-visited-state" class="govuk-link--no-visited-state">Acme Org India</a></h3>
            <p class="govuk-body"><span class="govuk-!-font-weight-bold">Address:</span> No.1 Forbury Place 43 Forbury Road, Reading, United Kingdom, RG1 3JH
            </p>

            <p class="govuk-body"><span class="govuk-!-font-weight-bold">Telephone:</span> 0171 444555666<br>
              <span class="govuk-!-font-weight-bold">Email:</span> simone@org.com<br>
            </p>

          </div>
          <div class="govuk-card__actions">
            <ul class="govuk-list govuk-!-mb-r0">
              <li><a href="/manage/team-members/services-on-team-member-update-details" class="govuk-link govuk-link--no-visited-state">Update details</a></li>
            </ul>
          </div>
        </div>
      </div>


      <div class="govuk-grid-column-one-half">
        {% if (data['addressCSS4'] == "show") %}
        <div class="govuk-card govuk-card--contained">
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m"><a href="/manage/dashboard-child?numUsers=1&numServices=0&numLocations=0&service=Chemicals&orgName=Acme Org Thailand&serviceLine=Comply with REACH IT&serviceRole=REACH Manager&multiOrg=Yes&relOrg=No&parentChild=child" class="govuk-link--no-visited-state">Acme Org Thailand</a></h3>
            <p class="govuk-body"><span class="govuk-!-font-weight-bold">Address:</span> No.1 Forbury Place 43 Forbury Road, Reading, United Kingdom, RG1 3JH
            </p>

            <p class="govuk-body"><span class="govuk-!-font-weight-bold">Telephone:</span> 0171 444555666<br>
              <span class="govuk-!-font-weight-bold">Email:</span> simone@org.com<br>
            </p>
          
          </div>
          <div class="govuk-card__actions">
            <ul class="govuk-list govuk-!-mb-r0">
              <li><a href="/manage/team-members/services-on-team-member-update-details" class="govuk-link govuk-link--no-visited-state">Update details</a></li>
            </ul>
          </div>
        </div>
        {% else %}
        {% endif %}
      </div>

    </div>

    {% endif %}

  {% endset %}

  {{ govukTabs({
    items: [
      {
        label: "Organisation address",
        id: "reg-address",
        panel: {
          html: regAddressHtml
        }
      },
      {
        label: "Related organisations",
        id: "rel-org",
        panel: {
          html: relOrganisationsHtml
        }
      }
    ]
  }) }}

{% else %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-card govuk-card--contained">
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m">Business address</h3>
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Address:</span> {{ orgName }}, No.1 Forbury Place 43 Forbury Road, Reading, United Kingdom, RG1 3JH<br>
          </p>
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Telephone:</span> 0171 444555666<br>
            <span class="govuk-!-font-weight-bold">Email:</span> simone@org.com<br>
          </p>
        </div>
        <div class="govuk-card__actions">
          <ul class="govuk-list govuk-!-mb-r0">
            <li><a href="/manage/team-members/services-on-team-member-update-details" class="govuk-link govuk-link--no-visited-state">Update details</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endif %}





{% endblock %}
