                    <h3 class="govuk-heading-m">GOV.UK OneLogin</h3>
                    {{ govukCheckboxes({                        
                        fieldset: { legend: { text: "OneLogin", isPageHeading: false, classes: "govuk-visually-hidden" } },
                        items: [ { value: "Yes", text: "Show GOV.UK OneLogin as option ( Experimental )" } ],
                        name: "useOneLogin"
                    }) }}

                    <p class="govuk-body">Various variations of this whilst we undertake discovery and research about how best to implement GOV.UK OneLogin.</p>
                    {{ govukRadios({
                        fieldset: { legend: { text: "User has Government Gateway account", isPageHeading: false, classes: "govuk-visually-hidden" } },
                        classes: "govuk-checkboxes--small",  
                        items: [ 
                            { value: "variationFour", text: "Default current solution" },    
                            { value: "variationOne", text: "Green buttons" },
                            { value: "variationTwo", text: "Radio buttons" },
                            { value: "variationThree", text: "Listed links" }                            
                        ],
                        name: "oneLoginVariation"
                    }) }}                            