{% extends "/layouts/main.html" %}
{% set showBackLink = true %}

{% set pageHeading = "What is their address?" %}
{% set pageSection = "Add related organisation" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block beforeContent %}
	<div id="profile">    	
        {% include "includes/account-nav.html" %}
  	</div>    
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}  

      	<form action="/account/manage/related/check-your-answers" method="post">
    


	

		
				{{ govukInput({
					label: {
						text: "Address line 1"
					},				
					hint: {
						text: "For example, building name or sub-building name"
					},
					name: "relatedOrgManualAddressLine1"
					
				}) }}
			
				{{ govukInput({
					label: {
						text: "Address line 2 (optional)"
					},
					name: "relatedOrgManualAddressLine2"
				}) }}

				{{ govukInput({
					label: {
						text: "Address line 3 (optional)"
					},
					name: "relatedOrgManualAddressLine3"
				}) }}


				{{ govukInput({
					label: {
						text: "Address line 4 (optional)"
					},
					name: "relatedOrgManualAddressLine4"
				}) }}
			
				{{ govukInput({
					label: {
						text: "Town or city"
					},
					
					classes: "govuk-!-width-two-thirds",
					name: "relatedOrgManualAddressTownCity"
				}) }}
			
				{{ govukInput({
					label: {
						text: "County (optional)"
					},
					classes: "govuk-!-width-two-thirds",
					name: "relatedOrgManualAddressCounty"
				}) }}
			
				{{ govukInput({
					label: {
						text: "Postcode"
					},
					
					classes: "govuk-input--width-10",
					name: "relatedOrgManualAddressPostCode"
				}) }}
				
		
			

				<!-- 
				
				,
					errorMessage: {
					  text: "Enter address line 1, typically the building and street"
					}
				
				
				,
					errorMessage: {
					  text: "Enter town or city"
					}

				,
					errorMessage: {
					  text: "Enter a zip or postal code"
						} -->
				
				<!-- <div class="govuk-form-group govuk-form-group--error">
				<p id="phone-number-error" class="govuk-error-message">
					<span class="govuk-visually-hidden">Error:</span> Select a country
				  </p>  

				</div> -->

		
		

      		{{ govukButton({
        		text: "Continue"
      		}) }}

        </form>

    </div>
</div>
{% endblock %}
