{% extends "/layouts/main.html" %}
{% set showBackLink = true %}


{% set pageHeading = "What is the address?" %}
{% set pageSection = "Add related organisation" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block beforeContent %}
	<div id="profile">    	
        {% include "includes/account-nav.html" %}
  	</div>    
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}  

      	<form action="/account/manage/related/check-your-answers" method="post">
    

			{% call govukFieldset({
				legend: {
					text: title,
					classes: "govuk-fieldset__legend--xl",
					isPageHeading: false
					}
				}) %}

				{{ govukInput({
					label: {
					html: 'Building number'
					},
					classes: "govuk-input--width-10",
					id: "building-number",
					name: "building-number"
				}) }}

				{{ govukInput({
					label: {
					html: 'Sub-building name'
					},
					hint: {
					text: "For example the unit, room or apartment number"
					},
					classes: "govuk-input--width-10",
					id: "sub-building-name",
					name: "sub-building-name"
				}) }}

				

				{{ govukInput({
					label: {
					html: 'Building name'
					},
					classes: "govuk-input--width-10",
					id: "building-name",
					name: "building-name"
				}) }}

				{{ govukInput({
					label: {
					html: 'Street name'
					},
					classes: "govuk-!-width-two-thirds",
					name: "street-name",
					id: "street-name"
				}) }}

				{{ govukInput({
					label: {
					text: "Town or city"
					},
					classes: "govuk-!-width-two-thirds",
					id: "address-town",
					name: "address-town"
				}) }}

				{{ govukInput({
					label: {
					text: "County"
					},
					classes: "govuk-!-width-two-thirds",
					id: "address-county",
					name: "address-county"
				}) }}

				{{ govukInput({
					label: {
					text: "Postcode"
					},
					classes: "govuk-!-width-two-thirds",
					id: "address-county",
					name: "address-county"
				}) }}

				{{ govukInput({
					label: {
					text: "Country"
					},
					classes: "govuk-!-width-two-thirds",
					id: "address-country",
					name: "address-country"
				}) }}

      		{% endcall %}

      		{{ govukButton({
        		text: "Continue"
      		}) }}

        </form>

    </div>
</div>
{% endblock %}
