{% extends "/layouts/main.html" %}
{% set showBackLink = true %}


{% set pageHeading = "What is their postcode?" %}
{% set pageSection = "Add related organisation" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block beforeContent %}
	<div id="profile">    	
        {% include "includes/account-nav.html" %}
  	</div>    
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }} 

      	<form action="/account/manage/related/select-address" method="post">



			  <p class="govuk-body">
				If you cannot find the address or need to add a non-UK address you can add the address manually.
			  </p>
	

			<!-- Original <div>
				<p class="govuk-body">
				  If you cannot find your address or you need to add a non-UK address you can add it manually below.
				</p>
			  </div> -->

        	{{ govukInput({
          		label: {
            		text: "Enter the postcode",
            		classes: "govuk-visually-hidden"
          		},
          		classes: "govuk-input--width-10",
          		id: "relatedCompanyPostcode",
          		name: "relatedCompanyPostcode",
          		value: relatedCompanyPostcode
        	}) }}

			<div class="govuk-button-group">
				{{ govukButton({
					text: "Find address"
				}) }}

        		<p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/related/manual-address">
					Enter the address manually</a>
				</p>
			</div>
      	</form>

  	</div>
</div>

{% endblock %}
