{% extends "/layouts/main.html" %}
{% set showBackLink = true %}


{% set pageHeading = "Are the contact details the same as for the parent organisation?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block beforeContent %}
	<div id="profile">    	
        {% include "includes/account-nav.html" %}
  	</div>    
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }} 

		<form action="/account/manage/related/check-your-answers" method="post">

        	{{ govukRadios({
          		idPrefix: "relatedCompanySameContact",
          		name: "relatedCompanySameContact",          		
          		items: [
            		{ value: "Yes", text: "Yes", checked:  checked('relatedCompanySameContact','Yes') },
            		{ value: "No~/account/manage/related/contact-details", text: "No", checked:  checked('relatedCompanySameContact','No') }
          		]
        	}) }}

        	{{ govukButton({
          		text: "Continue"
        	}) }}

      	</form>

  	</div>
</div>

{% endblock %}