{% extends "/layouts/main.html" %}
{% set showBackLink = true %}


{% set pageHeading = "Are their contact details the same as the parent organisation?" %}
{% set pageSection = "Add related organisation" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block beforeContent %}
	<div id="profile">    	
        {% include "includes/account-nav.html" %}
  	</div>    
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }} 

		<form action="/account/manage/related/check-your-answers" method="post">


<!-- Inset text -->
			{{ govukInsetText({
				html: '							
				<ul class="govuk-list">
					<li><b>Telephone number</b></li>
					<li>0171 444555666</li>
					<br>
					<li><b>Email address</b></li>
					<li>simone@org.com</li>
				</ul>'
			  }) }}


        	{{ govukRadios({
				classes: "govuk-radios--inline",
          		idPrefix: "relatedCompanySameContact",
          		name: "relatedCompanySameContact",          		
          		items: [
            		{ value: "Yes", text: "Yes", checked:  checked('relatedCompanySameContact','Yes') },
            		{ value: "No~/account/manage/related/contact-details", text: "No", checked:  checked('relatedCompanySameContact','No') }
          		]
        	}) }}

        	{{ govukButton({
          		text: "Continue"
        	}) }}

      	</form>

  	</div>
</div>

{% endblock %}