{% extends "/layouts/main.html" %}
{% set showBackLink = true %}


{% set pageHeading = "Select their address" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block beforeContent %}
	<div id="profile">    	
        {% include "includes/account-nav.html" %}
  	</div>    
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }} 
<!-- 
    	<p class="govuk-body">Postcode: <span class="govuk-!-font-weight-bold">{{ data['relatedCompanyPostcode'] }}</span>&nbsp;&nbsp; <a href="/account/manage/related/company-postcode" class="govuk-link">Change<span class="govuk-visually-hidden"> postcode</span></a></p> -->

		<div class="govuk-inset-text">
			<p>We found the following addresses for postcode <span class="govuk-!-font-weight-bold">{{ data['relatedCompanyPostcode'] }}</span>.</p>
			
			<a href="/account/manage/related/postcode" class="govuk-link">Change postcode<span class="govuk-visually-hidden"> postcode</span></a>
		</div>


      	<form action="/account/manage/related/check-your-answers" method="post">
    

    		{{ govukSelect({
        		id: "addressList",
        		name: "addressList",
        		label: {
        		},
        		items: [
					{ value: "", text: "15 addresses found", selected: true },
					{ value: "1,3", text: "Flat 1, 3, Grange Road, Bristol, BS1 5AH" },
					{ value: "2,3", text: "Flat 2, 3, Grange Road, Bristol, BS1 5AH" },
					{ value: "5", text: "Flat 5, Grange Road, Bristol, BS1 5AH" },
					{ value: "7", text: "7, Grange Road, Bristol, BS1 5AH" },
					{ value: "9", text: "9, Grange Road, Bristol, BS1 5AH" },
					{ value: "11", text: "11, Grange Road, Bristol, BS1 5AH" },
					{ value: "15", text: "15, Grange Road, Bristol, BS1 5AH" },
					{ value: "17", text: "17, Grange Road, Bristol, BS1 5AH" },
					{ value: "19", text: "19, Grange Road, Bristol, BS1 5AH" },
					{ value: "21", text: "21, Grange Road, Bristol, BS1 5AH" }
        		]
      		}) }}


		<div class="govuk-button-group">
      		{{ govukButton({
        		text: "Continue"
      		}) }}
		</form>
      		<p class="govuk-body"><a href="/account/manage/related/manual-address">The address is not on the list</a></p>
  		</div>

	</div>
</div>
{% endblock %}