{% extends "layout.html" %}

{% set title = "Choose the parent account" %}

{% block header %}
  {% include "includes/logged-out-header.html" %}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="org-type" onsubmit="return myFunction()" method="post">

<script>
  const form = document.querySelector('.org-type')

  function myFunction() {
    const checked = document.querySelector('[name="orgName"]:checked')
    const checkedValue = checked.value

    switch(checkedValue){
      case 'Acme Org Ltd':
      form.action = '/manage/organisations/company-name?addAddress=rel-org&multiOrg=yes'

      break;
      default:
      form.action = '/manage/organisations/company-name?addAddress=rel-org&multiOrg=yes'
    }
    return true
  }
</script>

      {{ govukRadios({
        idPrefix: "orgName",
        name: "orgName",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },

        items: [
          {
            value: "Acme Org Ltd",
            text: "Acme Org Ltd",
            checked:  checked('orgName','Sole trader')
          }


        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
