{% extends "layout.html" %}

{% set title = "Who do you want to register this service with?" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-reg-service.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="org-type" onsubmit="return myFunction()" method="post">
      <script>
        const form = document.querySelector('.org-type')

        function myFunction() {
          const checked = document.querySelector('[name="whichOrg"]:checked')
          const checkedValue = checked.value

          switch(checkedValue){
            case 'new':
            form.action = '/about-data?userType=New&flowType=task'

            break;
            default:
            form.action = '/new-user-reg/service-terms?flowType=task'
          }
          return true
        }
      </script>

      {{ govukRadios({
        idPrefix: "whichOrg",
        name: "whichOrg",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Acme Org Ltd",
            text: "Acme Org Ltd",
            checked:  checked('whichOrg', 'Acme Org Ltd')
          },
          {
            value: "FarmerRUS",
            text: "FarmerRUS",
            checked:  checked('whichOrg', 'FarmerRUS')
          },
          {
            value: "Importers RUS",
            text: "Importers RUS",
            checked:  checked('whichOrg', 'Importers RUS')
          },
          {
            value: "Yourself (Ann Cooper)",
            text: "Yourself (Ann Cooper)",
            checked:  checked('whichOrg', 'Yourself (Ann Cooper)m')
          },
          {
            divider: "or"
          },
          {
            value: "new",
            text: "I want to register for myself or a new organisation or business",
            checked:  checked('whichOrg', 'new')
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
