{% extends "layout.html" %}

{% set title = "Your reference" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-task.html" %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{title}}</h1>
    {{ govukPanel({
          titleText: "Application pending",
          html: "Your reference number<br><strong>HDJ2123F</strong>"
        })
    }}

    <p class="govuk-body">We have sent a confirmation email to {{data['scpEmail']}}.</p>

    <h3 class="govuk-heading-m">What happens next</h3>

    <p class="govuk-body">[Service name] will contact you either to confirm your enrollment or to ask for more information.</p>

    <p class="govuk-body"><a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)</p>

    {{ govukButton({
        text: "Sign out",
        href: "/service-start-logged-out"
    }) }}

  </div>
</div>


{% endblock %}
