{% extends "layout.html" %}

{% set title = "What type of account do you want to create?" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form method="post" action="organisation-business-type" onsubmit="return myFunction()">

        <script>
        function myFunction() {
          if(!document.getElementById('orgType-1').checked){
            alert('This page is in work in progress');
            return false
          }
          return true
        }
        </script>

        {{ govukRadios({
          idPrefix: "orgType",
          name: "orgType",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },

          items: [
            {
              value: "business",
              html: ' <span class="govuk-body govuk-!-font-weight-bold">A business account</span><br>
                      You own or represent the business or organisation that wants to use this service.',
              checked:  checked('orgType','business')

            },
            {
              value: "individual",
              html: ' <span class="govuk-body govuk-!-font-weight-bold">A personal account</span><br>
                      You want to use this service as an individual. You are not a sole trader, and do not own or represent a relevant business or organisation.',
              checked:  checked('orgType','individual')
            }

          ]
      

      
          
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
