{% extends "layout.html" %}

{% set title = "Service questions" %}

{% block header %}
  {% include "includes/logged-out-header.html" %}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block header %}
  {% if data['serviceLine'] == "Notification Service" %}
    {{ govukHeader({ serviceName: "Notification Service", serviceUrl: "/" }) }}
  {% endif %}
  {% if data['serviceLine'] == "Comply with REACH IT" %}
    {{ govukHeader({ serviceName: "Comply with REACH IT", serviceUrl: "/" }) }}
  {% endif %}
  {% if data['serviceLine'] == "VMD Secure Messaging" %}
    {{ govukHeader({ serviceName: "VMD Secure Messaging", serviceUrl: "/" }) }}
  {% endif %}
  {% if data['serviceLine'] == "Apply for Export Catch Certificate" %}
    {{ govukHeader({ serviceName: "Apply for Export Catch Certificate", serviceUrl: "/" }) }}
  {% endif %}
  {% if data['serviceLine'] == "Exporter Service" %}
    {{ govukHeader({ serviceName: "Exporter Service", serviceUrl: "/" }) }}
  {% endif %}
  {% if data['serviceLine'] == "Export Health Certificates" %}
    {{ govukHeader({ serviceName: "Export Health Certificates", serviceUrl: "/" }) }}
  {% endif %}
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{title}}</h1>

    {% if (data['serviceLine'] == "Notification Service") or (data['serviceLine'] == "Apply for Export Catch Certificate") or (data['serviceLine'] == "Comply with REACH IT") or (data['serviceLine'] == "Exporter Service") %}
      <form action="/confirmation-reg-sent-success" method="post">
    {% endif %}

    {% if (data['serviceLine'] == "VMD Secure Messaging") %}
      <form action="/confirmation-reg-sent-pending" method="post">
    {% endif %}

    {% if (data['serviceLine'] == "Export Health Certificates") %}
      <form action="confirmation-reg-sent-pending" method="post">
    {% endif %}




      <p class="govuk-body">[Insert service question content here]</p>

      {{ govukButton({
          text: "Submit application"
        }) }}

    </form>

  </div>
</div>


{% endblock %}
