{% extends "layout.html" %}

{% set title = "3. Service questions" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {% include "includes/account-nav-admin-reg.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{title}}</h1>

    {% if data['regSuccess'] == "success" %}
      <form action="confirmation-reg-sent-success" method="post">
    {% endif %}

    {% if data['regSuccess'] == "pending" %}
      <form action="confirmation-reg-sent-pending" method="post">
    {% endif %}

      <p class="govuk-body">[Insert service question content here]</p>

      {{ govukButton({
          text: "Submit application"
        }) }}

    </form>

  </div>
</div>


{% endblock %}
