{% extends "layout.html" %}

{% set title = "Service questions" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block header %}
  {% if data['service'] == "Imports" %}
    {{ govukHeader({ serviceName: "Imports" }) }}
  {% endif %}
  {% if data['service'] == "Chemicals" %}
    {{ govukHeader({ serviceName: "Chemicals" }) }}
  {% endif %}
  {% if data['service'] == "VMD" %}
    {{ govukHeader({ serviceName: "VMD" }) }}
  {% endif %}
{% endblock %}

{% block beforeContent %}

  {% include "includes/account-nav-admin-reg-service.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{title}}</h1>

    {% if (data['service'] == "Imports") or (data['service'] == "Exports") or (data['service'] == "Chemicals") %}
      <form action="/service-start-complete" method="post">
    {% endif %}

    {% if data['service'] == "VMD" %}
      <form action="/service-start-pending" method="post">
    {% endif %}


      <p class="govuk-body">[Insert service question content here]</p>

      {{ govukButton({
          text: "Submit application"
        }) }}

    </form>

  </div>
</div>


{% endblock %}
