{% extends "layout.html" %}

{% set title = "Specific information needed by the service" %}

{% block header %}
  {% include "includes/logged-out-header.html" %}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block header %}
  {% if data['serviceLine'] == "Notification Service" %}
    {{ govukHeader({ serviceName: "Notification Service", serviceUrl: "/" }) }}
  {% endif %}
  {% if data['serviceLine'] == "Comply with REACH IT" %}
    {{ govukHeader({ serviceName: "Comply with REACH IT", serviceUrl: "/" }) }}
  {% endif %}
  {% if data['serviceLine'] == "VMD Secure Messaging" %}
    {{ govukHeader({ serviceName: "VMD Secure Messaging", serviceUrl: "/" }) }}
  {% endif %}
  {% if data['serviceLine'] == "Apply for Export Catch Certificate" %}
    {{ govukHeader({ serviceName: "Apply for Export Catch Certificate", serviceUrl: "/" }) }}
  {% endif %}
  {% if data['serviceLine'] == "Exporter Service" %}
    {{ govukHeader({ serviceName: "Exporter Service", serviceUrl: "/" }) }}
  {% endif %}
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}

{% if data['service'] == "Imports" %}

  {% set nextLinkURL = "confirmation-reg-sent-success" %}

  {% else %}

  {% set nextLinkURL = "service-questions" %}

{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{ nextLinkURL }}" method="post">

      <div class="govuk-form-group">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Specific information needed by the {{ data['service'] }} service
              </h1>
            </legend>
            {% from "inset-text/macro.njk" import govukInsetText %}

              {{ govukInsetText({
                 text: "We have saved the information you gave us. This means you will not be asked to enter it again when you register to use other Defra online services."
               }) }}
            <p class="govuk-body">You will now be asked to provide some specific information needed to complete your registration with the {{ data['service'] }} service.</p>
            <p class="govuk-body">You will then be able to use the {{ data['service'] }} service straight away.</p>

            <ul class="govuk-list govuk-list--bullet">
               <li><a href="#">Terms and conditions</a></li>
               <li><a href="#">Privacy notice</a></li>
             </ul>

            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="terms" name="terms" type="checkbox" value="terms">
                <label class="govuk-label govuk-checkboxes__label" for="terms">
                  I have read and accept the terms and conditions for the {{ data['service'] }} service.
                </label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
