{% extends "layout.html" %}

{% set title = "Account access given" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-visually-hidden">{{title}}</h1>
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Account access has been given
      </h1>
    </div>


    <form action="../services-on-team-member-verify?verifiedUser=yes&accountAccess=yes" method="post">
    <p class="govk-body">You have given {{ data['name'] }} account access on behalf of {{ data['orgName'] }} with the account role of {{ data['systemRole'] }}.</p>
    <p class="govuk-body">You can change or remove this access at any time.</p>




    {{ govukButton({
      text: "Continue"
    }) }}


  </div>
</div>



{% endblock %}
