{% extends "layout.html" %}

{% set title = "Invite Intermediary" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-visually-hidden">{{title}}</h1>
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        An invitation email has been sent to
      </h1>
      <div class="govuk-panel__body">

      </div>

    </div>

    <h3 class="govuk-heading-m">What happens next</h3>

    <p class="govuk-body"><span class="govuk-!-font-weight-bold">{{data['agentEmail']}}</span> must respond to the invitation email within 30 days before it expires. After that time you will need to repeat this process to invite them again.</p>
    <p class="govuk-body">Once this person has registered to use online services, you can choose which information and tasks they can see and do on behalf of your organisation.</p>


    {{ govukButton({
      text: "Continue",
      href: "/manage/agent/agent"
    }) }}

  </div>
</div>


{% endblock %}
