{% extends "layout.html" %}

{% set title = "You now have access to use an online service for [organisation name]" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{title}} </h1>
        <p class="govuk-body">Hello [first name],</p>
        <p class="govuk-body">[Admin first name] [Admin last name] has given you permission to access the following online service from Defra or a related organisation on behalf of [organisation name]:</p>
        <ul class="govuk-list govuk-list--number">
          <li>[service name]</li>
        </ul>
        <div class="govuk-inset-text">
          <p class="govuk-link"><a href="/scp/login-complete?userType=new-complete-agent&numUsers=5&numServices=3&numAgents=3&numLocations=1&service=Chemicals&serviceLine=UK-REACH-IT">Sign in to access this service</a></p>
        </div>




    </div>
</div>

{% endblock %}
