{% extends "layout.html" %}

{% set title = "Create a 6 digit security PIN" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data['flowType'] == "check" %}
      <form method="post" action="check-your-answers">
    {% else %}
      <form method="post" action="task-list-page-account-pin">
    {% endif %}

        <h1 class="govuk-heading-xl">{{title}}</h1>
        <p class="govuk-body">Your  security PIN is a unique 6 digit number that we use to identify you when you contact Defra services regarding your account.</p>

        {{ govukInput({
          label: {
            text: "Enter a 6 digit PIN",
            isPageHeading: false
          },
          classes: "govuk-input--width-5",
          id: "securityPIN",
          name: "securityPIN",
          value: data['securityPIN'],
          type: "password"
        }) }}

        {{ govukInput({
          label: {
            text: "Confirm your PIN",
            isPageHeading: false
          },
          classes: "govuk-input--width-5",
          id: "confirmSecurityPIN",
          name: "confirmSecurityPIN",
          value: data['confirmSecurityPIN'],
          type: "password"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

  </div>
</div>

{% endblock %}
