{% extends "layout.html" %}

{% set title = "You have been timed out" %}

{% block header %}
{{ govukHeader({ serviceName: "" }) }}
{% endblock %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}
{% block pageScripts %}







{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        {{title}}
    </h1>
    <p class="govuk-body">We have timed you out because you did not do anything for 15 minutes. We did this to keep your information secure.</p>

    


    {{ govukButton({
        text: "Start again",
        href: "./"
      }) }}

      <p class="govuk-body">You can <a href="./">return to GOV.UK</a>if you do not want to start again</p>

      
      

    </div>
  
  </div>


        

        

    

       



{% endblock %}