{% extends "layout.html" %}

{% set title = "You will be signed out in 15 minutes" %}

{% block header %}
{{ govukHeader({ serviceName: "" }) }}
{% endblock %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}
{% block pageScripts %}

<style>
    body {font-family: Arial, Helvetica, sans-serif;}
    
    /* The Modal (background) */
    .modal {
      
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }
    
    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    </style>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");
    
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>

    <script>
      $("#close").click(function(){
    $(".model-content").fadeOut(150);
});
    </script>






{% endblock %}

{% block content %}

<div id="myModal" class="modal">
    
    <!-- Modal content -->
    <div class="modal-content" role="dialog" id="dialog1" aria-labelledby="dialog1_label" aria-modal="true">
      <span id="close" class="close">&times;</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        {{title}}
    </h1>
    <p class="govuk-body">We will not be able to save your data and you will lose what has been entered. We do this to keep your information secure.</p>


    {{ govukButton({
        text: "Stay signed in",
        href: "../mfa/account-page"
      }) }}

      <a class="govuk-body govuk-!-margin-left-3" href="you-have-signed-out">Completely sign out</a>

    </div>
  
  </div>


        

        

    

       



{% endblock %}