.govuk-body--grey{
  color: govuk-colour("grey-1");
}


// Cookie policy pop over
.cookie_overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999999999;
}

.cookie_dialog {
    right: 15vw;
    bottom: 4vh;
    left: 15vw;
    max-width: 100%;
    position: fixed;
    background-color: white;
    margin: auto;
    padding: 3rem 3rem 1rem 3rem !important;

}

.center {
  margin: auto;
  text-align: center;
}


.rc-anchor-light.rc-anchor-normal {
    border: 1px solid #d3d3d3;
}

.rc-anchor-light {
    background: #f9f9f9;
    color: #000;
}

.rc-anchor-normal {
    height: 74px;
    width: 300px;
}

.rc-anchor {
    border-radius: 3px;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.08);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.08);
}

.rc-anchor-aria-status {
    display: none;
}

.rc-anchor-error-msg-container {
    color: #ff0000;
    font-family: Roboto,helvetica,arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    left: 0;
    line-height: 14px;
    margin: 2px;
    position: absolute;
    top: 0;
}

.rc-anchor-normal .rc-anchor-content {
    height: 74px;
    width: 206px;
}

.rc-anchor-content {
    display: inline-block;
}

.rc-inline-block {
    display: inline-block;
    height: 100%;
}

.rc-anchor-center-container {
    display: table;
    height: 100%;
}

.rc-anchor-error-message {
    color: #ff0000;
    font-family: Roboto,helvetica,arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding: 0px 10px;
}

.rc-anchor-center-item {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;

}

.rc-anchor-normal-footer {
    display: inline-block;
    height: 74px;
    vertical-align: top;
    width: 70px;
}

.rc-anchor-normal .rc-anchor-pt {
    margin: 2px 13px 0 0;
    padding-right: 2px;
    position: absolute;
    /* right: 0px; */
    text-align: right;
    width: 82px;
}

.rc-anchor-logo-portrait {
    margin: 10px 0 0 26px;
    width: 58px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.rc-anchor-logo-img-portrait {
    background-size: 32px !important;
    height: 32px;
    margin: 0 13px 0 13px;
    width: 32px;
}

.rc-anchor-logo-img {
    background: url(https://www.gstatic.com/recaptcha/api2/logo_48.png);
    background-repeat: no-repeat;
}

.rc-anchor-light .rc-anchor-logo-text {
    color: #555;
}

.rc-anchor-pt a {
    text-decoration: none;
}

.rc-anchor-light .rc-anchor-pt a:link, .rc-anchor-light .rc-anchor-pt a:visited {
    color: #555;
}


.rc-anchor-logo-text {
    cursor: default;
    font-family: Roboto,helvetica,arial,sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    margin-top: 5px;
    text-align: center;
}

.rc-anchor-normal .rc-anchor-pt, .rc-anchor-invisible .rc-anchor-pt, .rc-anchor-compact .rc-anchor-pt {
    font-family: Roboto,helvetica,arial,sans-serif;
    font-size: 8px;
    font-weight: 400;
}

.rc-anchor-pt {
    background-image: url(data:image/png;base64,iVBORw0KGgBpLSYkOkU9XLAVOfqFLrz4wBw0YFXJXInXNlFFeX2uk…Rlx8wBdaQiVmS+iAMBAd+sCUxtXrP+/wBWbZwO5Y9RCTSBbx5GQY+vjEABqvec5ov9KrsKaIHx);
}



//

.govuk-table__header--column-half {
  width: 50%;
}

.govuk-table__header--column-third {
  width: 33.333%;
}

.govuk-table__header--column-quarter {
  width: 25%;
}

.govuk-table__header--column-fifth {
  width: 20%;
}

.govuk-table__header--column-sixth {
  width: 16.666%;
}

.govuk-table__header--column-eighth {
  width: 12.5%;
}

.govuk-list--indent {
  padding-left: 20px;
}

.govuk-heading-xl--no-margin {
  margin-bottom: 20px;
}
