{% extends "/layouts/main.html" %}

{% set serviceName = "Defra identity" %}

{% set title = "Select your business" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block pageScripts %}

<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.js"></script>
<script type="text/javascript">
  accessibleAutocomplete.enhanceSelectElement({
    defaultValue: '',
    selectElement: document.querySelector('#org-picker'),
    placeholder: 'Search for a business'
  })




</script>



{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">{{ title }}</h1>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="account-page" method="post">

      <p class="govuk-body">Businesses registered to your Rural Payments Agency (RPA) account are included in the following list.</p>
      <div id="waste-hint" class="govuk-hint">
      Select the business that’s applying for an annual health and welfare review of livestock.
      </div>

      <div class="govuk-form-group">

        <select id="org-picker">
          <option value="0"></option>
          <option value="1">A James LLC</option>
          <option value="2">Antillo Fujam Gardens</option>
          <option value="3">Crest Jamet Homes Limited</option>
          <option value="4">Dursley Jams Co.</option>
          <option value="5">James Company</option>
          <option value="6">Eddard Benjamin</option>
          <option value="7">Fruit Jams Co</option>
          <option value="8">Terry PLC</option>
          <option value="9">McClure-Mowen</option>
          <option value="10">Feeney Group</option>
          <option value="11">Medhurst-Jackson</option>
          <option value="12">Schroeder-Corkery</option>
          <option value="13">Jaskolski-Mertzen
          </option>
          <option value="14">Daugherty-Jacobson</option>
          <option value="15">Becker and Sons</option>
          <option value="16">Emmerich-Turcotte</option>
          <option value="17">O'Reilly and Son</option>
          <option value="18">Becker-Kevins</option>
          <option value="19">Lang, Daniel and Schmeler</option>
          <option value="20">Dunster</option>
          <option value="21">Turcotte and Homes</option>
          <option value="22">Bartell LLC, Heidenreich-Gower</option>
          <option value="23">Pollack Inc</option>
          <option value="24">Schroeder Ltd</option>
          <option value="25">Bo Inc.</option>
          <option value="26">Mosciski</option>
          <option value="27">Langworth and Medhurst</option>
          <option value="28">Diverse Holdings</option>
          <option value="29">Rippin-Lindgren</option>
          <option value="30">Champlin Ltd</option>
          <option value="31">Raker Group</option>
          <option value="32">Raker Group</option>
          <option value="33">Goyette LLC&quot;</td>
          <option value="34">Wilderman</option>
          <option value="35">Oberbrunner and Hammes
          </option>
          <option value="36">Hertzer W Group</option>
          <option value="37">Luke Swimmer LLC</option>
          <option value="38">Watsica PLC</option>
          <option value="39">Richmann LLC</option>
          <option value="40">Gislason-Klocko</option>
          <option value="41">Skiles and Sons</option>
          <option value="42">Orn Ltd</option>
          <option value="43">Rutherford Inc</option>
          <option value="44">Waelchi and Sons</option>
          <option value="45">Moen PLC</option>
          <option value="46">QQC Plc</option>
          <option value="47">Hoppe, Boyer and Ortiz</option>
          <option value="48">Heathcote-Bradtke</option>
          <option value="49">Rempel-Reynolds</option>


        </select>

      </div>






      {{ govukButton({
      text: "Continue"

      }) }}




    </form>


  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Need to update the list?
        </span>
      </summary>
      <div class="govuk-details__text">
        Contact the Rural Payments Agency.<br><br>
        Rural Payments Agency  <br>
        Telephone: 03000 200 301 <br>
        Monday to Friday, 8:30am to 5pm (except public holidays) <br>
        <a href="mailto:ruralpayments@defra.gov.uk?subject=feedback">ruralpayments@defra.gov.uk</a>
        <br><br>
        <p class="govuk-body">Find out about <a href="https://www.gov.uk/call-charges" target=”_blank”>call charges</p>
      </div>
    </details>

  </div>
</div>


<!-- AUTOCOMPLETE SCRIPT -->

<script>
  function autocomplete(inp, arr) {
    /*the autocomplete function takes two arguments,
    the text field element and an array of possible autocompleted values:*/
    var currentFocus;
    /*execute a function when someone writes in the text field:*/
    inp.addEventListener("input", function (e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false; }
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function (e) {
            /*insert the value for the autocomplete text field:*/
            inp.value = this.getElementsByTagName("input")[0].value;
            /*close the list of autocompleted values,
            (or any other open lists of autocompleted values:*/
            closeAllLists();
          });
          a.appendChild(b);
        }
      }
    });
    /*execute a function presses a key on the keyboard:*/
    inp.addEventListener("keydown", function (e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
    });
    function addActive(x) {
      /*a function to classify an item as "active":*/
      if (!x) return false;
      /*start by removing the "active" class on all items:*/
      removeActive(x);
      if (currentFocus >= x.length) currentFocus = 0;
      if (currentFocus < 0) currentFocus = (x.length - 1);
      /*add class "autocomplete-active":*/
      x[currentFocus].classList.add("autocomplete-active");
    }
    function removeActive(x) {
      /*a function to remove the "active" class from all autocomplete items:*/
      for (var i = 0; i < x.length; i++) {
        x[i].classList.remove("autocomplete-active");
      }
    }
    function closeAllLists(elmnt) {
      /*close all autocomplete lists in the document,
      except the one passed as an argument:*/
      var x = document.getElementsByClassName("autocomplete-items");
      for (var i = 0; i < x.length; i++) {
        if (elmnt != x[i] && elmnt != inp) {
          x[i].parentNode.removeChild(x[i]);
        }
      }
    }
    /*execute a function when someone clicks in the document:*/
    document.addEventListener("click", function (e) {
      closeAllLists(e.target);
    });
  }

  /*An array containing all the country names in the world:*/
  var countries = ["A James LLC", "Antillo Fujam Gardens", "Crest Jamet Homes Limited", "Dursley Jams Co.","Enterprise James Company", "Eddard Benjamin", "Fruit Jams Co", "Terry PLC", "McClure-Mowen", "Feeney Group",
"Medhurst-Jackson","Schroeder-Corkery", "Jaskolski-Mertzen", "Daugherty-Jacobson", "Becker and Sons", "Emmerich-Turcotte", "O'Reilly and Son", "Becker-Kevins", "Lang, Daniel and Schmeler", "Dunster, Turcotte and Homes", "Bartell LLC","Heidenreich-Gower", "Pollack Inc","Schroeder Ltd", "Bo Inc.",
"Mosciski, Langworth and Medhurst","Diverse Holdings","Rippin-Lindgren","Champlin Ltd","Raker Group","Raker Group","Goyette LLC","Wilderman, Oberbrunner and Hammes","Hertzer W Group","Luke Swimmer LLC","Watsica PLC","Richmann LLC","Gislason-Klocko","Skiles and Sons","Orn Ltd","Rutherford Inc","Waelchi and Sons",
"Moen PLC","QQC Plc","Hoppe, Boyer and Ortiz","Heathcote-Bradtke","Rempel-Reynolds" ]


  /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
  autocomplete(document.getElementById("deptCountry"), countries);
  autocomplete(document.getElementById("arrivalCountry"), countries);


</script>


{% endblock %}
