{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "{Service Name}" %}

{% set pageHeading = "Cookies on Your Defra account" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

{% if errors.length %}
    {{ govukErrorSummary({
    titleText: 'There is a problem',
    errorList: errors
    }) }}
  {% endif %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

       
  
 
        <p class="govuk-body">Cookies are files saved on your phone, tablet or computer when you visit a website.</p>        
        
       
        
        
            <!-- <h2 class="govuk-heading-m">Strictly necessary cookies</h2>
            <p class="govuk-body">These cookies are essential to make this service run effectively and to help us comply with data protection laws. You cannot turn these cookies off.</p>        
            <input type="hidden" id="redirectLink" name="redirectLink" value="{{ redirectLink | safe }}"/>
            <p class="govuk-body"><a href="/cookies" class="govuk-link govuk-link--no-visited-state">Find out more about cookies</a></p> -->

            <h2 class="govuk-heading-l">Cookies that are strictly necessary</h2>
            <p class="govuk-body">These cookies are essential to make this service run and to help us stay in line with data protection laws. You cannot turn these cookies off.</p>

            <h3 class="govuk-heading-m">Introductory cookie message</h3>
            <p class="govuk-body">You may see a pop-up welcome message when you first visit. A cookie is stored so that your computer knows you’ve seen it and knows not to show it again.</p>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header govuk-table__header--column-full" scope="col">Name</th>
                        <th class="govuk-table__header govuk-table__header--column-full" scope="col">Purpose</th>
                        <th class="govuk-table__header govuk-table__header--column-sixth column-full" scope="col">Expires</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">seen_cookie_message</td>
                        <td class="govuk-table__cell">Saves a message to let us know that you’ve seen our cookie message</td>
                        <td class="govuk-table__cell">In 12 months</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">cookie_policy</td>
                        <td class="govuk-table__cell">Saves a message to let us know that you’ve seen our cookie message</td>
                        <td class="govuk-table__cell">In 12 months</td>
                    </tr>
                </tbody>
            </table>

            <h3 class="govuk-heading-m">Google reCAPTCHA cookies</h3>
            <p class="govuk-body">We use Google reCAPTCHA on this site to make sure that information (for example, in forms) is entered by a human and not by automated software. Some of the data collected by reCAPTCHA cookies is forwarded to Google. See the <a href="https://policies.google.com/privacy" class="govuk-link" rel="noreferrer noopener" target="_blank">Google Privacy Policy (opens in new tab)</a> and the <a href="https://policies.google.com/terms" class="govuk-link" rel="noreferrer noopener" target="_blank">Google Terms of Service (opens in new tab)</a>.</p>

            <h3 class="govuk-heading-m">Other essential cookies</h3>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header govuk-table__header--column-full" scope="col">Name</th>
                        <th class="govuk-table__header govuk-table__header--column-full" scope="col">Purpose</th>
                        <th class="govuk-table__header govuk-table__header--column-sixth column-full" scope="col">Expires</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">idm</td>
                        <td class="govuk-table__cell">Lets us know that you’ve logged in or registered</td>
                        <td class="govuk-table__cell">In 3 days</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">crumb</td>
                        <td class="govuk-table__cell">Helps to prevent unauthorised requests</td>
                        <td class="govuk-table__cell">On closing browser</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">session</td>
                        <td class="govuk-table__cell">Stores information that you’ve submitted</td>
                        <td class="govuk-table__cell">In 3 days</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">ARRAffinity</td>
                        <td class="govuk-table__cell">Makes sure that your page requests go to the same server in any browsing session</td>
                        <td class="govuk-table__cell">On closing browser</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">cookie_policy</td>
                        <td class="govuk-table__cell">Lets us know that you’ve seen our cookie message</td>
                        <td class="govuk-table__cell">In 12 months</td>
                    </tr>
                </tbody>
            </table>

        <h3 class="govuk-heading-m">Government services</h3>
        <p class="govuk-body">Most services we link to are run by different government departments, for example HM Revenue and Customs or the Home Office. These services may set other cookies and, if so, will have their own cookies policy.</p>
        
        <div class="govuk-inset-text">
            <p class="govuk-body-s">This was last updated on 22 March 2023</p>
        </div>


    </div>
</div>
{% endblock %}