{% extends "/layouts/main.html" %}

<!-- {% set title = "You do not have permission to access the service" %} -->
{% set title = "Sorry, there is a problem with this service" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  <!-- {% include "includes/account-nav-admin-login.html" %} -->

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{title}}
    </h1>

    <p>
      Please try again later.
    </p>

    <p>
      <a href="help.html#contacting-defra-services">Contact the relevant service</a> for advice about other ways to complete your task.
    </p>

  </div>
</div>

{% endblock %}
