{% extends "layout.html" %}

{% set title = "You have already been invited to this account" %}

{% block header %}
  {% include "includes/logged-out-header.html" %}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-xl">{{ title }}</h1>

    <p class="govuk-body">You were sent an invitation to the account for [organisation name]. Check your email and accept the invitation.</p>

    <p class="govuk-body">Alternatively, contact the account administrator to request a new invitation:</p>

    <p class="govuk-body">
      Ann Cooper<br>
      email@email.com<br>
      0784839396936
    </p>

    {{ govukButton({
      text: "Continue",
      href: "/manage/team-members/services-on-team-member-admin-account_individual"
    }) }}



    </div>
  </div>




{% endblock %}
