{% extends "layout.html" %}

{% set title = "You have been given online access to the [service name] service" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{title}} </h1>
        <p class="govuk-body">Hello [First name],</p>
        <p class="govuk-body">((sender)) has invited you to access the ((service name)) service on behalf of [organisation's name].</p>
        <p class="govuk-body">You have been given the following level of access:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ data['serviceRole']}} - ((service role description))</li>
          <li>{{ data['systemRole']}} - ((system role description))</li>
        </ul>

        <div class="govuk-inset-text">
          To access this service,<p class="govuk-link"><a href="start-login-create-happy">please follow this link to the Defra website.</a></p>
        </div>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            To withdraw your consent for this Defra service to store and use your email address, please follow the guidance in our privacy policy: URL.
          </strong>
        </div>

    </div>
</div>

{% endblock %}
