{% extends "layout.html" %}

{% set title = "You have been given online access to [organisation's name] Defra account" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{title}} </h1>
        <p class="govuk-body">Hello [First name],</p>
        <p class="govuk-body">((sender)) has invited you to access Defra online services on behalf of [organisation's name].</p>
        <p class="govuk-body">You have been given the role of administrator. This means you can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>view all information held by the services your organisation is registered with</li>
          <li>submit data to these services</li>
          <li>give or remove access to services</li>
        </ul>

        <p class="govuk-body"> OR </p>
        <p class="govuk-body">You have been given the role of a standard user. This means you can view information held by the services you are given access to.</p>

        <div class="govuk-inset-text">
          To view this Defra account, you need to complete a secure identity check. <p class="govuk-link"><a href="start-login-create-happy">Please go to the Defra website and follow the instructions.</a></p>
        </div>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            To withdraw your consent for this service to store and use your email address, please follow the guidance in our privacy policy: URL.
          </strong>
        </div>

    </div>
</div>

{% endblock %}
