{% extends "layout.html" %}

{% set title = "Invite team member" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-visually-hidden">{{title}}</h1>
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        An invitation email has been sent
      </h1>
    </div>

    <h3 class="govuk-heading-m">What happens next</h3>

    <p class="govuk-body">When <span class="govuk-!-font-weight-bold">[email address]</span> has registered to use Defra online services, you can choose which information they can see and which tasks they can do on behalf of [organisation name].</p>
    <p class="govuk-body">If they do not respond to the invitation email within 30 days, you'll need to send another invitation.</p>


    {{ govukButton({
      text: "Done",
      classes: "govuk-!-margin-right-1",
      href: "/manage/team-members/team-members"
    }) }}

    {{ govukButton({
      text: "Add a team member",
      classes: "govuk-button--secondary",
      href: "add-user-details"
    }) }}



  </div>
</div>


{% endblock %}
