{% extends "layout.html" %}

{% set title = "What tasks do you want this person to do in the service?" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form action="/manage/team-members/invite-user/enrollment-confirmation" method="post">

        {{ govukRadios ({
          idPrefix: "serviceRole",
          name: "serviceRole",
          fieldset: {
            legend: {
              html: "What tasks do you want this person to do in the service?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            html: setServiceTypeHtml
          },
          items: [
            {
              value: "General user",
              html: 'General user',
              checked:  checked('serviceRole','General user')
            },
            {
              value: "Admin user",
              html: 'Admin user',
              checked:  checked('serviceRole','Admin user')
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>




{% endblock %}
