{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "{Service Name}" %}

{% set pageHeading = "What is your email address?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
        
        <form method="post" action="" >

            {{ govukInput({
                label: {
                    text: "Email address",
                    classes: "govuk-visually-hidden",
                    isPageHeading: false
                },
                classes: "govuk-!-width-two-thirds"
            }) }}(verificaationCode)) }}
            
            
            {{ govukButton({
                text: "Continue"
            }) }}                                


        </form>
       
    </div>
</div>


{% endblock %}
