{% extends "layout.html" %}
{% set showBackLink = false %}
{% set serviceName = "" %}

{% if data['status'] == "review" %}
    {% set pageHeading = "Enter the verification code" %}
{% else %}
    {% set pageHeading = "Enter your verification code" %}
{% endif %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        {% if data['status'] == "review" %}
            <p class="govuk-body">We have sent a 6-digit verification code to <span class="govuk-!-font-weight-bold">+XXXXXXX123</span></p>
            <p class="govuk-body">It may take a few minutes to arrive and will expire in 10 mins.</p>
            <!-- <p class="govuk-body">The code will expire in 10 minutes.</p> -->

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    If the verification code has not arrived
                  </span>
                </summary>
                <div class="govuk-details__text">
                    <p>Please make sure that your device:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>is turned on, not in flight mode and has a strong signal</li>
                        <li>can receive text messages from other senders</li>
                    </ul>
                    <p>If you have still not received the text message you can <a href="#">resend the verfication code</a>.</p>
                </div>
              </details>

        {% else %}
            <p class="govuk-body">We’ve sent you a text message with a 6 digit verification code.</p>
            <p class="govuk-body">It may take a few minutes to arrive.</p>
            <p class="govuk-body">The code will expire in 10 minutes.</p>
        {% endif %}

        {% if data['companySize'] == "Single" %}
            <form action="/authentication/new-enrolment" method="post">
        {% else %}
            <form action="/authentication/select-your-business" method="post">
        {% endif %}

                {% if data['status'] == "review" %}

                {{ govukInput({
                    label: {
                        text: pageHeading,
                        classes: "govuk-visually-hidden",
                        isPageHeading: false
                    },
                    classes: "govuk-input--width-10"
                } | decorateFormAttributes(verificaationCode)) }}
                
                
                {{ govukButton({
                    text: "Continue"
                }) }}
                
                {% else %}

                <div class="govuk-form-group">
                    <div class="govuk-input__wrapper">
                        <input class="govuk-input" id="cost" name="cost" type="text" spellcheck="false">
                    </div>
                </div>

                {{ govukButton({
                    text: "Verify code"
                }) }}
                {% endif %}

            </form>

            {% if data['status'] != "review" %}
            <p class="govuk-body">If you’ve not received a text message or the verification code has expired</p>
            {{ govukButton({
                text: "Resend code",
                classes: "govuk-button govuk-button--secondary"
            }) }}
            {% endif %}

            <details class="govuk-details" data-module="govuk-details">

                {% if data['serviceName'] == "vetsVisit" %}

                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">If you’re having problems getting a verification code</span>
                        </summary>
                        <div class="govuk-details__text">
                            Contact the Vets' Visits.
                            <br><br>
                            Vets' Visits<br>      
                            Telephone: 800001066<br>
                            9-5 Monday to Friday (except public holidays)<br>
                            <a href="mailto:vetsvisits@example.com">Vets'Visits@example.com</a>
                                    <br><br>
                                    <p class="govuk-body">Find out about <a href="https://www.gov.uk/call-charges" class="govuk-link" rel="noreferrer noopener" target=”_blank”>call charges (opens in new tab)</p>
                        </div>

                    {% else %}
                        
                        {% if data['status'] == "review" %}

                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">Need help with this page</span>
                        </summary>
                        <div class="govuk-details__text">
                            Contact the [Service name].<br><br>
                            [Service name]  <br>
                            Telephone: [Service telephone number] <br>
                            [Service Opening Hours](except public holidays) <br>
                            [Service email address]
                            <br><br>
                            <p class="govuk-body">Find out about <a href="https://www.gov.uk/call-charges" class="govuk-link" rel="noreferrer noopener" target=”_blank”>call charges (opens in new tab)</p>
                        </div>  

                        {% else %}
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">If you’re having problems getting a verification code</span>
                </summary>
                <div class="govuk-details__text">
                    Contact the [Service name].<br><br>
                    [Service name]  <br>
                    Telephone: [Service telephone number] <br>
                    [Service Opening Hours](except public holidays) <br>
                    [Service email address]
                    <br><br>
                    <p class="govuk-body">Find out about <a href="https://www.gov.uk/call-charges" class="govuk-link" rel="noreferrer noopener" target=”_blank”>call charges (opens in new tab)</p>
                </div>  
                        {% endif %}

                {% endif %}
            </details>

    </div>
    <div class="govuk-grid-column-one-third review">      
        <ul class="govuk-list govuk-body-s govuk-!-text-align-right"> 
            {% if data['status'] == "review" %}                   
            <li><a href="/authentication/get-code?status=" class="govuk-link govuk-link--no-visited-state">Current page</a></li>        
            {% else %}
            <li><a href="/authentication/get-code?status=review" class="govuk-link govuk-link--no-visited-state">Suggested page changes</a></li>        
            
            {% endif %}
        </ul>      
    </div>
</div>
{% endblock %}
