{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "{Service Name}" %}

{% if data['mfaSmsDisabled'] == "Yes" %}
    {% set pageHeading = "There is a problem using text message to verify identity" %}
{% elif data['mfaEmailDisabled'] == "Yes" %}
    {% set pageHeading = "There is a problem using email to verify identity" %}
{% endif %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
        
        {% if data['mfaSmsDisabled'] == "Yes" %}
            <p>The option to verify your identity by text message is not available.</p>            
            <!-- <p>We have automatically taken you to the option to verify your identity by sending the 6-digit code by email.</p> -->
            <p>You can still verify your identity but we will automatically switch you to do this by sending the 6-digit code to your registered email address.</p>
            <div class="govuk-inset-text">
                <p>The option to use text message will be available again later.</p>
            </div>
        {% elif data['mfaEmailDisabled'] == "Yes" %}
            <p>The option to verify your identity by email is not available.</p>            
            <p>You can still verify your identity but we will automatically switch you to do this by sending the 6-digit code as a text message to your registered number.</p>
            <div class="govuk-inset-text">
                <p>The option to use email will be available again later.</p>
            </div>            
        {% endif %}
            
        {% if data['mfaSmsDisabled'] == "Yes" %}
            <form action="/authentication/security-word" method="post">
                <input type="hidden" id="verify-your-identity" name="verify-your-identity" value="send-email" />
        {% elif data['mfaEmailDisabled'] == "Yes" %}
                <form action="/authentication/verify" method="post">
                    <input type="hidden" id="verify-your-identity" name="verify-your-identity" value="send-sms" />
        {% endif %}
            <div class="govuk-button-group">
            
                <input type="hidden" id="status" name="status" value="" />    		
                {% if data['mfaSmsDisabled'] == "Yes" %}

                    {{ govukButton({
                        text: "Continue to use email"
                    }) }}
                
                {% elif data['mfaEmailDisabled'] == "Yes" %}
                
                    {{ govukButton({
                        text: "Continue to use text message"
                    }) }}
                {% endif %}
                <a class="govuk-link govuk-link--no-visited-state" href="/signed-out">Cancel and try again later</a>


            </div>
        </form>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                
                {% if data['serviceName'] == "vetsVisit" %}
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">Need help with the page?</span>
                        </summary>
                        <div class="govuk-details__text">
                            Contact the Vets' Visits.
                            <br><br>
                            Vets' Visits<br>      
                            Telephone: 800001066<br>
                            9-5 Monday to Friday (except public holidays)<br>
                            <a href="mailto:vetsvisits@example.com">Vets'Visits@example.com</a>
                                    <br><br>
                                    <p class="govuk-body">Find out about <a href="https://www.gov.uk/call-charges" class="govuk-link" rel="noreferrer noopener" target=”_blank”>call charges (opens in new tab)</p>
                        </div>
                    </details>

                {% else %}
                                            
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">Need more help?</span>
                        </summary>
                        <div class="govuk-details__text">                    
                            <p class="govuk-body">Contact [Service name] by phone or email.</p>                            
                            <p class="govuk-body">Telephone:<br>
                            [Service telephone number]</p>
                            <p class="govuk-body">Email:<br>
                            <a href="#" class="govuk-link govuk-link--no-visited-state">[Service email]</a></p>
                            <p class="govuk-body">Service opening times:<br>
                            [Service Opening Hours], except public holidays</p>       
                            <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target=”_blank”>Find out about call charges (opens in new tab)</p>                                                                    

                        </div>
                    </details>
                    
                {% endif %}
                
            </div>
        </div>

    </div>
    <!-- <div class="govuk-grid-column-one-third review">      
        <ul class="govuk-list govuk-body-s govuk-!-text-align-right">                  
          {% if data['status'] == "review" %}
          <li><a href="/authentication/verify?status=" class="govuk-link govuk-link--no-visited-state">Current page</a></li>        
          {% else %}
          <li><a href="/authentication/verify?status=review" class="govuk-link govuk-link--no-visited-state">Suggested page changes</a></li>        
          {% endif %}
        </ul>      
      </div> -->
</div>
{% endblock %}
