{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "{Service Name}" %}

{% if data['status'] == "review" %}
    {% set pageHeading = "We will send the code to this email address" %}
{% else %}
    {% set pageHeading = "Verify your identity" %}
{% endif %}

{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        {% if data['status'] == "review" %}

        <div class="govuk-inset-text">
            <span class="govuk-!-font-weight-bold">con****@************kit.net</span>
        </div>
            <!-- <p class="govuk-body">We use this to send a 6-digit verification code.</p>             -->

        {% else %}

        <p class="govuk-body">This is the email we will send the verification code to.</p>
        <p class="govuk-body">It may take a few minutes to arrive.</p>

        <h2 class="govuk-heading-m">con****@************kit.net</h2>

        {% endif %}

        <form action="/authentication/get-code" method="post">

            {% if data['status'] == "review" %}

            {{ govukButton({
                text: "Confirm and send code"
            }) }}

        {% else %}

            {{ govukButton({
                text: "Send code"
            }) }}

        {% endif %}
            
        </form>

        <details class="govuk-details" data-module="govuk-details">
            {% if data['serviceName'] == "vetsVisit" %}
                        
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">Need help with the page?</span>
                            </summary>
                            <div class="govuk-details__text">
                                Contact the Vets' Visits.
                                <br><br>
                                Vets' Visits<br>      
                                Telephone: 800001066<br>
                                9-5 Monday to Friday (except public holidays)<br>
                                <a href="mailto:vetsvisits@example.com">Vets'Visits@example.com</a>
                                        <br><br>
                                        <p class="govuk-body">Find out about <a href="https://www.gov.uk/call-charges" class="govuk-link" rel="noreferrer noopener" target=”_blank”>call charges (opens in new tab)</p>
                            </div>
                        

                    {% else %}
                        
                        {% if data['status'] == "review" %}
                            
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">Need more help?</span>
                                </summary>
                                <div class="govuk-details__text">                    
                                    <p class="govuk-body">Contact [Service name] by phone or email.</p>                            
                                    <p class="govuk-body">Telephone:<br>
                                    [Service telephone number]</p>
                                    <p class="govuk-body">Email:<br>
                                    <a href="#" class="govuk-link govuk-link--no-visited-state">[Service email]</a></p>
                                    <p class="govuk-body">Service opening times:<br>
                                    [Service Opening Hours], except public holidays</p>       
                                    <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target=”_blank”>Find out about call charges (opens in new tab)</p>                                                                    
        
                                </div>
                            
                        {% else %}
                            
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">Need help with the page?</span>
                                </summary>
                                <div class="govuk-details__text">
                                    Contact the [Service name].<br><br>
                                    [Service name]  <br>
                                    Telephone: [Service telephone number] <br>
                                    [Service Opening Hours](except public holidays) <br>
                                    [Service email address]
                                    <br><br>
                                    <p class="govuk-body">Find out about <a href="https://www.gov.uk/call-charges" class="govuk-link" rel="noreferrer noopener" target=”_blank”>call charges (opens in new tab)</p>
                                </div>
                            
                        {% endif %}

                    {% endif %}
        </details>

    </div>
    <div class="govuk-grid-column-one-third review">      
        <ul class="govuk-list govuk-body-s govuk-!-text-align-right">        
            {% if data['status'] == "review" %}
            <li><a href="/authentication/verify-email?status=" class="govuk-link govuk-link--no-visited-state">Current page</a></li>        
            {% else %}
            <li><a href="/authentication/verify-email?status=review" class="govuk-link govuk-link--no-visited-state">Suggested page changes</a></li>                    
            {% endif %}
        </ul>      
    </div>
</div>
{% endblock %}
