{% extends "layout.html" %}
{% set showBackLink = false %}
{% set serviceName = "" %}

{% if data['status'] == "review" %}
    {% set pageHeading = "How do you want to get a verification code?" %}
{% else %}
    {% set pageHeading = "How do you want to verify your identity?" %}
{% endif %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        {% if data['status'] == "review" %}
        <p class="govuk-body">We will send you a 6-digit verification code.</p>
        {% else %}
        <p class="govuk-body">We will send you a 6 digit verification code.</p>
        {% endif %}
        <form action="/authentication/security-word" method="post">

            {% if data['status'] == "review" %}

            {{ govukRadios({
                idPrefix: "verify-your-identity",
                name: "verify-your-identity",
                fieldset: {
                    legend: {
                        text: "Verify your identity",
                        isPageHeading: false,
                        classes: "govuk-visually-hidden"
                    }
                },

                items: [
                    { value: "send-sms, redirect(/authentication/verify)", text: "Text message" },
                    { value: "send-email", text: "Email" }
                ]
            }) }}

            {% else %}

            {{ govukRadios({
                idPrefix: "verify-your-identity",
                name: "verify-your-identity",
                fieldset: {
                    legend: {
                        text: "Verify your identity",
                        isPageHeading: false,
                        classes: "govuk-visually-hidden"
                    }
                },

                items: [
                    { value: "send-sms, redirect(/authentication/verify)", text: "Phone" },
                    { value: "send-email", text: "Email" }
                ]
            }) }}

            {% endif %}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Need help with the page?</span>
            </summary>
            <div class="govuk-details__text">
                Contact the [Service name].<br><br>
                [Service name]  <br>
                Telephone: [Service telephone number] <br>
                [Service Opening Hours](except public holidays) <br>
                [Service email address]
                <br><br>
                <p class="govuk-body">Find out about <a href="https://www.gov.uk/call-charges" class="govuk-link" rel="noreferrer noopener" target=”_blank”>call charges (opens in new tab)</p>
            </div>
        </details>

    </div>
    <div class="govuk-grid-column-one-third review">      
        <ul class="govuk-list govuk-body-s govuk-!-text-align-right">        
          <!-- <li><a href="/errors" class="govuk-link govuk-link--no-visited-state">Error page</a></li>         -->
          {% if data['status'] == "review" %}
          <li><a href="/authentication/verify-single-number?status=" class="govuk-link govuk-link--no-visited-state">Current page</a></li>        
          {% else %}
          <li><a href="/authentication/verify-single-number?status=review" class="govuk-link govuk-link--no-visited-state">Suggested page changes</a></li>        
          {% endif %}
        </ul>      
      </div>

    
</div>
{% endblock %}
