{% extends "layout.html" %}
{% set showBackLink = false %}
{% set serviceName = "" %}


{% if data['verify-your-identity'] == "send-email" %}    
    {% set pageHeading = "We will send the verification code to this email address" %}    
{% else %}    
    {% set pageHeading = "We will send the text message to this number" %}    
{% endif %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
        

        {% if data['mfaEmailDisabled'] == "Yes" %}
            <!-- <p>The option to verify your identity by email is not currently available. You have been directed to get the 6-digit code sent by text message.</p> -->
            

            <p>The option to verify your identity by email is not available.</p>            
            <p>We have switched you to verify your identity by sending the 6-digit code using a text message.</p>
        {% endif %}



        {% if data['verify-your-identity'] == "send-email" %}

            <div class="govuk-inset-text">
                <span class="govuk-!-font-weight-bold">con****@************kit.net</span>
            </div>            

        {% else %}

            <div class="govuk-inset-text">
                <span class="govuk-!-font-weight-bold">********123</span>
            </div>

        {% endif %}

        <form action="/authentication/get-code" method="post">
            <input type="hidden" id="status" name="status" value="" />    		
            {{ govukButton({
                text: "Confirm and send code"
            }) }}

        </form>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                
                {% if data['serviceName'] == "vetsVisit" %}
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">Need help with the page?</span>
                        </summary>
                        <div class="govuk-details__text">
                            Contact the Vets' Visits.
                            <br><br>
                            Vets' Visits<br>      
                            Telephone: 800001066<br>
                            9-5 Monday to Friday (except public holidays)<br>
                            <a href="mailto:vetsvisits@example.com">Vets'Visits@example.com</a>
                                    <br><br>
                                    <p class="govuk-body">Find out about <a href="https://www.gov.uk/call-charges" class="govuk-link" rel="noreferrer noopener" target=”_blank”>call charges (opens in new tab)</p>
                        </div>
                    </details>

                {% else %}
                                            
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">Need more help?</span>
                        </summary>
                        <div class="govuk-details__text">                    
                            <p class="govuk-body">Contact [Service name] by phone or email.</p>                            
                            <p class="govuk-body">Telephone:<br>
                            [Service telephone number]</p>
                            <p class="govuk-body">Email:<br>
                            <a href="#" class="govuk-link govuk-link--no-visited-state">[Service email]</a></p>
                            <p class="govuk-body">Service opening times:<br>
                            [Service Opening Hours], except public holidays</p>       
                            <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target=”_blank”>Find out about call charges (opens in new tab)</p>                                                                    

                        </div>
                    </details>
                    
                {% endif %}
                
            </div>
        </div>

    </div>
    <!-- <div class="govuk-grid-column-one-third review">      
        <ul class="govuk-list govuk-body-s govuk-!-text-align-right">                  
          {% if data['status'] == "review" %}
          <li><a href="/authentication/verify?status=" class="govuk-link govuk-link--no-visited-state">Current page</a></li>        
          {% else %}
          <li><a href="/authentication/verify?status=review" class="govuk-link govuk-link--no-visited-state">Suggested page changes</a></li>        
          {% endif %}
        </ul>      
      </div> -->
</div>
{% endblock %}
