{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "" %}

{% set pageHeading = "How do you want to verify your identity?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <p class="govuk-body">We will send you a 6-digit verification code.</p>        
        <form action="/authentication/verify" method="post">

            {% if data['multiplePhoneNumber'] == "Yes" %}                

                {{ govukRadios({
                    idPrefix: "verify-your-identity",
                    name: "verify-your-identity",
                    fieldset: {
                        legend: {
                            text: "Verify your identity",
                            isPageHeading: false,
                            classes: "govuk-visually-hidden"
                        }
                    },

                    items: [
                        { value: "send-sms, redirect(/authentication/verify-multiple-numbers)", text: "Text message" },
                        { value: "send-email", text: "Email" }
                    ]
                }) }}                                

            {% else %}                

                {{ govukRadios({
                    idPrefix: "verify-your-identity",
                    name: "verify-your-identity",
                    fieldset: {
                        legend: {
                            text: "Verify your identity",
                            isPageHeading: false,
                            classes: "govuk-visually-hidden"
                        }
                    },

                    items: [
                        { value: "send-sms", text: "Text message" },
                        { value: "send-email, redirect(/authentication/security-word)", text: "Email" }
                    ]
                }) }}                                
            
            {% endif %}

            <input type="hidden" id="status" name="status" value="" />
            
            {{ govukButton({
                text: "Continue"
            }) }}

        </form>
        
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Need more help?</span>
            </summary>
            <div class="govuk-details__text">                            
                <p class="govuk-body">Contact [Service name] by phone or email.</p>                            
                <p class="govuk-body">Telephone:<br>
                [Service telephone number]</p>
                <p class="govuk-body">Email:<br>
                <a href="#" class="govuk-link govuk-link--no-visited-state">[Service email]</a></p>
                <p class="govuk-body">Service opening times:<br>
                [Service Opening Hours], except public holidays</p>       
                <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target=”_blank”>Find out about call charges (opens in new tab)</p>                                                                    
            </div>
        </details>        
    </div>
    
    <!-- <div class="govuk-grid-column-one-third review">      
        <ul class="govuk-list govuk-body-s govuk-!-text-align-right">                  
          {% if data['status'] == "review" %}
          <li><a href="/authentication/verify-single-number?status=" class="govuk-link govuk-link--no-visited-state">Current page</a></li>        
          {% else %}
          <li><a href="/authentication/verify-single-number?status=review" class="govuk-link govuk-link--no-visited-state">Suggested page changes</a></li>        
          {% endif %}
        </ul>      
      </div> -->

    
</div>
{% endblock %}
