{% extends "layout.html" %}
{% set showBackLink = false %}
{% set serviceName = "" %}

{% if data['status'] == "review" %}
    {% set pageHeading = "Which number should we use to send the text message?" %}
{% else %}
    {% set pageHeading = "Verify your identity" %}
{% endif %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        {% if data['status'] == "review" %}
        	<!-- <p class="govuk-body">It may take a few minutes to arrive.</p> -->
        {% else %}
            <p class="govuk-body">Choose a contact number, to send the 6 digit verification code to.</p>
            <p class="govuk-body">It may take a few minutes to arrive.</p>
        {% endif %}

        {% if data['status'] == "review" %}

        <form action="/authentication/get-code" method="post">

            {{ govukRadios({
              idPrefix: "whichPhoneNumber",
              name: "whichPhoneNumber",
              fieldset: {
                  legend: {
                      text: "Which contact number should we send the verification code to",
                      isPageHeading: false,
                      classes: "govuk-visually-hidden"
                  }
              },
              items: [
                  { value: "*********123", text: "*********123" },                  
                  { value: "*********789", text: "*********789" }
              ]
          }) }}

        {% else %}

        <form action="/authentication/get-code" method="post">

          {{ govukRadios({
            idPrefix: "whichPhoneNumber",
            name: "whichPhoneNumber",
            fieldset: {
                legend: {
                    text: "Choose a phone numner to verify your identity",
                    isPageHeading: false,
                    classes: "govuk-visually-hidden"
                }
            },
            items: [
                { value: "+XXXXXXXXX123, redirect(/authentication/verify)", text: "+XXXXXXXXX123" },
                { value: "+XXXXXXXXX456", text: "+XXXXXXXXX456" }
            ]
        }) }}

        {% endif %}


        	<input type="hidden" id="status" name="status" value="" />    		
      		{{ govukButton({
        		text: "Continue"
      		}) }}		
    </form>


    <details class="govuk-details" data-module="govuk-details">
		
              
			{% if data['serviceName'] == "vetsVisit" %}

				<summary class="govuk-details__summary">
					<span class="govuk-details__summary-text">Need more help?</span>
				  </summary>
				  <div class="govuk-details__text">                    
					<!-- <p><a href="https://www.ruralpayments.service.gov.uk/">Sign in to the Rural Payments service</a> to add or update the businesses registered to your account.</p> -->
					<p>Contact the Rural Payments Agency by email or phone.</p>
					<p>Email: <a href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a></p>
					<p>Telephone: 03000 200 301
					<br>Monday to Friday, 8:30am to 5pm, except bank holidays</p>                
					<p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link" rel="noreferrer noopener" target=”_blank”>Find out about call charges (opens in new tab)</p>                                        

				{% else %}

					{% if data['status'] == "review" %}                        	
						<summary class="govuk-details__summary">
							<span class="govuk-details__summary-text">Need more help?</span>
						</summary>
						<div class="govuk-details__text">                    
              <p class="govuk-body">Contact [Service name] by phone or email.</p>                            
              <p class="govuk-body">Telephone:<br>
              <strong class="govuk-!-font-weight-bold">[Service telephone number]</strong></p>
              <p class="govuk-body">Email:<br>
              <strong class="govuk-!-font-weight-bold">[Service email]</strong></p>
              <p class="govuk-body">Service opening times:<br>
              <strong class="govuk-!-font-weight-bold">[Service Opening Hours], except public holidays</strong></p>                
              <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target=”_blank”>Find out about call charges (opens in new tab)</p>                                                                    

						</div>                          	
					  {% else %}
						<summary class="govuk-details__summary">
							  <span class="govuk-details__summary-text">Need to update the list?</span>
						  </summary>
						  <div class="govuk-details__text">
							  Contact the [Service name].<br><br>
							[Service name]  <br>
							Telephone: [Service telephone number] <br>
							[Service Opening Hours](except public holidays) <br>
							[Service email address]
							<br><br>
							<p class="govuk-body">Find out about <a href="https://www.gov.uk/call-charges" class="govuk-link" rel="noreferrer noopener" target=”_blank”>call charges (opens in new tab)</p>
						  </div>
					{% endif %}
				{% endif %}
		</details>







      

  </div>
  <div class="govuk-grid-column-one-third review">      
    <ul class="govuk-list govuk-body-s govuk-!-text-align-right">        
      <!-- <li><a href="/errors" class="govuk-link govuk-link--no-visited-state">Error page</a></li>         -->
      {% if data['status'] == "review" %}
      <li><a href="/authentication/verify-multiple-numbers?status=" class="govuk-link govuk-link--no-visited-state">Current page</a></li>        
      {% else %}
      <li><a href="/authentication/verify-multiple-numbers?status=review" class="govuk-link govuk-link--no-visited-state">Suggested page changes</a></li>        
      {% endif %}
    </ul>      
  </div>
</div>

{% endblock %}
