{% extends "layout.html" %}
{% set showBackLink = false %}
{% set serviceName = "Defra identity" %}

{% set pageHeading = "Choose a new password" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
                { text: "Passwords do not match ", href: "#password" }
            ]
        }) }}

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <p>Your new password must:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li class="govuk-list-item">Contain at least 8 characters</li>
            <li class="govuk-list-item">Contain at least 1 upper case letter</li>
            <li>Contain at least 1 special character</li>
            <li>Not be one of your previous passwords</li>
        </ul>

        <form action="reset-complete" method="post">

        <div class="govuk-form-group govuk-form-group--error">

            {{ govukInput({
                label: {
                    text: "Enter a Password"
                },
                id: "password",
                name: "password",
                type: "password",
                value: "123456ABC!",
                errorMessage: {
                    text: "Passwords do not match"
                }
            }) }}


            {{ govukInput({
                label: {
                    text: "Confirm Password"
                },
                id: "password",
                name: "password",
                type: "password",
                value: "123456ABC!",
                errorMessage: {
                    text: ""
                }
            }) }}

        </div>


        {{ govukButton({
            text: "Continue"
        }) }}

    </form>


  </div>
</div>



{% endblock %}
