{% extends "/layouts/main.html" %}

{% set serviceName = "Your Defra account" %}

{% set title = "Which account do you want to sign into "+data['serviceLine']+" with?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <!-- filters -->
  <div class="govuk-grid-column-one-third">

    <div class="defra-filter">

      <div class="defra-filter__header">
        <div class="defra-filter__header-title">
          <h2 class="govuk-heading-m">Filter</h2>
        </div>
        <div class="defra-filter__header-action">
        </div>
      </div>

      <div class="defra-filter__content">

        <!-- selected filters -->
        <div class="defra-filter__selected">

          <div class="defra-filter__selected-heading">

            <!-- Selected filters title -->
            <!-- <div class="defra-filter__heading-title">
              <h2 class="govuk-heading-m">
                Selected filters
              </h2>
            </div> -->

            <!-- clear filters link -->
            <!-- <div class="defra-filter__heading-action">
              <p>
                <a class="govuk-link govuk-link--no-visited-state" href="">
                  Clear filters
                </a>
              </p>
            </div> -->

            <!-- apply button -->
            <!-- <button class="govuk-button" data-module="govuk-button">
              Apply filters
            </button> -->

          </div>
        </div>

        <!-- text filter -->
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="keywords">
            Keywords
          </label>
          <input class="govuk-input" id="keywords" name="keywords" type="text">
        </div>

        <!-- filter group -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Type
            </legend>

            <div class="govuk-checkboxes govuk-checkboxes--small">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1" checked>
                <label class="govuk-label govuk-checkboxes__label" for="type">
                  Exporters (18)
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2" checked>
                <label class="govuk-label govuk-checkboxes__label" for="type-2">
                  Charities (5)
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                <label class="govuk-label govuk-checkboxes__label" for="type-3">
                  Non-UK companies (2)
                </label>
              </div>

            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Access role
            </legend>

            <div class="govuk-checkboxes govuk-checkboxes--small">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="1" checked>
                <label class="govuk-label govuk-checkboxes__label" for="status">
                  Admin
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="2">
                <label class="govuk-label govuk-checkboxes__label" for="status-2">
                  Agent
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="magistrate">
                <label class="govuk-label govuk-checkboxes__label" for="status-3">
                  Standard
                </label>
              </div>
            </div>

          </fieldset>

        </div>

      </div>

    </div>
  </div>

  <!-- main content -->
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="org-pick">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-3">
              {{ title }}
            </h1>
          </legend>
          <div class="govuk-radios">

            <div class="govuk-radios__item govuk-!-margin-bottom-6">
              <input class="govuk-radios__input" id="representation6" name="representing" type="radio" value="no-representation">
              <label class="govuk-label govuk-radios__label" for="representation6">
                <!-- Enrol with a different company -->
                Start a new enrolment
              </label>
            </div>

            <hr class="govuk-!-margin-bottom-6">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representation1" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representation1">
                <span class="govuk-!-font-weight-bold">Sam Woods</span><br>
                Reach reader
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representation2" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representation2">
                <span class="govuk-!-font-weight-bold">Big Company Ltd employee</span><br>
                Reach manager
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representation3" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representation3">
                <span class="govuk-!-font-weight-bold">Middle Company Co. intermediary</span><br>
                Reach manager (approval pending)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representation4" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representation4">
                <span class="govuk-!-font-weight-bold">Small Company Ltd intermediary</span><br>
                Reach manager
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representation5" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representation5">
                <span class="govuk-!-font-weight-bold">Other Company Limited intermediary</span><br>
                Requested access
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited intermediary
                </span><br>
                Requested access
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited intermediary
                </span><br>
                Requested access
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited intermediary
                </span><br>
                Requested access
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited intermediary
                </span><br>
                Requested access
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited intermediary
                </span><br>
                Requested access
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited intermediary
                </span><br>
                Requested access
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited intermediary
                </span><br>
                Requested access
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited intermediary
                </span><br>
                Requested access
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited intermediary
                </span><br>
                Requested access
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited intermediary
                </span><br>
                Requested access
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited intermediary
                </span><br>
                Requested access
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited intermediary
                </span><br>
                Requested access
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited intermediary
                </span><br>
                Requested access
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited intermediary
                </span><br>
                Requested access
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representationX" name="representing" type="radio" value="has-representation">
              <label class="govuk-label govuk-radios__label" for="representationX">
                <span class="govuk-!-font-weight-bold">
                  Other Company Limited intermediary
                </span><br>
                Requested access
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      {{govukButton({
        text: "Continue"
      })}}

    </form>

  </div>
</div>

{% endblock %}
