{% extends "/layouts/main.html" %}

{% set serviceName = "Your Defra account" %}

{% set title = "Which account do you want to use for Comply with UK REACH?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  <!-- {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }} -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{ title }}</h1>

    <!-- filter UI -->
    <div class="defra-filter govuk-!-margin-bottom-9">

      <h2 class="govuk-heading-m">Search for your account</h2>

      <div class="govuk-form-group">
        <span class="govuk-visually-hidden">
          <label class="govuk-label govuk-label--m" for="keywords">
            Filter using keywords
          </label>
        </span>
        <!-- <input class="govuk-input govuk-!-width-three-quarters" id="keywords" name="keywords" type="text"> -->
        <input class="govuk-input govuk-!-width-three-quarters" id="keywords" name="keywords" type="text" autofocus>
        <br>
        <p class="govuk-body govuk-!-padding-top-1">
          <a href="service-start-complete">Clear search</a>
        </p>
      </div>
    </div>

  </div>
</div>

{% endblock %}
