{% extends "layout.html" %}

{% set serviceName = "Your Defra account" %}

{% set title = "Which account do you want to use for Comply with UK REACH?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  <!-- {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }} -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#passport-issued-day">
              Permissions have changed for that account. Select another account to continue
            </a>
          </li>
        </ul>
      </div>
    </div>

    <h1 class="govuk-heading-xl">{{ title }}</h1>

  <!-- </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full"> -->

    <div class="govuk-form-group govuk-form-group--error">

      <!-- matched results -->
      <table class="govuk-table govuk-!-margin-bottom-9">
        <!-- <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">
          Accounts
        </caption> -->
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Account</th>
            <th scope="col" class="govuk-table__header">Role</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
              <a href="service-start-complete">
                Andy James Produce Ltd.
              </a>
            </th>
            <td class="govuk-table__cell">
              Intermediary
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <strong class="govuk-tag govuk-tag--grey">
                Pending
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
              <a href="service-start-complete">
                Dursley Jams Co.
              </a>
            </th>
            <td class="govuk-table__cell">
              Intermediary
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <strong class="govuk-tag">
                Active
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
              <a href="service-start-complete">
                Echo Foods
              </a>
            </th>
            <td class="govuk-table__cell">
              Intermediary
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <strong class="govuk-tag">
                Active
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
              <a href="service-start-complete">
                Eddard Benjamin
              </a>
            </th>
            <td class="govuk-table__cell">
              Individial
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <strong class="govuk-tag">
                Active
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
              <a href="service-start-complete">
                Family Farm Foods Ltd.
              </a>
            </th>
            <td class="govuk-table__cell">
              Intermediary
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <strong class="govuk-tag">
                Active
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
              <a href="service-start-complete">
                Hiscox James Ltd.
              </a>
            </th>
            <td class="govuk-table__cell">
              Intermediary
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <strong class="govuk-tag">
                Active
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
              <a href="service-start-complete">
                Indigo Produce
              </a>
            </th>
            <td class="govuk-table__cell">
              Intermediary
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <strong class="govuk-tag">
                Active
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
              <a href="service-start-complete">
                Jan and Jo Exports
              </a>
            </th>
            <td class="govuk-table__cell">
              Intermediary
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <strong class="govuk-tag">
                Active
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
              <a href="service-start-complete">
                Life Foods Ltd.
              </a>
            </th>
            <td class="govuk-table__cell">
              Intermediary
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <strong class="govuk-tag">
                Active
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
              <a href="service-start-complete">
                Moonfaced Dog Co.
              </a>
            </th>
            <td class="govuk-table__cell">
              Intermediary
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <strong class="govuk-tag">
                Active
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
              <a href="service-start-complete">
                Niche Transit
              </a>
            </th>
            <td class="govuk-table__cell">
              Intermediary
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <strong class="govuk-tag">
                Active
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
              <a href="service-start-complete">
                Poplar Enterprise Group
              </a>
            </th>
            <td class="govuk-table__cell">
              Intermediary
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <strong class="govuk-tag">
                Active
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
              <a href="service-start-complete">
                Positively Great Goods
              </a>
            </th>
            <td class="govuk-table__cell">
              Intermediary
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <strong class="govuk-tag">
                Active
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
              <a href="service-start-complete">
                Rich Goods Company
              </a>
            </th>
            <td class="govuk-table__cell">
              Intermediary
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <strong class="govuk-tag">
                Active
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
              <a href="service-start-complete">
                Runnymede Foods Limited
              </a>
            </th>
            <td class="govuk-table__cell">
              Intermediary
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <strong class="govuk-tag">
                Active
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
              <a href="service-start-complete">
                Rusquo Grub
              </a>
            </th>
            <td class="govuk-table__cell">
              Intermediary
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <strong class="govuk-tag">
                Active
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
              <a href="service-start-complete">
                Sandford Logistics
              </a>
            </th>
            <td class="govuk-table__cell">
              Intermediary
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <strong class="govuk-tag govuk-tag--grey">
                Pending
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
              <a href="service-start-complete">
                Sedgeford, Hoppleberg and Wadebridge
              </a>
            </th>
            <td class="govuk-table__cell">
              Intermediary
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <strong class="govuk-tag">
                Active
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
              <a href="service-start-complete">
                Sjambok Steel
              </a>
            </th>
            <td class="govuk-table__cell">
              Intermediary
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <strong class="govuk-tag">
                Active
              </strong>
            </td>
          </tr>

        </tbody>
      </table>

    </div>
  <!-- </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> -->

    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
      Can’t find your organisation?
    </h2>

    <p class="govuk-body govuk-!-margin-bottom-6">
      <a href="add-new-organisation" class="govuk-link govuk-link--no-visited-state">
        Add an organisation
      </a>
    </p>

  </div>
</div>

{% endblock %}
