{% extends "layout.html" %}

{% set title = "Check your information" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {% include "includes/account-nav-admin-reg.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{title}}</h1>

    <h2 class="govuk-heading-m">
      Your account
    </h2>

    <dl class="app-check-your-answers app-check-your-answers--short">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Your type of account
        </dt>
        <dd class="app-check-your-answers__answer">
          {{ data['businessType']}}
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="../organisation-type" class="govuk-link" >
            Change<span class="govuk-visually-hidden"> account type</span>
          </a>
        </dd>
      </div>

    </dl>

    <h2 class="govuk-heading-m">
      About your business or organisation
    </h2>
    <dl class="app-check-your-answers app-check-your-answers--short">

      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Your business or organisation details
        </dt>
        <dd class="app-check-your-answers__answer">
          Acme Org ({{ data['companyRegNum'] }})<br>
          1 Francis Crick Avenue, Cambridge Biomedical Campus, Cambridge, United Kingdom, CB2 0AA
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="company-lookup?flowType=check" class="govuk-link">
            Change<span class="govuk-visually-hidden"> registered company</span>
          </a>
        </dd>
      </div>

      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Main contact details
        </dt>
        <dd class="app-check-your-answers__answer">
          {{ data['businessTelephone'] }}<br>
          {{ data['businessEmail'] }}
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="company-contact?flowType=check" class="govuk-link" >
            Change<span class="govuk-visually-hidden"> registered company contact details</span>
          </a>
        </dd>
      </div>

    </dl>

    <h2 class="govuk-heading-m">
      About you
    </h2>


    <dl class="app-check-your-answers app-check-your-answers--short">

      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Your name
        </dt>
        <dd class="app-check-your-answers__answer">
          {{ data['personalFirstName']}} {{ data['personalSurname']}}
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="personal-details?flowType=check" class="govuk-link" >
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Your contact details
        </dt>
        <dd class="app-check-your-answers__answer">
          {{ data['personalTelephone'] }}<br>
          {{data['scpEmail']}}
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="personal-contact?flowType=check" class="govuk-link" >
            Change<span class="govuk-visually-hidden"> contact number</span>
          </a>
        </dd>
      </div>

      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Authority to act?
        </dt>
        <dd class="app-check-your-answers__answer">
          {{ data['personalSRO']}}
        <dd class="app-check-your-answers__change">
          <a href="personal-sro?flowType=check" class="govuk-link" >
            Change<span class="govuk-visually-hidden"> your level</span>
          </a>
        </dd>
      </div>

    </dl>

    {% if data['service'] == "Imports"%}

    {{ govukButton({
      text: "Continue",
      href: "../confirmation-reg-sent-success"
    }) }}

    {% else %}

    {{ govukButton({
      text: "Continue",
      href: "new-user-reg/service-questions"
    }) }}

    {% endif %}

  </div>
</div>

{% endblock %}
