{% extends "layout.html" %}

{% set title = "What are the main contact details for this registered company?" %}

{% block header %}
  {% include "includes/logged-out-header.html" %}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



{% if data['userType'] == "existing" %}
    <form action="check-your-answers-add-account" method="post">
{% else %}

        {% if data['flowType'] == "check" %}
          <form method="post" action="check-your-answers">
        {% endif %}
        {% if data['flowType'] == "addAccount" %}
          <form method="post" action="check-your-answers-add-account">
        {% endif %}
        {% if data['flowType'] == "task" %}
          <form method="post" action="task-list-page-company-details">
        {% endif %}
{% endif %}

{% call govukFieldset({
    describedBy: "contactHint",
legend: {
  text: title,
  classes: "govuk-fieldset__legend--xl",
  isPageHeading: true
}
}) %}

<span class="govuk-hint" id="contactHint">
These could be details included on the website, or contact details for the head office or management team.
</span>


        {{ govukInput({
          label: {
            text: "Telephone number"
          },
          classes: "govuk-input--width-10",
          id: "businessTelephone",
          name: "businessTelephone",
          value: data['businessTelephone'],
          type: "tel"
        }) }}

        {{ govukInput({
          label: {
            text: "Email address"
          },
          classes: "govuk-input--width-20",
          id: "businessEmail",
          name: "businessEmail",
          value: data['businessEmail'],
          type: "email"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
{% endcall %}
      </form>

  </div>
</div>

{% endblock %}
