{% extends "layout.html" %}

{% set title = "What is the Companies House registration number for your business?" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="company-confirm" method="post">

      {{ govukInput({
        label: {
          text: title,
          classes: "govuk-label--xl"
        },
        classes: "govuk-input--width-10",
        isPageHeading: true,
        id: "companyRegNum",
        name: "companyRegNum",
        value: data['companyRegNum']
      }) }}

      {{ govukDetails({
        summaryText: "What if I do not have this?",
        html: ' <p class="govuk-body">You can find this on the <a href="https://www.gov.uk/get-information-about-a-company" target="_blank" rel="noopener noreferrer" class="govuk-link">Companies House register (opens in a new tab).</a></p>
<p>If you are applying on behalf of a company that is based outside of the UK, you must <a href="https://www.gov.uk/register-as-an-overseas-company" target="_blank" rel="noopener noreferrer" class="govuk-link">register with Companies House as an overseas company (opens in a new tab)</a> before you continue.</p>'
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}


    </form>

  </div>
</div>

{% endblock %}
