{% extends "layout.html" %}

{% set title = "What is the registered company's address?" %}

{% block header %}
  {% include "includes/logged-out-header.html" %}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds app-column-minimum">


    <form action="company-contact" method="post">

        {% call govukFieldset({
          legend: {
            text: title,
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}

        <p class="govuk-body">We need to know the registered company details for verification purposes. It is typically the head office.</p>
        <h2 class="govuk-heading-m">Acme Org Ltd</h2>

        <p class="govuk-body">Company number {{ data['companyRegNum'] }}.  <a href="company-lookup" class="govuk-link">Enter a different number</a>.</p>

          {{ govukInput({
            label: {
              html: 'Sub-building name'
            },
            hint: {
              text: "For example the unit, room or apartment number."
            },
            classes: "govuk-input--width-10",
            id: "sub-building-name",
            name: "sub-building-name"
          }) }}

          {{ govukInput({
            label: {
              html: 'Building number'
            },
            classes: "govuk-input--width-10",
            id: "building-number",
            name: "building-number"
          }) }}

          {{ govukInput({
            label: {
              html: 'Building name'
            },
            classes: "govuk-input--width-10",
            id: "building-name",
            name: "building-name"
          }) }}

          {{ govukInput({
            label: {
              html: 'Street name'
            },
            classes: "govuk-!-width-two-thirds",
            name: "street-name",
            id: "street-name"
          }) }}

          {{ govukInput({
            label: {
              text: "Town or city"
            },
            classes: "govuk-!-width-two-thirds",
            id: "address-town",
            name: "address-town"
          }) }}

          {{ govukInput({
            label: {
              text: "County"
            },
            classes: "govuk-!-width-two-thirds",
            id: "address-county",
            name: "address-county"
          }) }}

          {{ govukInput({
            label: {
              text: "Postcode"
            },
            classes: "govuk-input--width-10",
            id: "address-postcode",
            name: "address-postcode"
          }) }}

          {% endcall %}

          {{ govukButton({
            text: "Continue"
          }) }}



        </form>

  </div>
</div>

{% endblock %}
