{% extends "layout.html" %}

{% set title = "About the organisation you represent" %}

{% block header %}
  {% include "includes/logged-out-header.html" %}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Sorry, your identity check failed</h1>
      <p class="govuk-body">
        <a class="govuk-link" href="/../help#contacting-defra-services">Please contact the relevant service</a> to continue the sign up process.
      </p>
    </div>
  </div>
{% endblock %}
