{% extends "layout.html" %}

{% set title = "Are these the correct charity details?" %}

{% block header %}
  {% include "includes/logged-out-header.html" %}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds app-column-minimum">


    <h1 class="govuk-heading-xl">{{title}}</h1>

    <form action="../../unblocking/duplicate-company-error?businessType=Charity" method="post">

      <h2 class="govuk-heading-m">Acme Charity Ltd</h2>


      <p class="govuk-body">1 Francis Crick Avenue, Cambridge Biomedical Campus, Cambridge, United Kingdom, CB2 0AA</p>

      <p class="govuk-body">Charity number {{ data['niCharityNum'] }}{{ data['britishCharityNum'] }}{{ data['scotlandCharityNum'] }}.  <a href="charity-number" class="govuk-link">This is not the right number</a>.</p>

      {{ govukDetails({
        summaryText: "What to do if these details are not correct",
        html: '<p class="govuk-body">You can contact [Service name] on [Consuming service phone number] for advice.</p>'
      }) }}


      {{ govukButton({
        text: "Confirm"
      }) }}

    </form>




  </div>
</div>

{% endblock %}
