{% extends "/layouts/main.html" %}

{% set serviceName = "Vets visits" %}

{% set title = "Check your email" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      We’ve sent an email with a verification code. It may take a few minutes to arrive.
    </p>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ title }}</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p>We’ve sent an email with a verification code to ted.barns@cattlemoovement.org.</p>
    <p>It may take a few minutes to arrive.</p>
    <p>If you do not get an email check your spam or junk folders</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="new-password" method="post">


      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Enter verification code"
        },
        id: "account-number",
        name: "account-number",
        inputmode: "numeric",
        pattern: "[0-9]*",
        spellcheck: false,
        classes: "govuk-!-width-two-thirds",
        id: "verify",
        name: "verify-code"

      }) }}



      {{ govukButton({
        text: "Continue"
      }) }}


    </form>
    {{ govukButton({
      text: "Resend code",
      classes: "govuk-button govuk-button--secondary"
    }) }}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Need help with the page?
            </span>
          </summary>
          <div class="govuk-details__text">
            Contact the Rural Payments Agency.<br><br>
            Rural Payments Agency  <br>
            Telephone: 03000 200 301 <br>
            Monday to Friday, 8:30am to 5pm (except public holidays) <br>
            <a href="mailto:ruralpayments@defra.gov.uk?subject=feedback">ruralpayments@defra.gov.uk</a>
            <br><br>
            <p class="govuk-body">Find out about <a href="https://www.gov.uk/call-charges" target=”_blank”>call charges</p>
          </div>
        </details>
        </div>
      </div>

  </div>
</div>

{% endblock %}
