{% extends "layout.html" %}

{% set title = "This person can now access this service" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-visually-hidden">{{title}}</h1>
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Service access has been given
      </h1>
    </div>

    <p class="govuk-body">{{ data['name'] }} can now access the {{data['serviceLine']}} service</p>
    <h3 class="govuk-heading-m">What happens next</h3>

    <p class="govuk-body">We will notify {{ data['name'] }} about the access you have given.</p>
    <p class="govuk-body">You can change or remove this access at any time.</p>

    {% if data['userType'] == "invited" %}
          {% set backURL = "/manage/team-members/services-on-team-member-invited?subscribeService=yes" %}
    {% endif %}

    {% if data['userType'] == "verified" %}
          {% set backURL = "/manage/team-members/services-on-team-member-verify?subscribeService=yes" %}
    {% endif %}

    {% if data['userType'] == "invitedAgent" %}
          {% set backURL = "/manage/agent/services-on-team-member-agent-invited?subscribeService=yes" %}
    {% endif %}


    {{ govukButton({
      text: "Continue",
      href: backURL
    }) }}


  </div>
</div>


{% endblock %}
