{% extends "layout.html" %}

{% set title = "Are you sure you want to remove this address?" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" class="remove" onsubmit="return myFunction()">

      <script>
        const form = document.querySelector('.remove')

        function myFunction() {
          const checked = document.querySelector('[name="removeAddress"]:checked')
          const checkedValue = checked.value

          switch(checkedValue){
            case 'Yes':
            form.action = 'organisation-details?addressCSS2=Hide'

            break;
            default:
            form.action = 'organisation-details?addressCSS2=Show'
          }
          return true
        }
      </script>


        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "removeAddress",
          name: "removeAddress",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}


      </form>
    </div>
  </div>




{% endblock %}
