{% extends "layout.html" %}

{% set title = "You have been invited to access online services for [organisation name]" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{title}} </h1>
        <p class="govuk-body">Hello,</p>
        <p class="govuk-body">[Admin first name] [Admin last name] has invited you to access online services from Defra and related agencies and public bodies on behalf of [organisation name]. </p>
        <p class="govuk-body">To access these services, you need to:</p>
        <ol class="govuk-list govuk-list--number">
          <li>Sign in using a Government Gateway account you have already created for email address [recipient’s email address], or create a new Government Gateway account using this email address.</li>
          <li>Read and accept our terms and conditions.</li>
          <li>Complete a short registration process to tell us your name and contact number.</li>
        </ol>
        <div class="govuk-inset-text">
          <p class="govuk-link"><a href="/scp/login-invite?userType=invite">Start your secure registration process on GOV.UK</a></p>
        </div>

        <h2 class="govuk-heading-m">What happens next?</h2>
        <p class="govuk-body">[Admin first name] [Admin last name] will choose which information you can see and which tasks you can perform on behalf of [organisation name].
        <p class="govukbody">We will email you to let you know when you can sign in and access services.</p>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            To withdraw your consent for Defra to store and use your email address, please follow the guidance in our privacy policy: URL.
          </strong>
        </div>




    </div>
</div>

{% endblock %}
