{% extends "layout.html" %}

{% set title = "Your invitation link has expired" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-xl">{{ title }}</h1>

    <p class="govuk-body">You have used an expired invitation link.</p>

        <p class="govuk-body">Check your inbox for a more recent invitation email or contact your administrator.</p>






    </div>
  </div>




{% endblock %}
