{% extends "layouts/layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}
{% set serviceName %}
Record data from an Annual Health and Welfare Review
{% endset%}


{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="eligibility-pigs-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Have you given the farmer a written report of the review?
              </h1>
            </legend>

            <div id="vet-registered-hint" class="govuk-hint">
              The report must include follow-up actions and recommendations. It will not be shared with Defra.
            </div>

            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="eligibility-pigs" name="eligibility-pigs" type="radio" value="check-answers" onclick="setLocation(this);" {{ checked("eligibility-pigs", "eligibility-pigs-yes") }}>
                <label class="govuk-label govuk-radios__label" for="eligibility-pigs">
                  Yes
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="eligibility-pigs-2" name="eligibility-pigs" type="radio" value="check-answers" onclick="setLocation(this);" {{ checked("eligibility-pigs", "eligibility-pigs-no") }}>
                <label class="govuk-label govuk-radios__label" for="eligibility-pigs-2">
                  No
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>


{% endblock %}
