{% extends "layout.html" %}

{% set title = "You cannot access this page" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You do not have permission to view this page.</h1>
    <p class="govuk-body">If you believe the web address to be correct you may need to first sign in your account or return to the service.</p>
    <p class="govuk-body-s">Error code: xxxxxxxx</p>

  </div>
</div>

{% endblock %}
