{% extends "layout.html" %}

{% set title = "Sorry, there is a problem with the service" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
    <p class="govuk-body">Try again later.</p>
    <p class="govuk-body">If you were completing a form we saved your answers. They will be available for 3 days.</p>
    <p class="govuk-body-s">Error code: xxxxxxxx</p>

  </div>
</div>


{% endblock %}
