{% extends "layout.html" %}

{% set title = "Service unavailable" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Service unavailable</h1>
        <p class="govuk-body">You will be able to use the service from (enter time) on (enter date).</p>
        <p class="govuk-body-s">Error code: xxxxxxxx</p>



      </div>
    </div>


{% endblock %}
