{% extends "layout.html" %}

{% set serviceName = "Your Defra account" %}

{% set body = "You are already signed in to" %}
{% set title = "Comply with UK REACH" %}


{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  <!-- {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }} -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <!-- <span class="govuk-caption-xl">{{ data['serviceLine'] }}</span> -->
      <span class="govuk-caption-xl">{{body}}</span>
      
      {{title}}
    </h1>
   

    <p class="govuk-body-l">
      Close this browser tab or <a href="service-start-complete" class="govuk-link">open the service again</a>.
    </p>

  </div>
</div>

{% endblock %}
