{% extends "layout.html" %}

{% set title = "Please enable cookies to use this website" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Please enable cookies to use this website</h1>
        <p class="govuk-body">This website uses cookies to ensure the best experience. Please enable your browser to accept cookies and then select Continue to try again.</p>
        <p class="govuk-body"><a href="https://ico.org.uk/your-data-matters/online/cookies/" target="blank">Learn more about cookies and how to enable them (opens in new tab)</a></p>

          {{ govukButton({
            text: "Continue",
            href: ""
          }) }}
        <p class="govuk-body-s">Error code: xxxxxxxx</p>
      </div>
    </div>


{% endblock %}
