{% extends "layout.html" %}

{% set title = "Already registered for this account" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% include "includes/account-nav-admin-corp.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{title}}</h1>
    <p class="govuk-body">You are already registered to work on behalf of {{ data['orgName']}}</p>
    <p class="govuk-body">You cannot be both a Team Member and an Intermediary for this account</p>

    {{ govukButton({
      text: "Continue",
      href: "/services-on-team-member-standard"
    }) }}


  </div>
</div>


{% endblock %}
