{% extends "layout.html" %}

{% set title = "Sorry, this email already exists" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Sorry, this email already exists</h1>
        <p class="govuk-body">The email address that your are trying to register with already exists.</p>
        <p class="govuk-body">Use the Govenment Gateway account associated with this email address to login rather than register. </p>

      </div>
    </div>
  </main>
</div>

{% endblock %}
