{% extends "layout.html" %}

{% set title = "Sorry, this email already exists" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Sorry, this email address is already in use</h1>
        <p class="govuk-body">This email address is already registered to a Your Defra account.</p>
        <p class="govuk-body">If you know the Government Gateway sign in credentials associated to this email address please <strong><a href="/scp/login" class="govuk-link">sign in</a></strong> using these details.</p>
        <p class="govuk-body">Or you can <strong><a href="/scp/login" class="govuk-link">register</a></strong> again using a different email address.</p>

      </div>
    </div>


{% endblock %}
