{% extends "layout.html" %}

{% set title = "This person already has access to this account" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{title}}</h1>
    <p class="govuk-body">You have tried to join using the sign in details of someone who already has access to [org name].</p>

    <p class="govuk-body">Please sign out below and register yourself by clicking on the link in your invite email.</p>

    {{ govukButton({
      text: "Sign out",
      href: "/signed-out"
    }) }}
    <p class="govuk-body-s">Error code: xxxxxxxx</p>


  </div>
</div>


{% endblock %}
