{% extends "layout-signed-out.html" %}

{% set serviceName = "Defra identity" %}




{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
<!-- {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }} -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      There are no accounts you can access yet
    </h1>


    <p class="govuk-body-m">
      Either contact the administrator to access the account you need or 
      <a class="govuk-link" href="#">Contact help desk</a> if you are unsure who this is.


    </p>



  </div>
</div>

{% endblock %}