{% extends "layout.html" %}

{% set title = "Your registration can't continue" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form method="post" action="javascript:history.back()">
        <h1 class="govuk-heading-xl">{{ title }}</h1>

        <p class="govuk-body">For security reasons you are unable to continue your registration for Defra services online.</p>

        <p class="govuk-body">You can <a href="/help#contacting-defra-services">contact the service</a> for more ways to complete your task.</p>

        <p class="govuk-body-s">Error code: xxxxxxxx</p>

        {{ govukButton({
          text: "Continue"
        }) }}


      </form>
    </div>
  </div>




{% endblock %}
