{% extends "layout.html" %}

{% set title = "Your registration has failed" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/manage/team-members/services-on-team-member-admin-account_company?addAccount=none">
        <h1 class="govuk-heading-xl">{{ title }}</h1>

        <p class="govuk-body">For security reasons, we cannot continue your registration for Defra online services.</p>

        <p class="govuk-body">You can <a href="/help#contacting-defra-services">contact the service</a> for more ways to complete your task.</p>





      </form>
    </div>
  </div>




{% endblock %}
