{% extends "layout.html" %}

{% set title = "Check your email" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ title }}</h1>
        <p class="govuk-body">If you have not received the email try checking your Spam folders in case it has gone there.</p>
        <p class="govuk-body">Else, select Continue below and try entering your email address again or registering with a different email.</p>


        {{ govukButton({
          text: "Continue",
          href: "/scp/email-address"
        }) }}

        <p class="govuk-body-s">Error code: xxxxxxxx</p>

      </div>
    </div>


{% endblock %}
