{% extends "layout-signed-out.html" %}

{% set serviceName = "" %}

{% set title = "Verify your identity" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-disable-auto-focus="true" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#">You must choose a number</a>
          </li>
      
        </ul>
      </div>
    </div>

    <h1 class="govuk-heading-xl">{{ title }}</h1>
    <p class="govuk-body">Choose a contact number, to send a verification code to.</p>

    <form action="/mfa/select-number-v2" method="post">


        {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
    idPrefix: "telephone-number",
    name: "telephone",
    value: "select",
  
  items: [
  {
    value: "tel1",
    text: "xxxxxxxx478"
  },
  {
    value: "tel2",
    text: "xxxxxxxx987"
  },
  {
    value: "tel3",
    text: "xxxxxxxx006"
  }
  ],
  errorMessage: {
    text: "You must choose a number"
  }
}) }}




        



      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

   
{{ govukDetails({
  summaryText: "My number is not shown",
  html: "You can find information on how to update your phone number on the the <a href=''>services help page</a>"
}) }}

  </div>
</div>

{% endblock %}
