{% extends "layout-signed-out.html" %}

{% set serviceName = "Defra account" %}

{% set title = "Verify your identity" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    

    {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}


<h1 class="govuk-heading-xl">{{ title }}</h1>

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Enter your verification code",
      href: "#full-name-input"
    }
  ]
}) }}

{{ govukInput({
  label: {
    text: "Enter the code sent to xxxxxxx478"
  },
  id: "full-name-input",
  name: "name",
  autocomplete: "name",
  errorMessage: {
    text: "Enter your verification code"
  }
}) }}
  

    <form action="get-code-success-v2" method="post">

  
    



      {{ govukButton({
        text: "Verify code"
      }) }}

     
    </form>
    {{ govukButton({
      text: "Send another code",
      classes: "govuk-button govuk-button--secondary"
    }) }}

    {% include "includes/get-help.html" %}

  </div>
</div>

{% endblock %}
