{% extends "layout.html" %}

{% set title = "Sorry, you cannot register to use this service yet" %}

{% block header %}
  {% include "includes/logged-out-header.html" %}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{title}}</h1>

    {% set setBusinessTypeHtml %}
        We are developing this new service, and you will be able to register on behalf of your {{ data['businessType']}} soon.
    {% endset %}

    {{ govukWarningText({
      html: setBusinessTypeHtml
    }) }}
    <p class="govuk-body">Until then please (service instruction goes here, such as 'contact us').

    <form class="org-type" action="check-your-answers-account" method="post">

      {{ govukBackLink({
        text: "Back to business type",
        href: "javascript:history.back()"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
