{% extends "layout.html" %}

{% set title = "Manage intermediary access" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-corp.html" %}
  {% include "includes/breadcrumb-three-level.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">{{title}}</h1>

    <p class="govuk-body {{ introCSS }}">An intermediary is a third party (such as an agent or consultant) who you authorise to interact with Defra and related agencies and public bodies on your behalf.</p>

<!-- Setting the URL for the Add team member button according to service-->
    {% set addUserURL %}
      {% if data['service'] == "Chemicals"%}
        /manage/agent/chemicals/invite-user/add-user-details
      {% endif %}

      {% if data['service'] == "Imports"%}
        /manage/agent/imports/invite-user/add-user-details
      {% endif %}
    {% endset %}

    {{ govukButton({
      text: "Add a team member",
      href: addUserURL
    }) }}

<!-- Hiding/ showing the New User row according to the userInvite Yes/ No -->
    {% if data['userInvite'] == "Yes" %}
      {% set newUserCSS = "" %}
    {% endif %}


    <table class="govuk-table {{ tableCSS }}">
      <caption class="govuk-table__caption govuk-visually-hidden">All Intermediaries</caption>
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-table__header--column-quarter column-full" scope="col">
          Intermediary
        </th>
        <th class="govuk-table__header govuk-table__header--column-third column-full" scope="col">
          Email address
        </th>
        <th class="govuk-table__header govuk-table__header--column-sixth column-full" scope="col">
          Account status
        </th>
      </tr>
      </thead>

      <tr class="govuk-table__row {{ newUserCSS }}">
        <td class="govuk-table__cell">
          <a class="govuk-link--no-visited-state" href="services-on-team-member-agent-invited"> {{ data['agentFirstName'] }}
          {{ data['agentSurname'] }}</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Email address:</span> {{ data['agentEmail'] }}
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Invite email sent
        </td>
      </tr>

      <tr class="govuk-table__row {{ otherUserCSS }}">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Intermediary:</span>
          <a class="govuk-link--no-visited-state" href="services-on-team-member-agent">Marcy Ponds</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Email address:</span> Marcy.Ponds@agent.com
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Approved
        </td>
      </tr>

      <tr class="govuk-table__row {{ otherUserCSS }}">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Intermediary:</span>
          <a class="govuk-link--no-visited-state" href="">Sara Chippers</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Email address:</span> Sara.Chippers@email.com
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Invite email sent
        </td>
      </tr>

      <tr class="govuk-table__row {{ otherUserCSS }}">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Intermediary:</span>
          <a class="govuk-link--no-visited-state" href="">Bob Times</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Email address:</span> Bob.Times@email.com
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Invite email sent
        </td>
      </tr>

    </table>

  </div>
</div>

{% endblock %}
