{% extends "layout.html" %}

{% set title = "Manage intermediary access" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-corp.html" %}
  {% include "includes/breadcrumb-three-level.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">{{title}}</h1>
    {{ govukButton({
      text: "Add an intermediary",
      href: "/manage/agent/chemicals/add-agent-1/add-agent-details"
    }) }}

    {% set setUserNameHtml %}
        <a class="govuk-link--no-visited-state" href="services-on-team-member-invited-2">
          {{ data['agentFirstName'] }}
          {{ data['agentSurname'] }}</a>
    {% endset %}

    {% set setUserEmailHtml %}
          {{ data['agentEmail'] }}
    {% endset %}

    {{ govukTable({
      caption: "All team members",
      captionClasses: "govuk-visually-hidden",
      firstCellIsHeader: false,
      head: [
        {
          html: 'Intermediary',
          format: 'column-quarter column-full'
        },
        {
          html: 'Organisation',
          format: 'column-quarter column-full'
        },
        {
          html: 'Email address',
          format: 'column-third column-full'
        },
        {
          html: 'Account status',
          format: 'column-sixth column-full'
        }
      ],
      rows: [
        [
          {
            html: setUserNameHtml
          },
          {
            html: 'CJ Henderson & Sons'
          },
          {
            html: setUserEmailHtml
          },
          {
            html: '<span class="govuk-visually-hidden--desktop td-header">Account status:</span> Invite sent'
          }
        ]

      ]
    }) }}

  </div>
</div>

{% endblock %}
