{% extends "layout.html" %}

{% set title = "Manage intermediary access" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-corp.html" %}
  {% include "includes/breadcrumb-three-level.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">{{title}}</h1>
    <p>An intermediary is a third party (such as an agent or consultant) who you authorise to interact with Defra and related agencies and public bodies on your behalf.</p>
    {{ govukButton({
      text: "Add an intermediary",
      href: "/manage/agent/chemicals/add-agent-1/add-agent-details"
    }) }}

  </div>
</div>

{% endblock %}
