{% extends "layout.html" %}

{% set title = "Intermediary" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-corp.html" %}
  {% include "includes/breadcrumb-four-level-agent.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Bob Holmness
    </h1>


    {% if data['subscribeService'] == "Yes" %}
    {% else %}

        <p class="govuk-body">Bob has completed the registration process ready to use our online services.</p>
        <p class="govuk-body">You should now choose what information and tasks you would like this person to see and do.</p>


        {% if (data['numServices'] == 3) and (data['service'] == "Imports") %}
          {{ govukButton({
            text: "Give service access",
            href: "/manage/team-members/invite-user/imports/add-user-service?userType=invitedAgent&name=Bob Holmness"
          }) }}
        {% endif %}

        {% if (data['numServices'] == 3) and (data['service'] == "Chemicals") %}
          {{ govukButton({
            text: "Give service access",
            href: "/manage/team-members/invite-user/chemicals/add-user-service?userType=invitedAgent&name=Bob Holmness"
          }) }}
        {% endif %}

        {% if (data['numServices'] == 3) and (data['service'] == "VMD") %}
          {{ govukButton({
            text: "Give service access",
            href: "/manage/team-members/invite-user/vmd/add-user-service?subscribeService=Yes&serviceRole=Standard&userType=invitedAgent&name=Bob Holmness"
          }) }}
        {% endif %}

        {% if (data['numServices'] == 1) %}
          {{ govukButton({
            text: "Give service access",
            href: "/manage/team-members/invite-user/enrollment-confirmation?subscribeService=Yes&serviceRole=Standard&userType=invitedAgent&name=Bob Holmness"
          }) }}
        {% endif %}



        <hr class="govuk-section-break--s">
        <br>
    {% endif %}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">Full name:</span> Bob Holmness<br>
      <span class="govuk-!-font-weight-bold">Account access level:</span> None<br>
      <span class="govuk-!-font-weight-bold">Email address:</span> Bob.Holmness@email.com<br>
      <span class="govuk-!-font-weight-bold">Telephone number:</span> 07846959366

    </p>
    <!--<p class="govuk-body">
      <span class="govuk-!-font-weight-bold">Added on:</span> 10 July 2018<br>
      <span class="govuk-!-font-weight-bold">Last signed in:</span> Never
    </p>-->
  </div>
  <div class="govuk-grid-column-one-third">
    <!--<p class="govuk-body"><a href="user-account" class="govuk-link--no-visited-state">Edit team member details</a></p>-->
    <!--<p class="govuk-body"><a href="#" class="govuk-link--no-visited-state">Change access level</a></p>-->
    <p class="govuk-body"><a href="#" class="govuk-link--no-visited-state">Reset password</a><br></p>
    <!--<p class="govuk-body"><a href="" class="govuk-link--no-visited-state">Delete team member</a></p>-->
  </div>
</div>

<br>
<!-- Show table if the user has subscribed to one service -->
{% if data['subscribeService'] == "Yes" %}
  <!-- Decides where there Give Service Access button goes according to the service and number of services-->

  {% if (data['numServices'] == 3) and (data['service'] == "Imports") %}
    {{ govukButton({
      text: "Give service access",
      href: "/manage/team-members/invite-user/imports/add-user-service?userType=invitedAgent&name=Bob Holmness"
    }) }}
  {% endif %}

  {% if (data['numServices'] == 3) and (data['service'] == "Chemicals") %}
    {{ govukButton({
      text: "Give service access",
      href: "/manage/team-members/invite-user/chemicals/add-user-service?userType=invitedAgent&name=Bob Holmness"
    }) }}
  {% endif %}

  {% if (data['numServices'] == 3) and (data['service'] == "VMD") %}
    {{ govukButton({
      text: "Give service access",
      href: "/manage/team-members/invite-user/vmd/add-user-service?userType=invitedAgent&name=Bob Holmness"
    }) }}
  {% endif %}


  {% set setServiceNameHtml %}
      <span class="govuk-visually-hidden--desktop td-header">Service:</span> {{ data['serviceLine'] }}
  {% endset %}

  {% set setOrgHtml %}
      <span class="govuk-visually-hidden--desktop td-header">Organisation:</span> Acme Org Ltd
  {% endset %}

  {% set setServiceRoleHtml %}
      <span class="govuk-visually-hidden--desktop td-header">Access level: </span> {{ data['serviceRole'] }}
  {% endset %}


    {{ govukTable({
    caption: "Access to services",
    captionClasses: "govuk-heading-l",
    firstCellIsHeader: false,
    head: [
      {
        html: 'Service',
        format: 'column-quarter column-full'

      },
      {
        html: 'Organisation',
        format: 'column-quarter column-full'

      },
      {
        html: 'Access level',
        format: 'column-fifth column-full'

      },
      {
        html: '<span class="govuk-visually-hidden column-full">Action</span>',
        format: ''
      },
      {
        html: '<span class="govuk-visually-hidden column-full">Action</span>',
        format: ''
      }
    ],
    rows: [
    [
      {
        html: setServiceNameHtml
      },
      {
        html: setOrgHtml
      },
      {
        html: setServiceRoleHtml
      },
      {
        html: '<span class="govuk-visually-hidden--desktop td-header">Action:</span> <a href="#" class="govuk-link--no-visited-state">Change access <span class="govuk-visually-hidden">to [Service name]</span></a>'
      },
      {
        html: '<span class="govuk-visually-hidden--desktop td-header">Action:</span> <a href="#" class="govuk-link--no-visited-state">Remove access <span class="govuk-visually-hidden">to [Service name]</span></a>'
      }
    ]

    ]
  }) }}

  <div class="govuk-card__content">
    <h2 class="govuk-heading-m">Link to your services</h2>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
            <a href="https://chemicals-prototypes.herokuapp.com/prototype/rc4/iu/dashboard"></a>
            <div class="govuk-card__content">
              <h3 class="govuk-heading-m">{{ data['service'] }} - {{ data['serviceLine'] }}</h3>
              <p class="govuk-body">A short summary of the tasks you can complete with this service.
              </p>
            </div>
          </div>
      </div>

    </div>
  </div>

{% endif %}


{% endblock %}
