{% extends "layout-signed-out.html" %}

{% set serviceName = "Your Defra account" %}




{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  <!-- {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }} -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      There are no numbers we can use to authenticate you
    </h1>

    <p>This means we can not send a verification code to your mobile number.</p>

    <p>You will need to contact your service and ask them to update your details.</p>



    {{ govukDetails({
      summaryText: "Help to contact your service",
      html: "If you are having problem you can call the service on [Service Number] [Service Opening Hours](except public holidays).
      Alternatively you can email the help desk: [service email]"
    }) }}


  </div>
</div>



{% endblock %}
