{% extends "layout-signed-out.html" %}
{% set serviceName = "Apply for an Annual Health and Welfare review" %}

{% set title = "Sign in to apply for an animal health and welfare review of your livestock" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Enter your password",
            href: "#verify-code"
          }
        ]
      }) }}


      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>


  <div class="govuk-form-group">

    <label class="govuk-label" for="crn">
      Customer reference number (CRN)
    </label>

    <div id="crn-hint" class="govuk-hint">
      This is the 10 digit number emailed to you when you created your annual health and welfare review account
    </div>

    <input class="govuk-input govuk-!-width-full-width" id="crn" name="crn" type="text" aria-describedby="crn-hint" autocomplete="false">
  </div>


  <div class="govuk-form-group">
    <div class="govuk-form-group govuk-form-group--error">
    <label class="govuk-label" for="password--">
      Password
    </label>

    <p id="national-insurance-number-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Enter your password
    </p>

    <input class="govuk-input govuk-!-width-full-width" id="password--" name="password--" type="password" autocomplete="false">
    </div>
  </div>



  <a class="govuk-button" data-module="govuk-button" href="verify-s1">
        Sign in
  </a>


  <p><a href="../../password/enter-email">I've forgotten my password</a></p>

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Other problems signing in
      </span>
    </summary>
    <div class="govuk-details__text">
  If you lost your customer reference number (CRN), call the Defra rural services helpline 03000 200 301
    </div>
  </details>



  </div>
</div>

{% endblock %}
