{% extends "layout-blank.html" %}

{% set serviceName = "Vets visits" %}

{% set title = "Choose a new password" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "Passwords do not match ",
          href: "#verify-code"
        }
      ]
    }) }}

    <h1 class="govuk-heading-xl">{{ title }}</h1>



<p>Your new password must:</p>
<ul class="govuk-list govuk-list--bullet">
  <li class="govuk-list-item">Contain at least 8 characters</li>
  <li class="govuk-list-item">Contain at least 1 upper case letter</li>
  <li>Contain at least 1 special character</li>
  <li>Not be one of your previous passwords</li>
</ul>







    <form action="reset-complete" method="post">


      <div class="govuk-form-group">
        <label class="govuk-label" for="password">
          Enter a Password
        </label>


        <div class="moj-password-reveal"><input class="govuk-input govuk-input--width-20" id="password" name="password"
            type="password" value="1234ABC!" data-module="moj-password-reveal">
        </div>
      </div>


      <div class="govuk-form-group govuk-form-group--error">
        <label class="govuk-label" for="password">
          Confirm Password
        </label>

      <p id="national-insurance-number-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span>Passwords do not match
      </p>

        <div class="moj-password-reveal"><input class="govuk-input govuk-input--width-20 govuk-input--error" id="password" name="password"
            type="password" value="1234ABC!" data-module="moj-password-reveal">
        </div>
      </div>



              {{ govukButton({
                text: "Continue"
                }) }}











    </form>


  </div>
</div>
{% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}
    <script type="text/javascript">
      MOJFrontend.initAll();
    </script>

    {% endblock %}
  {% endblock %}

{% endblock %}
