{% extends "layout.html" %}
{% set serviceName = "Defra identity" %}
{% set showBackLink = false %}


{% set pageHeading = "Your security word has changed" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        {# <p class="govuk-body">This may have been done by an administrator of the account.</p>
        <p>The administrator of your account has changed your security word.</p> #}
        <p>Your security word has been updated by an account administrator.</p>
        <p>You will need to contact the account administrator for further information.</p>

        {% include "includes/get-help.html" %}

    </div>
</div>

{% endblock %}
