{% extends "layout-signed-out.html" %}
{% set serviceName = "Defra identity" %}

{% set title = "Confirm your security word" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}



{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Your security word has been changed</h1>

    <p class="govuk-body-l">This may have been done by an administrator of the account</p>

    {% include "includes/get-help.html" %}


    
      

  </div>
</div>


{% endblock %}
