{% extends "/layouts/main.html" %}

{% set title = "Verify your identity" %}

{% set serviceName = "Defra identity" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{ title }}</h1>


    <form action="get-code-success-search" method="post">




      {{ govukInput({
        label: {
          text: "Enter the code sent to xxxxxxxx478."
        },
        id: "account-number",
  name: "account-number",
  inputmode: "numeric",
  pattern: "[0-9]*",
  spellcheck: false,
        classes: "govuk-!-width-two-thirds",
        id: "verify",
        name: "verify-code"

      }) }}


      {{ govukButton({
        text: "Verify code"
      }) }}


    </form>
    {{ govukButton({
      text: "Send another code",
      classes: "govuk-button govuk-button--secondary"
    }) }}

    {% include "includes/get-help-email.html" %}

  </div>
</div>

{% endblock %}
