{% extends "/layouts/main.html" %}

{% set serviceName = "Test" %}

{% set title = "Search test" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block pageScripts %}

<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.js"></script>
<script type="text/javascript">
  accessibleAutocomplete.enhanceSelectElement({
    defaultValue: '',
    selectElement: document.querySelector('#org-picker')
  })




</script>


{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <h1 class="govuk-heading-xl">{{ title }}</h1>




    <form action="account-page" method="post">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

        <h2 class="govuk-fieldset__heading">
          Choose an organisation to use
        </h2>

      </legend>

      <div class="govuk-form-group">



        <select id="org-picker">
          <option value="">Select an organisation</option>
          <option value="1">A James LLC</option>
          <option value="2">Antillo Fujam Gardens</option>
          <option value="3">Crest Jamet Homes Limited</option>
          <option value="4">Dursley Jams Co.</option>
          <option value="5">James Company</option>
          <option value="6">Eddard Benjamin</option>
          <option value="7">Fruit Jams Co</option>
          <option value="8">Terry PLC</option>
          <option value="9">McClure-Mowen</option>
          <option value="10">Feeney Group</option>
          <option value="11">Medhurst-Jackson</option>
          <option value="12">Schroeder-Corkery</option>
          <option value="13">Jaskolski-Mertzen
          </option>
          <option value="14">Daugherty-Jacobson</option>
          <option value="15">Becker and Sons</option>
          <option value="16">Emmerich-Turcotte</option>
          <option value="17">O'Reilly and Son</option>
          <option value="18">Becker-Kevins</option>
          <option value="19">Lang, Daniel and Schmeler</option>
          <option value="20">Dunster</option>
          <option value="21">Turcotte and Homes</option>
          <option value="22">Bartell LLC, Heidenreich-Gower</option>
          <option value="23">Pollack Inc</option>
          <option value="24">Schroeder Ltd</option>
          <option value="25">Bo Inc.</option>
          <option value="26">Mosciski</option>
          <option value="27">Langworth and Medhurst</option>
          <option value="28">Diverse Holdings</option>
          <option value="29">Rippin-Lindgren</option>
          <option value="30">Champlin Ltd</option>
          <option value="31">Raker Group</option>
          <option value="32">Raker Group</option>
          <option value="33">Goyette LLC&quot;</td>
          <option value="34">Wilderman</option>
          <option value="35">Oberbrunner and Hammes
          </option>
          <option value="36">Hertzer W Group</option>
          <option value="37">Luke Swimmer LLC</option>
          <option value="38">Watsica PLC</option>
          <option value="39">Richmann LLC</option>
          <option value="40">Gislason-Klocko</option>
          <option value="41">Skiles and Sons</option>
          <option value="42">Orn Ltd</option>
          <option value="43">Rutherford Inc</option>
          <option value="44">Waelchi and Sons</option>
          <option value="45">Moen PLC</option>
          <option value="46">QQC Plc</option>
          <option value="47">Hoppe, Boyer and Ortiz</option>
          <option value="48">Heathcote-Bradtke</option>
          <option value="49">Rempel-Reynolds</option>


        </select>

      </div>









      {{ govukButton({
      text: "Continue"

      }) }}



    </form>


    {{ govukButton({
    text: "Add organisation",
    classes: "govuk-button govuk-button--secondary",
    url: "add-organisation"

    }) }}



  </div>
</div>

<!-- AUTOCOMPLETE SCRIPT -->




{% endblock %}
