{% extends "/layouts/main.html" %}

{% set serviceName = "Defra identity" %}

{% set title = "Verify your identity" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/mfa/sms-email" method="post">

    <!--<h1 class="govuk-heading-xl">{{ title }}</h1>
    <p class="govuk-body">This is the number we will send the verification code to</p>
    <h2 class="govuk-heading-m">xxxxxxxx478</h2>-->




{{ govukRadios({
  idPrefix: "verify-your-identity",
  name: "verify-your-identity",
  fieldset: {
    legend: {
      text: "Verify your identity",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [
    {
      value: "send-sms",
      text: "Send a code to xxxxxxxx478"
    },
    {
      value: "send-email",
      text: "Send a code to my email address"
    }
  ]
}) }}

      {{ govukButton({
        text: "Continue",
        href: ""
      }) }}
    </form>

    {% include "includes/get-help.html" %}

  </div>
</div>

{% endblock %}
