{% extends "/layouts/main.html" %}

{% set serviceName = "Defra identity" %}

{% set title = "Verify your identity" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{ title }}</h1>
    <p class="govuk-body">Choose a contact number, to send a verification code to.</p>

    <form action="get-code-v3" method="post">



{{ govukRadios({
  idPrefix: "telephone-number",
  name: "telephone",
  value: "select",

  items: [
    {
      value: "tel1",
      text: "xxxxxxxx478"
    },

    {
      divider: "or"
    },
    {
      value: "email",
      text: "Send a code to my email address"
    }


  ]
}) }}



      {{ govukButton({
        text: "Continue"
      }) }}
    </form>


    {% include "includes/get-help.html" %}

  </div>
</div>

{% endblock %}
