<div class="govuk-inset-text">
    <p>Account links all need amending as structure has been changed ( 8 March 2024 )</p>
</div>

<h3 class="govuk-heading-m">Account mangement</h3>
<ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/?notification_banner=" >Defra account</a></li>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/update/individual/" >Update your details</a></li>  
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
            <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/update/individual/personal-information" >Change your personal information</a></li>  
            <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/update/individual/address" >What is your address?</a></li>  
        </ul>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/reset-security-word/" >Reset your security word</a></li>                      
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
            <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/confirmation" >Security word updated</a></li>                      
        </ul>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/enrol-list" >Register for more services</a></li>                      
    </ul>
</ul>


<h3 class="govuk-heading-m">Add a new account</h3>

<p>** Adding nw page connections</p>
<ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/add/account-type">Is this account for a business or organisation?</a></li>

    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/add/uk-organisation">Are they registered to trade in the UK?</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/add/companies-house">Do they have a company registration number?</a></li>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li><a class="govuk-link govuk-link--no-visited-state" href="/account/add/sole-trader-or-charity">What kind of business or organisation are they?</a></li>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
            <li><a class="govuk-link govuk-link--no-visited-state" href="/account/add/charity-location">Where is the charity registered?</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="/account/add/charity-name">What’s the registered name of the charity?</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="/account/account/add/address/postcode">What’s the charity’s postcode?</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="/account/account/add/address/select-address">Select their address</a></li>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/account/add/address/add-address-manual">What’s the charity’s address?</a></li>
            </ul>        
        </ul>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
            <li><a class="govuk-link govuk-link--no-visited-state" href="/account/add/business-name">What is the name of the business?</a></li>            
            <li><a class="govuk-link govuk-link--no-visited-state" href="/account/account/add/address/postcode">What’s your business’s postcode?</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="/account/account/add/address/select-address">Select their address</a></li>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/account/add/address/add-address-manual">What’s the business’s address?</a></li>
            </ul>        
        </ul>
    </ul>
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/add/companies-house-number">What’s their company registration number?</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/add/companies-house-confirm">Is this the correct business?</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/add/company-contact">What’s the business’s telephone number and email address?</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/add/check-your-answers">Check your answers</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/confirmation">Account has been added</a></li>
</ul>


    
    <h3 class="govuk-heading-m">Manage an account</h3>
    <ul class="govuk-list govuk-list--bullet">
    
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/dashboard" >Dashboard (Manage account)*</a></li>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/team/" >Manage team access</a></li>        
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
            <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/team/add-member" >Who do you want to access your organisation's services?</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/team/confirmation" >An invitation email has been sent</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/team/member" >Team member profile</a></li>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/cannot-change" >You cannot change your own account access level</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/team/change-role" >Which role do you want to give this person?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/team/change-role" >Remove access</a></li>
            </ul>


            
            
        </ul>

        <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/intermediary/" >Manage intermediary access</a></li>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
            <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/intermediary/add" >Who do you want to access your organisation's services?</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/intermediary/confirmation" >An invitation email has been sent</a></li>
        
        </ul>


        

        <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/organisation-details" >Organisation details</a></li>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
            <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/update/organisation/" >Update your organisation details</a></li>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
            <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/update/organisation/phone-number" >What is the main telephone number for this registered company?</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/update/organisation/email" >What is the email address for this registered company?</a></li>
            </ul>
        </ul>
    </ul>
        
    
    
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/update-organisation-contact-details" >Update registered contact information</a></li>
    
    
    <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="/account/archived/manage/add-address-manual" >What is the address?</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/archived/manage/add-address-postcode" >What is the address?</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/archived/manage/add-address-region" >Is the new address in the UK?</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/archived/manage/add-address-type" >What kind of address do you want to add?</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/archived/manage/add-non-uk-address" >What is the non-UK address?</a></li>                
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/archived/manage/remove-address" >Are you sure you want to remove this address?</a></li>                
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/archived/manage/select-new-address" >What is the address?</a></li>                
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/archived/manage/team" >Manage team access</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/archived/manage/update-address" >Do you want to replace this address?</a></li>
           -->
</ul>   





