<div class="govuk-inset-text">
    <p>Registration links all need amending as structure has been changed
    <br>Currently checking pages as lots of duplicates ( 22 January 2024 )</p>
</div>

<h3 class="govuk-heading-m">Account mangement</h3>
<ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/" >Defra account profile *</a></li>
    
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/dashboard" >Dashboard (Manage)*</a></li>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/team/" >Manage team access *</a></li>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
            <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/team/member" >Team member profile *</a></li>
        </ul>

        <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/intermediary/" >Manage intermediary access *</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/organisation-details" >Organisation details *</a></li>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
            <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/update-organisation-details" >Update organisation details *</a></li>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
            <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/update-company-email-address" >What is the email address for this registered company? *</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/update-company-phone-number" >What is the main telephone number for this registered company? *</a></li>
            </ul>
        </ul>
    </ul>
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/update/individual/" >Update your details *</a></li>                
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/reset-security-word/" >Reset your security word *</a></li>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/confirmation" >Security word reset complete *</a></li>
    </ul>
    
    
    
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/update-organisation-contact-details" >Update registered contact information *</a></li>
    
    
    <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="/account/archived/manage/add-address-manual" >What is the address?</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/archived/manage/add-address-postcode" >What is the address?</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/archived/manage/add-address-region" >Is the new address in the UK?</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/archived/manage/add-address-type" >What kind of address do you want to add?</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/archived/manage/add-non-uk-address" >What is the non-UK address?</a></li>                
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/archived/manage/remove-address" >Are you sure you want to remove this address?</a></li>                
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/archived/manage/select-new-address" >What is the address?</a></li>                
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/archived/manage/team" >Manage team access</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/archived/manage/update-address" >Do you want to replace this address?</a></li>
           -->
</ul>   