<ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link govuk-link--no-visited-state" href="/sign-in?status=">Sign in using Government Gateway</a>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
            <li><a class="govuk-link govuk-link--no-visited-state" href="/authentication/verify-single-number?status=">How do you want to verify your identity?</a></li>                        
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-margin-top-3">Text message</h3>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link govuk-link--no-visited-state" href="/authentication/verify?status=&verify-your-identity=send-sms">We will send the text message to this number</a></li>
                    <li><a class="govuk-link govuk-link--no-visited-state" href="/authentication/verify-multiple-numbers?status=&verify-your-identity=send-sms">Which number should we send the text message to?</a>
                        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                            <li><a class="govuk-link govuk-link--no-visited-state" href="/authentication/no-access?status=&verify-your-identity=send-sms">Changing the phone number used for identity verification</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="/authentication/failed-to-send?status=&verify-your-identity=send-sms">There was a problem sending the text message</a></li>
                        </ul>                                    
                    </li>
                    <li><a class="govuk-link govuk-link--no-visited-state" href="/authentication/get-code?status=&verify-your-identity=send-sms">Enter the verification code</a></li>
                </ul>
            
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-margin-top-3">Email</h3>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link govuk-link--no-visited-state" href="/authentication/security-word?status=">Enter the following three characters from your security word</a></li>
                    <li><a class="govuk-link govuk-link--no-visited-state" href="/authentication/verify?status=&mfaEmailDisabledy=Yes">We will send the verification code to this email address</a>
                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/authentication/no-access?status=&verify-your-identity=send-email">Changing the email address used for identity verification</a></li>                                    
                    </ul>                                    
                    <li><a class="govuk-link govuk-link--no-visited-state" href="/authentication/get-code?status=&verify-your-identity=send-email">Enter the verification code</a></li>
                </ul>                        
            </li>                                        
            <li><a class="govuk-link govuk-link--no-visited-state" href="/authentication/business-not-listed?status=">There are no other organisations available for you to enrol</a></li>
        </ul>                
    </li>                
</ul>            

<h3 class="govuk-heading-m">Issues with service</h3>
<ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link govuk-link--no-visited-state" href="/403-status?status=">Sorry, there is a problem with the service</a></li>                
    <li><a class="govuk-link govuk-link--no-visited-state" href="/unavailable?status=">Sorry, the service is unavailable</a></li>    
    
    
    

</ul>            

<h3 class="govuk-heading-m">MFA features disabled</h3>
<ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link govuk-link--no-visited-state" href="/unavailable?status=&mfaDisabled=Yes">Sorry, the service is unavailable</a></li>                
</ul>

<h3 class="govuk-heading-m">Footer</h3>
<ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link govuk-link--no-visited-state" href="/help?flow=">Help</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="/privacy-notice?flow=">Privacy Notice</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="/terms-and-conditions?flow=">Terms and conditions</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="/cookies?flow=">Cookies</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="/accessibility?flow=">Accessibility</a></li>

</ul>    