{% extends "/layouts/main.html" %}

{% if data['serviceFlow'] == "vetsVisit" %}
{% set serviceName = "Get funding to improve animal health and welfare" %}
{% endif %}

{% set title = "Verify your code" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{ title }}</h1>


    <form action="new-password" method="post">


      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Enter the code sent to ted.barns@cattlemoovement.org."
        },
        id: "account-number",
  name: "account-number",
  inputmode: "numeric",
  pattern: "[0-9]*",
  spellcheck: false,
        classes: "govuk-!-width-two-thirds",
        id: "verify",
        name: "verify-code"

      }) }}

      {{ govukDetails({
        summaryText: "I have not received the email",
        html: '<p>The email may take a few minutes to arrive. Its subject line is: ‘Confirm your email address - Defra’.</p>
        <p>Check your spam or junk folder.</p>'
      }) }}


      {{ govukButton({
        text: "Continue"
      }) }}


    </form>
    {{ govukButton({
      text: "Send another code",
      classes: "govuk-button govuk-button--secondary"
    }) }}



  </div>
</div>

{% endblock %}
