{% extends "layout.html" %}

{% set title = "Which of your accounts do you want to register the service with?" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form action="{{ continueURL }}" method="post">
        <input type="hidden" name="subscribeService" value="yes">
        <input type="hidden" name="serviceRole" value="Standard">

          {{ govukRadios ({
            idPrefix: "accountName",
            name: "accountName",
            fieldset: {
              legend: {
                text: title,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            items: [
              {
                value: "Acme Org Ltd",
                html: 'Acme Org Ltd',
                checked:  checked('accountName','Acme Org Ltd')
              },
              {
                value: "Imports R Us",
                html: 'Imports R Us',
                checked:  checked('accountName','Imports R Us')
              },
              {
                divider: "or"
              },
              {
                value: "Create new account",
                text: "Create new account",
                checked:  checked('accountName','Create new account')

              }
            ]
          }) }}


        {{ govukButton({
          text: "Continue"
        }) }}



      </form>
    </div>
  </div>




{% endblock %}
