{% extends "layout.html" %}

{% set title = "Organisation details : Acme Org Ltd" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-corp.html" %}
  {% include "includes/breadcrumb-three-level.html" %}
{% endblock %}

{% block content %}

{% set orgName = data['orgName'] %}
{% set childName = data['childName'] %}

<!-- Parent details with tabs -->
{% if data['parentChild'] == "parent" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            {{ title }}
        </h1>
    </div>
</div>


  {% from "tabs/macro.njk" import govukTabs %}

  {% set regAddressHtml %}
<h2 class="govuk-heading-l">Organisation address</h2>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-card govuk-card--contained">
            <div class="govuk-card__content">
                <p class="govuk-body">
                    <span class="govuk-!-font-weight-bold">Address:</span>{{ orgName }}, No.1 Forbury Place 43 Forbury Road, Reading, United Kingdom, RG1 3JH<br>
                </p>
                <p class="govuk-body">
                    <span class="govuk-!-font-weight-bold">Telephone:</span>{{data['businessTelephone']}}<br>
                    <span class="govuk-!-font-weight-bold">Email:</span>{{data['businessEmail']}}<br>
                </p>
            </div>
            <div class="govuk-card__actions">
                <ul class="govuk-list govuk-!-mb-r0">
                    <li><a href="/new-organisation-journey/manage/organisations/update-details" class="govuk-link govuk-link--no-visited-state">Update details</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<h2 class="govuk-heading-l">Correspondence addresses</h2>
<p class="govuk-body">
    Add correspondence addresses for this organisation. Registered Defra services will use these for mailed communications. 
</p>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-card govuk-card--contained">
            <div class="govuk-card__content">
                <p class="govuk-body">
                    <span class="govuk-!-font-weight-bold">Address:</span>{{ orgName }}, No.1 Forbury Place 43 Forbury Road, Reading, United Kingdom, RG1 3JH<br>
                </p>
            </div>
            <div class="govuk-card__actions">
                <ul class="govuk-list">
                    <li><a href="remove-address-confirm" class="govuk-link govuk-link--no-visited-state">Update address</a></li>

                    <li><a href="" class="govuk-link govuk-link--no-visited-state">Remove address</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
<!--<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-card govuk-card--contained">
            <div class="govuk-card__content">
                <p class="govuk-body">
                    <span class="govuk-!-font-weight-bold">Address:</span>{{ orgName }}, New Road, New Town, United Kingdom, NW1 3CD<br>
                </p>
            </div>
            <div class="govuk-card__actions">
                <ul class="govuk-list">
                    <li><a href="new-organisation-journey/manage/organisations/remove-address-confirm" class="govuk-link govuk-link--no-visited-state">Remove address</a></li>
                    <li><a href="new-organisation-journey//manage/organisations/update-details" class="govuk-link govuk-link--no-visited-state">Edit address</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>-->
{{
 govukButton({
      text: "Add a correspondence address",
      href: "/new-organisation-journey/manage/organisations/company-postcode"
    })
}}
  {% endset %}



  {% set relOrganisationsHtml %}
<h2 class="govuk-heading-l">Related organisations</h2>

<p class="govuk-body">You can add related organisations to this account and manage all team members from the account dashboard.</p>

<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            What are related organisations?
        </span>
    </summary>
    <div class="govuk-details__text">
        If your organisation is linked to another branch or division, you can add it to this account as a related organisation. This allows you to manage each part of your organisation individually, but under the same account.
    </div>
    <div class="govuk-details__text">
        If you're an <strong>Only Representative</strong>, you can add the non-EU manufacturers and importers that you represent.
    </div>
</details>


{{
 govukButton({
      text: "Add a related organisation",
      href: "company-name?addAddress=rel-org&addAccount=related"
    })
}}


<div class="govuk-grid-row">

    {% if (data['numLocations'] == "2") %}
    {% if (data['addAccount'] == "related") %}
    <div class="govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained">
            <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Acme Org China</h3>
                <p class="govuk-body"><span class="govuk-!-font-weight-bold">Address:</span> No.1 Forbury Place 43 Forbury Road, Reading, United Kingdom, RG1 3JH</p>
                <p class="govuk-body"><span class="govuk-!-font-weight-bold">Telephone:</span> 0171 444555666<br><span class="govuk-!-font-weight-bold">Email:</span> simone@org.com<br></p>
            </div>
        </div>
    </div>
    {% else %}
    <div class="govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained">
            <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Acme Org India</h3>
                <p class="govuk-body"><span class="govuk-!-font-weight-bold">Address:</span> No.1 Forbury Place 43 Forbury Road, Reading, United Kingdom, RG1 3JH</p>
                <p class="govuk-body"><span class="govuk-!-font-weight-bold">Telephone:</span> 0171 444555666<br><span class="govuk-!-font-weight-bold">Email:</span> simone@org.com<br></p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}

    {% if (data['numLocations'] == "3") %}
    {% if (data['addAccount'] == "related") %}
    <div class="govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained">
            <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Acme Org China</h3>
                <p class="govuk-body"><span class="govuk-!-font-weight-bold">Address:</span> No.1 Forbury Place 43 Forbury Road, Reading, United Kingdom, RG1 3JH</p>
                <p class="govuk-body"><span class="govuk-!-font-weight-bold">Telephone:</span> 0171 444555666<br><span class="govuk-!-font-weight-bold">Email:</span> simone@org.com<br></p>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained">
            <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Acme Org India</h3>
                <p class="govuk-body"><span class="govuk-!-font-weight-bold">Address:</span> No.1 Forbury Place 43 Forbury Road, Reading, United Kingdom, RG1 3JH</p>
                <p class="govuk-body"><span class="govuk-!-font-weight-bold">Telephone:</span> 0171 444555666<br><span class="govuk-!-font-weight-bold">Email:</span> simone@org.com<br></p>
            </div>
        </div>
    </div>
    {% else %}
    <div class="govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained">
            <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Acme Org India</h3>
                <p class="govuk-body"><span class="govuk-!-font-weight-bold">Address:</span> No.1 Forbury Place 43 Forbury Road, Reading, United Kingdom, RG1 3JH</p>
                <p class="govuk-body"><span class="govuk-!-font-weight-bold">Telephone:</span> 0171 444555666<br><span class="govuk-!-font-weight-bold">Email:</span> simone@org.com<br></p>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained">
            <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Acme Org Thailand</h3>
                <p class="govuk-body"><span class="govuk-!-font-weight-bold">Address:</span> No.1 Forbury Place 43 Forbury Road, Reading, United Kingdom, RG1 3JH</p>
                <p class="govuk-body"><span class="govuk-!-font-weight-bold">Telephone:</span> 0171 444555666<br><span class="govuk-!-font-weight-bold">Email:</span> simone@org.com<br></p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}

    {% if (data['numLocations'] == "4") %}
    <div class="govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained">
            <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Acme Org China</h3>
                <p class="govuk-body"><span class="govuk-!-font-weight-bold">Address:</span> No.1 Forbury Place 43 Forbury Road, Reading, United Kingdom, RG1 3JH</p>
                <p class="govuk-body"><span class="govuk-!-font-weight-bold">Telephone:</span> 0171 444555666<br><span class="govuk-!-font-weight-bold">Email:</span> simone@org.com<br></p>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained">
            <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Acme Org India</h3>
                <p class="govuk-body"><span class="govuk-!-font-weight-bold">Address:</span> No.1 Forbury Place 43 Forbury Road, Reading, United Kingdom, RG1 3JH</p>
                <p class="govuk-body"><span class="govuk-!-font-weight-bold">Telephone:</span> 0171 444555666<br><span class="govuk-!-font-weight-bold">Email:</span> simone@org.com<br></p>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained">
            <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Acme Org Thailand</h3>
                <p class="govuk-body"><span class="govuk-!-font-weight-bold">Address:</span> No.1 Forbury Place 43 Forbury Road, Reading, United Kingdom, RG1 3JH</p>
                <p class="govuk-body"><span class="govuk-!-font-weight-bold">Telephone:</span> 0171 444555666<br><span class="govuk-!-font-weight-bold">Email:</span> simone@org.com<br></p>
            </div>
        </div>
    </div>
    {% endif %}
   
</div>

  {% endset %}

{{
 govukTabs({
    items: [
      {
        label: "Organisation address",
        id: "reg-address",
        panel: {
          html: regAddressHtml
        }
      },
      {
        label: "Related organisations",
        id: "rel-org",
        panel: {
          html: relOrganisationsHtml
        }
      }
    ]
  })
}}
{% endif %}

<!-- Child showing own adress and parent address -->
{% if data['parentChild'] == "child" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            {{ title }}
        </h1>
    </div>
</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half {{ addressCSS1 }}">
        <div class="govuk-card govuk-card--contained">
            <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Business address</h3>
                <p class="govuk-body">
                    <span class="govuk-!-font-weight-bold">Address:</span> No.1 Forbury Place 43 Forbury Road, Reading, United Kingdom, RG1 3JH
                </p>
                <p class="govuk-body">
                    <span class="govuk-!-font-weight-bold">Telephone:</span> 0171 444555666<br>
                    <span class="govuk-!-font-weight-bold">Email:</span>simone@org.com<br>
                </p>
            </div>
            <div class="govuk-card__actions">
                <ul class="govuk-list govuk-!-mb-r0">
                    <li><a href="#" class="govuk-link govuk-link--no-visited-state">Update details</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained">
            <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Parent organisation</h3>
                <h4 class="govuk-heading-s">{{ orgName }}</h4>
                <p class="govuk-body"><span class="govuk-!-font-weight-bold">Address:</span>  1 Francis Crick Avenue, Cambridge Biomedical Campus, Cambridge, United Kingdom, CB2 0AA</p>
                <p class="govuk-body"><span class="govuk-!-font-weight-bold">Companies House number:</span> 11111111</p>

            </div>
        </div>
    </div>
</div>

{% endif %}


{% endblock %}
