{% extends "layout.html" %}

{% set title = "Remove Correspondence Address" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-corp.html" %}
  {% include "includes/breadcrumb-three-level.html" %}
{% endblock %}

{% block content %}

{% set orgName = data['orgName'] %}
{% set childName = data['childName'] %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            {{ title }}
        </h1>
    </div>
</div>
<h2 class="govuk-heading-l">Are you sure you wish to remove this correspondence address?</h2>
<p class="govuk-body">
    Address:Acme Org Ltd, New Road, New Town, United Kingdom, NW1 3CD
</p>
{{
 govukButton({
      text: "Yes, remove this address",
      href: "organisation-details"
    })
}}

<p class="govuk-body">
    <a href="organisation-details-add-c-address">No, don't remove this address</a>
</p>







{% endblock %}
