{% extends "layout.html" %}
{% set showBackLink = false %}
{% set serviceName = "" %}

{% set pageHeading = "Billing information has been added to your account" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukPanel({
            titleText: pageHeading,
            classes: "govuk-!-margin-bottom-7"
        }) }}


        
        
        <p><a href="/account/organisation-details#past-week">Return to your account</a></p>
        


  	</div>
</div>

{% endblock %}
