{% extends "layout.html" %}
{% set serviceName = "Defra account" %}

{% set title = "What kind of address do you want to add?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

<!-- Determines the navigation -->
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="account">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="dashboard">
          Big Company Ltd
        </a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="organisation-details">
          Organisation details
        </a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <!-- <a class="govuk-breadcrumbs__link" href="#"> -->
          Add an address
        <!-- </a> -->
      </li>
    </ol>
  </div>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="add-address-region">

        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ title }}
              </h1>
            </legend>

            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="add-address-type" name="add-address-type" type="radio" value="correspondence">
                <label class="govuk-label govuk-radios__label" for="add-address-type">
                  Correspondence
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="add-address-type-2" name="add-address-type" type="radio" value="billing">
                <label class="govuk-label govuk-radios__label" for="add-address-type-2">
                  Billing
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="add-address-type-3" name="add-address-type" type="radio" value="operation">
                <label class="govuk-label govuk-radios__label" for="add-address-type-3">
                  Operations
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="add-address-type-4" name="add-address-type" type="radio" value="exporter">
                <label class="govuk-label govuk-radios__label" for="add-address-type-4">
                  Exporter
                </label>
              </div>

              <div class="govuk-radios__divider">
                or
              </div>

              <!-- <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="add-address-type-6" name="add-address-type" type="radio" value="custom">
                <label class="govuk-label govuk-radios__label" for="add-address-type-6">
                  Custom
                </label>
              </div> -->

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="add-address-type-6" name="add-address-type" type="radio" value="custom" data-aria-controls="conditional-custom">
                <label class="govuk-label govuk-radios__label" for="add-address-type">
                  Custom
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-custom">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="add-address-type">
                    Address type
                  </label>
                  <input class="govuk-input govuk-!-width-two-thirds" id="add-address-label" name="add-address-type" type="custom-address" spellcheck="false"></div>
              </div>
            </div>

          </fieldset>

        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
