{% extends "layout.html" %}
{% set serviceName = "Defra account" %}

{% set title = "Big Company Ltd" %}

{% block beforeContent %}

<!-- Determines the navigation -->
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="account">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <!-- <a class="govuk-breadcrumbs__link" href="#"> -->
          Big Company Ltd
        <!-- </a> -->
      </li>
    </ol>
  </div>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
        {{title}}
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Change account
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list ">
            <li>
              <!-- <a href="#" class="govuk-link--no-visited-state"> -->
                Big Company Ltd
              <!-- </a> -->
            </li>
            <li class="govuk-list govuk-list--indent">
              <a href="#" class="govuk-link--no-visited-state">
                Small Company Ltd
              </a>
            </li>
          </ul>
        </div>
      </details>

    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-full">

      <div class="govuk-grid-row" id="orgCards">

        <div class="govuk-grid-column-one-third">
          <div class="govuk-card govuk-card--contained govuk-card--selectable">
            <a href="{{ teamMemberURL }}"></a>
            <div class="govuk-card__content">
              <h3 class="govuk-heading-m"><a href="{{ teamMemberURL }}" class="govuk-link--no-visited-state">Manage team access</a></h3>
              <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-font-weight-bold">{{ data['numUsers'] }}</p>
            </div>
            <div class="govuk-card__actions">
              <ul class="govuk-list govuk-!-mb-r0">
                <li><a href="{{ addUserURL }}" class="govuk-link--no-visited-state">Add a team member</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="govuk-grid-column-one-third {{ showAgentCSS }}">
          <div class="govuk-card govuk-card--contained govuk-card--selectable">
            <a href="{{ agentURL }}"></a>
            <div class="govuk-card__content">
              <h3 class="govuk-heading-m"><a href="{{ agentURL }}" class="govuk-link--no-visited-state">Manage intermediary access
            </a></h3>
            <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-font-weight-bold">{{ data['numAgents'] }}</p>
            </div>
            <div class="govuk-card__actions">
              <ul class="govuk-list govuk-!-mb-r0">
                <li><a href="{{ addAgentURL }}" class="govuk-link--no-visited-state">Add an intermediary</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="govuk-grid-column-one-third {{ locationAddressCSS }}">
          <div class="govuk-card govuk-card--contained govuk-card--selectable">
            <a href="{{ locationURL }}"></a>
            <div class="govuk-card__content">
              <h3 class="govuk-heading-m">
                <!-- <a href="{{ locationURL }}" class="govuk-link--no-visited-state"> -->
                <a href="organisation-detail" class="govuk-link--no-visited-state">
                  Manage your organisation
                </a>
              </h3>
              {% if (data['parentChild'] == "child") %}
              {% else %}
              <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-font-weight-bold">{{ data['numLocations'] }}</p>
              {% endif %}
            </div>

            {% if (data['parentChild'] == "child") %}
            {% else %}

            <div class="govuk-card__actions">
              <ul class="govuk-list govuk-!-mb-r0">
                <li>
                  <a href="{{addLocationURL}}" class="govuk-link--no-visited-state">
                    Add related organisation
                  </a>
                </li>
              </ul>
            </div>

          {% endif %}

          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="govuk-card__content">
    <h2 class="govuk-heading-l">Services</h2>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
          <button class="govuk-button" data-module="govuk-button">
            Register for a service
          </button>
        </div>

        <!-- waste services -->

        <!-- <div class="govuk-grid-column-one-third">
          <div class="govuk-card govuk-card--contained govuk-card--selectable">
            <a href="../epr/home"></a>
            <div class="govuk-card__content">
              <h3 class="govuk-heading-m">Packaging producer responsibility</h3>
            </div>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="govuk-card govuk-card--contained govuk-card--selectable">
            <a href="../drs/home"></a>
            <div class="govuk-card__content">
              <h3 class="govuk-heading-m">Deposit return scheme</h3>
            </div>
          </div>
        </div> -->

      </div>
  </div>

{% endblock %}
