{% extends "layout.html" %}
{% set serviceName = "Defra account" %}

{% set title = "Are you sure you want to remove this address?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

<!-- Determines the navigation -->
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="account">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="dashboard">
          Big Company Ltd
        </a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">
          Organisation details
        </a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <!-- <a class="govuk-breadcrumbs__link" href="#"> -->
          Remove an address
        <!-- </a> -->
      </li>
    </ol>
  </div>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

      {% if data['added-address'] == "manual" %}

      <div class="govuk-inset-text">
        <h3 class="govuk-heading-m">
          Operational address
        </h3>

        <p class="govuk-budy">
          Laurel Ho<br>
          Laurelhill Business Park<br>
          Stirling<br>
          FK7 9JQ
        </p>
      </div>

      {% elseif data['added-address'] == "non-uk" %}

        <div class="govuk-inset-text">
          <h3 class="govuk-heading-m">
            Billing address
          </h3>

          <p class="govuk-body">
            LG. Do Município<br>
            6060-163 - Idanha-A-Nova<br>
            Portugal
          </p>
        </div>

      {% else %}

        <div class="govuk-inset-text">
          <h3 class="govuk-heading-m">
            Correspondence address
          </h3>

          <p class="govuk-budy">
            Clifton House<br>
            Clifton Road<br>
            London<br>
            SW19 5JA
          </p>
        </div>

      {% endif %}

      <form action="organisation-detail?added-address=none" method="post" class="form">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

      <!-- <a href="organisation-detail?added-address=none">test</a> -->

    </div>
  </div>

{% endblock %}
