{% extends "/layouts/main.html" %}

{% set serviceName = "Your Defra account" %}




{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  <!-- {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }} -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      There are no numbers we can use to authenticate you
    </h1>

    <p>This means we can not send a verification code to your mobile number.</p>
  

  <p>Instead, we can send a verification code to the email we have for you: <strong>xxxxxxxxxxxx@wackaday.co.uk</strong>, but we will require you to answer a security question, so we know its you.</p>

{{ govukButton({
  text: "Continue",
  href:"/mfa/security-word"
}) }}

  
    
  </div>
</div>

{% endblock %}
