{% extends "layout.html" %}

{% set title = "This user is already registered for this account" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% include "includes/account-nav-admin-corp.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{title}}</h1>
    <p class="govuk-body">This user is already registered to work on behalf of {{ data['orgName']}}.</p>
    <p class="govuk-body">You can only add a user to an account once, either as a Team Member or an Intermediary.</p>

    {{ govukButton({
      text: "Continue",
      href: "/manage/team-members/team-members"
    }) }}
    <p class="govuk-body-s">Error code: xxxxxxxx</p>



  </div>
</div>


{% endblock %}
