{% extends "layout.html" %}

{% set title = "You do not have access to this service" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {% include "includes/account-nav-standard-account.html" %}


{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{title}}</h1>
    <p class="govuk-body">You do not yet have access to the [service name] service.</p>

    <p class="govuk-body">Please contact your administrator if you wish to be granted access to this service.</p>

    {{ govukButton({
      text: "Sign out",
      href: "/signed-out"
    }) }}
    <p class="govuk-body-s">Error code: xxxxxxxx</p>


  </div>
</div>


{% endblock %}
