{% extends "/layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "{Service Name}" %}


{% if data['billingCYA'] == "update" %}
	{% set pageHeading = "Update your billing details" %}
{% else %}
	{% set pageHeading = "Check your answers" %}
{% endif %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}   

    
		

			<h2 class="govuk-heading-m govuk-!-margin-bottom-2">Billing details</h2>
			<!-- Account Type -->
    		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
      			<div class="govuk-summary-list__row">
        			<dt class="govuk-summary-list__key">Address</dt>
        			<dd class="govuk-summary-list__value">
                        {% if data['billingAddress'] == "Yes" %}
                        <p class="govuk-body">Hutton Yeat Farm
                            <br>Old Hutton
                            <br>Kendal
                            <br>South Lakeland
                            <br>LA8 0NL</p>
                        {% else %}

                            {% if data['billingAddressDetails'] %}
                                {{ data['billingAddressDetails'] }}
                            {% else %}


                            {% endif %}


          				{{ data['registrationAccountType'] }}
                        {% endif %}
        			</dd>
        			<dd class="govuk-summary-list__actions">
						<a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> billing address</span></a>
        			</dd>
      			</div>
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Email address</dt>
					<dd class="govuk-summary-list__value">												
						
                        {{ data['billingEmail'] }}
						
					</dd>
					<dd class="govuk-summary-list__actions">
						<a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> email address</span></a>
        			</dd>
				</div>
				<!-- <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Contact name</dt>
					<dd class="govuk-summary-list__value">												
						
                        {{ data['billinContact'] }}
						
					</dd>
					<dd class="govuk-summary-list__actions">
						<a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> email address</span></a>
        			</dd>
				</div>	 -->
                <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Telephone</dt>
					<dd class="govuk-summary-list__value">												
						{{ data['billingTelephone'] }}
					</dd>
					<dd class="govuk-summary-list__actions">
						<a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> telephone number</span></a>
        			</dd>
				</div>
    		</dl>

			
      	</dl>

		
        
		
        <form method="post" action="/account/manage/billing/confirmation">
		
			{% if data['billingCYA'] == "update" %}
			
				{{ govukButton({
					text: "Confirm and update billing details"				
				}) }}			

			{% else %}

				<input type="hidden" name="billingDetailsAdded" id="billingDetailsAdded" value="Yes" />
				{{ govukButton({
					text: "Confirm and add billing details"				
				}) }}
			
			{% endif %}
		  
        </form>

      </div>
	  <div class="govuk-grid-column-one-third review">              
        </div>  
    </div>

{% endblock %}
