{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "{Service Name}" %}

{% set pageHeading = "Billing details added" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukPanel({
            titleText: pageHeading,
            classes: "govuk-!-margin-bottom-7"
        }) }}
        

        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">We may contact you if we need to clarify something, but you do not have to do anything else now.</p>
        <!-- <p>Line of content for returning user back to the service.</p> -->
        <ul class="govuk-list">
            <li><a href="/account/manage/organisation-details#past-week" class="govuk-link govuk-link--no-visited-state">Go to your organisation</a></li>
            <li><a href="/account/" class="govuk-link govuk-link--no-visited-state">Go to your account</a></li>            
        </ul>        


  	</div>
</div>

{% endblock %}
