{% extends "/layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "{Service Name}" %}

{% if ((data['billingDetails'] == "update") or (data['billingDetails'] == "updateMade")) %}
    {% set pageHeading = "What email address do you want to use for billing?" %}
{% else %}
    {% set pageHeading = "What email address do you want to use for billing?" %}
{% endif %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}   

    	<p class="govuk-body">We will send payment confirmation’s to this email address.</p>
        
        
        <!-- This checks to see if we are currently updating the page or not -->
		{% if ((data['billingDetails'] == "update") or (data['billingDetails'] == "updateMade")) %}
            <!-- This changes out the status to show correct button on update page -->
            <form action="/account/manage/billing/check-your-answers" method="post">			
        {% else %}
    	<form action="/account/manage/billing/telephone" method="post">			
        {% endif %}

			{{ govukInput({
                label: {
                    text: "Email address",
                    classes: "govuk-visually-hidden"				
                },                
                classes: "govuk-!-width-two-thirds",
				type: "email",
                spellcheck: "false",
                name: "billingEmail"
            }) }}
            

            <!-- This checks to see if we are currently updating the page or not -->
			{% if ((data['billingDetails'] == "update") or (data['billingDetails'] == "updateMade")) %}
                <!-- This changes out the status to show correct button on update page -->
                <input type="hidden" id="billingDetails" name="billingDetails" value="updateMade" />
                {{ govukButton({
                    text: "Update and continue"
                }) }}

            {% else %}
      		    
                {{ govukButton({
        		    text: "Continue"
      		    }) }}
            {% endif %}

    	</form>

  	</div>
</div>

{% endblock %}
