{% extends "/layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "{Service Name}" %}

{% set pageHeading = "Is this address also your billing address?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        
        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}    
        
        <!-- <p>This must be the address associated to your payment card/bank details.</p> -->

    	<form method="post" action="/account/manage/billing/email">
			
			<div class="govuk-inset-text">
				<p class="govuk-body">Hutton Yeat Farm
                <br>Old Hutton
                <br>Kendal
                <br>South Lakeland
                <br>LA8 0NL</p>
			</div>

			<div class="govuk-button-group">

                <input type="hidden" name="billingAddress" id="billingAddress" value="Yes" />

                {{govukButton({
                    text: "Confirm and continue"
                }) }}
                <a class="govuk-link" href="/account/manage/billing/postcode?billingAddress=No">The billing address is different</a>
            </div>
            
            
        
      	</form>

    </div>
    <div class="govuk-grid-column-one-third review">          
    </div>
</div>

{% endblock %}
