
{% extends "/layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "" %}


{% set pageHeading = "What is the postcode for your billing address?" %}		
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">        
		
        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}		

        <form action="/account/manage/billing/select-address" method="post">
			

			{{ govukInput({
				label: { text: pageHeading, classes: "govuk-visually-hidden" },					
				classes: "govuk-input--width-10",      
                name: "billingAddressPostcode"
			}) }}


            <div class="govuk-button-group">
            
            {{ govukButton({
                text: "Find address"
            }) }}
            

                <a class="govuk-link" href="/account/manage/billing/add-address-manual">Enter your address manually</a>
            </div>

        </form>

  </div>
  <div class="govuk-grid-column-one-third review">          
</div>  
</div>

{% endblock %}
