{% extends "/layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "" %}


{% set pageHeading = "Select your address" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">        

        
        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


        

            <div class="govuk-inset-text">
            <p class="govuk-body">We found the following addresses for postcode <span class="govuk-!-font-weight-bold">{{ data['registrationIndividualPostcode'] or "SW19 5JA" }}</span>.</p>
            <p><a href="/account/manage/billing/postcode" class="govuk-link govuk-link--no-visited-state">Change postcode</a></p>
            </div>

            

            <form action="/account/manage/billing/email" method="post" class="form">


                {{ govukSelect({                
                    fieldset: {
                        legend: { text: "Select the address", isPageHeading: false, classes: "govuk-visually-hidden"  }
                    },
                    items: [
                        { value: "Not selected", text: "3 addresses found", checked: checked("companySize", "Single") },    
                        { value: "Clifton House, Clifton Road, LONDON SW19 5JA", text: "Clifton House, Clifton Road, LONDON SW19 5JA", checked: checked("companySize", "Single") },
                        { value: "2a, Clifton House, Clifton Road, LONDON SW19 5JA", text: "2a, Clifton House, Clifton Road, LONDON SW19 5JA", checked: checked("companySize", "20") },
                        { value: "2b, Clifton House, Clifton Road, LONDON SW19 5JA", text: "2b, Clifton House, Clifton Road, LONDON SW19 5JA", checked: checked("companySize", "45") }
                    ],
                    name: "billingAddressDetails"
                }) }}



                <!-- {{ govukRadios({                
                    fieldset: {
                        legend: { text: "Select the address", isPageHeading: false, classes: "govuk-visually-hidden"  }
                    },
                    items: [                        
                        { value: "Clifton House, Clifton Road, LONDON SW19 5JA", text: "Clifton House, Clifton Road, LONDON SW19 5JA", checked: checked("companySize", "Single") },
                        { value: "2a, Clifton House, Clifton Road, LONDON SW19 5JA", text: "2a, Clifton House, Clifton Road, LONDON SW19 5JA", checked: checked("companySize", "20") },
                        { value: "2b, Clifton House, Clifton Road, LONDON SW19 5JA", text: "2b, Clifton House, Clifton Road, LONDON SW19 5JA", checked: checked("companySize", "45") }
                    ],
                    name: "registrationIndividualAddress"
                }) }}
                 -->

                <div class="govuk-button-group">
                {{ govukButton({
                    text: "Continue"
                }) }}

                <a href="/account/manage/billing/add-address-manual" class="govuk-link govuk-link--no-visited-state">My address is not in the list</a>

                </div>            
      
        </form>
    </div>
    <div class="govuk-grid-column-one-third review">      
		
	</div> 
</div>

{% endblock %}
