{% extends "/layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "{Service Name}" %}

{% if ((data['billingDetails'] == "update") or (data['billingDetails'] == "updateMade")) %}
    {% set pageHeading = "What telephone number do you want to use for billing?" %}
{% else %}
    {% set pageHeading = "What telephone number do you want to use for billing?" %}
{% endif %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}   

        <p>We will only use this to get in touch if there are any problems with payments.</p>
        
        {% if ((data['billingDetails'] == "update") or (data['billingDetails'] == "updateMade")) %}
        <form action="/account/manage/billing/check-your-answers" method="post">			
        {% else %}
        <form action="/account/manage/billing/check-your-answers" method="post">
        {% endif %}
        
    
			{{ govukInput({
                label: {
                    text: "Telephone number",
                    classes: "govuk-label govuk-visually-hidden"					
                },                
                classes: "govuk-!-width-two-thirds",
				type: "tel",
                name: "billingTelephone"
            }) }}

            {% if ((data['billingDetails'] == "update") or (data['billingDetails'] == "updateMade")) %}
                <input type="hidden" id="billingDetails" name="billingDetails" value="updateMade" />
                {{ govukButton({
                    text: "Update and continue"
                }) }}

            {% else %}
      		{{ govukButton({
        		text: "Continue"
      		}) }}
            {% endif %}

    	</form>

  	</div>
    <div class="govuk-grid-column-one-third review">              
    </div>    
</div>

{% endblock %}
