{% extends "/layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "" %}

{% set pageHeading = "Is this an account for a business or organisation?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}     

        <!-- <p>You represent a business or organisation (including sole traders and charities) and have permission to register an account.</p> -->
        <p>This includes if they are a sole trader or registered charity.</p>
        
        <form method="post" action="/account/add/uk-organisation">
            
            {{ govukRadios({
                
                fieldset: {
                    legend: { text: pageHeading, isPageHeading: false, classes: "govuk-visually-hidden"  }
                },
                items: [
                    { value: "Business", text: "Yes",  checked: checked('addSiblingAccountType', 'Business')  },
                    { value: "Individual~/register/uk-address", text: "No, as an individual for personal use", checked: checked('addSiblingAccountType', 'Individual')  }
                ],
                name: "addSiblingAccountType"
            }) }}
            
            {{govukButton({
                text: "Continue"
            })}}

        </form>          

    </div>    
</div>

{% endblock %}
