{% extends "/layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "{Service Name}" %}

{% set pageHeading = "You already have an individual account" %}
{% set pageSection = "Register new Defra account" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        
        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}  
        
        <p class="govuk-body">You have already created an individual account and cannot create another one. You can use your existing individual account to register for Defra services.</p>
        <p class="govuk-body">Select 'Back' to change the account type, select "Continue" to return to Your Defra account.</p>


        {{ govukButton({
            text: "Continue",
            href: "/account/?notification_banner="
          }) }}
          
    
    </div>
</div>


{% endblock %}
