{% extends "layout.html" %}

<!--Setting the title to vary according to parent or child-->
{% if data['parentChild'] == "child" %}
    {% set title %}
      {{ data['childName']}}
    {% endset %}
{% else %}
    {% set title %}
      {{ data['orgName']}}
    {% endset %}
{% endif %}

{% block pageTitle %}
    Account - {{title}} - GOV.UK
{% endblock %}

<!-- setting some variables -->

{% set orgName = data['orgName'] %}
{% set childName = data['childName'] %}

<!-- setting nav and breadcrumb according to parent or child -->
{% block beforeContent %}
  <div id="account">
    {% include "includes/account-nav-admin-corp.html" %}
  </div>

  {% include "includes/breadcrumb-two-level.html" %}

{% endblock %}

{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

<!--setting the header configuration according to parent or child -->

    {% if data['multiOrg'] == "no" %}
      <span class="govuk-caption-xl">
        Account for
      </span>
      <h1 class="govuk-heading-xl">
        {% if data['parentChild'] == "parent" %}
          {{ orgName }}
        {% else %}
          {{ childName }}
        {% endif %}
      </h1>
    {% endif %}

    {% if data['multiOrg'] == "yes" %}
      <h1 class="govuk-heading-xl govuk-heading-xl--no-margin">
        {% if data['parentChild'] == "parent" %}
          {{ orgName }}
        {% else %}
          {{ childName }}
        {% endif %}
      </h1>
    {% endif %}

<!-- Multi-org navigation -->
    {% if (data['multiOrg'] == "yes") and (data['numLocations'] >="2") %}
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Change account
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list ">
            <li><a href="/manage/dashboard-all?numUsers=5&numAgents=0&numServices=3&orgName=Acme Org Ltd&serviceLine=Comply with REACH IT&serviceRole=REACH Manager&multiOrg=yes&parentChild=parent&numServices=3" class="govuk-link--no-visited-state">Acme Org Ltd</a></li>
              <ul class="govuk-list govuk-list--indent">
                <li><a href="/manage/dashboard-child?childName=Acme Org India&multiOrg=yes&parentChild=child&numServices=0" class="govuk-link--no-visited-state">Acme Org India</a></li>

            {% if (data['numLocations'] == "3") %}
                <li><a href="/manage/dashboard-child?childName=Acme Org Thailand&multiOrg=yes&parentChild=child&numServices=0" class="govuk-link--no-visited-state">Acme Org Thailand</a></li>
            {% endif %}
              </ul>
          </ul>
        </div>
      </details>
    {% endif %}
  </div>
</div>


  <div class="govuk-grid-row" id="orgCards">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-card govuk-card--contained govuk-card--selectable">
        <a href="{{ teamMemberURL }}"></a>
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m"><a href="{{ teamMemberURL }}" class="govuk-link--no-visited-state">Manage team access</a></h3>
          <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-font-weight-bold">{{ data['numUsers'] }}</p>
        </div>
        <div class="govuk-card__actions">
          <ul class="govuk-list govuk-!-mb-r0">
            <li><a href="{{ addUserURL }}" class="govuk-link--no-visited-state">Add a team member</a></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="govuk-grid-column-one-third {{ showAgentCSS }}">

      <div class="govuk-card govuk-card--contained govuk-card--selectable">
        <a href="{{ agentURL }}"></a>
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m"><a href="{{ agentURL }}" class="govuk-link--no-visited-state">Manage intermediary access
        </a></h3>
        <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-font-weight-bold">{{ data['numAgents'] }}</p>
        </div>
        <div class="govuk-card__actions">
          <ul class="govuk-list govuk-!-mb-r0">
            <li><a href="{{ addAgentURL }}" class="govuk-link--no-visited-state">Add an intermediary</a></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="govuk-grid-column-one-third {{ showClientCSS }}">

      <div class="govuk-card govuk-card--contained govuk-card--selectable">
        <a href="{{ agentURL }}"></a>
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m"><a href="{{ clientURL }}" class="govuk-link--no-visited-state">Manage your clients
        </a></h3>
        <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-font-weight-bold">12{{ data['numAgents'] }}</p>
        </div>
        <div class="govuk-card__actions">
          <ul class="govuk-list govuk-!-mb-r0">
            <li><a href="{{ addClientURL }}" class="govuk-link--no-visited-state">Add a client</a></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="govuk-grid-column-one-third {{ clientAddressCSS }}">
      <div class="govuk-card govuk-card--contained govuk-card--selectable">
        <a href="{{locationURL}}"></a>
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m"><a href="{{ locationURL }}" class="govuk-link--no-visited-state">Manage client details</a></h3>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-one-third {{ locationAddressCSS }}">
      <div class="govuk-card govuk-card--contained govuk-card--selectable">
        <a href="{{ locationURL }}"></a>
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m"><a href="{{ locationURL }}" class="govuk-link--no-visited-state">Manage your organisation</a></h3>

      {% if (data['parentChild'] == "child") %}
      {% else %}
          <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-font-weight-bold">{{ data['numLocations'] }}</p>
      {% endif %}
        </div>

        {% if (data['parentChild'] == "child") %}
        {% else %}
        <div class="govuk-card__actions">
          <ul class="govuk-list govuk-!-mb-r0">
            <li><a href="{{addLocationURL}}" class="govuk-link--no-visited-state">Add related organisation</a></li>
          </ul>
        </div>
      {% endif %}



      </div>
    </div>

  </div>

  <div class="govuk-card__content">
    <h2 class="govuk-heading-l">Your registered services</h2>

  {% if (data['numServices'] == "1") and (data['service'] == "Chemicals") %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="/Comply-with-REACH-IT"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m">{{ data['serviceLine'] }}</h3>
          </div>
        </div>
      </div>
    </div>

    {% endif %}

    {% if (data['numServices'] == "1") and (data['service'] == "Imports") %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <div class="govuk-card govuk-card--contained govuk-card--selectable">
            <a href="/Notifications"></a>
            <div class="govuk-card__content">
              <h3 class="govuk-heading-m">{{ data['serviceLine'] }}</h3>
            </div>
          </div>
        </div>
      </div>

  {% endif %}

  {% if (data['numServices'] == "2") %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="/Comply-with-REACH-IT"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m">Comply with REACH IT</h3>
          </div>
        </div>
      </div>

      <div class="govuk-grid-column-one-third {{serviceCSS}}">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="/Notifications"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m">Notification Service</h3>

          </div>
        </div>
      </div>
  {% endif %}
  {% if (data['numServices'] == "3") %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="/Comply-with-REACH-IT"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m">Comply with REACH IT</h3>
          </div>
        </div>
      </div>

      <div class="govuk-grid-column-one-third {{serviceCSS}}">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="/Notifications"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m">Notification Service</h3>

          </div>
        </div>
      </div>

      <div class="govuk-grid-column-one-third {{serviceCSS}}">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="/service-start-complete?serviceLine=Apply for Export Catch Certificate"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m">Apply for Export Catch Certificate</h3>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  </div>

  {% if (data['numServices'] == "0") %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukButton({
          text: "Register services",
          href: "service-list-chems-only"
        }) }}
      </div>
    </div>

  {% else %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukButton({
          text: "Register for more services",
          href: "service-list"
        }) }}
      </div>
    </div>
  {% endif %}

    </div>
  </div>
</div>






{% endblock %}
