{% extends "layout.html" %}

{% set title = "Register for services" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

    {% include "includes/account-nav-admin-corp.html" %}


  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{title}}</h1>


      <!--
      <h2 class="govuk-heading-m">Available services</h2>
    -->
  <h2 class="govuk-heading-m">Available services</h2>
      <p class="govuk-body">You can register [Org name] with the following services:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="/service-start-logged-out-VMD?userType=existing&serviceLine=VMD Secure Messaging">VMD Secure Messaging</a>
        </li>
        <li>
          <a class="govuk-link" href="/service-start-logged-out-imports?userType=existing&serviceLine=Notification service">Notification service</a>
        </li>
        <li>
          <a class="govuk-link" href="#">An Other Service</a>
        </li>
      </ul>
      <h2 class="govuk-heading-m">Services registered to this account</h2>
      <p class="govuk-body">[Org name] is already registered with the following services but you do not have access. To request access, select a service to view the administrator's contact details.</p>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Comply with REACH IT
          </span>
        </summary>
        <div class="govuk-details__text">
          To get access to this service contact:<br>
          [First name] [Last name]<br>
          <a href="mailto:someone@example.com">[email address]</a>
          <br>[telephone number]
        </div>
      </details>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Notification Service
          </span>
        </summary>
        <div class="govuk-details__text">
          To get access to this service contact:<br>
          [First name] [Last name]<br>
          <a href="mailto:someone@example.com">[email address]</a>
          <br>[telephone number]
        </div>
      </details>
    </div>
  </div>




{% endblock %}
