{% extends "layout.html" %}

{% set title = "Register for services" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

    {% include "includes/account-nav-admin-corp.html" %}


  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{title}}</h1>


      <!--
      <h2 class="govuk-heading-m">Available services</h2>
    -->
      <p class="govuk-body">You can register with the following services:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="/service-start-complete?userType=existing&serviceLine=Comply with REACH IT&parentService=yes&numServices=1">Comply with REACH IT</a>
        </li>
        <li>
          <a class="govuk-link" href="/service-start-complete?userType=existing&serviceLine=VMD Secure Messaging&parentService=yes&numServices=1">VMD Secure Messaging</a>
        </li>
        <li>
          <a class="govuk-link" href="/service-start-complete?userType=existing&serviceLine=Notification service&parentService=yes&numServices=1">Notification service</a>
        </li>
        <li>
          <a class="govuk-link" href="#">An Other Service</a>
        </li>


      </ul>

    </div>
  </div>




{% endblock %}
