
{% extends "/layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "" %}


{% if data['addSiblingAccountType'] == "Individual" %}
	{% set pageHeading = "What’s your postcode?" %}
{% elif data['addSiblingOrganisationType'] == "Charity" %}
	{% set pageHeading = "What’s the postcode for the charity’s registered address?" %}
{% elif data['addSiblingOrganisationType'] == "Sole trader" %}	
	{% set pageHeading = "What’s the postcode for the business?" %}
{% else %}
	{% set pageHeading = "What’s your business’s postcode?" %}
{% endif %}
		
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">        
		
        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
		
		
		{% if data['addSiblingAccountType'] != "Individual" %}
			{% if data['addSiblingOrganisationType'] != "Charity" %}		
				<p>This might be their home postcode if they do not have commerical premises.</p>
			{% endif %}		
		{% endif %}		
		
        <form action="/account/add/address/select-address" method="post">

			{% if data['addSiblingAccountType'] == "Individual" %}

				{{ govukInput({
					label: { text: pageHeading, classes: "govuk-visually-hidden" },					
					classes: "govuk-input--width-10",
					name: "addSiblingIndividualPostcode"
				}) }}

			{% elif data['addSiblingOrganisationType'] == "Charity" %}

				{{ govukInput({
					label: { text: pageHeading, classes: "govuk-visually-hidden" },					
					classes: "govuk-input--width-10",
					name: "addSiblingCharityPostcode",
					id: "addSiblingCharityPostcode",
					value: data['addSiblingCharityPostcode']
				}) }}


			{% else %}

				{{ govukInput({
					label: { text: pageHeading, classes: "govuk-visually-hidden" },					
					classes: "govuk-input--width-10",
					name: "addSiblingSoleTraderPostcode",
					id: "addSiblingSoleTraderPostcode",
					value: data['addSiblingSoleTraderPostcode']
				}) }}

			{% endif %}
			
			<div class="govuk-button-group">
            {{ govukButton({
                text: "Find address"
            }) }}
            

            <a class="govuk-link" href="/account/add/address/add-address-manual">Enter the address manually</a>

		</div>

        </form>

  </div>  
</div>

{% endblock %}
