{% extends "layout.html" %}

{% set serviceName = "Defra account" %}

{% set title = "Your information" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  <!-- {% include "includes/account-nav-admin-login.html" %} -->

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <!-- the id here should be into the reCAPTCHA checkbox if this is the only error -->
            <a href="#reCAPTCHA">You must complete the reCAPTCHA verification before you continue</a>
          </li>
        </ul>
      </div>
    </div>

    <h1 class="govuk-heading-xl">
      {{title}}
    </h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">
        About you
      </caption>
      <!-- <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Your name</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Contact details</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Security word</th>
        </tr>
      </thead> -->
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Your name</td>
          <td class="govuk-table__cell">Sam Mendez</td>
          <td class="govuk-table__cell"><a href="#">Change</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Contact details</td>
          <td class="govuk-table__cell">07824551877<br>idm@brie-exports.org.uk</td>
          <td class="govuk-table__cell"><a href="#">Change</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Your security word</td>
          <td class="govuk-table__cell">jamsandwiches</td>
          <td class="govuk-table__cell"><a href="#">Change</a></td>
        </tr>

      </tbody>
    </table>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">

    <div class="govuk-form-group govuk-form-group--error govuk-!-margin-bottom-3" id="reCAPTCHA">

      <span id="passport-issued-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span>You must complete the reCAPTCHA verification before you continue
      </span>

      <img src="/public/images/fake-captcha.png" width="309px" height="77px" alt="Fake reCAPTCHA image">
    </div>

    <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>

  </div>
</div>

{% endblock %}
