{% extends "layout-signed-out.html" %}


{% set title = "Confirm your security word" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}



{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "You must enter the characters required for your security word",
          href: "#char-error"
        }
      ]
    }) }}



      <form method="post" action="credential-recovery-security-word-error-1">

        <div class="govuk-form-group govuk-form-group--error">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="security-character">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                {{title}}
              </h1>
            </legend>
            <span id="security-character" class="govuk-hint">
              Enter the following 3 characters from your security word.
            </span>
            <span id="char-errorr" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>You must enter the characters required for your security word
            </span>

            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="char1">
                    3rd
                  </label>
                  <input class="govuk-input govuk-input--width-2 govuk-input--error" id="char1" name="char1">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="char2">
                    7th
                  </label>
                  <input class="govuk-input govuk-input--width-2 govuk-input--error" id="char2" name="char2">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="char3">
                    12th
                  </label>
                  <input class="govuk-input govuk-input--width-2 govuk-input--error" id="char3" name="char3">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Forgotten your Defra security word?
            </span>
          </summary>
          <div class="govuk-details__text">
            Contact the [Service name].<br><br>
            [Service name]  <br>
            Telephone: [Service telephone number] <br>
            [Service Opening Hours](except public holidays) <br>
            [Service email address]
            <br><br>
            <p class="govuk-body">Find out about <a href="https://www.gov.uk/call-charges" target=”_blank”>call charges</p>
          </div>
        </details>


      </form>

  </div>
</div>


{% endblock %}
