{% extends "layout.html" %}

{% set title = "Enter your Contact Support ID" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



      <form method="post" action="credential-recovery-security-word">

        {% call govukFieldset({
          legend: {
            text: title,
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}



        {{ govukInput({
          label: {
            text: "Contact Support ID"
          },
          classes: "govuk-input--width-20",
          id: "contactSupportId",
          name: "contactSupportId",
          value: contactSupportId
        }) }}

        {% endcall %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
<a href="/scp/credential-recovery-personal-details-csid.html" class="govuk-link">I have forgotten my Contact Support ID</a>
  </div>
</div>

{% endblock %}
