{% extends "layout.html" %}

{% set title = "Your request has been successful" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
				<h1 class="govuk-panel__title">Your user ID has been sent</h1>
			</div>
        <p>We have sent your Government Gateway user ID to <span class="bold">{{ data['scpEmail'] }}</span>.</p>
				<p>You'll need your user ID and password every time you sign in to Defra online services.</p>
      </div>



{% endblock %}
