{% extends "layout.html" %}

{% set title = "How do you want to get 2-Step Verification access codes?" %}

{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


      <form method="post" class="mfa-type" onsubmit="return myFunction()">

        <script>
          const form = document.querySelector('.mfa-type')

          function myFunction() {
            const checked = document.querySelector('[name="mfaType"]:checked')
            const checkedValue = checked.value

            switch(checkedValue){
              case 'Text':
              form.action = 'mfa-phone-choose?mfa-type=text'

              break;
              case 'Voice':
              form.action = 'mfa-phone-choose?mfa-type=voice'

              break;
              case 'App':
              form.action = 'mfa-phone-choose?mfa-type=app'

            }
            return true
          }
        </script>


        {{ govukRadios({
          idPrefix: "mfaType",
          name: "mfaType",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },

          items: [
            {
              value: "Text",
              html: ' <span class="govuk-body govuk-!-font-weight-bold">Text message</span><br>Get codes sent to a mobile phone.',
              checked:  checked('mfaType','Text')
            },
            {
              value: "Voice",
              html: ' <span class="govuk-body govuk-!-font-weight-bold">Voice call</span><br>Get codes by automated message to a mobile or landline phone.',
              checked:  checked('mfaType','Voice')
            },
            {
              value: " App",
              html: ' <span class="govuk-body govuk-!-font-weight-bold"> Authentication app</span><br>Get codes even with no mobile reception.',
              checked:  checked('mfaType','App')
            }
          ]

        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
