{% extends "layout.html" %}

{% set title = "Set up your authentication app" %}

{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{title}}</h1>
    <ol class="govuk-list govuk-list--number">
      <li>Download and install an authentication app.</li>
      <li>Scan this QR code:<br>
        <img src="/public/images/qr code.jpg" width="100px">
      </li>
      <li>Check the app for the access code.</li>
    </ol>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          I cannot scan the QR code
        </span>
      </summary>
      <div class="govuk-details__text">
        Enter this key:<br>
        <span class="govuk-!-font-weight-bold">dvrw qdd3 fjig qotr</span>
      </div>
    </details>

      <form action="mfa-code" method="post">

        {{ govukButton({
          text: "Continue"
        }) }}

        <p class="govuk-body"><a href="#">Get help with this page</a></p>

      </form>
  </div>
</div>

{% endblock %}
