{% extends "layout.html" %}

{% set title = "What are the main contact details for your business?" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-task.html" %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  {% if data['flowType'] == "check" %}
    <form method="post" action="check-your-answers">
  {% else %}
    <form method="post" action="task-list-page-company-contact">
  {% endif %}

  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>
  <span class="govuk-hint">
  For example, contact details for your head office or management team.
  </span>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <p class="govuk-fieldset__body">Telephone number with international code</p>
          </legend>
          <div class="govuk-form-group govuk-!-display-inline-block">
            <label class="govuk-label govuk-visually-hidden" for="countryCode">
              Country code
            </label>
            <input class="govuk-input govuk-input--width-2" id="countryCode" name="countryCode" type="tel" placeholder="+44">
          </div>
          <div class="govuk-form-group govuk-!-display-inline-block">
            <label class="govuk-label govuk-visually-hidden" for="businessTelephone">
              Telephone
            </label>
            <input class="govuk-input" id="businessTelephone" name="businessTelephone" type="tel" placeholder="020 7946 0290">
          </div>
        </fieldset>
      </div>

        {{ govukInput({
          label: {
            text: "Email address"
          },
          classes: "govuk-input--width-20",
          id: "businessEmail",
          name: "businessEmail",
          value: data['businessEmail'],
          type: "email"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

  </div>
</div>

{% endblock %}
