{% extends "layout.html" %}

{% set title = "What is your name?" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-task.html" %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{title}}</h1>

    <!--{{ govukDetails({
        summaryText: "Why do we ask for this?",
        html: ' <p class="govuk-body">We need to know your name to create a unique account for you. We may also need to contact you about the services you use on behalf of your organisation. You can find out more by reading our privacy notice (LINK)</a>.</p>'
      }) }}-->

      <form action="personal-contact" method="post">

        {{ govukInput({
          label: {
            text: "First or given name"
          },
          classes: "govuk-input--width-20",
          id: "personalFirstName",
          name: "personalFirstName",
          value: data['personalFirstName']
        }) }}

        {{ govukInput({
          label: {
            text: "Surname or family name"
          },
          classes: "govuk-input--width-20",
          id: "personalSurname",
          name: "personalSurname",
          value: data['personalSurname']
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

  </div>
</div>

{% endblock %}
