{% extends "/layouts/main.html" %}
{% set showBackLink = true %}


{% if data['teamType'] == 'other' %}
  {% set fullname = "Sam Woods" %}
  {% set business = "Big Company Ltd" %}
  {% set userEmail = "sam.woods@bigcompany.co.uk" %}
  {% set phoneNumber = "07711 223344" %}
  {% set role = "Standard user" %}
{% else %}
  {% set fullname = "Nicky Bidbod (you)" %}
  {% set business = "Big Company Ltd" %}
  {% set userEmail = "nickybidbod@bigcompany.co.uk" %}
  {% set phoneNumber = "07976 217721" %}
  {% set role = "Admin" %}
{% endif %}



{% set pageHeading = "You cannot change your own account access level" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block beforeContent %}
	<div id="profile">    	
        {% include "includes/account-nav.html" %}
  	</div>    
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-7">
        
		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}       

        {{ govukWarningText({
            text: "Your organisation must have at least one person with an account administrator role to use our services.",
            iconFallbackText: "Warning"
          }) }}


        <p>You need to ask another account administrator from your organisation to change your access level.</p>
        <p>If you are the only account administrator, you must give someone else administrator access and ask them to change your access level.</p>

        {{ govukButton({
            text: "Save and continue",
            href: "/account/team-member"
        }) }}
    	
  	</div>
</div>
{% endblock %}
