{% extends "/layouts/main.html" %}

{% set showPhaseBanner = false %}
{% set DefraAccount = true %}
{% set showNav = true %}
{% set showBackLink = false %}

<!-- Sets type of action link -->
{% set accountLink %}
  {% if data['registrationAccountType'] == "Individual" %}
  	<a href="/account/manage/enrol-list" class="govuk-link govuk-link--no-visited-state">Add a service<span class="govuk-visually-hidden td-header"> {{ business }}</span></a>
  {% else %}
  	<a href="/account/manage/dashboard" class="govuk-link govuk-link--no-visited-state">Manage<span class="govuk-visually-hidden td-header"> {{ business }}</span></a>
  {% endif %}
{% endset -%}

<!-- This sets an account name to be used from the session data file -->
{% set accountName %}	
	{{ data.defaultCompanyName }}	
{% endset -%}

<!-- This sets an account username to be used from the session data file -->
{% set accountUserName %}	
	{{ data.defaultFirstName }} {{ data.defaultSurname }}	
{% endset -%}


<!-- Sets headings -->
{% if data['userType'] == "ThirdPartyCEO" %}
	{% set pageHeading = "Your Defra account" %}
	{% set pageSection = data.defaultThirdPartyCEO %}
{% elif data['userType'] == "TPuser" %}
	{% set pageHeading = "Your Defra account" %}
	{% set pageSection = '' + data.regTeamTPfirstName + ' ' + data.regTeamTPlastName + '' %}
{% else %}
	{% set pageHeading = "Your Defra account" %}
	{% set pageSection = "" %}
{% endif %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

		<!-- Notification banner -->
		{% if data['notification_banner'] != "" %}
			{% include "includes/notification/banner.html" %}
		{% endif %}

		<!-- Macro for showing the H1 and section -->
		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}    
		
		<!-- Third party layout -->
		{% if ((data['userType'] == "TPuser") or ( data['userType'] == "ThirdPartyCEO")) %}

		<h2 class="govuk-heading-m govuk-!-margin-top-5">Organisations available to you</h2>
		<!-- <p>You have access to the following accounts and Defra services.</p> -->
		<p>You have access to the following organisations and their Defra online services.</p>

		{% endif %}
	
	</div>
	<div class="govuk-grid-column-full">
				
		{% if ((data['userType'] == "TPuser") or ( data['userType'] == "ThirdPartyCEO")) %}
			{% include "includes/account/thirdparty.html" %}						
		{% else %}
			{% include "includes/account/business.html" %}
		{% endif %}
		

		{{ govukSummaryList({ 
			card: {
			  title: { html: data.defaultThirdPartyName | titleCase  }			
			},
			rows: [		
			  { key: { text: "Address" }, value: { html: data.defaultThirdPartyAddress } },    	
			  { key: { text: "Phone number" }, value: { text: data.defaultThirdPartyPhone } },
			  { key: { text: "Account role" }, value: { text: "Administrator" } },
			  { key: { text: "Registered services" }, value: { html: '<a href="https://laps-prototype-e21618a16725.herokuapp.com/laps/account/account-home-ceo" class="govuk-link govuk-link--no-visited-state">Local Authority Payment Service (LAPS)</a>' } },      
			  { key: { text: "Service role" }, value: { html: data.defaultThirdPartyCEOServiceRole } },      
			  { key: { text: "Team members" }, value: { text: "1" }, actions: { items: [ { href: "/account/thirdParty/add/what-we-need?addTeamThirdParty=Yes", text: "Add", visuallyHiddenText: "age", classes: "govuk-link--no-visited-state" }, { href: "/account/manage/team/", text: "Manage", visuallyHiddenText: "age", classes: "govuk-link--no-visited-state" } ] } }
			  ]
		  }) }}



		  {{ govukSummaryList({ 
			card: {
			  title: { html: data.defaultThirdPartyName | titleCase  }			
			},
			rows: [		
			  { key: { text: "Address" }, value: { html: data.defaultThirdPartyAddress } },    	
			  { key: { text: "Phone number" }, value: { text: data.defaultThirdPartyPhone } },
			  { key: { text: "Account role" }, value: { text: "Standard User" } },
			  { key: { text: "Registered services" }, value: { html: '<a href="https://laps-prototype-e21618a16725.herokuapp.com/laps/account/account-home-ceo" class="govuk-link govuk-link--no-visited-state">Local Authority Payment Service (LAPS)</a>' } },      
			  { key: { text: "Service role" }, value: { html: data.defaultThirdPartyCEOServiceRole } }
			  ]
		  }) }}



      </div>
    </div>

{% endblock %}

