{% extends "/layouts/main.html" %}

{% set showPhaseBanner = false %}
{% set DefraAccount = true %}
{% set showNav = true %}
{% set showBackLink = false %}

<!-- Sets type of action link -->

  {% if data['registrationAccountType'] == "Individual" %}
  	<a href="/account/manage/enrol-list" class="govuk-link govuk-link--no-visited-state">Add a service<span class="govuk-visually-hidden td-header"> {{ business }}</span></a>
  {% else %}
  	<a href="/account/manage/dashboard" class="govuk-link govuk-link--no-visited-state">Manage<span class="govuk-visually-hidden td-header"> {{ business }}</span></a>
  {% endif %}


<!-- This sets an account name to be used from the session data file -->
{% set accountName %}	
	{{ data.defaultCompanyName }}	
{% endset -%}

<!-- This sets an account username to be used from the session data file -->
{% set accountUserName %}	
	{{ data.defaultFirstName }} {{ data.defaultSurname }}	
{% endset -%}


<!-- Sets headings -->


{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-l">Chrispee Bacon</span>
		<h1 class="govuk-heading-xl">Your Defra account</h1>

	
	
	
		
				<div class="govuk-summary-card">
					<div class="govuk-summary-card__title-wrapper">
						<h2 class="govuk-summary-card__title">Personal information</h2>			  
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">Name</dt>
								<dd class="govuk-summary-list__value">{{ data.defaultFirstName}} {{ data.defaultSurname}}</dd>
								<dd class="govuk-summary-list__actions">
									<a class="govuk-link govuk-link--no-visited-state" href="/account/manage/update/individual/personal-information">Change<span class="govuk-visually-hidden"> type of account</span></a>
								</dd>
							</div>
		
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">Telephone number</dt>
								<dd class="govuk-summary-list__value">{{ data.registrationContactPhonePersonal}}</dd>
								<dd class="govuk-summary-list__actions">
									<a class="govuk-link govuk-link--no-visited-state" href="/account/manage/update/individual/personal-information">Change<span class="govuk-visually-hidden"> type of account</span></a>
								</dd>
							</div>
		
							{% if data['registrationAccountType'] == "Individual" %}
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">Address</dt>
								<dd class="govuk-summary-list__value">{{ data.registrationIndividualAddress }}</dd>
								<dd class="govuk-summary-list__actions">
									<a class="govuk-link govuk-link--no-visited-state" href="/account/manage/update/individual/address">Change<span class="govuk-visually-hidden"> type of account</span></a>
								</dd>
							</div>		
							{% endif %}										
		
						</dl>
					</div>
				</div>
	

	
				<!-- Organisation -->
				<!-- <dl class="govuk-summary-list govuk-!-margin-bottom-7">
					<div class="govuk-summary-list__row">
						  <dt class="govuk-summary-list__key">Telephone</dt>
						  <dd class="govuk-summary-list__value">{{ data.registrationPhone }}</dd>
						  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="/account/manage/update/organisation/phone-number">Change<span class="govuk-visually-hidden"> phone number</span></a></dd>
					</div>
					<div class="govuk-summary-list__row">
						  <dt class="govuk-summary-list__key">Email</dt>
						  <dd class="govuk-summary-list__value">{{ data.registrationEmail }}</dd>
						  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="/account/manage/update/organisation/email">Change<span class="govuk-visually-hidden"> email address</span></a></dd>
					</div>
				  </dl> -->
		
		
		
		
		
				
		
				{% if data['billingDetailsAdded'] == "Yes" %}
		
				<div class="govuk-summary-card govuk-!-margin-bottom-9">
					<div class="govuk-summary-card__title-wrapper">
					  <h2 class="govuk-summary-card__title">
						Billing details
					  </h2>		
					  <ul class="govuk-summary-card__actions">				
						<li class="govuk-summary-card__action">
						  <a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-regular" href="/account/manage/billing/check-your-answers?billingDetails=update">Change<span class="govuk-visually-hidden"> billing details</span></a>
						</li>
					  </ul>	  
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							
		
							{% if data['billingDetailsAdded'] == "Yes" %}
		
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">Address</dt>
								<dd class="govuk-summary-list__value">
		
									{% if data['billingAddress'] == "Yes" %}
									<p class="govuk-body">
										Hutton Yeat Farm
										<br>Old Hutton
										<br>Kendal
										<br>South Lakeland
										<br>LA8 0NL</p>
									{% else %}                        
									
									<p class="govuk-body">
										{% if data['billingDetailsAddressLine1'] %}<br>{{ data['billingDetailsAddressLine1'] }}{% endif %}
										{% if data['billingDetailsAddressLine2'] %}<br>{{ data['billingDetailsAddressLine2'] }}{% endif %}
										{% if data['billingDetailsAddressLine3'] %}<br>{{ data['billingDetailsAddressLine3'] }}{% endif %}
										{% if data['billingDetailsAddressLine4'] %}<br>{{ data['billingDetailsAddressLine4'] }}{% endif %}
										{% if data['billingDetailsAddressTownCity'] %}<br>{{ data['billingDetailsAddressTownCity'] }}{% endif %}
										{% if data['billingDetailsAddressCounty'] %}<br>{{ data['billingDetailsAddressCounty'] }}{% endif %}
										{% if data['billingDetailsAddressPostcode'] %}<br>{{ data['billingDetailsAddressPostcode'] }}{% endif %}
									</p>
																					
								{% endif %}          				
								</dd>
								
							</div>	 
							
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">Telephone number</dt>
								<dd class="govuk-summary-list__value">
		
									
									
								<p class="govuk-body">{{ data['billingTelephone'] or "077077077707" }}</p>				
		
		
								</dd>
								
							</div>	 
		
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">Email address</dt>
								<dd class="govuk-summary-list__value">					
									<p class="govuk-body"> {{ data['billingEmail'] or "billing@test.email.com" }}</p>
								</dd>						
							</div>	 
		
		
							{% else %}
		
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">Billing details</dt>
								<dd class="govuk-summary-list__value"><a href="/account/manage/billing/" class="govuk-link">Add details</a></dd>
								<dd class="govuk-summary-list__actions"></dd>
							</div>		
							
		
							{% endif %}
		
		
		
		
							<!-- {% if data['registrationAccountType'] == "Individual" %}
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">Billing details</dt>
								<dd class="govuk-summary-list__value">{{ data.registrationIndividualAddress }}</dd>
								<dd class="govuk-summary-list__actions">
									<a class="govuk-link govuk-link--no-visited-state" href="/account/manage/update/individual/address">Change<span class="govuk-visually-hidden"> type of account</span></a>
								</dd>
							</div>		
							{% endif %}		 -->
		
		
						</dl>
					</div>
				</div>
		
				{% else %}
		
				<h2 class="govuk-heading-m">Billing details</h2>
				<p class="govuk-body ">To use some Defra services you will need to <a href="/account/manage/billing/">tell us your billing details</a>.</p>            			
		
				{% endif %}
					
		
				<h2 class="govuk-heading-m">Need to change your organisations address</h2>        
				<p>You must update the organisation address with Companies House. <a href="https://www.gov.uk/government/collections/companies-house-forms-file-a-change-of-address" class="govuk-link" rel="noreferrer noopener" target="_blank">File a change of address with Companies House (opens in a new tab)</a>.</p>        	
		
		
				<h2 class="govuk-heading-m">Need to update the email or password you use to log in</h2>
				<p class="govuk_body">Defra account uses your Government Gateway credentials to log in, so you will need to go to your Government Gateway profile to:</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>update your email address</li>
					<li>change your password</li>
				</ul>        
				
				<div class="govuk-inset-text">
				<p>You will be signed out of your Defra account if you <a href="#" class="govuk-link" target="_blank">go to your Government Gateway profile (opens in new tab)</a>.</p>
			</div>



		<h2 class="govuk-heading-m govuk-!-margin-top-5">Organisations available to you</h2>
		<!-- <p>You have access to the following accounts and Defra services.</p> -->
		<p>You have access to the following organisations and their Defra online services.</p>

</div>

	<div class="govuk-grid-column-full">

		{{ govukSummaryList({
			card: {
			  title: { html: data.defaultThirdPartyName | titleCase  }      		
			},
			rows: [		
			  { key: { text: "Address" }, value: { html: data.defaultThirdPartyAddress } },    	
			  { key: { text: "Phone number" }, value: { text: data.defaultThirdPartyPhone } },
			  { key: { text: "Account role" }, value: { html: "Owner" } },
			  { key: { text: "Registered services" }, value: { html: '<a href="https://laps-prototype-e21618a16725.herokuapp.com/laps/account/account-home-ceo" class="govuk-link govuk-link--no-visited-state">Local Authority Payment Service (LAPS)</a>' } },      
			  { key: { text: "Service role" }, value: { html: data.defaultThirdPartyCEOServiceRole }, actions: { items: [ { href: "/account/thirdParty/add/service-role?changeLink=ThirdPartyCEO", text: "Change", visuallyHiddenText: "age", classes: "govuk-link--no-visited-state" } ] } },
			  { key: { text: "Team members" }, value: { text: "2" }, actions: { items: [ { href: "/account/thirdParty/add/what-we-need?addTeamThirdParty=Yes", text: "Add", visuallyHiddenText: "age", classes: "govuk-link--no-visited-state" }, { href: "/account/manage/team/", text: "Manage", visuallyHiddenText: "age", classes: "govuk-link--no-visited-state" } ] } },
			  { key: { text: "Intermediaries" }, value: { text: "4" }, actions: { items: [ { href: "/account/manage/intermediary", text: "Add", visuallyHiddenText: "age", classes: "govuk-link--no-visited-state" }, { href: "/account/manage/intermediary", text: "Manage", visuallyHiddenText: "age", classes: "govuk-link--no-visited-state" } ] } },
			  { key: { text: "Organisation's details" }, value: { text: "This is the address, billing details and its related organisations." }, actions: { items: [ { href: "/account/manage/organisation-details", text: "Manage", visuallyHiddenText: "age", classes: "govuk-link--no-visited-state" } ] } }

			]
		  }) }}


		  <!-- No intermediaries added to this organisation. -->


				
    </div>



{% endblock %}

