{% extends "layout.html" %}

{% set serviceName = "Defra account" %}

{% set title = "What is your telephone number?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="task-list-page-about-you-details?contact-details=completed">

      {{ govukInput({
        label: {
          text: title,
          classes: "govuk-label--xl",
          isPageHeading: true
        },
        hint: {
        text: "We ask for this in case we need to call you directly with any queries about your registration."
        },

        classes: "govuk-!-width-one-half",
        id: "defraIdPersonalPhone",
        name: "defraIdPersonalPhone",
        value: data['defraIdPersonalPhone'],
        type: "tel"
      }) }}

      <div class="govuk-inset-text">
        We may also contact you by email, using the address registered with your Government Gateway account:
        <span class="govuk-!-font-weight-bold">{{data['govGateEmail'] or 'samwoods@company.co.uk'}}</span>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
