{% extends "/layouts/main.html" %}
{% set showBackLink = true %}


{% set pageHeading = "What is the main telephone number for this registered company?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block beforeContent %}
	<div id="profile">    	
        {% include "includes/account-nav.html" %}
  	</div>    
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}  

		<p class="govuk-body">These could be details included on the website, or contact details for the head office or management team.</p>
  
		<form action="/account/update-details" method="post">


			{{ govukInput({
				label: {
				  text: "Telephone number",
				  classes: "govuk-label"
				},          	
				classes: "govuk-!-width-two-thirds",
				id: "orgTelephoneNumber",
				name: "orgTelephoneNumber",
				value: data['orgTelephoneNumber'],
				type: tel
		  	}) }}

		  	{{ govukButton({
				text: "Continue"
		  	}) }}

      </form>

  </div>
</div>

{% endblock %}
