{% extends "/layouts/main.html" %}

{% block pageTitle %}
Health and welfare review funding for this organisation
{% endblock %}
{% set serviceName %}
Record data from an Annual Health and Welfare Review
{% endset%}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Check the details of the review
    </h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-3">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business name
        </dt>
        <dd class="govuk-summary-list__value">
          Arthington Farm Ltd
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type of review
        </dt>
        <dd class="govuk-summary-list__value">
          Beef cattle
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>

    </dl>
    <br>

    {{ govukRadios({
      idPrefix: "review-details-correct-check",
      name: "review-details-correct-check",
      fieldset: {
        legend: {
          text: "Are these details correct?",
          classes: "govuk-fieldset__legend--m "
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue",
      href: "beef/visit-date"
    }) }}

  </div>
</div>

<!--
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">Applications</h2>


      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Application"
          },
          {
            text: "Last updated"
          },
          {
            text: "Status"
          },
          {
            text: " "
          }
        ],

        rows: [
          [
            {
              html: "SFIAD002"
            },
            {
              text: "10 September 2021"
            },
            {
              html: '<strong class="govuk-tag govuk-tag--yellow">IN PROGRESS</strong>'
            },
            {
              html: "<a href='job-detail'>Continue application</a>"
            }
          ],


          [
            {
              html: "SFIAD001"
            },
            {
              text: "2 October 2021"
            },
            {
              html: '<strong class="govuk-tag govuk-tag--yellow">IN PROGRESS</strong>'
            },
            {
              html: "<a href='job-detail'>Continue application</a>"
            }
          ]
        ]
      }) }}

  </div>
</div>
-->

{% endblock %}
