{% extends "/layouts/main.html" %}

{% set title = "Register and authenticate" %}

{% block header %}
{{ govukHeader({ serviceName: "" }) }}
{% endblock %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}
{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Scenarios for</span>
      {{title}}
    </h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- CONTENTS LIST -->

    <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
      <h2 class="govuk-heading-m nhsuk-u-visually-hidden">Service</h2>
      <ol class="nhsuk-contents-list__list">
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="">Registration & Authentication (Core Service)</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="#ahwr">Annual health and welfare review</a>
        </li>
      </ol>
    </nav>


  </div>

</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 id="ahwr" class="govuk-heading-l">Registration</h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-card govuk-card--contained govuk-card--selectable">
      <a href=""></a>
      <div class="govuk-card__content">

        <p class="govuk-body">User wants to register for a service, has Gov gateway account</p>
      </div>
      <div class="govuk-card__actions">
        <ul class="govuk-list govuk-!-mb-r0">
          <li><a href="gov-gateway/login" class="govuk-link--no-visited-state">View</a></li>
        </ul>
      </div>
    </div>

  </div>
  <div class="govuk-grid-column-one-third">
    <div class="govuk-card govuk-card--contained govuk-card--selectable">
      <a href=""></a>
      <div class="govuk-card__content">

        <p class="govuk-body">User wants to register for a service, has no Gov gateway account</p>
      </div>
      <div class="govuk-card__actions">
        <ul class="govuk-list govuk-!-mb-r0">
          <li><a href="/archived/tasked/gov-gateway/login" class="govuk-link--no-visited-state">View</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>





<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 id="ahwr" class="govuk-heading-l">Authentication</h2>
  </div>
</div>

<div class="govuk-grid-row">


  <div class="govuk-grid-column-one-third">
    <div class="govuk-card govuk-card--contained govuk-card--selectable">
      <a href=""></a>
      <div class="govuk-card__content">

        <p class="govuk-body">User can authenticate with sms - single organisation</p>
      </div>
      <div class="govuk-card__actions">
        <ul class="govuk-list govuk-!-mb-r0">
          <li><a href="/mfa-V2/core/gov-login1" class="govuk-link--no-visited-state">View</a></li>
        </ul>
      </div>
    </div>
  </div>


  <div class="govuk-grid-column-one-third">
    <div class="govuk-card govuk-card--contained govuk-card--selectable">
      <a href=""></a>
      <div class="govuk-card__content">

        <p class="govuk-body">User can authenticate with sms - has 20 organisations</p>
      </div>
      <div class="govuk-card__actions">
        <ul class="govuk-list govuk-!-mb-r0">
          <li><a href="/mfa-V2/core/gov-login2" class="govuk-link--no-visited-state">View</a></li>
        </ul>
      </div>
    </div>
  </div>


  <div class="govuk-grid-column-one-third">
    <div class="govuk-card govuk-card--contained govuk-card--selectable">
      <a href=""></a>
      <div class="govuk-card__content">

        <p class="govuk-body">User can authenticate with sms - has 45 organisations</p>
      </div>
      <div class="govuk-card__actions">
        <ul class="govuk-list govuk-!-mb-r0">
          <li><a href="/mfa-V2/core/gov-login3" class="govuk-link--no-visited-state">View</a></li>
        </ul>
      </div>
    </div>

  </div>



  <div class="govuk-grid-column-one-third">
    <div class="govuk-card govuk-card--contained govuk-card--selectable">
      <a href=""></a>
      <div class="govuk-card__content">

        <p class="govuk-body">User can authenticate with email - single organisation</p>
      </div>
      <div class="govuk-card__actions">
        <ul class="govuk-list govuk-!-mb-r0">
          <li><a href="/mfa-V2/core/verify-single-number?scenario=account-page" class="govuk-link--no-visited-state">View</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-card govuk-card--contained govuk-card--selectable">
      <a href=""></a>
      <div class="govuk-card__content">

        <p class="govuk-body">User can authenticate with email - 20 organisations</p>
      </div>
      <div class="govuk-card__actions">
        <ul class="govuk-list govuk-!-mb-r0">
          <li><a href="/mfa-V2/core/verify-single-number?scenario=get-code-success-sc2" class="govuk-link--no-visited-state">View</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-card govuk-card--contained govuk-card--selectable">
      <a href=""></a>
      <div class="govuk-card__content">

        <p class="govuk-body">User can authenticate with email - 45 organisations</p>
      </div>
      <div class="govuk-card__actions">
        <ul class="govuk-list govuk-!-mb-r0">
          <li><a href="/mfa-V2/core/verify-single-number?scenario=get-code-success-sc3" class="govuk-link--no-visited-state">View</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- <div class="govuk-grid-column-one-third">
    <div class="govuk-card govuk-card--contained govuk-card--selectable">
      <a href=""></a>
      <div class="govuk-card__content">

        <p class="govuk-body">User can authenticate with email or switch to SMS (secondary button)</p>
      </div>
      <div class="govuk-card__actions">
        <ul class="govuk-list govuk-!-mb-r0">
          <li><a href="/mfa-V2/email-switch-button/verify-single-number" class="govuk-link--no-visited-state">View</a></li>
        </ul>
      </div>
    </div>
  </div> -->

  <!-- <div class="govuk-grid-column-one-third">
    <div class="govuk-card govuk-card--contained govuk-card--selectable">
      <a href=""></a>
      <div class="govuk-card__content">

        <p class="govuk-body">User can authenticate with email or switch to SMS (link)</p>
      </div>
      <div class="govuk-card__actions">
        <ul class="govuk-list govuk-!-mb-r0">
          <li><a href="/mfa-V2/email-switch-link/verify-single-number" class="govuk-link--no-visited-state">View</a></li>
        </ul>
      </div>
    </div>
  </div> -->
  <div class="govuk-grid-column-one-third">
    <div class="govuk-card govuk-card--contained govuk-card--selectable">
      <a href=""></a>
      <div class="govuk-card__content">

        <p class="govuk-body">User can authenticate with SMS or switch to email (secondary button)</p>
      </div>
      <div class="govuk-card__actions">
        <ul class="govuk-list govuk-!-mb-r0">
          <li><a href="/mfa-V2/sms-switch-button/gov-login1" class="govuk-link--no-visited-state">View</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-card govuk-card--contained govuk-card--selectable">
      <a href=""></a>
      <div class="govuk-card__content">

        <p class="govuk-body">User can authenticate with SMS or switch to email (link)</p>
      </div>
      <div class="govuk-card__actions">
        <ul class="govuk-list govuk-!-mb-r0">
          <li><a href="/mfa-V2/sms-switch-link/gov-login1" class="govuk-link--no-visited-state">View</a></li>
        </ul>
      </div>
    </div>
  </div>


</div>





<div class="govuk-!-padding-bottom-8"></div>



<!-- VETS VISITS with MFA -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 id="ahwr" class="govuk-heading-l">Annual animal health and welfare review - with MFA</h2>
  </div>
</div>


<!-- SCENARIOS -->
<div class="govuk-grid-row">


  <div class="govuk-grid-column-one-third">
    <div class="govuk-card govuk-card--contained govuk-card--selectable">
      <a href=""></a>
      <div class="govuk-card__content">

        <p class="govuk-body">Farmer applies for a welfare review - has single account</p>
      </div>
      <div class="govuk-card__actions">
        <ul class="govuk-list govuk-!-mb-r0">
          <li><a href="/mfa-V2/vets/farmer/guidance?scenario=sc1">View</a></li>
        </ul>
      </div>
    </div>
  </div>


  <div class="govuk-grid-column-one-third">
    <div class="govuk-card govuk-card--contained govuk-card--selectable">
      <a href=""></a>
      <div class="govuk-card__content">

        <p class="govuk-body">Farmer applies for welfare review - has 20 accounts</p>
      </div>
      <div class="govuk-card__actions">
        <ul class="govuk-list govuk-!-mb-r0">
          <li><a href="/mfa-V2/vets/farmer/guidance?scenario=sc2">View</a></li>
        </ul>
      </div>
    </div>

  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-card govuk-card--contained govuk-card--selectable">
      <a href=""></a>
      <div class="govuk-card__content">

        <p class="govuk-body">Farmer applies for welfare review - has 45 organisations</p>
      </div>
      <div class="govuk-card__actions">
        <ul class="govuk-list govuk-!-mb-r0">
          <li><a href="/mfa-V2/vets/farmer/guidance?scenario=sc3">View</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>


<div class="govuk-!-padding-bottom-8"></div>

<!-- VETS VISITS without MFA -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 id="ahwr" class="govuk-heading-l">Annual animal health and welfare review - without MFA</h2>
  </div>
</div>


<!-- SCENARIOS -->
<div class="govuk-grid-row">


  <div class="govuk-grid-column-one-third">

    <div class="govuk-card govuk-card--contained govuk-card--selectable">
      <a href=""></a>
      <div class="govuk-card__content">

        <p class="govuk-body">Farmer applies for a welfare review - has single account</p>
      </div>
      <div class="govuk-card__actions">
        <ul class="govuk-list govuk-!-mb-r0">
          <li><a href="/archived/vets-withoutMFA/guidance?scenario=sc1">View</a></li>
        </ul>
      </div>
    </div>

  </div>


  <div class="govuk-grid-column-one-third">
    <div class="govuk-card govuk-card--contained govuk-card--selectable">
      <a href=""></a>
      <div class="govuk-card__content">

        <p class="govuk-body">Farmer applies for welfare review - has 20 accounts</p>
      </div>
      <div class="govuk-card__actions">
        <ul class="govuk-list govuk-!-mb-r0">
          <li><a href="/archived/vets-withoutMFA/guidance?scenario=sc2">View</a></li>
        </ul>
      </div>
    </div>

  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-card govuk-card--contained govuk-card--selectable">
      <a href=""></a>
      <div class="govuk-card__content">

        <p class="govuk-body">Farmer applies for welfare review - has 45 organisations</p>
      </div>
      <div class="govuk-card__actions">
        <ul class="govuk-list govuk-!-mb-r0">
          <li><a href="/archived/vets-withoutMFA/guidance?scenario=sc3">View</a></li>
        </ul>
      </div>
    </div>

  </div>


  <div class="govuk-!-padding-bottom-8"></div>

  <!-- FORGOT PASSWORD JOURNEY -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 id="ahwr" class="govuk-heading-l">Forgot Password Joruney</h2>
    </div>
  </div>


  <!-- SCENARIOS -->
  <div class="govuk-grid-row">


    <div class="govuk-grid-column-one-third">

      <div class="govuk-card govuk-card--contained govuk-card--selectable">
        <a href=""></a>
        <div class="govuk-card__content">

          <p class="govuk-body">Forgot password journey</p>
        </div>
        <div class="govuk-card__actions">
          <ul class="govuk-list govuk-!-mb-r0">
            <li><a href="/authentication/password/password-V2/enter-email">View</a></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="govuk-grid-column-one-third">

      <div class="govuk-card govuk-card--contained govuk-card--selectable">
        <a href=""></a>
        <div class="govuk-card__content">

          <p class="govuk-body">Forgot password journey <br>(with verification and password on same page)</p>
        </div>
        <div class="govuk-card__actions">
          <ul class="govuk-list govuk-!-mb-r0">
            <li><a href="/authentication/password/password-V2-2/enter-email">View</a></li>
          </ul>
        </div>
      </div>

    </div>


  </div>




  <!-- notes about the service & prototype -->

  {% endblock %}
