{% extends "layout.html" %}

{% set title = "Your registration is complete" %}

{% block header %}
{% include "includes/logged-out-header.html" %}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Your registration is complete
      </h1>
    </div>

    <h3 class="govuk-heading-m">What happens next</h3>

    <p class="govuk-body">email@email.com will choose which information you can see and which tasks you can do on behalf of Acme Org Ltd.</p>
    <p class="govuk-body"> We'll email you when everything's ready.</p>


      {{ govukButton({
        text: "Continue",
        href: "/manage/team-members/services-on-team-member-standard-account-no-idm-role"
      }) }}

  </div>
</div>


{% endblock %}
