{% extends "layout.html" %}
{% set showBackLink = true %}
{% set serviceName = "" %}

{% set pageHeading = "Check your phone" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
        
        <p>We sent a code to <span class="govuk-!-font-weight-bold">{{ data['govOneLoginPhoneNumber'] }}</span></p>        
        <p>It might take a few minutes to arrive. The code will expire after 2 hours.</p>        


        <form method="post" action="/oneLogin/create/confirmation" >

            {{ govukInput({
                label: {
                    text: "Enter the 6 digit security code",                    
                    isPageHeading: false
                },                
                classes: "govuk-input--width-10",
                id: "govOneLoginCode",
                name: "govOneLoginCode"  
            }) }}            
            
            {{ govukDetails({
                summaryText: "Problems with the code?",
                html: '<p>We can <a href="#">send the code again</a> or you can <a href="#">use a different phone number</a>.</p>
                <p><a href="#">Get a code another way</a>.</p>'
              }) }}


            {{ govukButton({
                text: "Continue"
            }) }}                                


        </form>

        


       
       
    </div>
</div>


{% endblock %}
