{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "{Service Name}" %}

{% set pageHeading = "You’ve created your GOV.UK One Login" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
        
        <p>Now continue to use the service.</p>        


        {% if data['userFlow'] == "Registration" %}        
        <form method="post" action="/authentication/select-your-business" >        

        {% elif data['userFlow'] == "Authentication" %}        

            {% if data['mfaDisabled'] == "Yes" %}
            <form action="/unavailable" method="post">        
            {% elif data['mfaEmailDisabled'] == "Yes" %}
                {% if data['multiplePhoneNumber'] == "Yes" %}
                <form action="/authentication/verify-multiple-numbers" method="post">
                    <input type="hidden" id="verify-your-identity" name="verify-your-identity" value="send-sms" />
                {% else %}
                <form action="/authentication/verify" method="post">
                    <input type="hidden" id="verify-your-identity" name="verify-your-identity" value="send-sms" />            
                {% endif %}
            {% elif data['mfaSmsDisabled'] == "Yes" %}
            <form action="/authentication/security-word" method="post">
                <input type="hidden" id="verify-your-identity" name="verify-your-identity" value="send-email" />
            {% else %}

                {% if data['userResearch'] == "Yes" %}
                <form action="/authentication/select-your-business" method="post">
                {% elif data['companySize'] == "Single" %}            
                <form action="/authentication/verify-single-number" method="post">
                {% elif data['companySize'] == "20" %}
                <form action="/authentication/verify-single-number" method="post">
                {% elif data['companySize'] == "45" %}
                <form action="/authentication/verify-single-number" method="post">
                {% endif %}
            {% endif %}

        {% endif %}



            
            {{ govukButton({
                text: "Continue"
            }) }}                                


        </form>
        
       
    </div>
</div>


{% endblock %}
