{% extends "layout.html" %}

{% set title = "Confirm your security word" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    {% if data['recoveryType'] == "password" %}
      <form method="post" action="credential-recovery-success-password?scpEmail=email@email.com">
      {% else %}
      <form method="post" action="credential-recovery-success-id?scpEmail=email@email.com">
    {% endif %}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                {{title}}
              </h1>
            </legend>
            <span id="passport-issued-hint" class="govuk-hint">
              Enter the following 3 characters from your security word.
            </span>

            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="char1">
                    3rd
                  </label>
                  <input class="govuk-input govuk-input--width-2" id="char1" name="char1">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="char2">
                    7th
                  </label>
                  <input class="govuk-input govuk-input--width-2" id="char2" name="char2">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="char3">
                    12th
                  </label>
                  <input class="govuk-input govuk-input--width-2" id="char3" name="char3">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Forgotten your Defra security word?
            </span>
          </summary>
          <div class="govuk-details__text">
            <div class="govuk-body">
              Your security word hint: My favourite fish
            </div>
            If you have forgotten your Defra security word, you can <a href="/help#contacting-defra-services">contact the service</a> for help on how to complete your task.
          </div>
        </details>


      </form>

  </div>
</div>
<br>
<br><br><br><br>
<a href="credential-recovery-security-word-error-2">show error</a>

{% endblock %}
