{% extends "layout.html" %}
{% set showBackLink = true %}
{% set serviceName = "" %}

{% set pageHeading = "Who are you registering as?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}     
        
        <form method="post" action="/register/uk-organisation">
            
            {{ govukRadios({
                fieldset: {
                    legend: { text: pageHeading, isPageHeading: false, classes: "govuk-visually-hidden"  }
                },
                items: [
                    { value: "Business", html: '<strong>Business or organisation</strong>', hint: { text: "You represent a business or organisation that wants to use this service (including sole traders and charities) and you have permission to create an account for them." }, checked: checked('registrationAccountType', 'Business')  },
                    { value: "Individual~/register/uk-address", html: '<strong>Individual</strong>', hint: { text: "You want to use this service for your own personal use." }, checked: checked('registrationAccountType', 'Individual')  }
                ],
                name: "registrationAccountType"
            }) }}
            
            {{govukButton({
                text: "Continue"
            })}}

        </form>          

    </div>    
</div>

{% endblock %}
