{% extends "/layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "{Service Name}" %}


{% if data['registrationOrganisationType'] == "Sole trader" %}
	{% set pageHeading = "What’s the name of your business?" %}
{% else %}
	{% set pageHeading = "What’s the name of the business?" %}
{% endif %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}   


		{% if data['registrationOrganisationType'] == "Sole trader" %}
		<p class="govuk-body">Your business may be trading under your own name or a name you have chosen.</p>
		{% else %}
		<p class="govuk-body">Your business may be trading under your own name or a name you have chosen.</p>
		{% endif %}

		{% if data['registrationOrganisationType'] == "Sole trader" %}
			<form method="post" action="/register/address/postcode">
		{% else %}
    		<form method="post" action="/register/address/add-address-manual">
		{% endif %}


			{% if data['registrationTradeUK'] == "No" %}

				{{ govukInput({
					label: {
						text: pageHeading,
						classes: "govuk-visually-hidden"						
					},						
					classes: "govuk-!-width-two-thirds",
					name: "registrationNonUkName",
					id: "registrationNonUkName",
					value: data['registrationNonUkName']
				}) }}


			{% elif data['registrationOrganisationType'] == "Sole trader" %}

				{{ govukInput({
					label: {
						text: pageHeading,
						classes: "govuk-visually-hidden"						
					},						
					classes: "govuk-!-width-two-thirds",
					name: "registrationSoleTraderName",
					id: "registrationSoleTraderName",
					value: data['registrationSoleTraderName']
				}) }}

			{% else %}

				{{ govukInput({
					label: {
						text: pageHeading,
						classes: "govuk-visually-hidden"						
					},						
					classes: "govuk-!-width-two-thirds",
					name: "registrationBusinessName",
					id: "registrationBusinessName",
					value: data['registrationBusinessName']
				}) }}

			{% endif %}

      		{{ govukButton({
        		text: "Continue"
      		}) }}      

    	</form>

  	</div>
</div>

{% endblock %}
