{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "{Service Name}" %}

{% set pageHeading = "You cannot register for this service" %}
{% set pageSection = "Register Defra account" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
        

        {% if data['registrationAccountType'] == "Individual" %}
        <p>Your must live in the UK in order to register for {ServiceName}.</p>
        {% else %}
        <p>Your business must be registered to trade in the UK in order to register for {ServiceName}.</p>
        {% endif %}
        
        <p class="govuk-body">Contact <a class="govuk-link govuk-link--no-visited-state" href=“mailto:{SERVICE EMAIL}”>{SERVICE email address}</a> if you need help or call our helpline.</p>
        <p class="govuk-body">
            Helpline:<br>
            <strong class="govuk-!-font-weight-bold">{SERVICE helpline number}</strong>
        </p>
        <p class="govuk-body">
            Opening times:<br>
            <strong class="govuk-!-font-weight-bold">{SERVICE opening times}</strong>
        </p>
        
        <p><a href="https://www.gov.uk/call-charges" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" >Find out about call charges (opens in a new tab).</a></p>                
    
    </div>    
</div>


{% endblock %}
