{% extends "layout.html" %}
{% set showBackLink = true %}
{% set serviceName = "" %}

{% set pageHeading = "Confirm you want to change your account type" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}   

        <div class="govuk-inset-text">
        	<p class="govuk-body">Any information you have entered as an <span class="govuk-!-font-weight-bold">{{ data.registrationAccountType }} </span> will be deleted.</p>
        </div>

        <form method="post" action="/register/account-type" />

        <!-- {{ govukRadios({
            fieldset: {
                legend: { text: "Are you registering as a business or an individual?", isPageHeading: false, classes: "govuk-visually-hidden"  }
            },
            items: [
                { value: "Yes", html: ' <span class="govuk-body govuk-!-font-weight-bold">Yes</span> - change my account type and delete any information I have entered'   },
                { value: "No, redirect(/register/task-list-page-non-uk-details)", html: ' <span class="govuk-body govuk-!-font-weight-bold">No</span> - do not change my account type'   }                    
            ],
            name: "cancelAccount"
        }) }} -->

        <div class="govuk-button-group">

          <input type="hidden" id="registrationAccountType" name="registrationAccountType" value="" />

          {{ govukButton({
            text: "Confirm and continue"
          }) }}


        <a href="/register/task-list-page-non-uk-details" class="govuk-link">Do not change my account type</a>

      </div>


      </form>
    </div>
  </div>




{% endblock %}
