{% extends "/layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "{Service Name}" %}

{% set pageHeading = "What’s the registered name of the charity?" %}
{% set pageSection = "Register Defra account" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}   

			<p>This is the name registered with 
			{% if data['registrationCharityLocation'] == "Scotland" %}
				<a href="https://www.oscr.org.uk/search" target="_blank">the Scottish Charity Regulator (opens in new tab)</a>.</p>
			{% elif data['registrationCharityLocation'] == "Northern Ireland" %}
				<a href="https://www.charitycommissionni.org.uk/charity-search/?pageNumber=1" target="_blank">the Charity Commission for Northern Ireland (opens in new tab)</a>.</p>
			{% else %}
				<a href="https://www.gov.uk/find-charity-information" target="_blank">the Charity Commission Service (opens in new tab)</a>.</p>
			{% endif %}
		
    	<form action="/register/address/postcode" method="post">

			{{ govukInput({
				label: {
					text: pageHeading,
					classes: "govuk-visually-hidden"						
				},				
				classes: "govuk-!-width-two-thirds",
				name: "registrationCharityName",
				id: "registrationCharityName",
				value: data['registrationCharityName']
			}) }}		

      		{{ govukButton({
        		text: "Continue"
      		}) }}

    	</form>

  	</div>	 
</div>

{% endblock %}
