{% extends "layout.html" %}
{% set showBackLink = true %}
{% set serviceName = "" %}

{% if data['status'] == "review" %}
	{% set pageHeading = "Where is the charity registered?" %}
{% else %}
	{% set pageHeading = "Where is the charity registered?" %}
{% endif %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

		{% if data['status'] == "review" %}
        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}   
		{% else %}
		<h1 class="govuk-heading-l">{{pageHeading}}</h1>
		{% endif %}


    	<form method="post" action="/register/charity-name">      

        	{% set englandAndWales %}

				{{ govukInput({
					label: {
						text: "What is your registered charity number?",
						classes: "govuk-label"				
					},
					hint: {
						text: "For example, 1004005."
					},
					classes: "govuk-!-width-one-third",
					type: "number"      
				} | decorateFormAttributes('registrationCharityNumber')) }}

        	{% endset -%}

        	{% set scotland %}

				{{ govukInput({
					label: {
						text: "What is your registered charity number?",
						classes: "govuk-label"			
					},
					hint: {
						text: "For example, SC000022."
					},
					classes: "govuk-!-width-one-third",
					type: "number"      
				} | decorateFormAttributes('registrationCharityNumberScotland')) }}				
        	
			{% endset -%}

        	{% set northernIreland %}
        		
				{{ govukInput({
					label: {
						text: "What is your registered charity number?",
						classes: "govuk-label"			
					},
					hint: {
						text: "For example, NIC100002."
					},
					classes: "govuk-!-width-one-third",
					type: "number"      
				} | decorateFormAttributes('registrationCharityNumberNI')) }}					

        	{% endset -%}



			{{ govukRadios({
                fieldset: {
                    legend: { text: "Is this organisation a sole trader or a charity?", isPageHeading: false, classes: "govuk-visually-hidden"  }
                },
                items: [
                    { value: "England and Wales", text: 'England and Wales', conditional: { html: englandAndWales } },
					{ value: "Scotland, redirect(/register/sole-trader-or-charity)", text: 'Scotland', conditional: { html: scotland } },
					{ value: "Northern Ireland, redirect(/register/sole-trader-or-charity)", text: 'Northern Ireland', conditional: { html: northernIreland } }                    
                ]
            } | decorateFormAttributes('registrationCharityLocation')) }}   
       

        {{govukButton({
          text: "Continue"
        })}}

      </form>

    </div>
	<div class="govuk-grid-column-one-third review">      
        <ul class="govuk-list govuk-body-s govuk-!-text-align-right">                
            {% if data['status'] == "review" %}
                <li><a href="/register/charity-location?status=" class="govuk-link govuk-link--no-visited-state">Current page</a></li>        
            {% else %}
                <li><a href="/register/charity-location?status=review" class="govuk-link govuk-link--no-visited-state">Suggested page changes</a></li>        
            {% endif %}
        </ul>          
    </div> 
</div>

{% endblock %}
