{% extends "layout.html" %}
{% set showBackLink = true %}
{% set serviceName = "" %}

{% set pageHeading = "What is the company’s telephone number and email address?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}   
        
        <form action="/register/task-list-page-company-details" method="post">

        <!-- <p>These could be from the website, or for the head office or management team.</p> -->
        <!-- <p>This could be the number for head office or management team.</p> -->
    
			{{ govukInput({
                label: {
                    text: "Telephone number",
                    classes: "govuk-label"					
                },                
                classes: "govuk-!-width-two-thirds",
				type: "tel",
                name: "registrationPhone",
                id: "registrationPhone",
                value: data['registrationPhone']
            }) }}           

            {{ govukInput({
                label: {
                    text: "Email address",
                    classes: "govuk-label"					
                },                
                classes: "govuk-!-width-two-thirds",
				type: "email",
                name: "registrationEmail",
                id: "registrationEmail",
                value: data['registrationEmail']
            }) }}

      		{{ govukButton({
        		text: "Continue"
      		}) }}

    	</form>

  	</div>    
</div>

{% endblock %}
