{% extends "/layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "" %}

{% set pageHeading = "What’s your company’s registration number?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

	
			<!-- {% if data['errorMessage'] == "errorOne" %}
				
			{{ govukErrorSummary({
				titleText: "There is a problem",
				errorList: [ { text: "Enter your company registration number", href: "#" }	]
			}) }}

			{% elif data['errorMessage'] == "errorTwo" %}

			{{ govukErrorSummary({
				titleText: "There is a problem",
				errorList: [ { text: "Enter your company registration number in the correct format", href: "#" }	]
			}) }}			
			
			{% endif %} -->
			
		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}   

		<p>You can <a class="govuk-link" href="https://find-and-update.company-information.service.gov.uk/" target="_blank">search Companies House for your company registration number (opens in new tab)</a>.</p>

		<form method="post" action="/register/companies-house-confirm">

				{% if data['errorMessage'] == "errorOne" %}

					{{ govukInput({
						label: {
							text: "Companies house number",
							classes: "govuk-visually-hidden"
						},
						hint: {
							text: "It is 8 characters. For example, 01234567 or AC012345."
						},
						errorMessage: {
							text: "Enter your company registration number"
						},
						classes: "govuk-input--width-10",
						name: "defaultCompanyNumber",
						id: "defaultCompanyNumber",
						value: data['defaultCompanyNumber']
					}) }}


				{% elif data['errorMessage'] == "errorTwo" %}

					{{ govukInput({
						label: {
							text: "Companies house number",
							classes: "govuk-visually-hidden"
						},
						hint: {
							text: "It is 8 characters. For example, 01234567 or AC012345."
						},
						errorMessage: {
							text: "Enter your company registration number in the correct format"
						},
						classes: "govuk-input--width-10",
						name: "defaultCompanyNumber",
						id: "defaultCompanyNumber",
						value: data['defaultCompanyNumber']
					}) }}


				{% else %}

					{{ govukInput({
						label: {
							text: pageHeading,
							classes: "govuk-visually-hidden"
						},
						hint: {
							text: "It is 8 characters. For example, 01234567 or AC012345."
						},
						classes: "govuk-input--width-10",
						name: "defaultCompanyNumber",
						id: "defaultCompanyNumber",
						value: data['defaultCompanyNumber']
					}) }}

				{% endif %}		

      		{{ govukButton({
        		text: "Continue"
      		}) }}

    	</form>

  	</div>	
</div>

{% endblock %}
