{% extends "layout.html" %}
{% set showBackLink = true %}
{% set serviceName = "" %}


{% if data['registrationOrganisationType'] == "Sole trader" %}
    {% set pageHeading = "What’s your business’s telephone number and email address?" %}
{% elif data['registrationOrganisationType'] == "Charity" %}
    {% set pageHeading = "What’s the charity’s telephone number and email address?" %}
{% else %}
    {% set pageHeading = "What’s the business’s telephone number and email address?" %}
{% endif %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}   
        

        {% if data['registrationOrganisationType'] == "Sole trader" %}
            <form action="/register/personal-security" method="post">
        {% else %}
            <form action="/register/personal-name" method="post">
        {% endif %}

        <!-- <p>These could be from the website, or for the head office or management team.</p> -->
        <!-- <p>This could be the number for head office or management team.</p> -->
                

        
        {% if data['registrationTradeUK'] == "No" %}

            {{ govukInput({
                label: {
                    text: "Telephone number",
                    classes: "govuk-label"					
                },                
                classes: "govuk-!-width-two-thirds",
                hint: {
                    text: "For international numbers include the country code."
                },
                type: "tel",
                name: "registrationNonUkPhone",
                id: "registrationNonUkPhone",
                value: data['registrationNonUkPhone']
            }) }}           

            {{ govukInput({
                label: {
                    text: "Email address",
                    classes: "govuk-label"					
                },                
                classes: "govuk-!-width-two-thirds",
                type: "email",
                name: "registrationNonUkEmail",
                id: "registrationNonUkEmail",
                value: data['registrationNonUkEmail']
            }) }}
        
        
        
        {% elif data['registrationOrganisationType'] == "Sole trader" %}

            {{ govukInput({
                label: {
                    text: "UK telephone number",
                    classes: "govuk-label"					
                },                
                classes: "govuk-!-width-two-thirds",
                type: "tel",
                name: "registrationSoleTraderPhone",
                id: "registrationSoleTraderPhone",
                value: data['registrationSoleTraderPhone']
            }) }}           

            {{ govukInput({
                label: {
                    text: "Email address",
                    classes: "govuk-label"					
                },                
                classes: "govuk-!-width-two-thirds",
                type: "email",
                name: "registrationSoleTraderEmail",
                id: "registrationSoleTraderEmail",
                value: data['registrationSoleTraderEmail']
            }) }}

        {% elif data['registrationOrganisationType'] == "Charity" %}

            {{ govukInput({
                label: {
                    text: "UK telephone number",
                    classes: "govuk-label"					
                },                
                classes: "govuk-!-width-two-thirds",
                type: "tel",
                name: "registrationCharityPhone",
                id: "registrationCharityPhone",
                value: data['registrationCharityPhone']
            }) }}           

            {{ govukInput({
                label: {
                    text: "Email address",
                    classes: "govuk-label"					
                },                
                classes: "govuk-!-width-two-thirds",
                type: "email",
                name: "registrationCharityEmail",
                id: "registrationCharityEmail",
                value: data['registrationCharityEmail']
            }) }}



        {% else %}

			{{ govukInput({
                label: {
                    text: "Telephone number",
                    classes: "govuk-label"					
                },                
                classes: "govuk-!-width-two-thirds",
				type: "tel",
                name: "registrationPhone",                
                id: "registrationPhone",
                value: data['registrationPhone']
            }) }}           

            {{ govukInput({
                label: {
                    text: "Email address",
                    classes: "govuk-label"					
                },                
                classes: "govuk-!-width-two-thirds",
				type: "email",
                name: "registrationEmail",
                id: "registrationEmail",
                value: data['registrationEmail']
            }) }}
            
        {% endif %}

      		{{ govukButton({
        		text: "Continue"
      		}) }}

    	</form>

  	</div>    
</div>

{% endblock %}
