{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "{Service Name}" %}


{% if data['userType'] == "ThirdPartyCEO"  %}
	{% set pageHeading = "Registration complete" %}
	{% set pageSection = "" %}
{% else %}
	{% set pageHeading = "Registration of your Defra account complete" %}

	{% set pageSection = "" %}
	
{% endif %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">        

        {{ govukPanel({
          titleText: pageHeading,
          classes: "govuk-!-margin-bottom-7"            
        }) }}


		{% if ((data['userType'] == "CEO") or (data['userType'] == "TPuser"))  %}
			
			<p class="govuk-body">We have sent an email confirmation to <span class="govuk-!-font-weight-bold">{{ data['regTeamTPemail'] or data.defaultThirdPartyCEOEmail }}</span></p>
			<p>You now have access to the Local Authority Payment Service (LAPS) on behalf of {{ data.defaultThirdPartyName }}.</p>
			<p>As an administrator you can also add and manage team members.</p>        		
		
			<h2 class="govuk-heading-m">What happens next</h2>   
			<p class="govuk-body">We may contact you if we need to clarify something, but you do not have to do anything else now.</p>

			<ul class="govuk-list">		
			<!-- CEO or any Admin -->
			<li><a href="/account/?notification_banner=&userType=TPuser" class="govuk-link govuk-link--no-visited-state">Continue to your account</a></li>    
			<!-- <li><a href="/account/manage/team/userType=TPuser" class="govuk-link govuk-link--no-visited-state">Go to your team members</a></li>     -->
		<!--     
			<li><a href="/account/?notification_banner=" class="govuk-link govuk-link--no-visited-state">Go to your account</a></li>    
			-->
			
		</ul>	
		
		{% else %}
			
			<p>We have sent you a confirmation email.</p>			

			<!-- <h2 class="govuk-heading-m">Your Defra account</h2>   			 -->
			<!-- <p>You now have access to online services from Defra.</p> -->
        	<p class="govuk-body">Your <a href="/account/?notification_banner=" target="_blank" class="govuk-link govuk-link--no-visited-state">Defra account (opens in new tab)</a> allows you to:

			{% if data['registrationAccountType'] == "Business" %}
			<ul class="govuk-list govuk-list--bullet">
				<!-- <li>access, register and manage online services from Defra</li> -->
				<li>register for, access and manage online services from Defra</li>
				<li>invite and manage other team members or intermediaries to your organisation</li>
				<!-- <li>invite to, and manage, other team members and intermediaries to your organisation</li> -->
				<li>access services on behalf of organisations that you represent</li>
			</ul>                                                
			{% elif data['registrationAccountType'] == "Individual" %}
			<ul class="govuk-list govuk-list--bullet">
				<li>register for, access and manage online services from Defra</li>            	
            	<li>access services on behalf of organisations that you represent</li>
        	</ul>     				
		{% endif %}                                  

        <!-- <div class="govuk-inset-text">
            <p class="govuk-body">You’ll need the Government Gateway details you used to sign in to Defra services each time you visit.</p>
        </div> -->



			
			<!-- <p>With <a href="/account/?notification_banner=" target="_blank" class="govuk-link govuk-link--no-visited-state">your Defra account (opens in new tab)</a> you can now continue with <span class="govuk-!-font-weight-bold">{{ data.defaultService }}</span>, as well as registering with other online services from Defra.</p> -->
			
			<!-- <p>You can also manage defra services on behalf of businesses you may represent.</p>	
			<ul class="govuk-list govuk-list--bullet">
				<li>register with other Defra online services</li>
				<li>manage defra services on behalf of businesses you represent</li>
				<li>add team members</li>			
			</ul> -->			
			
			
			<h2 class="govuk-heading-m">What you must do next</h2>  
			<p class="govuk-body">You must return to the Defra service you signed into where you will be asked to provide any additional information that they need. </p>
			
			
			{% if data['serviceHook'] %}

				{% if data['serviceHook'] == "WasteTracking" %}
					<form method="post" action="https://wts-prototype.herokuapp.com/v18/index-homepage">
				{% elif data['serviceHook'] == "Forest" %}
				<form method="post" action="https://forest-risk-commodities.herokuapp.com/Dashboard_v5_newuer">
				{% elif data['serviceHook'] == "ForestTwo" %}
					<form method="post" action="https://forest-risk-commodities.herokuapp.com/check-answers_v7_e">
				{% elif data['serviceHook'] == "PetTravel" %}
					<form method="post" action="https://pet-travel-document-0f384e905d50.herokuapp.com/idm2-redirect">							
				{% elif data['serviceHook'] == "IDAMS" %}
					<form method="post" action="https://moving-animals-to-gb-f6ffdaf23605.herokuapp.com/upcoming-bookings-cancelled">
				{% endif %}						
			<!-- No hook out from another service -->
			{% else %}				
				<form method="post" action="/backtoservice">						
					<input type="hidden" id="registrationStatus" name="registrationStatus" value="Enrolled" />										
			{% endif %}
				
			{{ govukButton({
				text: "Continue",
				classes: "govuk-!-margin-top-3"
				
			})}}
			

			

			</form>
		{% endif %}


  </div>
</div>


{% endblock %}
