{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "" %}


{% set pageHeading = "Registration complete" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">        

        {{ govukPanel({
          titleText: pageHeading,
          classes: "govuk-!-margin-bottom-7"            
        }) }}

		<p>We have sent you an email confirmation.</p>


    	<h2 class="govuk-heading-m">What happens next</h2>    	
		<p>You now have access to the Local Authority Payment Service (LAPS) on behalf of {{ data.defaultThirdPartyName }}.</p>
		<p>As an administrator you can also add and manage {{ data.defaultThirdPartyName }} team members.</p>        		
				
		<ul class="govuk-list">		
			<!-- CEO or any Admin -->
			<li><a href="/account/?notification_banner=&userType=TPuser" class="govuk-link govuk-link--no-visited-state">Go to your account</a></li>    
			<li><a href="/account/manage/team/userType=TPuser" class="govuk-link govuk-link--no-visited-state">Go to your team members</a></li>    
		<!--     
			<li><a href="/account/?notification_banner=" class="govuk-link govuk-link--no-visited-state">Go to your account</a></li>    
			-->
			
		</ul>		

  </div>
</div>


{% endblock %}
