{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "{Service Name}" %}

{% set pageHeading = "You need to register for a Defra account" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">        

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
        
        <p class="govuk-body">To access Defra services you need to have a Defra account.</p>            
        <p class="govuk-body">Once you have registered you can access and manage Defra services:
        <ul class="govuk-list govuk-list--bullet">
            <li>for yourself as a business or individual</li>
            <li>on behalf of businesses that you represent</li>
        </ul>                                                
        <div class="govuk-inset-text">
            <p class="govuk-body">You’ll use your Government Gateway details to sign in to Defra services each time you visit.</p>
        </div>

        <p class="govuk-body">To find out how we use, process and store your personal information, read our <a href="/privacy-notice" target="_blank" >Privacy notice (opens in new tab)</a>.</p>
        
        <form method="post" action="/register/terms-and-conditions">
            <input type="hidden" id="registrationStatus" name="registrationStatus" value="Started" />

            {% if data['GovGateId'] == "" %}
            <input type="hidden" id="GovGateId" name="GovGateId" value="71 13 56 15 22 14" />
            {% endif %}
            {% if data['GovGatePassword'] == "" %}
            <input type="hidden" id="GovGatePassword" name="GovGatePassword" value="letmein" />
            {% endif %}


            {{ govukButton({
                text: "Continue",
                classes: "govuk-!-margin-top-5"
            })}}
        </form>    

    </div>
</div>

{% endblock %}
