{% extends "/layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "" %}

{% set pageHeading = "What’s your name?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        
        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <!-- Invited Team Member for a Trusted Third Party -->
        {% if data['userType'] == "TPmemberInvite"  %}
				<form method="post" action="/register/check-your-answers">        
        {% elif data['registrationAccountType'] == "Individual" %}
            {% if data['registrationAddressUK'] == "No" %}
                <form method="post" action="/register/personal-contact">
            {% else %}
                <form method="post" action="/register/personal-contact">
            {% endif %}
        {% elif data['registrationOrganisationType'] == "Charity" %}
            <form method="post" action="/register/personal-contact">
        {% else %}                        
            <form method="post" action="/register/personal-contact">
        {% endif %}

            {% if data['userType'] == "TPmemberInvite" %}

                {{ govukInput({
                    label: {
                        text: "First name"
                    },
                    classes: "govuk-!-width-three-quarters",
                    name: "regTeamTPfirstName",
                    id: "regTeamTPfirstName",
                    value: data['regTeamTPfirstName']
                }) }}

                {{ govukInput({
                    label: {
                        text: "Last name"
                    },
                    classes: "govuk-!-width-three-quarters",
                    name: "regTeamTPlastName",
                    id: "regTeamTPlastName",
                    value: data['regTeamTPlastName']
                }) }}

            {% else %}
        
            
            {{ govukInput({
                label: {
                    text: "First name"
                },
                classes: "govuk-!-width-three-quarters",
                name: "defaultFirstName",
                id: "defaultFirstName",
                value: data['defaultFirstName']
            }) }}

            {{ govukInput({
                label: {
                    text: "Last name"
                },
                classes: "govuk-!-width-three-quarters",
                name: "defaultSurname",
                id: "defaultSurname",
                value: data['defaultSurname']
            }) }}

            {% endif %}

       

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>

    </div>     
</div>

{% endblock %}
