{% extends "layout.html" %}
{% set showBackLink = true %}
{% set serviceName = "" %}

{% set pageHeading = "What is your name?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        
        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
        
        {% if data['registrationAccountType'] == "Individual" %}
            {% if data['registrationAddressUK'] == "No" %}
                <form method="post" action="/register/address/add-address-manual">
            {% else %}
                <form method="post" action="/register/task-list-page-company-details">
            {% endif %}
        {% elif data['registrationOrganisationType'] == "Charity" %}
            <form method="post" action="/register/task-list-page-charity-details?personal-name-completed=y">
        {% else %}                        
            <form method="post" action="/register/personal-contact">
        {% endif %}


        
            
            {{ govukInput({
                label: {
                    text: "First name"
                },
                classes: "govuk-!-width-three-quarters",
                name: "defraIdFirstName",
                id: "defraIdFirstName",
                value: data['defraIdFirstName']
            }) }}

            {{ govukInput({
                label: {
                    text: "Last name"
                },
                classes: "govuk-!-width-three-quarters",
                name: "defraIdSurname",
                id: "defraIdSurname",
                value: data['defraIdSurname']
            }) }}

       

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>

    </div>     
</div>

{% endblock %}
