{% extends "layout.html" %}
{% set showBackLink = true %}
{% set serviceName = "" %}

{% if data['status'] == "review" %}
    {% set pageHeading = "Create a memorable word" %}
{% else %}
    {% set pageHeading = "Create your security word" %} 
{% endif %}

{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if data['status'] == "review" %}
        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}   
        {% else %}
        <h1 class="govuk-heading-l">{{pageHeading}}</h1>
        {% endif %}

    	{% if data['route'] == "charity" %}
      	<form method="post" action="task-list-page-charity-details?personal-security-completed=y">
    	{% else %}
      	<form method="post" action="task-list-page-company-details?personal-security-completed=y">
    	{% endif %}


		{% if data['status'] == "review" %}

		<p>For security purposes, you are required to create a memorable word. This helps us verify your identity if you need to contact us.</p>					
		<div class="govuk-inset-text">
			<p>This word must:</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>be between 8 and 32 characters long and is not case-sensitive</li>								
				<li>only contain a combination of letters (A-Z a-z) and numbers (0-9)</li>				
				<!-- <li>not include special characters ( ‘at’ symbol (@), hyphen (-) ) </li>
				<li>not include spaces</li>
				<li>not include 3 repeating characters such as 111 or AAA</li> -->
			</ul>

			<p>This word must not contain:</p>
			<ul class="govuk-list govuk-list--bullet">				
				<li>spaces</li>
				<li>special characters ( ‘at’ symbol (@), hyphen (-) ) </li>				
				<li>more than 2 repeating characters such as 111 or AAA</li>
			</ul>
		</div>

			{{ govukInput({        
				type: "text",
				classes: "govuk-!-width-two-thirds",
				label: {
					text: "Memorable word",
					classes: "govuk-visually-hidden"
				},
				name: "registrationMemorableWord"
			}) }}

			{{ govukCharacterCount({        	
				classes: "govuk-!-width-two-thirds",
				maxlength: 100,				
				label: {
					text: "Hint question"
				},
				hint: {
					text: "Tell us a hint question that does not contain your memorable word, but will help you remember what it is."
				},
				name: "registrationMemorableHint"
			}) }}

		{% else %}

			<p>Your security word helps us to verify your identity if you need to contact us.</p>
			<p>The word must:</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>be alphanumeric</li>
				<li>contain between 6 and 12 characters (not case sensitive)</li>
				<li>contain no spaces or special characters</li>
			</ul>

			{{ govukInput({        
				type: "text",
				classes: "govuk-!-width-one-third",
				label: {
					text: "Your security word"
				},
				name: "registrationMemorableWord"
			}) }}

			{{ govukCharacterCount({        	
				classes: "govuk-!-width-two-thirds",
				maxlength: 100,
				rows: 2,
				label: {
					text: "Your hint question"
				},
				hint: {
					text: "Provide a hint question that will help you remember your security word."
				},
				name: "registrationContactPhone"
			}) }}

		{% endif %}



      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
  <div class="govuk-grid-column-one-third review">      
    <ul class="govuk-list govuk-body-s govuk-!-text-align-right">                
        {% if data['status'] == "review" %}
            <li><a href="/register/personal-security?status=" class="govuk-link govuk-link--no-visited-state">Current page</a></li>        
        {% else %}
            <li><a href="/register/personal-security?status=review" class="govuk-link govuk-link--no-visited-state">Suggested page changes</a></li>        
        {% endif %}
    </ul>          
</div> 
</div>

{% endblock %}
