{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "{Service Name}" %}

{% set pageHeading = "Registration incomplete" %}
{% set pageSection = "Register Defra account" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}   

        {{ govukWarningText({
            text: "You need to complete your registration before you can use this service."
        }) }}

        <p class="govuk-body">Complete your registration by selecting 'Continue' below.</p>

        {{ govukButton({
            text: "Continue",
            href: "new-user-reg/service-questions"
        }) }}

    </div>
</div>

{% endblock %}
