{% extends "/layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "{Service Name}" %}

{% set pageHeading = "Do you live in the UK?" %}
{% set pageSection = "Register Defra account" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        
        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}   


        {% if data['registeredUKOnly'] == "Yes" %}
        <form method="post" action="/register/cannot-register">
        {% else %}
    	<form method="post" action="/register/personal-name">
        {% endif %}


        

            {{ govukRadios({
                fieldset: {
                    legend: { text: "Are you registering as a business or an individual?", isPageHeading: false, classes: "govuk-visually-hidden"  }
                },
                classes: "govuk-radios--inline",
                items: [
                    { value: "Yes~/register/personal-name", text: 'Yes', checked: checked ('registrationAddressUK','Yes') },
                    { value: "No", text: 'No', checked: checked ('registrationAddressUK','No') }                    
                ],
                name: "registrationAddressUK",
                id: "registrationAddressUK"
            }) }}

        
            {{govukButton({
                text: "Continue"
            })}}
	
    	</form>

  	</div>
    <!-- <div class="govuk-grid-column-one-third review">      
        <ul class="govuk-list govuk-body-s govuk-!-text-align-right">                
            {% if data['status'] == "review" %}
                <li><a href="/register/uk-address?status=" class="govuk-link govuk-link--no-visited-state">Current page</a></li>        
            {% else %}
                <li><a href="/register/uk-address?status=review" class="govuk-link govuk-link--no-visited-state">Suggested page changes</a></li>        
            {% endif %}
        </ul>          
    </div> -->
</div>

{% endblock %}
