{% extends "layout.html" %}
{% set showBackLink = true %}
{% set serviceName = "Service Name" %}

{% set pageHeading = "Is your business or organisation registered to trade in the UK?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}   


        {% if data['regNonUk'] == "No" %}
            <form method="post" action="/register/cannot-register">
        {% else %}
    	    <form method="post" action="/register/non-uk-business-name">
        {% endif %}

			
            {{ govukRadios({
                fieldset: {
                    legend: { text: "Are you registering as a business or an individual?", isPageHeading: false, classes: "govuk-visually-hidden"  }
                },
                classes: "govuk-radios--inline",
                items: [
                    { value: "Yes, redirect(/register/companies-house)", text: 'Yes'   },
					{ value: "No", text: 'No'   }                    
                ]
            } | decorateFormAttributes('defraIdCompanyRegisteredLocation')) }}

            <!-- {{ govukRadios({
                fieldset: {
                    legend: { text: "Are you registering as a business or an individual?", isPageHeading: false, classes: "govuk-visually-hidden"  }
                },
                items: [
                    { value: "uk", text: 'UK'   },
					{ value: "non-uk, redirect(/register/non-uk-business-name)", text: 'Non-UK (Organisation that is not registered in the UK)'   }                    
                ]
            } | decorateFormAttributes('defraIdCompanyRegisteredLocation')) }} -->

            {{govukButton({
                text: "Continue"
            })}}
	
    	</form>

  	</div>
</div>

{% endblock %}
