{% extends "layout.html" %}
{% set showBackLink = false %}
{% set serviceName = "" %}

{% set pageHeading = "What we need" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}        

        <p class="govuk-body">You must tell us your:</p>
        <ul class="govuk-list govuk-list--bullet">            
            <li>full name</li>            
            <li>telephone number</li>
            <li>email address</li>
        </ul>


        <p class="govuk-body">If you are a business you may also need to tell us your:</p>
        <ul class="govuk-list govuk-list--bullet">            
            <li>company registration number</li>
            <li>registered business address</li> 
            <li>business contact details</li>                       
        </ul>
        

        <!-- <p>To complete your registration, we'll ask for some personal details and for information about who wants to use this service.</p> -->
        <div class="govuk-inset-text">
            <p>Read our <a href="/privacy-notice" target="_blank">Privacy notice (opens in new tab)</a> to find out how we use, process and store your data.</p>
        </div>

        <form method="post" action="/register/account-type">

            <!-- {{ govukCheckboxes({
              fieldset: { legend: { text: "Terms and conditions", isPageHeading: false, classes: "govuk-visually-hidden" } },
              items: [ { value: "Yes", html: 'I have read and agree to the <a href="/terms-and-conditions">Terms and conditions</a>. ' } ]
            } | decorateFormAttributes('defraIdTerms')) }} -->

            {{ govukButton({
                text: "Continue"
            })}}

        </form>

    </div>
    <!-- <div class="govuk-grid-column-one-third review">      
        <ul class="govuk-list govuk-body-s govuk-!-text-align-right">        
        
            {% if data['status'] == "review" %}
                <li><a href="/registration/?status=" class="govuk-link govuk-link--no-visited-state">Current page</a></li>        
            {% else %}
                <li><a href="/registration/?status=review" class="govuk-link govuk-link--no-visited-state">Suggested page changes</a></li>        
            {% endif %}
        </ul>          
    </div> -->
</div>

{% endblock %}
