{% extends "layout.html" %}
{% set showBackLink = false %}
{% set serviceName = "" %}

{% set pageHeading = "What we need from you" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}        

        <p class="govuk-body">You must tell us your:</p>
        <ul class="govuk-list govuk-list--bullet">            
            <li>full name</li>            
            <li>telephone number</li>
            <li>email address</li>
        </ul>

        <p class="govuk-body">If you are registering as a business you may also need to tell us your:</p>
        <ul class="govuk-list govuk-list--bullet">            
            <li>company registration number</li>
            <li>registered business address</li> 
            <li>business contact details</li>                       
        </ul>        
        
        <form method="post" action="/register/account-type" class="govuk-!-margin-top-7">

            {{ govukButton({
                text: "Continue"
            })}}

        </form>

    </div>    
</div>

{% endblock %}
