{% extends "layout.html" %}

{% set title = "Partial access has been given" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Partial access has been given
      </h1>
    </div>


    <p class="govuk-body">{{ data['name'] }} is now a member {{ data['orgName'] }} but you did not have  access to the service they requested.</p>
    <h3 class="govuk-heading-m">What happens next</h3>

    {% if data['systemRole'] == "Admin" %}
      <p class="govuk-body">{{ data['name'] }} has Admin access for this account so they can register for the service they requested themselves.</p>
    {% endif %}

    {% if data['systemRole'] == "Standard user" %}
      <p class="govuk-body">{{ data['name'] }} has Standard user access for this account. You will need to do one of the following: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>If you are not registered with the service they requested, you can register. Once accepted you will then be able to give {{ data['name'] }} access</li>
        <li>If there is another admin within {{ data['orgName'] }} who uses the service, they will be able to give access.
        </li>
        <li>If no-one uses the service you can give Admin account access to {{ data['name'] }} and they will be able to register for themselves.
        </li>
      </ul>
    {% endif %}

    <p class="govuk-body">We will notify {{ data['name'] }} about the access you have given and next steps they can take.</p>

    {% if data['systemRole'] == "Admin" %}
        {% set backURL = "/manage/team-members/services-on-team-member-invited?subscribeService=No&name=Tiegan Mole" %}
    {% endif %}

    {% if data['systemRole'] == "Standard user" %}
        {% set backURL = "/manage/service-list" %}
    {% endif %}

    {{ govukButton({
      text: "Continue",
      href: backURL
    }) }}


  </div>
</div>


{% endblock %}
