{% extends "layout.html" %}

{% set title = "Account access declined" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-visually-hidden">{{title}}</h1>
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Account access has been declined
      </h1>
    </div>

    <form action="/manage/team-members/team-members?verifiedUser=no" method="post">
    <p class="govk-body">You have declined {{ data['name'] }}’s request to work on behalf of {{ data['orgName'] }}.</p>
    <p class="govk-body">{{ data['name'] }} will be immediately removed from your Team Members page.</p>
    <p class="govk-body">We will email them to let them know your decision.</p>


    {{ govukButton({
      text: "Continue"
    }) }}


  </div>
</div>



{% endblock %}
