{% extends "layout.html" %}

{% set title = "This person's request was accepted by another administrator" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{title}}</h1>


    <form action="../services-on-team-member-verify?userType=invited&name=Tiegan Mole&verifiedUser=yes&subscribeService=no&accountAccess=yes" method="post">
    <p class="govk-body">Another administrator for {{data['orgName']}} has accepted this user’s request.</p>
    <p class="govuk-body">You can change or remove this user's access at any time.</p>

    <p class="govuk-body">You may wish to contact the relevant administrator:</p>
    <p class="govuk-body">
      Ann Cooper<br>
      email@email.com<br>
      0784839396936
    </p>

    {{ govukButton({
      text: "Continue"
    }) }}


  </div>
</div>



{% endblock %}
