{% extends "layout.html" %}

{% set title = "Team member request accepted" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{title}}</h1>


    <form action="/manage/team-members/verify/add-user-roles-system-roles?&serviceRole=Standard&userType=invite&name=Tiegan Mole&verifiedUser=Yes" method="post">
    <p class="govk-body">You have accepted the request of {{ data['name'] }} to work on behalf of {{ data['orgName'] }}.</p>
    <p class="govk-body">You should now choose what information and tasks you would like {{ data['name'] }} to see and do on behalf of Acme Org Ltd.</p>



        {{ govukButton({
          text: "Continue"
        }) }}


      </form>
    </div>
  </div>


{% endblock %}
