{% extends "layout.html" %}

<!-- {% set title = "You do not have permission to access the service" %} -->
{% set title = "Sorry, there is a problem with this service" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  <!-- {% include "includes/account-nav-admin-login.html" %} -->

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{title}}
    </h1>

    <p><a href=“mailto:defra.helpline@defra.gov.uk”>Contact defra.helpline@defra.gov.uk</a> if you want to get help with this.</p>

    <p>You can also contact us by calling our Helpline: 03459 33 55 77. The Helpline is open Monday to Friday 8:30am to 5pm. <a href="https://www.gov.uk/call-charges" target="_blank">Find out about call charges (opens in a new tab).</a></p>

  </div>
</div>

{% endblock %}
