{% extends "layout.html" %}

{% set title = "Read and accept our terms and conditions" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- For invited users-->
    {% if data['userType'] == "invited" %}
      {% set tcButton  = "/new-user-reg/business-individual/task-list-page-personal-details" %}
    {% endif %}

    <!-- For new account registration-->
    {% if (data['businessType'] == "Sole trader") and (data['createSignin'] == "create") %}
      {% set tcButton  = "/new-user-reg/sole-trader/task-list-page-account" %}
    {% endif %}

    {% if ((data['businessType'] == "Limited company") or (data['businessType'] == "Public limited company")) and (data['createSignin'] == "create") %}
      {% set tcButton  = "/new-user-reg/limited-company/task-list-page-account" %}
    {% endif %}

    {% if (data['orgType'] == "individual") and (data['createSignin'] == "create") %}
      {% set tcButton  = "/new-user-reg/individual/task-list-page-account" %}
    {% endif %}

    <form action="{{ tcButton }}" method="post">


      {{ govukCheckboxes({
        idPrefix: "terms",
        name: "terms",
        fieldset: {
          legend: {
            text: "Read and accept our terms and conditions",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "To continue using this service please read and accept our terms and conditions and privacy notice."
        },
        items: [
          {
            value: "terms",
            html: ' I have read and accept the <a href="/" class="govuk-link">terms and conditions</a> and <a href="/" class="govuk-link">privacy notice<a>.'

          }
        ]
      }) }}


      {{ govukButton({
        text: "Continue"
      }) }}


    </form>

  </div>
</div>

{% endblock %}
