{% extends "layout.html" %}

{% set title = "Accessibility statement" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{title}}
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-inset-text">
      <p class="govuk-body">This notice was last updated on [date].</p>
    </div>
    <p class="govuk-body">Accessibility statement goes here</p>

{{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

</div>

{% endblock %}
