{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Accessibility for Your Defra Account" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <p class="govuk-body">This service is part of the wider GOV.UK website. There’s a separate <a href="https://www.gov.uk/help/accessibility" class="govuk-link" rel="noreferrer noopener" target="_blank">accessibility statement for the main GOV.UK website (opens in new tab)</a>.</p>
        <p class="govuk-body">This page only contains information about the Your Defra Account service, available at your-defra-account.defra.gov.uk.</p>

        <h2 class="govuk-heading-m">Using this service</h2>
        <p class="govuk-body">This service is run by Defra. We want as many people as possible to be able to use this service. For example, that means you should be able to:
        <ul class="govuk-list govuk-list--bullet"><li>change colours, contrast levels and fonts</li>
            <li>zoom in up to 300% without the text spilling off the screen</li>
            <li>get from the start of the service to the end using just a keyboard</li>
            <li>get from the start of the service to the end using speech recognition software</li>
            <li>listen to the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
        </ul>
        <p class="govuk-body">We’ve also made the text in the service as easy to understand as possible.</p>
        <p class="govuk-body">If you have a disability, <a href="https://mcmw.abilitynet.org.uk/ class="govuk-link" rel="noreferrer noopener" target="_blank">AbilityNet (opens in new tab)</a> has advice on making your device easier to use.</p>

        <h2 class="govuk-heading-m">How accessible this service is</h2>
        <p class="govuk-body">We’ve identified the following potential accessibility issues with this site:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>If you do not have JavaScript enabled in your browser, you will not be able to use the site</li>
            <li>If you use assistive technology, such as a screen reader, you may have issues with Google reCAPTCHA. Refer to <a href="https://support.google.com/recaptcha/answer/6175971?hl=en" class="govuk-link" rel="noreferrer noopener" target="_blank">Google reCAPTCHA Help (opens in new tab)</a> for help with specific accessibility issues</li>
        </ul>

        <h2 class="govuk-heading-m">What to do if you have difficulty using this service</h2>
        <p class="govuk-body">If you have difficulty using this service, refer to the <a href="/help">Help page</a> for service contact details.</p>

        <h2 class="govuk-heading-m">Reporting accessibility problems with this service</h2>
        <p class="govuk-body">We’re always looking to improve the accessibility of this service. If you find any problems that aren’t listed on this page, or think we’re not meeting accessibility requirements, contact us at <a href="mailto:Customer.Identity-Support@defra.gov.uk?subject=Accessibility feedback">Customer.Identity-Support@defra.gov.uk</a></p>

        <h2 class="govuk-heading-m">Enforcement procedure</h2>
        <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, contact the <a href="https://www.equalityadvisoryservice.com" class="govuk-link" rel="noreferrer noopener" target="_blank">Equality Advisory and Support Service (EASS) (opens in new tab)</a>.</p>

        <h2 class="govuk-heading-m">Technical information about this service’s accessibility</h2>
        <p class="govuk-body">Defra is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
        <p class="govuk-body">This service is fully compliant with the <a href="https://www.w3.org/TR/WCAG21/ class="govuk-link" rel="noreferrer noopener" target="_blank">Web Content Accessibility Guidelines version 2.1 AA standard (opens in new tab)</a>.</p>

        <h2 class="govuk-heading-m">How we tested this service</h2>
        <p class="govuk-body">The service was last tested on 28 November 2019 and was checked for compliance with WCAG 2.1 AA. The test was carried out internally using SortSite.</p>

        <h2 class="govuk-heading-m">What we’re doing to improve accessibility</h2>
        <p class="govuk-body">We have an ongoing commitment to improve this service to make it as easy as possible for everyone to use. Any reported accessibility issues will be addressed in due course.</p>

        {# <p class="govuk-body">This page was prepared on 29 October 2019. It was last updated on 29 October 2019.</p> #}

        <div class="govuk-inset-text">
            <p class="govuk-body-s">This was last updated on 21 April 2023</p>
        </div>
    </div>
</div>

{% endblock %}
