{% extends "layout.html" %}

{% set title = "Accessibility for Your Defra Account" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{title}}
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">This service is part of the wider GOV.UK website. There’s a separate <a href="https://www.gov.uk/help/accessibility">accessibility statement for the main GOV.UK website.</a></p>
      <p class="govuk-body">This page only contains information about the Your Defra Account service, available at your-defra-account.defra.gov.uk.</p>
      <br>
      <h2 class="govuk-heading-m">Using this service</h2>
  <p class="govuk-body">This service is run by Defra. We want as many people as possible to be able to use this service. For example, that means you should be able to:
<ul class="govuk-list govuk-list--bullet"><li>change colours, contrast levels and fonts</li>
<li>zoom in up to 300% without the text spilling off the screen</li>
<li>get from the start of the service to the end using just a keyboard</li>
<li>get from the start of the service to the end using speech recognition software</li>
<li>listen to the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li></ul>
  <p>  We’ve also made the text in the service as easy to understand as possible.</p>
  <p class="govuk-body">If you have a disability, <a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use.</p>

      <h2 class="govuk-heading-m">How accessible this service is</h2>
      <p class="govuk-body">We’ve identified the following potential accessibility issues with this site:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          If you do not have JavaScript enabled in your browser, you will not be able to use the site.
        </li>
        <li>
        If you use assistive technology, such as a screen reader, you may have issues with Google reCAPTCHA. Refer to <a href="https://support.google.com/recaptcha/answer/6175971?hl=en">Google reCAPTCHA Help</a> for help with specific accessibility issues.
      </li></ul>

      <h2 class="govuk-heading-m">What to do if you have difficulty using this service</h2>
      <p class="govuk-body">If you have difficulty using this service, refer to the <a href="https://identity-management-app.herokuapp.com/help">Help page</a> for service contact details.</p>

      <h2 class="govuk-heading-m">Reporting accessibility problems with this service</h2>
      <p class="govuk-body">We’re always looking to improve the accessibility of this service. If you find any problems that aren’t listed on this page, or think we’re not meeting accessibility requirements, contact us at <a href="mailto:Customer.Identity-Support@defra.gov.uk?subject=Accessibility feedback">Customer.Identity-Support@defra.gov.uk</a></p>
      <h2 class="govuk-heading-m">Enforcement procedure</h2>
      <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, contact the <a href="https://www.equalityadvisoryservice.com">Equality Advisory and Support Service (EASS)</a>.</p>
<br>
      <h2 class="govuk-heading-l">Technical information about this service’s accessibility</h2>
      <p class="govuk-body">Defra is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
      <p class="govuk-body">This service is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1 AA standard</a>, due to the non-compliances listed below.</p>
<br>
<h2 class="govuk-heading-l">Non accessible content</h2>
  <p class="govuk-body">The content listed below is non-accessible for the following reasons.</p>
  <h3 class="govuk-heading-m">Non compliance with the accessibility regulations</h3>
  <ul class="govuk-list govuk-list--bullet">
  <li>You may have issues with Google reCAPTCHA if you use assistive technology, such as a screen reader. Refer to <a href="https://support.google.com/recaptcha/answer/6175971?hl=en">Google reCAPTCHA Help</a> for help with specific accessibility issues.</li>
  <li>You will not be able to register on the site if you do not have JavaScript enabled in your browser. This is required for the reCAPTCHA. </li>
  <li>The reCAPTCHA on the check your details page as part of the registration process does not meet WCAG 2.1 AA success criteria, 1.3.1 Info and Relationships, 2.4.7 Focus Visible, 3.3.2 Labels or Instructions and 4.1.2 Name, Role, Value</li>
  <li>The telephone number input field as part of the registration process is missing the label. This does not meet WCAG 2.1 success criterion 3.3.2 Labels or Instructions.</li>
  <li>The fieldset on the company details page and the company contact details page as part of the registration process is missing the legend element. This does not meet WCAG 2.1 success criteria 3.3.2 Labels or Instructions and 1.3.1 Info and Relationships.</li></ul>

      <h3 class="govuk-heading-m">Disproportionate burden</h3>
      <p class="govuk-body">As our service is designed to meet the needs of Defra following the United Kingdom’s exit from the European Union, we’ve made some choices to ensure the security of the site at this time. Our use of JavaScript and Google reCAPTCHA may cause some accessibility issues but their use is essential to help guard against cyber attacks. The use of these elements will be reviewed and as part of our ongoing service improvement activities.</p>


<br>

      <h2 class="govuk-heading-l">How we tested this service</h2>
      <p class="govuk-body">The service was last tested on 22 October 2019 and was checked for compliance with WCAG 2.1 AA. The test was carried out internally using SortSite.</p>

<br>
      <h2 class="govuk-heading-l">What we’re doing to improve accessibility</h2>
      <p class="govuk-body">We have an ongoing commitment to improve this service to make it as easy as possible for everyone to use. Any reported accessibility issues will be addressed in due course.</p>

      <p class="govuk-body">This page was prepared on 29 October 2019. It was last updated on 29 October 2019.</p>

</div>

{% endblock %}
