{% extends "layout.html" %}

{% set title = "Cookies on Your Defra Account" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{title}}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">A cookie is a small file that's saved on your phone, tablet or computer when you visit a website. We use 2 types of cookie on this site:</p>
      <br>
      <h3 class="govuk-heading-m">Cookies that are strictly necessary</h3>
      <p class="govuk-body">These cookies are essential to make this service run effectively and to help us comply with data protection laws. You cannot turn these cookies off.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            More about the essential cookies
          </span>
        </summary>
        <div class="govuk-details__text">
<h3 class="govuk-heading-m">Google reCAPTCHA cookies</h3>
          <p class="govuk-body">We use Google reCAPTCHA on this site to make sure that information entered (for example, in forms) has been entered by a human and not by automated software. Some of the data collected by reCAPTCHA cookies is forwarded to Google. For more information, refer to the <a href="https://policies.google.com/privacy"target="_blank">Google Privacy Policy</a> and the <a href="https://policies.google.com/terms"target="_blank">Google Terms of Service</a>.</p>
<br>
<h3 class="govuk-heading-m">Other essential cookies</h3>


          {{ govukTable({
           firstCellIsHeader: false,
           head: [
             {
               html: 'Cookie',
               format: 'column-full'
             },
             {
               html: 'Purpose',
               format: 'column-full'
             },
             {
               html: 'Expiry',
               format: 'column-sixth column-full'
             }
           ],
           rows: [
             [
               {
                 html: '<span class="govuk-visually-hidden--desktop td-header">Cookie:</span> idm'
               },
               {
                 html: '<span class="govuk-visually-hidden--desktop td-header">Purpose:</span> Lets us know that you have logged in or registered'
               },
               {
                 html: '<span class="govuk-visually-hidden--desktop td-header">Expires:</span> 3 days'
               }
             ],
             [
               {
                 html: '<span class="govuk-visually-hidden--desktop td-header">Cookie:</span> crumb'
               },
               {
                 html: '<span class="govuk-visually-hidden--desktop td-header">Purpose:</span> Helps to prevent unauthorised requests'
               },
               {
                 html: '<span class="govuk-visually-hidden--desktop td-header">Expires:</span> On closing browser'
               }
             ],
             [
               {
                 html: '<span class="govuk-visually-hidden--desktop td-header">Cookie:</span> session'
               },
               {
                 html: '<span class="govuk-visually-hidden--desktop td-header">Purpose:</span> Stores information that you have submitted'
               },
               {
                 html: '<span class="govuk-visually-hidden--desktop td-header">Expires:</span> 3 days'
               }
             ],
             [
               {
                 html: '<span class="govuk-visually-hidden--desktop td-header">Cookie:</span> ARRAffinity'
               },
               {
                 html: '<span class="govuk-visually-hidden--desktop td-header">Purpose:</span> Makes sure that visitor page requests are routed to the same server in any browsing session'
               },
               {
                 html: '<span class="govuk-visually-hidden--desktop td-header">Expires:</span> On closing browser'
               }
             ],
             [
               {
                 html: '<span class="govuk-visually-hidden--desktop td-header">Cookie:</span> cookies_accepted'
               },
               {
                 html: '<span class="govuk-visually-hidden--desktop td-header">Purpose:</span> Lets us know that you have seen our cookie message'
               },
               {
                 html: '<span class="govuk-visually-hidden--desktop td-header">Expires:</span> 1 year'
               }
               ]
             ]
          }) }}



        </div>
      </details>
      <br>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h3 class="govuk-heading-m">Cookies that measure service usage</h3>
            <p class="govuk-body">
              These cookies track the pages you visit here, how long you spend on each one and what you select. You can turn these cookies on or off.
            </p>
          </legend>

        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="on" checked>
            <label class="govuk-label govuk-radios__label" for="changed-name">
              On
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="off">
            <label class="govuk-label govuk-radios__label" for="changed-name-2">
              Off
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          More about the optional cookies
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">We use Google Analytics and Microsoft Application Insights to collect information about how you use the service. We do this to make sure that the service is meeting your needs and to help us make improvements.</p>
        <p class="govuk-body">We do not collect or store your personal information (for example, your name or address) and we do not allow Google or Microsoft to use our data or share it with anyone else.</p>
        <br>
        <h3 class="govuk-heading-m">Google Analytics cookies</h3>

        {{ govukTable({
         firstCellIsHeader: false,
         head: [
           {
             html: 'Cookie',
             format: 'column-full'
           },
           {
             html: 'Purpose',
             format: 'column-full'
           },
           {
             html: 'Expiry',
             format: 'column-sixth column-full'
           }
         ],
         rows: [
           [
             {
               html: '<span class="govuk-visually-hidden--desktop td-header">Cookie:</span> yda_ga'
             },
             {
               html: '<span class="govuk-visually-hidden--desktop td-header">Purpose:</span> Helps us to count how many people use the service by tracking if you have visited before'
             },
             {
               html: '<span class="govuk-visually-hidden--desktop td-header">Expires:</span> 2 years'
             }
           ],
           [
             {
               html: '<span class="govuk-visually-hidden--desktop td-header">Cookie:</span> yda_ga_gid'
             },
             {
               html: '<span class="govuk-visually-hidden--desktop td-header">Purpose:</span> Helps us to count how many people use the service by tracking if you have visited before'
             },
             {
               html: '<span class="govuk-visually-hidden--desktop td-header">Expires:</span> 24 hours'
             }
           ]
           ]
        }) }}
        <br>
        <h3 class="govuk-heading-m">Microsoft Application Insights cookies</h3>
        {{ govukTable({
         firstCellIsHeader: false,
         head: [
           {
             html: 'Cookie',
             format: 'column-full'
           },
           {
             html: 'Purpose',
             format: 'column-full'
           },
           {
             html: 'Expiry',
             format: 'column-sixth column-full'
           }
         ],
         rows: [
           [
             {
               html: '<span class="govuk-visually-hidden--desktop td-header">Cookie:</span> ai_session'
             },
             {
               html: '<span class="govuk-visually-hidden--desktop td-header">Purpose:</span> Helps us to count how many people use the service by tracking if you have visited before'
             },
             {
               html: '<span class="govuk-visually-hidden--desktop td-header">Expires:</span> 1 hour'
             }
           ],
           [
             {
               html: '<span class="govuk-visually-hidden--desktop td-header">Cookie:</span> ai_user'
             },
             {
               html: '<span class="govuk-visually-hidden--desktop td-header">Purpose:</span> Helps us to count how many people use the service by tracking if you have visited before'
             },
             {
               html: '<span class="govuk-visually-hidden--desktop td-header">Expires:</span> 1 year'
             }
           ]
           ]
        }) }}
        <br>
      </div>
    </details>

    {{ govukButton({
      text: "Save changes"
    }) }}




  </div>
</div>


{% endblock %}
