{% extends "layout.html" %}

{% set title = "Details about cookies on Your Defra account" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ title }}</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Cookies are files saved on your phone, tablet or computer when you visit a website. We use 2 types of cookies on this site:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>cookies that are strictly necessary</li>
      <li>cookies that measure service usage</li>
    </ul>
    <br>
    <h2 class="govuk-heading-m">Cookies that are strictly necessary</h2>
    <p class="govuk-body">These cookies are essential to make this service run and to help us stay in line with data protection laws. You cannot turn these cookies off.</p>
    <h3 class="govuk-heading-m">Introductory cookie message</h3>
    <p class="govuk-body">
      You may see a pop-up welcome message when you first visit. A cookie is stored so that your computer knows you've seen it and knows not to show it again.
    </p>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-table__header--column-full" scope="col">Name</th>
          <th class="govuk-table__header govuk-table__header--column-full" scope="col">Purpose</th>
          <th class="govuk-table__header govuk-table__header--column-sixth column-full" scope="col">Expires</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Name:</span>seen_cookie_message</td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Purpose:</span>Saves a message to let us know that you've seen our cookie message</td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Expires:</span>In 12 months</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Name:</span>cookie_policy</td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Purpose:</span>Saves a message to let us know that you've seen our cookie message</td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Expires:</span>In 12 months</td>
        </tr>
      </tbody>
    </table>
    <br>


    <h3 class="govuk-heading-m">Google reCAPTCHA cookies</h3>
    <p class="govuk-body">We use Google reCAPTCHA on this site to make sure that information (for example, in forms) is entered by a human and not by automated software. Some of the data collected by reCAPTCHA cookies is forwarded to Google. See the
      <a href="https://policies.google.com/privacy" target="_blank">Google Privacy Policy</a>
      and the
      <a href="https://policies.google.com/terms" target="_blank">Google Terms of Service</a>.</p>
    <br/>
    <h3 class="govuk-heading-m">Other essential cookies</h3>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-table__header--column-full" scope="col">Name</th>
          <th class="govuk-table__header govuk-table__header--column-full" scope="col">Purpose</th>
          <th class="govuk-table__header govuk-table__header--column-sixth column-full" scope="col">Expires</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Name:</span>
            idm</td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Purpose:</span>
            Lets us know that you've logged in or registered</td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Expires:</span>
            In 3 days</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Name:</span>
            crumb</td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Purpose:</span>
            Helps to prevent unauthorised requests</td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Expires:</span>
            On closing browser</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Name:</span>
            session</td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Purpose:</span>
            Stores information that you've submitted</td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Expires:</span>
            In 3 days</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Name:</span>
            ARRAffinity</td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Purpose:</span>
            Makes sure that your page requests go to the same server each time in any browsing session</td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Expires:</span>
            On closing browser</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Name:</span>
            cookie_policy</td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Purpose:</span>
            Lets us know that you've seen our cookie message</td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Expires:</span>
            In 12 months</td>
        </tr>
      </tbody>
    </table>
    <br>
    <h2 class="govuk-heading-m">
      Cookies that measure your use of the service
    </h2>
    <p class="govuk-body">
      These cookies track the pages you visit here, how long you spend on each page and the options you choose. You can turn these cookies on or off.
    </p>

    <p class="govuk-body">We use software (Google Universal Analytics and Microsoft Application Insights) to collect information about how you use the service.</p>
    <p class="govuk-body">This information is 'anonymised', we don't know who it's about.</p>
    <p class="govuk-body">We do not collect or store your personal information (for example, your name or address) and we do not allow Google or Microsoft to use our data or share it with anyone else.</p>
    <p class="govuk-body">We collect this information to make sure the service is meeting your needs and to help us improve it.</p>
    <br>
    <h3 class="govuk-heading-m">Google Analytics cookies</h3>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-table__header--column-full" scope="col">Name</th>
          <th class="govuk-table__header govuk-table__header--column-full" scope="col">Purpose</th>
          <th class="govuk-table__header govuk-table__header--column-sixth column-full" scope="col">Expires</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Name:</span>
            yda_ga</td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Purpose:</span>
            Helps us to count how many people use the service by tracking if you've visited before</td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Expires:</span>
            In 2 years</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Name:</span>
            yda_ga_gid</td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Purpose:</span>
            Helps us to count how many people use the service by tracking if you've visited before</td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Expires:</span>
            In 24 hours</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Name:</span>
            _ga</td>
          <td class="govuk-table__cell"><span class="govuk-visually-hidden--desktop td-header">Purpose:</span>
            Helps us to count how many people use the service by tracking if you've visited before</td>
          <td class="govuk-table__cell"><span class="govuk-visually-hidden--desktop td-header">Expires:</span>
            In 2 years</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><span class="govuk-visually-hidden--desktop td-header">Name:</span>
            _gid</td>
          <td class="govuk-table__cell"><span class="govuk-visually-hidden--desktop td-header">Purpose:</span>
            Helps us to count how many people use the service by tracking if you've visited before</td>
          <td class="govuk-table__cell"><span class="govuk-visually-hidden--desktop td-header">Expires:</span>
            In 24 hours</td>
        </tr>
      </tbody>
    </table>

    {{ govukInsetText({
      html: '<p>You can <a rel="external" href="https://tools.google.com/dlpage/gaoptout">opt out of Google Analytics cookies</a>.</p>'
    }) }}

    <br>
    <h3 class="govuk-heading-m">Microsoft Application Insights cookies</h3>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-table__header--column-full" scope="col">Name</th>
          <th class="govuk-table__header govuk-table__header--column-full" scope="col">Purpose</th>
          <th class="govuk-table__header govuk-table__header--column-sixth column-full" scope="col">Expires</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Name:</span>
            ai_session</td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Purpose:</span>
            Helps us to count how many people use the service by tracking if you've visited before</td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Expires:</span>
            In 1 hour</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Name:</span>
            ai_user</td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Purpose:</span>
            Helps us to count how many people use the service by tracking if you've visited before</td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Expires:</span>
            In 1 year</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


{% endblock %}
