{% extends "layout.html" %}

{% set title = "Cookies on Your Defra account" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}

  {% if errors.length %}
    {{ govukErrorSummary({
    titleText: 'There is a problem',
    errorList: errors
    }) }}
  {% endif %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{title}}</h1>
    </div>
  </div>

  {% if data['savedCookieChanges'] %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="cookie-settings__warning govuk-!-margin-bottom-0" data-cookie-warning="true">
        <section class="gem-c-notice govuk-!-margin-bottom-8" aria-label="Notice" role="region">
          <h2 class="govuk-heading-m">Your cookie settings have been saved</h2>
          <p class="govuk-body govuk-!-margin-0">Government services may set other cookies and, if so, will have their own cookie policy.
        <br><br>   <a class="govuk_link cookie-settings__prev-page" href="/" data-module="track-click" data-track-category="cookieSettings" data-track-action="Back to previous page" style="display: block;">
        Go back to the page you were looking at
      </a></p>
        </section>
      </div>
    </div>
  </div>

 {% elif data['savedCookieChanges'] === "" %}
<div></div>

  {% else %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="cookie-settings__warning govuk-!-margin-bottom-0" data-cookie-warning="true">
        <section class="gem-c-notice govuk-!-margin-bottom-8" aria-label="Notice" role="region">
          <h2 class="govuk-heading-m">Your cookie settings have not yet been saved</h2>
          <p class="gem-c-notice__description">Defra sets cookies when you visit our service. You can choose to change these settings to your own preferences. You'll need to save this page, below, with your new choices.</p>
        </section>
      </div>
    </div>
  </div>
 {% endif %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Cookies are files saved on your phone, tablet or computer when you visit a website.</p>
      <br>
      <form method="post" action="/cookie-settings">
        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "usage",
          name: "usage",
          fieldset: {
            legend: {
              text: "Cookies that measure the way you use the service",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: 'These cookies track the pages you visit here, how long you spend on each page and the options you choose. You can turn these cookies on or off.'
          },
          items: [
            {
              value: "on",
              text: "On",
              checked: checked("usage", "on")
            },
            {
              value: "off",
              text: "Off",
              checked: checked("usage", "off")
            }
          ]
        }) }}




        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "campaigns",
          name: "campaigns",
          fieldset: {
            legend: {
              text: "Cookies that help with our communications and marketing",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: 'These cookies may be set by third party websites and do things like measure how you view YouTube videos that are on Your Defra account.'
          },
          items: [
            {
              value: "on",
              text: "On",
              checked: checked("campaigns", "on")
            },
            {
              value: "off",
              text: "Off",
              checked: checked("campaigns", "off")
            }
          ]
        }) }}




        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "settings",
          name: "settings",
          fieldset: {
            legend: {
              text: "Cookies that remember your settings",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: 'These cookies do things like remember your preferences and the choices you make to personalise your experience when using this service.'
          },
          items: [
            {
              value: "on",
              text: "On",
              checked: checked("campaigns", "on")
            },
            {
              value: "off",
              text: "Off",
              checked: checked("campaigns", "off")
            }
          ]
        }) }}
</div>
</div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

<h2 class="govuk-heading-m">Strictly necessary cookies</h2>

          <p class="govuk-body">These cookies are essential to make this service run effectively and to help us comply with data protection laws. You cannot turn these cookies off.</p>

</div></div>
        <br>
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
        <input type="hidden" id="redirectLink" name="redirectLink" value="{{ redirectLink | safe }}"/>

          <p class="govuk-body">  <a href="/cookies" class="govuk-link govuk-link--no-visited-state">Find out more about cookies</a></p>


        <br>
      </div>
      </div>

        {{ govukButton({
        text: "Save changes",
        attributes:{
          id: "button-continue"
        }
        }) }}

      </form>
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-m">Government services</h3>
      <p class="govuk-body">Most services we link to are run by different government departments, for example HM Revenue and Customs or the Home Office. These services may set other cookies and, if so, will have their own cookies policy.</p>
    </div>
  </div>
{% endblock %}
