{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "" %}

{% set pageHeading = "Cookies" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

{% if errors.length %}
    {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errors
    }) }}
{% endif %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        {% if data['flow'] == "Registration" %}

            {% if data['savedCookieChanges'] %}
                <div class="cookie-settings__warning govuk-!-margin-bottom-0" data-cookie-warning="true">
                    <section class="gem-c-notice govuk-!-margin-bottom-8" aria-label="Notice" role="region">
                        <h2 class="govuk-heading-m">Your cookie settings have been saved</h2>
                        <p class="govuk-body">Government services may set other cookies and, if so, will have their own cookie policy.<a class="govuk_link govuk-!-margin-top-5 cookie-settings__prev-page" href="/" data-module="track-click" data-track-category="cookieSettings" data-track-action="Back to previous page" style="display: block;">Go back to the page you were looking at</a></p>
                    </section>
                </div>
            {% elif data['savedCookieChanges'] === "" %}
            
            {% else %}
                <div class="cookie-settings__warning govuk-!-margin-bottom-0" data-cookie-warning="true">
                    <section class="gem-c-notice govuk-!-margin-bottom-8" aria-label="Notice" role="region">
                        <h2 class="govuk-heading-m">Your cookie settings have not yet been saved</h2>
                        <p class="gem-c-notice__description">Defra sets cookies when you visit our service. You can choose to change these settings to your own preferences. You'll need to save this page, below, with your new choices.</p>
                    </section>
                </div>
            {% endif %}

        {% endif %}
        
        <p class="govuk-body">Cookies are files saved on your phone, tablet or computer that collect information about how you browse the service and are used to:</p>        
                
        <ul class="govuk-list govuk-list--bullet">
            <li>measure how you use the service so it can be improved</li>
            <li>remember notifications you’ve seen so you’re not shown them again</li>
        </ul>                

        <h2 class="govuk-heading-l">Cookies that are strictly necessary</h2>
        <p class="govuk-body">These cookies are essential to make this service run and to help us stay in line with data protection laws. You cannot turn these cookies off.</p>

        <h3 class="govuk-heading-m">Introductory cookie message</h3>
        <p class="govuk-body">You may see a pop-up welcome message when you first visit. A cookie is stored so that your computer knows you’ve seen it and knows not to show it again.</p>
        <table class="govuk-table govuk-!-margin-bottom-7">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header govuk-!-width-one-third" scope="col">Name</th>
                    <th class="govuk-table__header govuk-!-width-one-half" scope="col">Purpose</th>
                    <th class="govuk-table__header" scope="col">Expires</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-!-width-one-third">cookie_policy</td>
                    <td class="govuk-table__cell">Lets us know you’ve seen our cookie message</td>
                    <td class="govuk-table__cell">12 months</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">seen_cookie_message</td>
                    <td class="govuk-table__cell">Lets us know you’ve seen our cookie message</td>
                    <td class="govuk-table__cell">12 months</td>
                </tr>
                
            </tbody>
        </table>

        <h3 class="govuk-heading-m">Essential cookies</h3>
        <table class="govuk-table govuk-!-margin-bottom-7">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header govuk-!-width-one-third" scope="col">Name</th>
                    <th class="govuk-table__header govuk-!-width-one-half" scope="col">Purpose</th>
                    <th class="govuk-table__header" scope="col">Expires</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">cookieChallenge</td>
                    <td class="govuk-table__cell">Lets us know that you’ve been asked about cookies</td>
                    <td class="govuk-table__cell">Never</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">crumb</td>
                    <td class="govuk-table__cell">Helps to prevent unauthorised requests</td>
                    <td class="govuk-table__cell">On closing browser</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">idm</td>
                    <td class="govuk-table__cell">Lets us know that you’ve logged in or registered</td>
                    <td class="govuk-table__cell">3 days</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">_interaction</td>
                    <td class="govuk-table__cell">Allows us to identify you as an individual user in our applications</td>
                    <td class="govuk-table__cell">3 days</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">_interaction.sig</td>
                    <td class="govuk-table__cell">Allows us to identify you as an individual user in our applications</td>
                    <td class="govuk-table__cell">3 days</td>
                </tr>                
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">session</td>
                    <td class="govuk-table__cell">Stores information that you’ve submitted</td>
                    <td class="govuk-table__cell">3 days</td>
                </tr>                                
            </tbody>
        </table>



        <h3 class="govuk-heading-m">Azure Active Directory B2C cookies</h3>
        <table class="govuk-table govuk-!-margin-bottom-7">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header govuk-!-width-one-third" scope="col">Name</th>
                    <th class="govuk-table__header govuk-!-width-one-half" scope="col">Purpose</th>
                    <th class="govuk-table__header" scope="col">Expires</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">x-ms-cpim-admin</td>
                    <td class="govuk-table__cell">Holds user membership data across tenants</td>
                    <td class="govuk-table__cell">On closing browser</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">x-ms-cpim-slice</td>
                    <td class="govuk-table__cell">Used to route requests to the appropriate production instance</td>
                    <td class="govuk-table__cell">On closing browser</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">x-ms-cpim-trans</td>
                    <td class="govuk-table__cell">Used for tracking the transactions and the current transaction</td>
                    <td class="govuk-table__cell">On closing browser</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">x-ms-cpim-sso:{Id}</td>
                    <td class="govuk-table__cell">Used for maintaining the SSO session</td>
                    <td class="govuk-table__cell">On closing browser</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">x-ms-cpim-cache:{id}_n</td>
                    <td class="govuk-table__cell">Used for maintaining the request state, successful authentication</td>
                    <td class="govuk-table__cell">On closing browser</td>
                </tr>                
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">x-ms-cpim-csrf</td>
                    <td class="govuk-table__cell">Cross-Site Request Forgery token used for CRSF protection</td>
                    <td class="govuk-table__cell">On closing browser</td>
                </tr>                                
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">x-ms-cpim-dc</td>
                    <td class="govuk-table__cell">Used for Azure AD B2C network routing</td>
                    <td class="govuk-table__cell">On closing browser</td>
                </tr>                                
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">x-ms-cpim-ctx</td>
                    <td class="govuk-table__cell">Context</td>
                    <td class="govuk-table__cell">On closing browser</td>
                </tr>                                
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">x-ms-cpim-rp</td>
                    <td class="govuk-table__cell">Used for storing membership data for the resource provider tenant</td>
                    <td class="govuk-table__cell">On closing browser</td>
                </tr>                                
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">x-ms-cpim-csrf</td>
                    <td class="govuk-table__cell">Used for storing the relay cookie</td>
                    <td class="govuk-table__cell">On closing browser</td>
                </tr>                                
            </tbody>
        </table>






        		
	
	
	
		
	
	
	
	
	




        {% if data['flow'] == "Registration" %}

        <h2 class="govuk-heading-l">Cookies that measure your use of the service</h2>
            <p class="govuk-body">These cookies track the pages you visit, how long you spend on each page and the options you choose. You can turn these cookies on or off.</p>
            <p class="govuk-body">We use Google Analytics to collect information about how you use the service.</p>
            <p class="govuk-body">This information is ’anonymised’, we don’t know who it’s about.</p>
            <p class="govuk-body">We do not collect or store your personal information (for example, your name or address) and we do not allow Google to use our data or share it with anyone else.</p>
            <p class="govuk-body">We collect this information to make sure the service is meeting your needs and to help us improve it.</p>

            <h3 class="govuk-heading-m">Google Analytics cookies</h3>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header govuk-table__header--column-full" scope="col">Name</th>
                        <th class="govuk-table__header govuk-table__header--column-full" scope="col">Purpose</th>
                        <th class="govuk-table__header govuk-table__header--column-sixth column-full" scope="col">Expires</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">yda_ga</td>
                        <td class="govuk-table__cell">Helps us to count how many people use the service by tracking if you’ve visited before</td>
                        <td class="govuk-table__cell">In 2 years</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">yda_ga_gid</td>
                        <td class="govuk-table__cell">Helps us to count how many people use the service by tracking if you’ve visited before</td>
                        <td class="govuk-table__cell">In 24 hours</td>
                    </tr>                    
                </tbody>
            </table>
            
            <p>You can <a href="https://tools.google.com/dlpage/gaoptout" class="govuk-link" rel="noreferrer noopener" target="_blank">opt out of Google Analytics cookies (opens in new tab)</a>.</p>
          
            <h2 class="govuk-heading-l govuk-!-margin-top-9">Cookie settings</h2>
            <form method="post" action="/cookie-settings" class="govuk-!-margin-bottom-5">
    
                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    idPrefix: "cookieUsage",
                    name: "cookieUsage",
                    fieldset: {
                        legend: {
                            text: "Cookies that measure the way you use the service",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    hint: {
                        text: 'These cookies track the pages you visit here, how long you spend on each page and the options you choose. You can turn these cookies on or off.'
                    },
                    items: [
                        { value: "on", text: "On", checked: checked("cookieUsage", "on") },
                        { value: "off", text: "Off", checked: checked("cookieUsage", "off") }
                    ]
                }) }}                
    
                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    idPrefix: "cookieSettings",
                    name: "cookieSettings",
                    fieldset: {
                        legend: {
                            text: "Cookies that remember your settings",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    hint: {
                        text: 'These cookies do things like remember your preferences and the choices you make to personalise your experience when using this service.'
                    },
                    items: [
                        { value: "on", text: "On", checked: checked("cookieSettings", "on") },
                        { value: "off", text: "Off", checked: checked("campcookieSettings", "off") }
                    ]
                }) }}
            
                {{ govukButton({
                    text: "Save cookie settings",
                    attributes:{
                        id: "button-continue"
                    }
                }) }}
    
            </form>

            {% endif %}                
      
            <h3 class="govuk-heading-l">Government services</h3>
            <p class="govuk-body">Most services we link to are run by different government departments, for example HM Revenue and Customs (HMRC) or the Home Office. These services may set other cookies and, if so, will have their own cookies policy.</p>
        
            <div class="govuk-inset-text">
                <p class="govuk-body govuk-body-s">This was last updated on 21 April 2023</p>
            </div>

    </div>
</div>
{% endblock %}