{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "{Service Name}" %}

{% set pageHeading = "User flows" %}
{% set pageSection = "Preload Defra account data" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading, pageSection) }}                        
        
        <p class="govuk-body">Defaults to "Core service" unless alternative option overrides that selection.</p>
                
        <form action="/preload" method="post" >
    

            <!-- // Service Flow // -->
            <!-- ///////////////////////////////// -->
            {{ govukRadios({   
                fieldset: {
                    legend: {
                        text: "Service flow",
                        isPageHeading: false,
                        classes: "govuk-fieldset__legend--m"
                    },
                    classes: "govuk-!-margin-top-7"                    
                },                  
                hint: {
                    text: "There are bespoke pages and user journeys for some services."
                },
                name: "serviceFlow",
                items: [
                    { value: "coreService", text: "Core service", checked: checked("serviceFlow", "coreService") },   
                    { divider: "or" },
                    { value: "vetsVisit", text: "Get funding to improve animal health and welfare", checked: checked("serviceFlow", "vetsVisit") }
                ]            
            }) }}
 
            {{ govukButton({
                text: "Continue"
            }) }}

        </form>

    </div>
</div>
{% endblock %}
