{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "" %}

{% set pageHeading = "User flows" %}
{% set pageSection = "Preload data" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading, pageSection) }}                        
        
        <p class="govuk-body">The flow defaults to "Registration" and "Core service" unless alternative options override that selection below.</p>
                
        <form action="/preload" method="post" >

            <!-- // User Journey // -->
            <!-- ///////////////////////////////// -->
            {{ govukRadios({   
                fieldset: {
                    legend: {
                        text: "User journey",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--m"
                    },
                    classes: "govuk-!-margin-top-7"
                },
                name: "userFlow",
                items: [
                    { value: "Registration", text: "Registration", checked: checked("userFlow", "Registration") },
                    { value: "Authentication", text: "Sign in and authentication (already registered)", checked: checked("userFlow", "Authentication") }
                ]
            }) }}

            <!-- // Service Flow // -->
            <!-- ///////////////////////////////// -->
            {{ govukRadios({   
                fieldset: {
                    legend: {
                        text: "Service flow",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--m"
                    },
                    classes: "govuk-!-margin-top-7"                    
                },                  
                hint: {
                    text: "There are bespoke pages and user journeys for some services."
                },
                name: "serviceFlow",
                items: [
                    { value: "coreService", text: "Core services", checked: checked("serviceFlow", "coreService") },   
                    { value: "vetsVisit", text: "Get funding to improve animal health and welfare", checked: checked("serviceFlow", "vetsVisit") }
                ]            
            }) }}
 
 
            {{ govukButton({
                text: "Continue"
            }) }}

        </form>

    </div>
</div>
{% endblock %}
