{% extends "layout.html" %}
{% set showBackLink = false %}
{% set serviceName = "Preload - Defra identity management" %}

{% set pageHeading = "User flows" %}
{% set pageSection = "Preload data" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading, pageSection) }}                        

        
        <p>The flow defaults to "Registration" and "Core service" unless alternative options override that selection.</p>
                
        <form action="/preload" method="post" >

            {{ govukRadios({   
                fieldset: {
                    legend: {
                        text: "User journey",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--m"
                    },
                    classes: "govuk-!-margin-top-7"                    
                },                                                       
                items: [
                    { value: "Registration", text: "Registration required", checked: checked("userFlow", "Registration") },   
                    { value: "Authentication", text: "Sign in and authentication (already registered)", checked: checked("userFlow", "Authentication") }
                ]
            } | decorateFormAttributes('userFlow')) }}



            
            {{ govukRadios({   
                fieldset: {
                    legend: {
                        text: "Service flow",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--m"
                    },
                    classes: "govuk-!-margin-top-7"                    
                },                  
                hint: {
                    text: "There are bespoke pages and user journeys for some services."
                },
                items: [
                    { value: "coreDefault", text: "Core service (default)", checked: checked("serviceFlow", "coreDefault") },   
                    { value: "vetsVisit", text: "Annual Health and Welfare Review of livestock", checked: checked("serviceFlow", "vetsVisit") }
                ]
            } | decorateFormAttributes('serviceFlow')) }}
 



 
            {{ govukButton({
                text: "Continue"
            }) }}

        </form>

    </div>
</div>
{% endblock %}
