{% extends "layout.html" %}

{% set title = "Help using Your Defra account" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>
    <p>Find out about Your Defra account, including registering for a service, contacting a service, the use of cookies, the privacy policy and terms and conditions of use.</p>

    <h2 class="govuk-heading-m">Registering for Defra services</h2>
    <p class="govuk-body">Your Defra account will allow you to access the services provided by Defra and related agencies and public bodies.</p>

    <p class="govuk-body">You need to use or create your own Government Gateway sign in details (a Government Gateway user ID and password). Do not use shared company details. </p>

    <p class="govuk-body">Having your own set of sign in details will save you time.  We will store basic information about you in Your Defra account so that you do not have to re-enter the information each time you want to use a new online service.</p>

    <h3 class="govuk-heading-s">Before you start</h3>

    <p class="govuk-body">You will need:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your email address, phone number and postal address</li>
      <li>your Government Gateway user ID and password (if you already have an account, if not you will be guided to create one)</li>
    </ul>
    <p class="govuk-body">If you are registering on behalf of a business or organisation, you will also need:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the main contact details for your business or organisation (for example, head office contact details)</li>
      <li>the Companies House number if you are registering on behalf of a limited company</li>
    </ul>

    <h2 class="govuk-heading-m" id="contacting-defra-services">Account issues - contacting Defra services </h2>
    <p class="govuk-body">If you have any issues signing in to Your Defra account or a service contact the relevant service directly.</p>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">[Consuming service name]</span>
      </summary>
      <div class="govuk-inset-text">
        Please call the service on [consuming service phone number].
      </div>
    </details>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">[Consuming service name]</span>
      </summary>
      <div class="govuk-inset-text">
        Please call the service on [consuming service phone number].
      </div>
    </details>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">[Consuming service name]</span>
      </summary>
      <div class="govuk-inset-text">
        Please call the service on [consuming service phone number].
      </div>
    </details>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">[Consuming service name]</span>
      </summary>
      <div class="govuk-inset-text">
        Please call the service on [consuming service phone number].
      </div>
    </details>


    <h2 class="govuk-heading-m">Privacy notice</h2>
    <p class="govuk-body">Read our latest <a href="/privacy-notice">Privacy notice</a></p>
    <h2 class="govuk-heading-m">Terms and conditions</h2>
    <p class="govuk-body">Read our latest <a href="/terms">Terms and conditions</a></p>
    <h2 class="govuk-heading-m">Cookies</h2>
    <p class="govuk-body">Read our latest <a href="/cookie-policy">Cookies notice</a></p>



  </div>
</div>

{% endblock %}
