{% extends "layout.html" %}

{% set title = "Identity Management - service enrollement" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{title}}
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <h2 class="govuk-heading-s">Final (WIP)
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="service-start-logged-out" class="govuk-link--no-visited-state">New user: registration</a></li>
        <li><a href="service-start-t2-incomplete" class="govuk-link--no-visited-state">Return user: Incomplete registration - task list not finished</a></li>
        <li><a href="service-start-service-incomplete" class="govuk-link--no-visited-state">Return user: Incomplete registration - service not finished</a></li>
        <li><a href="service-start-pending" class="govuk-link--no-visited-state">Return user: Registration is pending</a></li>
        <li><a href="service-start-complete" class="govuk-link--no-visited-state">Return user: Registration is complete</a></li>


      </ul>
      <h2 class="govuk-heading-s">Quick links</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="new-user-reg/limited-company/task-list-page-account" class="govuk-link--no-visited-state">Task list - Ltd company or PLC</a></li>
        <li><a href="new-user-reg/sole-trader/task-list-page-account" class="govuk-link--no-visited-state">Task list - Sole trader</a></li>
      </ul>

      <h2 class="govuk-heading-s">Group manangement
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/manage/dashboard-all-1" class="govuk-link--no-visited-state">Organisation Admin: New User Dashboard</a></li>
        <li><a href="/manage/dashboard-all-1" class="govuk-link--no-visited-state">Organisation Admin: Invite New User</a></li>
        <li><a href="invited-user/invite-email" class="govuk-link--no-visited-state">New user: Accept Invite</a></li>
        <li><a href="/manage/dashboard-all" class="govuk-link--no-visited-state">Organisation Admin: Dashboard</a></li>
        <li><a href="/manage/team-members/services-on-team-member-standard-account" class="govuk-link--no-visited-state">Standard user: account</a></li>
      </ul>

    </div>
</div>

{% endblock %}
