{% extends "/layouts/main.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Defra customer identity" %}
{% set pageSection = "ServiceHook Prototype" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-5">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <ul class="govuk-list govuk-body-s">
          	    <li>Last updated: <span class="govuk-!-font-weight-bold">22 March 2024</span></li>
                <li>Prototype version: {{releaseVersion}}</li>
            </ul>

            <div class="govuk-inset-text">

                <p>This is the version of the prototype for use with other services to allow them to make use of the prototype screens.</p>
            </div>

            <p>The main Defra customer identity prototype can be found at <a class="govuk-link" href="https://defra-id-93d762793c0e.herokuapp.com/" target="_blank">this URL</a>.</p>
        
           

        </div>    
    </div>


{% endblock %}
