{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Defra Identity Management" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <ul class="govuk-list govuk-body-s">

          	    <li>Last updated: 29 March 2023</li>
                <li>Prototype version: {{releaseVersion}}</li>
            </ul>

        </div>
    </div>

    <div class="govuk-grid-row">


        <div class="govuk-grid-column-two-thirds">
            <p>This service will help users:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                <li class="govuk-body">create a single set of sign-in credentials that can be used to access one or more Defra services.</li>
                <li class="govuk-body">store information about the user (and their business, if relevant).</li>
                <li class="govuk-body">give other people (for example colleagues or agents) access to one or more of the online services they use.</li>
            </ul>


            <h2 class="govuk-heading-m">Current user flows <span class="govuk-body-s">V2.0</span></h2>

            <div class="govuk-button-group">
                <form action="/preload" method="post" >
                    <input type="hidden" name="flow" id="flow" value="Registration" />
                    <input type="hidden" name="flowVersion" id="flowVersion" value="current" />
                    <input type="hidden" name="serviceName" id="serviceName" value="coreDefault" />
                    <input type="hidden" name="companySize" id="companySize" value="20" />
                    {{ govukButton({
                        text: "Register for Defra Identity"
                    }) }}
                </form>
                <form action="/preload" method="post" >
                    <input type="hidden" name="flow" id="flow" value="Authentication" />
                    <input type="hidden" name="flowVersion" id="flowVersion" value="current" />
                    <input type="hidden" name="serviceName" id="serviceName" value="coreDefault" />
                    <input type="hidden" name="companySize" id="companySize" value="20" />
                    <input type="hidden" name="interSwitch" id="interSwitch" value="Yes" />

                    
                    {{ govukButton({
                        text: "Authentication and verification",
                        classes: "govuk-!-margin-left-1"
                    }) }}
                </form>
            </div>
            <!-- <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                <li>MFA with phone number verification only</li>
                <li>MFA via email</li>
                <li>MFA switching (sms/email)</li>
                <li>Exit pages</li>
            </ul> -->


            

            <h2 class="govuk-heading-m">Archived flows <span class="govuk-body-s">V1.0</span></h2>

            <!-- Get this linking the correct way fro preload -->
            {# <p><a href="mfa/scenarios">Register for an account/authenitcate</a> #}
            <div class="govuk-button-group">
                <form action="/preload" method="post" >
                    <input type="hidden" name="flow" id="flow" value="Registration" />
                    <input type="hidden" name="flowVersion" id="flowVersion" value="" />
                    {{ govukButton({
                        text: "Register for Defra Identity",
                        classes: "govuk-button--secondary"
                    }) }}
                </form>
                <form action="/preload" method="post" >
                    <input type="hidden" name="flow" id="flow" value="Authentication" />
                    <input type="hidden" name="flowVersion" id="flowVersion" value="" />
                    {{ govukButton({
                        text: "Authentication and verification",
                        classes: "govuk-!-margin-left-1",
                        classes: "govuk-button--secondary"
                    }) }}
                </form>
            </div>

            <ul class="govuk-list govuk-list--bullet">
                <li>Single number option</li>
                <li>Error message implementation</li>
                <li>Replaced 'links list' with radios component</li>
                <li>Accessible autocomplete added to core journey</li>
            </ul>
            


            <h2 class="govuk-heading-m">Annual Health and Welfare Review of livestock<span class="govuk-body-s"></span></h2>
            <p>Illustrates the journey flow for authentication for Annual Health and Welfare Review of livestock service in both applying and claiming states.</p>
            
                <form action="/preload" method="post" >
                    <input type="hidden" name="flow" id="flow" value="Authentication" />                    
                    <input type="hidden" name="serviceName" id="serviceName" value="vetsVisit" />    
                    <input type="hidden" name="companySize" id="companySize" value="20" />                    
                    
                    {{ govukButton({
                        text: "Continue with Authentication"                        
                    }) }}
                </form>
            



            {# Page listing buttons #}
    		{# {{ govukButton({
      			text: "Page listings",
      			href: "",
      			classes: "govuk-button--secondary govuk-!-margin-left-1"
    		}) }}

            {{ govukButton({
      			text: "Preload options",
      			href: "",
      			classes: "govuk-button--secondary govuk-!-margin-left-1"
    		}) }} #}


            {# <h2 class="govuk-heading-m">Register for a Defra account</h2>
            <ul class="govuk-list">
                <li class="govuk-link"><a href="/mfa-V2/gov-gateway/login" class="govuk-link--no-visited-state">User has Gov gateway account</a></li>
                <li class="govuk-link"><a href="/tasked/gov-gateway/login" class="govuk-link--no-visited-state">User has no Gov gateway account</a></li>
            </ul>

            <h2 class="govuk-heading-m">Authentication</h2>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Using SMS</h3>
            <ul class="govuk-list">
                <li class="govuk-link"><a href="/mfa-V2/core/gov-login1" class="govuk-link--no-visited-state">Single organisation</a></li>
                <li class="govuk-link"><a href="/mfa-V2/core/gov-login2" class="govuk-link--no-visited-state">Up to 20 organisations</a></li>
                <li class="govuk-link"><a href="/mfa-V2/core/gov-login3" class="govuk-link--no-visited-state">21 to 45 organisations</a></li>
                <li class="govuk-link"><a href="/mfa-V2/sms-switch-button/gov-login1" class="govuk-link--no-visited-state">User can authenticate with SMS or switch to email (secondary button)</a></li>
                <li class="govuk-link"><a href="/mfa-V2/sms-switch-link/gov-login1" class="govuk-link--no-visited-state">User can authenticate with SMS or switch to email (link)</a></li>
            </ul>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Using email address</h3>
            <ul class="govuk-list">
                <li class="govuk-link"><a href="/mfa-V2/core/verify-single-number?scenario=account-page" class="govuk-link--no-visited-state">Single organisation</a></li>
                <li class="govuk-link"><a href="/mfa-V2/core/verify-single-number?scenario=get-code-success-sc2" class="govuk-link--no-visited-state">Up to 20 organisations</a></li>
                <li class="govuk-link"><a href="/mfa-V2/core/verify-single-number?scenario=get-code-success-sc3" class="govuk-link--no-visited-state">21 - 45 organisations</a></li>
            </ul>


            <h2 class="govuk-heading-m">Forgot password</h2>
            <ul class="govuk-list">
                <li class="govuk-link"><a href="/password-V2/enter-email">Forgot password</a></li>
                <li class="govuk-link"><a href="/password-V2-2/enter-email">Forgot password (with verification and password on same page)</a></li>
            </ul> #}


        </div>
        <!-- End of two thirds column -->

         <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1" id="subsection-title">Assets </h2>
            <nav class="govuk-!-margin-bottom-7">
                <ul class="govuk-list">
                    <li><a href="https://github.com/defra-design/idm-prototype" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" >Github repository <span class="govuk-visually-hidden">(opens in new tab)</span></a></li>
                    <li><a href="https://app.mural.co/t/defraidmanagement4828/m/defraidmanagement4828/1651757057405/8de389e360d3ece2fb5b5adb455eb3fd376c13d5?sender=uc4759e9563ebe5260dd56933" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Mural - user journeys <span class="govuk-visually-hidden">(opens in new tab)</span></a></li>
                    <li><a href="https://www.figma.com/file/XRzsdo5usIj3oUBfQEinLJ/Identity-management-flows-'To-Be'?node-id=4%3A2804" rel="noreferrer noopener" class="govuk-link govuk-link--no-visited-state" target="_blank">Figma assets <span class="govuk-visually-hidden">(opens in new tab)</span></a></li>
                </ul>
            </nav>

            <h2 class="govuk-heading-s govuk-!-margin-bottom-1" id="subsection-title">Page error messages</h2>
            <nav class="govuk-!-margin-bottom-7">
                <ul class="govuk-list">
                    <li><a href="/error-pages" class="govuk-link govuk-link--no-visited-state">Version 2.0 <span class="govuk-visually-hidden">(opens in new tab)</span></a></li>
                    <li><a href="/error-pages-old" class="govuk-link govuk-link--no-visited-state">Version 1.0 <span class="govuk-visually-hidden">(opens in new tab)</span></a></li>
                </ul>
            </nav>
            <!-- Check these still exist and work -->
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1" id="subsection-title">Archived prototypes</h2>
            <nav class="govuk-!-margin-bottom-7">
                <ul class="govuk-list">
                    <li><a href="index_archived" class="govuk-link govuk-link--no-visited-state">All prototypes from 2021</a></li>
                    <li><a href="index-old" class="govuk-link govuk-link--no-visited-state">Older archived prototypes</a></li>
                </ul>
            </nav>


            <h2 class="govuk-heading-s govuk-!-margin-bottom-1" id="subsection-title">Other items</h2>
            <nav>
                <ul class="govuk-list">

                    <li><a href="back-office-journeys/sign-in" class="govuk-link govuk-link--no-visited-state">Update a page template <br>Sprint 74 | v1.0</a></li>
                </ul>
            </nav>




        </div>

        <div class="govuk-grid-column-two-thirds">





            <!-- {{ govukSummaryList({
                rows: [
                    {
                        key: { text: "Register for an account and authenticate" },
                        value: { html: '<ul class="govuk-list govuk-list--bullet">
                        <li>MFA with phone number verification only</li>
                        <li>MFA via email</li>
                        <li>MFA switching(sms/email)</li>
                        <li>Exist pages</li>
                    </ul>' },
                        actions: {
                            items: [
                                { href: "mfa-V2/scenarios", text: "View", visuallyHiddenText: "name" }
                            ]
                        }
                    },
                    {
                        key: { text: "Register for an account and authenticate" },
                        value: { html: '<ul class="govuk-list govuk-list--bullet">
                        <li>Single number option</li>
                                <li>Error message implementation</li>
                                <li>Replaced ’links list’ with radios component</li>
                                <li>Accessible autocomplete added to core journey</li>
                    </ul>' },
                        actions: {
                            items: [
                                { href: "mfa-V2/scenarios", text: "View", visuallyHiddenText: "name" }
                            ]
                        }
                    }
                    
                ]
                }) }}  -->









        </div>


    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-top-5">

    {# <p><a href="mfa/scenarios">Register for an account/authenitcate</a>
    <br>Sprint current | v2.0</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>MFA with phone number verification only</li>
        <li>MFA via email</li>
        <li>MFA switching(sms/email)</li>
        <li>Exist pages</li>
    </ul> #}


    {# <br>Sprint 67-75 | v1.0</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>Single number option</li>
        <li>Error message implementation</li>
        <li>Replaced 'links list' with radios component</li>
        <li>Accessible autocomplete added to core journey</li>
    </ul> #}


        </div>
    </div>

{% endblock %}
