{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Page listings" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">    

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }} 

        <p class="govuk-body-s">Last updated 22 January 2024</p>
        <p class="govuk-body govuk-!-margin-bottom-7">Some pages have dynamic content, so if using the links and not going through the flows that lead to each page, its not always possible to show the right content for all scenarios.</p>

    </div>
    <div class="govuk-grid-column-full">

            <!-- Register for an account -->
            {% set registerHtml %}                            
                {% include "includes/listings/register.html" %}
            {% endset -%}

            <!-- Third party registration and log in -->
            {% set thirdPartyHtml %}            
                {% include "includes/listings/thirdparty.html" %}
            {% endset -%}

            <!-- Account pages -->
            {% set accountHtml %}
                {% include "includes/listings/account.html" %}
            {% endset -%}

            {% set authenticationHtml %}
                {% include "includes/listings/authentication.html" %}
            {% endset -%}

            {% set servicesHtml %}
                {% include "includes/listings/iterations.html" %}            
            {% endset -%}

            <!-- Tabs -->
            {{ govukTabs({
                items: [
                    { label: "Register", id: "register", panel: { html: registerHtml } },    
                    { label: "Third party", id: "thirdParty", panel: { html: thirdPartyHtml } },    
                    { label: "Account", id: "account", panel: { html: accountHtml } },    
                    { label: "Authentication", id: "authentication", panel: { html: authenticationHtml } },
                    { label: "Services", id: "vetsVisit", panel: { html: servicesHtml } }                    
                ]
            }) }}

            <p><a class="govuk-link govuk-link--no-visited-state" href="/data">Data been stored as part of current session</a></p>


    </div>
</div>

{% endblock %}
