{% extends "layout.html" %}

{% set showBackLink = false %}
{% set serviceName = "Defra Identity Management " %}

{% set pageHeading = "Page listings " %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }} 

            <p class="govuk-body-s">Last updated 18 April 2023</p>
            <p class="govuk-body govuk-!-margin-bottom-7">Some pages have dynamic content, so if using the links and not going through the flows that lead to each page, its not always possible to show the right content for all scenarios.</p>

            {% set registrationHtml %}
            <!-- <h3 class="govuk-heading-m">Example heading</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link govuk-link--no-visited-state" href="#" >Name of page</a></li>                
            </ul> -->

            <p>Currently checking pages as lots of duplicates ( 10 May 2023 )</p>

            <h3 class="govuk-heading-m">Registration</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/about-data" >Your Defra account</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/add-address-manual" >What is the address?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/add-address-postcode" >What is the address?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/add-address-region" >Is the new address in the UK?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/add-address-type" >What kind of address do you want to add?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/add-charity-address-postcode" >What is the registered address?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/add-non-uk-address" >What is the non-UK address?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/add-organisation-addresses" >Would you like to add extra addresses to your organisation?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/change-organisation-type" >Are you registering as a business or an individual?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/charity-confirm" >Are these the correct charity details?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/charity-contact" >What are the main contact details for the charity?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/charity-name" >What is the registered charity name?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/charity-region" >Where is the charity registered?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/check-email" >Enter code to confirm your email address</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/check-your-answers" >Check your information</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/company-confirm" >Are these the correct registered company details?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/company-contact" >What are the main contact details for this registered company?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/company-lookup" >What is the Companies House number for the company you wish to register?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/company-registered-question" >Is your organisation registered with Companies House?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/confirmation" >Your Government Gateway user ID is</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/create-password" >Create a password</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/defra-help" >Help using Your Defra account</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/defra-redirect" >We are sending you to Defra to get help</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/email-address" >Enter your email address</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/email-confirmed" >Email address confirmed</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/extra-addresses" >Would you like to add extra addresses to your organisation?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/index" >Sign in using Government Gateway</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/individual-address-postcode" >What is your address?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/individual-check-your-answers" >Check your information</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/individual-contact" >What is your telephone number?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/individual-name" >What is your name?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/individual-security" >Create your security word</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/individual-select-new-address" >Select your address</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/login" >Sign in using Government Gateway</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/non-uk-address" >What is the non-UK address?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/non-uk-business-name" >What is the name of your business?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/non-uk-contact" >What are the main contact details for the business?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/organisation-type" >Are you registering as a business or an individual?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/organisation-UK-or-else" >Where is your organisation registered to trade?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/personal-contact" >What is your telephone number?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/personal-name" >What is your name?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/personal-security" >Create your security word</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/recovery-word-1" >Set up recovery for your sign in details</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/recovery-word-2" >Set up a recovery word</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/select-charity-address" >Select the address</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/select-new-address" >What is the address?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/sole-trader-or-charity" >Is this organisation a sole trader or a charity?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/task-list-page-about-you-details" >Your information</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/task-list-page-charity-details" >About the organisation you represent</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/task-list-page-company-details" >About the organisation you represent</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/task-list-page-non-uk-details" >About the organisation you represent</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/your-name" >What is your full name?</a></li>
                <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="/account/" >Text</a></li> -->
                
                
            </ul>


            <h3 class="govuk-heading-m">Account mangement</h3>
            <ul class="govuk-list govuk-list--bullet">
                
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/update-details" >Update your details</a></li>                
                

                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/account" >Defra account profile</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/add-address-manual" >What is the address?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/add-address-postcode" >What is the address?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/add-address-region" >Is the new address in the UK?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/add-address-type" >What kind of address do you want to add?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/add-non-uk-address" >What is the non-UK address?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/dashboard" >Dashboard - Big Company Ltd</a></li>
                <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/index" >Text</a></li> -->
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/organisation-details" >Organisation details</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/remove-address" >Are you sure you want to remove this address?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/reset-security-word" >Reset your security word</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/select-new-address" >What is the address?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/team-member" >Profile - Nicky Bidbod</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/team" >Manage team access</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/update-address" >Do you want to replace this address?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/update-company-email-address" >What is the email address for this registered company?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/update-company-phone-number" >What is the main telephone number for this registered company?</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/update-details" >Update your details</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/update-organisation-contact-details" >Update registered contact information</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage/update-organisation-details" >Update organisation details</a></li>
                
            </ul>

            <h3 class="govuk-heading-m">Footer</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link govuk-link--no-visited-state" href="/help?flow=Registration" >Help</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/privacy-notice?flow=Registration" >Privacy Notice</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/terms-and-conditions?flow=Registration" >Terms and conditions</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/cookies?flow=Registration">Cookies</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/accessibility?flow=Registration">Accessibility</a></li>
            </ul>            


            {% endset -%}

            {% set authenticationHtml %}

            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link govuk-link--no-visited-state" href="/sign-in?status=">Sign in using Government Gateway</a>
                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/authentication/verify-single-number?status=">How do you want to verify your identity?</a></li>                        
                            <h3 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-margin-top-3">Text message</h3>
                            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                                <li><a class="govuk-link govuk-link--no-visited-state" href="/authentication/verify?status=&verify-your-identity=send-sms">Verify your identity?</a>
                                <li><a class="govuk-link govuk-link--no-visited-state" href="/authentication/verify-multiple-numbers?status=&verify-your-identity=send-sms">Verify your identity? (multiple numbers)</a>
                                <li><a class="govuk-link govuk-link--no-visited-state" href="/authentication/get-code?status=&verify-your-identity=send-sms">Enter your verification code</a></li>
                            </ul>
                        
                            <h3 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-margin-top-3">Email</h3>
                            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                                <li><a class="govuk-link govuk-link--no-visited-state" href="/authentication/security-word?status=">Confirm your security word</a></li>
                                <li><a class="govuk-link govuk-link--no-visited-state" href="/authentication/verify?status=&verify-your-identity=send-email">Verify your identity?</a>
                                <li><a class="govuk-link govuk-link--no-visited-state" href="/authentication/get-code?status=&verify-your-identity=send-email">Enter your verification code</a></li>
                            </ul>                        
                        </li>                                        
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/authentication/business-not-listed?status=">There are no other organisations available for you to enrol</a></li>
                    </ul>                
                </li>                
            </ul>            

            <h3 class="govuk-heading-m">Issues with service</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link govuk-link--no-visited-state" href="/403-status?status=">Sorry, there is a problem with the service</a></li>                
                <li><a class="govuk-link govuk-link--no-visited-state" href="/unavailable?status=">Sorry, the service is unavailable</a></li>                                
            </ul>            

            <h3 class="govuk-heading-m">Footer</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link govuk-link--no-visited-state" href="/help?flow=">Help</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/privacy-notice?flow=">Privacy Notice</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/terms-and-conditions?flow=">Terms and conditions</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/cookies?flow=">Cookies</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/accessibility?flow=">Accessibility</a></li>

            </ul>            




            {% endset -%}

            {% set vetsVisitHtml %}
            
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link govuk-link--no-visited-state" href="/authentication/vets/start" >Apply for an annual health and welfare review of your livestock</a></li>                
                <li><a class="govuk-link govuk-link--no-visited-state" href="/authentication/vets/sign-in" >Sign in to annual health and welfare review of livestock</a>
                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/authentication/password/reset" >Reset your password</a>
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/authentication/vets/sign-in" >There are no businesses registered to this account</a></li>
                    </ul>                
                </li>                
                
                <li><a class="govuk-link govuk-link--no-visited-state" href="/authentication/select-your-business?companySize=20" >Choose a business</a></li>                
                <li><a class="govuk-link govuk-link--no-visited-state" href="/authentication/select-your-business?companySize=45" >Enter a business or its single business identifier (SBI)</a></li>                
                
            </ul>            
            {% endset -%}

            <!-- Tabs -->
            {{ govukTabs({
                items: [
                    { label: "Registration", id: "registration", panel: { html: registrationHtml } },    
                    { label: "Authentication", id: "authentication", panel: { html: authenticationHtml } },
                    { label: "Vets Visit", id: "vetsVisit", panel: { html: vetsVisitHtml } }
                    
                ]
            }) }}

            <p><a class="govuk-link govuk-link--no-visited-state" href="/data">Data been stored as part of current session</a></p>


    </div>
</div>

{% endblock %}
