{% extends "layouts/main.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Creating a Defra account - Do you live in the UK?
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Create a Defra account</span>

      <form class="form" action="/postcode" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "changedName",
          fieldset: {
            legend: {
              text: "Do you live in the UK?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
