{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "{Service Name}" %}

{% set pageHeading = "Sorry, there is a problem using the invitation link" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
        
        <div class="govuk-inset-text">
            <p>This device is currently signed in to Defra online services.</p>
        </div>
        <p>This could be because:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>you are signed in to an account you already use</li>
            <li>you are using a shared device, and another device user is signed in</li>
            
            
        </ul>
        <!-- <p>To use the invitation link you need to sign this device out of Defra online services first. </p>
        <p><a href="#">Sign out</a></p> -->


        <p>To use the invitation link, you will need to <a href="/signed-out">sign this device out</a>  of Defra online services, then try using the email link again.</p>
        

        
    </div>    
</div>


{% endblock %}
