{% extends "/layouts/main.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Defra customer identity" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-5">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <ul class="govuk-list govuk-body-s">
          	    <li>Last updated: <span class="govuk-!-font-weight-bold">28 June 2024</span></li>
                <li>Prototype version: {{releaseVersion}}</li>
            </ul>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            
            
                
            <h2 class="govuk-heading-m">Register for a Defra account</h2>
            <ul class="govuk-list">
                <li class="govuk-link"><a href="/mfa-V2/gov-gateway/login" class="govuk-link--no-visited-state">User has Gov gateway account</a></li>
                <li class="govuk-link"><a href="/tasked/gov-gateway/login" class="govuk-link--no-visited-state">User has no Gov gateway account</a></li>
            </ul>

            <h2 class="govuk-heading-m">Authentication</h2>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Using SMS</h3>
            <ul class="govuk-list">
                <li class="govuk-link"><a href="/mfa-V2/core/gov-login1" class="govuk-link--no-visited-state">Single organisation</a></li>
                <li class="govuk-link"><a href="/mfa-V2/core/gov-login2" class="govuk-link--no-visited-state">Up to 20 organisations</a></li>
                <li class="govuk-link"><a href="/mfa-V2/core/gov-login3" class="govuk-link--no-visited-state">21 to 45 organisations</a></li>
                <li class="govuk-link"><a href="/mfa-V2/sms-switch-button/gov-login1" class="govuk-link--no-visited-state">User can authenticate with SMS or switch to email (secondary button)</a></li>
                <li class="govuk-link"><a href="/mfa-V2/sms-switch-link/gov-login1" class="govuk-link--no-visited-state">User can authenticate with SMS or switch to email (link)</a></li>
            </ul>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Using email address</h3>
            <ul class="govuk-list">
                <li class="govuk-link"><a href="/mfa-V2/core/verify-single-number?scenario=account-page" class="govuk-link--no-visited-state">Single organisation</a></li>
                <li class="govuk-link"><a href="/mfa-V2/core/verify-single-number?scenario=get-code-success-sc2" class="govuk-link--no-visited-state">Up to 20 organisations</a></li>
                <li class="govuk-link"><a href="/mfa-V2/core/verify-single-number?scenario=get-code-success-sc3" class="govuk-link--no-visited-state">21 - 45 organisations</a></li>
            </ul>
            <h2 class="govuk-heading-m">Forgot password</h2>
            <ul class="govuk-list">
                <li class="govuk-link"><a href="/password-V2/enter-email">Forgot password</a></li>
                <li class="govuk-link"><a href="/password-V2-2/enter-email">Forgot password (with verification and password on same page)</a></li>
            </ul> 
       
        </div>
        


        <!-- End of two thirds column -->

        <div class="govuk-grid-column-one-third">

           
            
        </div>
    </div>

    

{% endblock %}
