{% extends "layout.html" %}

{% set serviceName = "Defra account" %}

{% set title = "Which account do you want to sign into UK Reach with?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="POST" action="companieshouse-choice">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-3">
                {{ title }}
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="representation1" name="defraIdCompaniesHouse" type="radio" value="representation1">
                <label class="govuk-label govuk-radios__label" for="representation1">
                  <span class="govuk-!-font-weight-bold">Sam Woods</span><br>
                  Reach reader
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="representation2" name="defraIdCompaniesHouse" type="radio" value="representation2">
                <label class="govuk-label govuk-radios__label" for="representation2">
                  <span class="govuk-!-font-weight-bold">Big Company Ltd employee</span><br>
                  Reach manager
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="representation2" name="defraIdCompaniesHouse" type="radio" value="representation2">
                <label class="govuk-label govuk-radios__label" for="representation2">
                  <span class="govuk-!-font-weight-bold">Middle Company Co. intermediary</span><br>
                  Reach manager (approval pending)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="representation2" name="defraIdCompaniesHouse" type="radio" value="representation2">
                <label class="govuk-label govuk-radios__label" for="representation2">
                  <span class="govuk-!-font-weight-bold">Small Company Ltd intermediary</span><br>
                  Reach manager
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="representation2" name="defraIdCompaniesHouse" type="radio" value="representation2">
                <label class="govuk-label govuk-radios__label" for="representation2">
                  <span class="govuk-!-font-weight-bold">Other Company Limited intermediary</span><br>
                  Requested access
                </label>
              </div>
              <p class="govuk-body">Or</p>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="representation2" name="defraIdCompaniesHouse" type="radio" value="representation2">
                <label class="govuk-label govuk-radios__label" for="representation2">
                  Request access with another account
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{govukButton({
          text: "Continue"
        })}}

      </form>

    </div>
</div>

{% endblock %}
