{% extends "layouts/main.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Creating a Defra account - Enter postcode
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Create a Defra account</span>
        What is your postcode?
      </h1>

      <form class="form" action="/select-address" method="post">

      {{ govukInput({
        label: {
        text: "Enter a UK postcode, such as AA1 2CD"
      },
        id: "first-name",
        name: "firstName"
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "UK address look up"
        }) }}

        <a class="govuk-link" href="#">Enter address manually</a>
      </div>

      </form>

    </div>
  </div>

{% endblock %}
