{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
<!-- Name check - what do we actually call ourselves -->
{% set serviceName = "Customer Identity" %}

<!-- Check if registration or authentication flow -->
{% if data['userFlow'] == "Registration" %}
    {% set pageHeading = "Preload data" %}
{% elif data['userFlow'] == "Authentication" %}
    {% set pageHeading = "Preload data" %}
{% endif %}

<!-- Check if using anything other than the core service -->
{% if data['serviceFlow'] == "vetsVisit" %}  
    {% set pageSection = "Get funding to improve animal health and welfare" %}
{% else %}
    {% if data['userFlow'] == "Registration" %}
        {% set pageSection = "Register a Defra account" %}
    {% elif data['userFlow'] == "Authentication" %}
        {% set pageSection = "Sign in/Authentication" %}
    {% endif %}
{% endif %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading, pageSection) }}
        
        <!-- // Registration flow // -->
        {% if data['userFlow'] == "Registration" %}
            
            {% include "includes/preload/registration.html" %}
        
        <!-- // Authentication flow // -->
        {% elif data['userFlow'] == "Authentication" %}
            
            {% include "includes/preload/authentication.html" %}
            <!-- Commented out at present as its been pushed back to 2025 -->
            <!-- {% include "includes/preload/oneLogin.html" %} -->

        {% endif %}

    </div>
</div>
{% endblock %}
