{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Preload prototype with user data" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{ macroPageHeader.pageHeader(pageHeading, pageSection) }}



      {% if data['flow'] == "Registration" %}

        <form class="form" action="/mfa-V2/gov-gateway/login" method="post" class="">

          {{ govukCheckboxes({
              fieldset: { legend: { text: "User has Government Gateway account", isPageHeading: false, classes: "govuk-visually-hidden" } },
              items: [ { value: "Yes", text: "User has Government Gateway account" } ]
          } | decorateFormAttributes('GovernmentGatewayAccount')) }}


          {{ govukRadios({
            classes: "govuk-radios--inline",
            fieldset: {
              legend: { text: "User has Government Gateway account", isPageHeading: false, classes: "govuk-fieldset__legend--m"  }
            },
            items: [
                { value: "Yes", text: "Yes" },
                { value: "No, redirect(/tasked/gov-gateway/login)", text: "No" }
            ]
          } | decorateFormAttributes('siteEntry')) }}

        {% elif data['flow'] == "Authentication" %}

            <form class="form" action="/mfa-V2/core/gov-login" method="post" >

            {{ govukRadios({
            classes: "govuk-radios--inline",
            fieldset: {
              legend: { text: "Method of authentication", isPageHeading: false, classes: "govuk-fieldset__legend--m"  }
            },
            items: [
                { value: "SMS", text: "SMS" },
                { value: "Email, redirect(/mfa-V2/core/verify-single-number)", text: "Email" }
            ]
          } | decorateFormAttributes('authenticationMethod')) }}


            {{ govukCheckboxes({
                idPrefix: "securityWordChanged",
                classes: "govuk-checkboxes--small",
                name: "securityWordChanged",
                items: [
                    { value: "Yes", text: "Security word has changed", checked: checked("securityWordChanged", "Yes")}
                ]
            }) }}


          {{ govukRadios({
            classes: "govuk-radios--inline",
            fieldset: {
              legend: { text: "Size of company", isPageHeading: false, classes: "govuk-fieldset__legend--m"  }
            },
            items: [
                { value: "Single", text: "Single" },
                { value: "20", text: "Up to 20" },
                { value: "45", text: "21 to 45" }
            ]
          } | decorateFormAttributes('companySize')) }}


        <h3 class="govuk-heading-m">Interswitch</h3>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">

                    {{ govukCheckboxes({
                        idPrefix: "interSwitch",
                        classes: "govuk-checkboxes--small",
                        name: "interSwitch",
                        items: [
                            { value: "Yes", text: "Interswitch", checked: checked("interSwitch", "Yes")}
                        ]
                    }) }}

                </div>
                <div class="govuk-grid-column-one-half">

                    {{ govukCheckboxes({
                        idPrefix: "interSwitchSize",
                        classes: "govuk-checkboxes--small",
                        name: "interSwitchSize",
                        items: [
                            { value: "Single", text: "Only 1 extra business for enrollment", checked: checked("interSwitchSize", "Single")}
                        ]
                    }) }}

                </div>
            </div>


        {% else %}

        {% endif %}

        {{ govukButton({
          text: "Add preloaded information and continue"
        }) }}

      </form>

    </div>
</div>
{% endblock %}
