{% extends "layout.html" %}
{% set showBackLink = false %}
{% set serviceName = "" %}

{% if data['serviceFlow'] == "vetsVisit" %}  
    {% set pageHeading = "Annual Health and Welfare Review of livestock" %}
{% else %}
    {% set pageHeading = "Core service (default)" %}
{% endif %}

{% if data['userFlow'] == "Registration" %}
    {% set pageSection = "Preload registration data" %}
{% elif data['userFlow'] == "Authentication" %}
    {% set pageSection = "Preload authentication data" %}
{% endif %}


{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        {{ macroPageHeader.pageHeader(pageHeading, pageSection) }}
        
        <!-- // Registration flow // -->
        {% if data['userFlow'] == "Registration" %}

            {% if data['serviceFlow'] == "vetsVisit" %}      
            <form class="form" action="/authentication/vets/start" method="post" >            
            {% else %}        
            <form class="form" action="/service-start-page" method="post" class="">
            {% endif %}

                <!-- {{ govukCheckboxes({
                    fieldset: { legend: { text: "User has Government Gateway account", isPageHeading: false, classes: "govuk-visually-hidden" } },
                    items: [ { value: "Available", text: "User can choose One Login for authentication" } ]
                } | decorateFormAttributes('oneLogin')) }} -->        

                {% if data['serviceFlow'] == "vetsVisit" %}      

                    <p>There are no override options available for this service as part of registration.</p>

                {% else %}

                    <h3 class="govuk-heading-m">Service feature options</h3>
                    {{ govukCheckboxes({
                        fieldset: { legend: { text: "Service does not allow NON-uk business", isPageHeading: false, classes: "govuk-visually-hidden" } },
                        items: [ { value: "No", text: "Business must be registered to trade in UK or individual must have UK address" } ]
                    } | decorateFormAttributes('regNonUk')) }}


                    <h3 class="govuk-heading-m">GOV.UK One Login</h3>                                        

                    {{ govukCheckboxes({
                        fieldset: { legend: { text: "OneLogin", isPageHeading: false, classes: "govuk-visually-hidden" } },                        
                        items: [ { value: "Yes", text: "Allow users to register using the new GOV.UK One Login ( Experimental )" } ]
                    } | decorateFormAttributes('useOneLogin')) }}

                    <p>Various variations of this whilst we undertake discovery and research about how best to implement.</p>
                    {{ govukRadios({
                        fieldset: { legend: { text: "User has Government Gateway account", isPageHeading: false, classes: "govuk-visually-hidden" } },
                        classes: "govuk-checkboxes--small",  
                        items: [ 
                            { value: "variationFour", text: "Current default solution", checked: ("oneLoginVariation", "variationFour") },    
                            { value: "variationOne", text: "Buttons" },
                            { value: "variationTwo", text: "Radio buttons" },
                            { value: "variationThree", text: "Listed" }
                            
                        ]
                    } | decorateFormAttributes('oneLoginVariation')) }}
                
                
                    <!-- {{ govukCheckboxes({
                        fieldset: { legend: { text: "User has Government Gateway account", isPageHeading: false, classes: "govuk-visually-hidden" } },
                        items: [ { value: "Yes", text: "User does not have Government Gateway account" } ]
                    } | decorateFormAttributes('GovernmentGatewayAccount')) }} -->
                
                {% endif %}                
                <!-- // End of Registration flow // -->
        
        
        <!-- // Authentication flow // -->        
        {% elif data['userFlow'] == "Authentication" %}

            <!-- Start page flow depending on service -->            
            {% if data['serviceFlow'] == "vetsVisit" %}      
            <form class="form" action="/authentication/vets/start" method="post" >            
            {% else %}
            <form class="form" action="/service-start-page" method="post" >            
            {% endif %}        
            <!-- Old variation -->
            <!-- <form class="form" action="/archived/mfa/gov-gateway/login-v2" method="post" class=""> -->

                <h3 class="govuk-heading-m">One Login</h3>
                <p>Let your users sign in to your service with One Login.</p>        

                <div class="mspace">
                    {{ govukCheckboxes({
                        fieldset: { legend: { text: "User has Government Gateway account", isPageHeading: false, classes: "govuk-visually-hidden" } },
                        classes: "govuk-checkboxes--small",  
                        items: [ { value: "Yes", text: "One Login as option for authentication" } ]
                    } | decorateFormAttributes('useOneLogin')) }}
                </div>
                <div class="mspace">
                    {{ govukCheckboxes({
                        fieldset: { legend: { text: "Version", isPageHeading: false, classes: "govuk-visually-hidden" } },
                        classes: "govuk-checkboxes--small",  
                        items: [ { value: "version2", text: "Use version 2" } ]
                    } | decorateFormAttributes('oneLoginVersion')) }}
                </div>
                    {{ govukCheckboxes({
                        fieldset: { legend: { text: "Version", isPageHeading: false, classes: "govuk-visually-hidden" } },
                        classes: "govuk-checkboxes--small",  
                        items: [ { value: "version3", text: "Use version 3" } ]
                    } | decorateFormAttributes('oneLoginVersion')) }}
                
                <!-- // Service Specific // -->
                <!-- // Annual Health and Welfare Review of livestock // -->
                {% if data['serviceFlow'] != "vetsVisit" %}      
                    
                <h3 class="govuk-heading-m">Authentication options</h3>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">    
                        <div class="mspace">
                        {{ govukCheckboxes({                            
                            classes: "govuk-checkboxes--small",                            
                            items: [
                                { value: "Yes", text: "MFA via email disabled", checked: checked("mfaEmailDisabled", "Yes")}
                            ]
                        } | decorateFormAttributes('mfaEmailDisabled')) }}
                        </div>
                        <div class="mspace">
                        {{ govukCheckboxes({                            
                            classes: "govuk-checkboxes--small",                            
                            items: [
                                { value: "Yes", text: "MFA via SMS disabled", checked: checked("mfaSmsDisabled", "Yes")}
                            ]
                        } | decorateFormAttributes('mfaSmsDisabled')) }}
                        </div>
                        {{ govukCheckboxes({                            
                            classes: "govuk-checkboxes--small",                            
                            items: [
                                { value: "Yes", text: "MFA via Email and SMS disabled", checked: checked("mfaDisabled", "Yes")}
                            ]
                        } | decorateFormAttributes('mfaDisabled')) }}
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <div class="mspace">
                            {{ govukCheckboxes({                                
                                classes: "govuk-checkboxes--small",                                
                                items: [
                                    { value: "Yes", text: "Multiple phone numbers on account", checked: checked("multiplePhoneNumber", "Yes")}
                                ]
                            } | decorateFormAttributes('multiplePhoneNumber')) }}
                        </div>    
                        {{ govukCheckboxes({                                
                            classes: "govuk-checkboxes--small",                                
                            items: [
                                { value: "Yes", text: "Security word has changed", checked: checked("securityWordChanged", "Yes")}
                            ]
                        } | decorateFormAttributes('securityWordChanged')) }}
                    </div>
                </div>                            
            {% endif %}
                
            <!-- Organisation registered to choose from -->
            <!-- //////////////////////////////////////////////////////////// -->
            {% if data['serviceFlow'] == "vetsVisit" %}   

                {{ govukRadios({     
                    classes: "govuk-radios--inline",               
                    fieldset: {
                        legend: { text: "Businesses registered on rural payments account", isPageHeading: false, classes: "govuk-fieldset__legend--m"  }
                    },
                    items: [
                        { value: "None", text: "None", checked: checked("companySize", "None") },    
                        { value: "Single", text: "One", checked: checked("companySize", "Single") },
                        { value: "20", text: "Up to 20", checked: checked("companySize", "20") },
                        { value: "45", text: "More than 20", checked: checked("companySize", "45") }
                    ]
                } | decorateFormAttributes('companySize')) }}

            {% else %}

                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    fieldset: {
                        legend: { text: "Organisations or businesses registered to account", isPageHeading: false, classes: "govuk-fieldset__legend--m"  }
                    },
                    items: [
                        { value: "Single", text: "Single" },
                        { value: "20", text: "Up to 20", checked: checked },
                        { value: "45", text: "More than 20" }
                    ]
                } | decorateFormAttributes('companySize')) }}

            {% endif %}
            <!-- ////////////////// End of business or organisation totals /////////////////////////// -->
            
            <!-- Interswitch -->
            <!-- //////////////////////////////////////////////////////////// -->
            {% if data['serviceFlow'] != "vetsVisit" %}      
            <h3 class="govuk-heading-m">Interswitch options</h3>            
            <div class="govuk-grid-row">                
                <div class="govuk-grid-column-one-half">
                    
                    <div class="mspace">
                    {{ govukCheckboxes({                        
                        classes: "govuk-checkboxes--small",                        
                        items: [
                            { value: "Single", text: "Only 1 organisation available for enrolment", checked: checked("interSwitchSize", "Single")}
                        ]
                    } | decorateFormAttributes('interSwitchSize')) }}
                    </div>

                    {{ govukCheckboxes({                        
                        classes: "govuk-checkboxes--small",                        
                        items: [
                            { value: "Yes", text: "Shows citizen only option for enrolment", checked: checked("citizenEnrol", "Yes")}
                        ]
                    } | decorateFormAttributes('citizenEnrol')) }}

                </div>
            </div>
            {% endif %}
            <!-- ////////////////// End of interswitch /////////////////////////// -->            

        {% endif %}
        
            {% if ((data['userFlow'] == "Registration" ) and (data['serviceFlow'] == "vetsVisit" )) %}      
                {{ govukButton({
                    text: "Continue"
                }) }}
            {% else %}
                {{ govukButton({
                    text: "Add preloaded data and continue"
                }) }}
            {% endif %}

        </form>

    </div>
</div>
{% endblock %}
