{% extends "layout.html" %}

{% set title = "Privacy notice: how we use your personal information" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{title}}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-inset-text">
      <p class="govuk-body">This notice was last updated on [date].</p>
    </div>
      <p class="govuk-body">We are the Department for Environment, Food & Rural Affairs (Defra) and we run the Use Defra online service.</p>
      <p class="govuk-body">Our <a href=”https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs/about/personal-information-charter”>personal information charter</a> explains how we deal with your information. It also explains how you can ask to view, change or remove your information from our databases.</p>

      <h2 class="govuk-heading-m">How Government Gateway works with our online services</h2>
      <p class="govuk-body">We ask you to use or create a Government Gateway user ID and password when you register to use this online service. That means you will interact with two different government departments during your registration process:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>HMRC runs Government Gateway</li>
        <li>Defra collects and stores some information about you and how you want to use our services</li>
      </ul>

      <h2 class="govuk-heading-m">The data we need</h2>
      <p class="govuk-body">The personal information collected by Defra includes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your name, address(es), email address and telephone number(s)</li>
        <li>questions you ask or feedback you leave, including your email address if you contact us</li>
        <li>your Internet Protocol (IP) address, and details of which version of web browser you use</li>
        <li>information on how you use the site, using cookies and analytics [link to cookies page]</li>
      </ul>

      <p class="govuk-body">We are allowed to process your data because we have official authority as the UK government department responsible for safeguarding our natural environment, supporting our food and farming industry, and sustaining our rural economy. The legal basis for processing this data is to perform a task in the public interest that is set out in law.</p>
      <p class="govuk-body">If you do not give us this data we will not be able to process your registration to use the Use Defra online service.</p>

      <h2 class="govuk-heading-m">What we do with your data</h2>
      <p class="govuk-body">We use this personal data to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Create your sign in details</li>
      </ul>

      <p class="govuk-body">When you create these sign in details, we will share your personal information with the [name of consuming service] service.</p>
      <p class="govuk-body">We do not use your data to make an automated decision or for automated profiling.</p>
      <p class="govuk-body">We may use the personal information you give us to contact you about our service. We will not contact you with any marketing information.</p>

      <h2 class="govuk-heading-m">How long the Use Defra online service will keep your data</h2>
      <p class="govuk-body">You will start the registration process by signing in with your Government Gateway account, or creating a new Government Gateway account. If you do not finish the online service registration process after that, we will delete your information from our database 3 days after you last signed in.</p>
      <p class="govuk-body">Once you complete the online service registration process, we will keep your personal data for [include IDM retention policy dates here]. If you wish to update any of the information that we hold on you please contact [email].</p>

      <h2 class="govuk-heading-m">Where your data is processed and stored</h2>
      <p class="govuk-body">We transfer your data through [server information].</p>
      <p class="govuk-body">We will not share your data with anyone else outside of Defra or related agencies and public bodies without your consent.</p>
      <p class="govuk-body">The data will not be transferred outside the European Economic Area.</p>

{{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

</div>

{% endblock %}
