{% extends "layout.html" %}

{% set title = "Privacy notice: how we use your personal information" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{title}}
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-inset-text">
      <p class="govuk-body">This notice was last updated on 03/04/2019.</p>
    </div>
    <p class="govuk-body">The Department for Environment, Food and Rural Affairs (including its agencies and public bodies) has a duty to protect the public funds it administers, and to this end may use the information provided by its customers and suppliers for the prevention and detection of fraud. It may also share this information with other bodies responsible for auditing or administering public funds for these purposes. </p>
    <h2 class="govuk-heading-m">Purpose of this Privacy Notice</h2>
    <p class="govuk-body">This notice is provided within the context of the changes required by the Article 13 & 14 of EU General Data Protection Regulation (GDPR) and the Data Protection Act 2018 (DPA). This notice sets out how we will use your personal data as part of our legal obligations with regard to Data Protection.</p>

    <p class="govuk-body"><a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs/about/personal-information-charter">Our personal information charter explains how we deal with your information. It also explains how you can ask to view, change or remove your information from our databases.</a></p>

    <h2 class="govuk-heading-m">Why you need to create a new set of sign in details</h2>
    <p class="govuk-body">We ask you to create a single set of sign in details to save you time. You will be able to use them to register with and access a number of different services provided by Defra and our related agencies and public bodies. We will store basic information about you (and your business, if relevant) so that you do not have to re-enter the information each time you want to use a new online service. </p>

    <p class="govuk-body">If you have administrator access, you will also be able to give other people (for example colleagues or agents you work with) access to one or more of the online services you use. </p>

    <p class="govuk-body">Your information will be shared with all the administrators associated with your account in order for them to manage the access to one or more of the online services you use.</p>

    <p class="govuk-body">When you create your new sign in details and register for Your Defra account, you will interact with two different government departments:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>HMRC to create a Government Gateway account (unless you already have one, in which case you will be directed to sign in)</li>
      <li>Defra to create your new sign in details and register for Your Defra account.</li>
    </ul>



    <h2 class="govuk-heading-m">Who is collecting my data? </h2>

    <p class="govuk-body">The Department for Environment, Food and Rural Affairs including its agencies and public bodies is collecting your data. </p>
    <p class="govuk-body">This is a specific privacy notice on the collection and processing of personal data as part of the Your Defra account.</p>
    <p class="govuk-body">In order to provide these services, we may need to process some personal data, including:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your name, address(es), email address and telephone number(s)</li>
    	<li>questions, queries or feedback you leave, including your email address if you contact us</li>
    	<li>your Internet Protocol (IP) address, and details of which version of web browser you use</li>
    	<li>information on how you use the site, using cookies and analytics [link to cookies page]</li>
    </ul>

    <p class="govuk-body">We are allowed to process your data because we have official authority as the UK government department responsible for safeguarding our natural environment, supporting our food and farming industry, and sustaining our rural economy. The legal basis for processing this data is to perform a task in the public interest that is set out in law.</p>

    <p class="govuk-body">If you do not give us this data we will not be able to process your registration and you will not be able to use the Defra and our related agencies, services.</p>

    <h2 class="govuk-heading-m">What we do with your data</h2>
    <p class="govuk-body">We use this personal data to create your sign in details.</p>
    <p class="govuk-body">We will share some or all of this data with Defra and our related agencies, so that you don’t have to provide it again.  The processing done by the service which you request and are given access too will be covered with a privacy notice specific to how they will manage your data which you will be provided with when you are given access.</p>
    <p class="govuk-body">When you create these sign in details, we will share your personal information with Defra and our related agencies.We do not use your data to make an automated decision or for automated profiling.</p>
    <p class="govuk-body">We do not use your data to make an automated decision or for automated profiling.</p>
    <p class="govuk-body">We may use the personal information you give us to contact you about our service. We will not contact you with any marketing information.</p>

    <h2 class="govuk-heading-m">Where is your data is processed and stored</h2>

    <p class="govuk-body">We transfer your data through:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Azure Web App Firewall</li>
      <li>Azure App Gateway</li>
      <li>Our Identity App</li>
      <li>Azure Cosmos</li>
      <li>SCP</li>
      <li>B2C</li>
      <li>Dynamics[server information].</li>
      <li>The data will not be transferred outside the European Economic Area.</li>
    </ul>


    <h2 class="govuk-heading-m">Legal obligation to process your data</h2>
    <p class="govuk-body">Processing your personal data is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the data controller.</p>
    <p class="govuk-body">The National Fraud Initiative is conducted using the data matching powers bestowed on the Minister for the Cabinet Office by Part 6 of the Local Audit and Accountability Act 2014 (LAAA). View further information on the <a href="https://www.gov.uk/government/publications/fair-processing-national-fraud-initiative/fair-processing-level-3-full-text">Cabinet Office’s legal powers and the reasons why it matches particular information.</a></p>
    <p class="govuk-body">The Cabinet Office conducts data matching exercises to assist in the prevention and detection of fraud. The processing of data by the Cabinet Office in a data matching exercise is carried out with statutory authority under its powers in Part 6 of the Local Audit and Accountability Act 2014.</p>
    <p class="govuk-body">Our legal basis for processing your criminal convictions data is paragraphs 6 and 10 of schedule 1 to the Data Protection Act 2018.</p>
    <p class="govuk-body">Additional acts of law provide a duty to process information, these include: The EU Public Contracts Directive 2014, the Public Contracts Regulations 2015 and the Transparency Code 2015</p>

    <h2 class="govuk-heading-m">Who can see your data</h2>
    <p class="govuk-body">Your personal data will be shared by us with all Government services that you can request access for via Your Defra account, bodies charged with a monitoring or inspection task in application of EU/UK law (e.g. internal audits, IT testing,) and as necessary for the purposes of preventing and detecting fraud with other participants taking part in the NFI as listed on <a href="https://www.gov.uk/government/publications/fair-processing-national-fraud-initiative/fair-processing-level-3-full-text"> National Fraud Initiative privacy notice - GOV.UK</a></p>

    <h2 class="govuk-heading-m">International transfers</h2>
    <p class="govuk-body">No personal data will be transferred outside the European Economic Area (EEA)</p>

    <h2 class="govuk-heading-m">Data retention</h2>
    <p class="govuk-body">You will start the registration process by signing in with your Government Gateway account, or creating a new Government Gateway account. If you do not finish creating your sign in details after that, we will delete your information from our database 3 days after you last signed in.</p>

    <p class="govuk-body">Where you have been invited by another user and do not complete your registration we will delete your email address from our database within 30 days.</p>

    <p class="govuk-body">Where you have requested to be associated with an organisation and your association is not confirmed within 30 days, we will delete all your information from our database.</p>

    <p class="govuk-body">Once you complete the registration process, your personal data will be kept by Defra for the periods set out by the services which you interact with in Defra and related agencies and public bodies.</p>

    <h2 class="govuk-heading-m">What will happen if you don’t provide the data?</h2>
    <p class="govuk-body">Failure to provide the required information will mean that you are unable to use the services that Defra and related agencies and public bodies provide through Your Defra account.</p>

    <h2 class="govuk-heading-m">What are your rights?</h2>
    <p class="govuk-body">You have the right to request information about how your personal data is processed, and to request a copy of that personal data. You have the right to request that any inaccuracies in your personal data are rectified without delay. You have the right to request that any incomplete personal data is completed, including by means of a supplementary statement. You have the right to request that your personal data is erased if there is no longer a justification for it to be processed. You have the right in certain circumstances (for example, where accuracy is contested) to request that the processing of your personal data is restricted.</p>

    <p class="govuk-body">Where the processing is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the data controller (such as the exercise of a function of the Crown, a Minister of the Crown, or a government department, the exercise of a function conferred on a person by an enactment, the exercise of a function of either House of Parliament or the administration of justice) you have the right to object to the processing of your personal data.</p>

    <h2 class="govuk-heading-m">Complaints</h2>
    <p class="govuk-body">If you believe that your personal data has been misused or mishandled, you can may make a complaint to the Information Commissioner, who is an independent regulator. The Information Commissioner can be contacted at:</p>

    <p class="govuk-body">Information Commissioner's Office<br>
      Wycliffe House<br>
      Water Lane<br>
      Wilmslow <br>
      Cheshire<br>
      SK9 5AF <br>
      Telephone: 0303 123 1113<br>
      Email: casework@ico.org.uk</p>

    <p class="govuk-body">Any complaint to the Information Commissioner is without prejudice to your right to seek redress through the courts.</p>
    <p class="govuk-body"><a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/">https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/</a></p>

    <h2 class="govuk-heading-m">Contact details for the data controller </h2>
    <p class="govuk-body">The data controller for your personal data is Defra. The contact details for the data controller are:</p>
    <p class="govuk-body">Data Protection Manager for core-Defra
    Defra<br>
    Information Rights Team<br>
    1st Floor, NE Quarter<br>
    Seacole Block<br>
    2 Marsham Street<br>
    London<br>
    SW1P 4DF<br>
    Email: data.protection@defra.gov.uk</p>

    <p class="govuk-body">The contact details for the data controller’s Data Protection Officer (DPO) are:</p>
    <p class="govuk-body">DPO Department for the Environment, <br>
      Food and Rural Affairs<br>
       2 Marsham Street<br>
       L ondon <br>
       S1P 4DF </p>
    <p class="govuk-body">Email: DefraGroupDataProtectionOfficer@defra.gov.uk </p>


    <p class="govuk-body">This notice was last updated on 29/01/2019.</p>







      <p class="govuk-body">We are the Department for Environment, Food & Rural Affairs (Defra) and we run the Your Defra account service.</p>
      <p class="govuk-body">Our <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs/about/personal-information-charter"target="_blank">personal information charter (opens in a new tab)</a> explains how we deal with your information. It also explains how you can ask to view, change or remove your information from our databases.</p>

      <h2 class="govuk-heading-m">How Government Gateway works with our online services</h2>
      <p class="govuk-body">We ask you to use or create a Government Gateway user ID and password when you register to use this online service. That means you will interact with two different government departments during your registration process:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>HMRC runs Government Gateway</li>
        <li>Defra collects and stores some information about you and how you want to use our services</li>
      </ul>

      <h2 class="govuk-heading-m">The data we need</h2>
      <p class="govuk-body">The personal information collected by Defra includes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your name, address(es), email address and telephone number(s)</li>
        <li>questions you ask or feedback you leave, including your email address if you contact us</li>
        <li>your Internet Protocol (IP) address, and details of which version of web browser you use</li>
        <li>information on how you use the site, using cookies and analytics [link to cookies page]</li>
      </ul>

      <p class="govuk-body">We are allowed to process your data because we have official authority as the UK government department responsible for safeguarding our natural environment, supporting our food and farming industry, and sustaining our rural economy. The legal basis for processing this data is to perform a task in the public interest that is set out in law.</p>
      <p class="govuk-body">If you do not give us this data we will not be able to process your registration to use Your Defra account and related services.</p>

      <h2 class="govuk-heading-m">What we do with your data</h2>
      <p class="govuk-body">We use this personal data to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Create your sign in details</li>
      </ul>

      <p class="govuk-body">When you create these sign in details, we will share your personal information with the [name of consuming service] service.</p>
      <p class="govuk-body">We do not use your data to make an automated decision or for automated profiling.</p>
      <p class="govuk-body">We may use the personal information you give us to contact you about our service. We will not contact you with any marketing information.</p>

      <h2 class="govuk-heading-m">How long the Your Defra account service will keep your data</h2>
      <p class="govuk-body">You will start the registration process by signing in with your Government Gateway account, or creating a new Government Gateway account. If you do not finish the online service registration process after that, we will delete your information from our database 3 days after you last signed in.</p>
      <p class="govuk-body">Once you complete the online service registration process, we will keep your personal data for [include IDM retention policy dates here]. If you wish to update any of the information that we hold on you please contact [email].</p>

      <h2 class="govuk-heading-m">Where your data is processed and stored</h2>
      <p class="govuk-body">We transfer your data through [server information].</p>
      <p class="govuk-body">We will not share your data with anyone else outside of Defra or related agencies and public bodies without your consent.</p>
      <p class="govuk-body">The data will not be transferred outside the European Economic Area.</p>

{{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

</div>

{% endblock %}
