{% extends "layout.html" %}

{% set title = "Service name" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-nav-admin-task.html" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ data['serviceLine'] }}
      </h1>
      {{ govukWarningText({
        text: "Your registration request is complete and will now be reviewed."
      }) }}

      <p class="govuk-body">We will contact you by [email/telephone/letter] within [SLA timeframe] about your request to use this service.</p>

      {{ govukButton({
        text: "Sign out",
        href: "service-start-logged-out"
      }) }}

    </div>


  </div>

{% endblock %}
