{% extends "layout.html" %}

{% set title = "About the identity management service" %}

{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/breadcrumb-two-level.html" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        About the identity management (IDM) service
      </h1>
      <p>This service will help our users to create a single set of sign-in credentials that they can use to access one or more Defra services. This will save users time and effort.</p>
      <p>We will store important information about the user (and their business, if relevant) in the Dynamics database so that they do not have to re-enter it each time they want to use a new online service.</p>
      <p>It will also allow them to give other people (for example colleagues or agents they work with) access to one or more of the online services they use.
</p>
      <p class="govuk-body">The registration user journey flow:</p>

      <ol class="govuk-list govuk-list--number">
        <li>Starts on a specific service page (built and owned by the relevant service).</li>
        <li>Takes the user into the IDM service to select an account type.</li>
        <li>Asks the user to enter their existing Government Gateway account details, or leads them to the new SCP service to create a new Government Gateway ID.</li>
        <li>Brings the user back to the IDM service to provide details about themself and, if relevant, their business.</li>
        <li>Sends the user back into their chosen service to complete the required registration process.</li>
      </ol>

        {{ govukButton({
          text: "Start now",
          href: "start-login-create-new",
          classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
        }) }}

      <hr class="govuk-section-break--m">

      <p class="govuk-body">This prototype is being updated regularly.</p>


    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Subsection</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-body-s">
            <li><a href="#">Related link</a></li>
            <li><a href="#">Related link</a></li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
