{% extends "layout.html" %}

{% set title = "UK REACH-IT" %}

{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/breadcrumb-two-level.html" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
      {{ title }}      </h1>
      <p>Use this service to process and manage substance data and dossiers.</p>
      <p>You will also need to use this service to register a substance if you're a:</p>
      <div class="govuk-inset-text">
             <ul class="govuk-list govuk-list--bullet">
               <li>manufacturer  </li>
               <li>importer of substances</li>
               <li>'only representative' representing a manufacturer not in the UK</li>
               <li>article producer</li>
            </ul>
         </div>


      {% if data['userType'] == "new" %}
            {% set startURL = "/scp/login-new" %}
      {% endif %}

      {% if data['userType'] == "existing" %}
            {% set startURL = "/scp/login-existing" %}
      {% endif %}

      {{ govukButton({
        text: "Start now",
        href: startURL,
        classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      }) }}

      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">You will need:</p>

          <ul class="govuk-list govuk-list--bullet">
      <li>your own email address, phone number and postal address</li>
          </ul>

      <p class="govuk-body">If you are registering on behalf of a business or organisation, you will also need:</p>  

          <ul class="govuk-list govuk-list--bullet">
      <li>the main contact details for your business or organisation (for example, head office contact details)</li>

      <li>the Companies House number if you are registering on behalf of a limited company</li>
          </ul>


      <hr class="govuk-section-break--m">

      <p class="govuk-body">This prototype is being updated regularly.</p>


    </div>

   

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Subsection</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-body-s">
            <li><a href="guidance#inquiry">Prepare a substance inquiry</a></li>
            <li><a href="guidance#registration">Prepare a substance registration</a></li>
            <li><a href="guidance#notification">Prepare a PPORD notification</a></li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
