{% extends "layout.html" %}

{% set title = "Service name" %}

{% block header %}
  {% if data['service'] == "Imports" %}
    {{ govukHeader({ serviceName: "Imports" }) }}
  {% endif %}
  {% if data['service'] == "Chemicals" %}
    {{ govukHeader({ serviceName: "Chemicals" }) }}
  {% endif %}
  {% if data['service'] == "VMD" %}
    {{ govukHeader({ serviceName: "VMD" }) }}
  {% endif %}
  {% if data['service'] == "Exports" %}
    {{ govukHeader({ serviceName: "Exports" }) }}
  {% endif %}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {% if (data['userType'] == "new-complete-admin") or (data['userType'] == "new") %}
        {% include "includes/account-nav-admin-corp.html" %}
  {% endif %}

  {% if data['userType'] == "new-complete-standard" %}
        {% include "includes/account-nav-standard-account.html" %}
  {% endif %}

  {% if data['userType'] == "new-complete-agent" %}
        {% include "includes/account-nav-admin-agent-account.html" %}
  {% endif %}


{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ data['serviceLine'] }}
      </h1>

      {% from "inset-text/macro.njk" import govukInsetText %}

        {{ govukInsetText({
        text: "This is a Service page and shows example content."
      }) }}

      <p class="govuk-body">Please select which account you wish to work on today:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link govuk-link--no-visited-state" href="">Acme Org</a></li>
          <ul class="govuk-list govuk-list--indent">
            <li><a class="govuk-link govuk-link--no-visited-state" href="">Acme Org India</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="">Acme Org Thailand</a></li>
          </ul>
        <li><a class="govuk-link govuk-link--no-visited-state" href="">Importers RUS</a></li>
      </ul>

    </div>


  </div>

{% endblock %}
