{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "Defra account" %}

{% set pageHeading = "Register for a Defra account" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
        
      	<p class="govuk-body">To register for a Defra online service for the first time, you need to create a Defra account. Your Defra account lets you register with a range of online services from Defra and related organisations.</p>
		<p class="govuk-body">You may need to tell us:</p>
      	<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
			<li>your email address, phone number and postal address</li>
			<li>your Government Gateway user ID and password. If you do not have a Government Gateway account, we’ll help you to create one</li>
			<li>the main contact details for your business or organisation (for example, head office contact details)</li>
			<li>the Companies House number if the business or organisation is a limited company</li>        	
      	</ul>
				
			
		{% if data['useOneLogin'] == "Yes" %}
			<form class="form" action="/sign-in" method="post" >				
		{% else %}
			{% if data['trustedThirdParties'] == "Yes" %}	
				<form class="form" action="/sign-in" method="post" >
			{% else %}
				<form class="form" action="/gov-gateway/sign-in" method="post" >
			{% endif %}
		{% endif %}

		{{ govukButton({
			text: "Start now",			
			isStartButton: true
		}) }}
		
    	<h2 class="govuk-heading-m">Before you start</h2>
    	<p class="govuk-body">Vivamus efficitur turpis arcu, id hendrerit turpis convallis et. Sed massa sapien, scelerisque id nunc vitae, porta consequat lorem.</p>
		
		<h3 class="govuk-heading-s">If you need help using the service</h3>
		<p class="govuk-body">Vestibulum a orci ac <a href="#">nunc ultricies fringilla</a> sit amet eget massa.</p>
    
  	</div>
</div>    

{% endblock %}