{% extends "layout.html" %}

{% set title = "Service name" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {% if data['userType'] == "new-complete-admin" %}
        {% include "includes/account-nav-admin-corp.html" %}
  {% endif %}

  {% if data['userType'] == "new-complete-standard" %}
        {% include "includes/account-nav-standard-account.html" %}
  {% endif %}

  {% if data['userType'] == "new-complete-agent" %}
        {% include "includes/account-nav-admin-agent-account.html" %}
  {% endif %}


{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ data['serviceLine'] }}
      </h1>

      {% from "inset-text/macro.njk" import govukInsetText %}

        {{ govukInsetText({
        text: "This is a Service page."
      }) }}

      <p class="govuk-body">You can now:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>service task</li>
        <li>service task</li>
        <li>service task</li>
      </ul>

    </div>


  </div>

{% endblock %}
