{% extends "layout.html" %}
{% set showBackLink = false %}
{% set serviceName = "" %}

{% set pageHeading = "Sign in using GOV.UK One Login or Government Gateway" %}
{% set pageHeading = "Sign in using GOV.UK One Login" %}
{% set pageHeading = "Sign in options" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <div class="govuk-inset-text">
            <p>This service allows you to sign in using GOV.UK One Login, or Government Gateway.</p>
        </div>
        
        <!-- <h2 class="govuk-heading-l govuk-!-margin-top-3">Sign in options</h2> -->
        <h2 class="govuk-heading-m govuk-!-margin-top-3">GOV.UK One Login</h2>
        
        <p>GOV.UK One Login is new. At the moment you can only use it to access some government services. In the future, you’ll be able to use it to sign in to most services on GOV.UK.</p>
            
            <p>If you already have an account you can <a href="/oneLogin/email-address">sign in using your GOV.UK One Login</a> or you can <a href="/oneLogin/">create an account</a> if you do not have one.</p>
            
            
            

        <!-- <p>It’s currently separate from other government accounts (for example Government Gateway or Universal Credit).</p> -->
        <!-- <p class="govuk-!-margin-bottom-7">In the future, you’ll be able to use your GOV.UK One Login to sign in to most services on GOV.UK.</p> -->

        <!-- {% if data['defraAccount'] != "No"  %}
        <form method="post" action="/oneLogin/email-address" >
        {% else %}
            <form method="post" action="/oneLogin/email-address" >
        {% endif %}

        <div class="govuk-button-group">
        {{ govukButton({
            text: "Sign in",
            href: "/oneLogin/email-address"
        }) }}  

        {{ govukButton({
            text: "Create a new GOV.UK One Login",
            href: "/oneLogin/",
            classes: "govuk-button--secondary"

        }) }}  

        </div> 
        
    </form>-->


        <h2 class="govuk-heading-m govuk-!-margin-top-3">Government Gateway</h2>        
        <p>You can also <a href="/gov-gateway/sign-in" class="govuk-link govuk-link--no-visited-state">sign in using your Government Gateway</a> account if you do not have a GOV.UK One Login account.</p>            



        {% if data['defraAccount'] != "No"  %}
        <h2 class="govuk-heading-m govuk-!-margin-top-3">Need help signing in </h2>
            <!-- <p>If you’re not sure if you have a Defra account or if you use GOV.UK One Login or Government Gateway <a href="/email-address">you can tell us your email address</a> and we can check for you.</p> -->
            <p>If you can <a href="/email-address">tell us your email address</a> we can check if you have an existing account and how you sign in.</p>
        {% endif %}

        <!-- {{ govukInput({
            label: {
            text: "Email address"
            },            
            classes: "govuk-!-width-one-half",
            id: "govOneLoginEmail",
            name: "govOneLoginEmail",
            value: govOneLoginEmail
        }) }} -->

        <!-- <h2 class="govuk-heading-m">New users of GOV.UK One Login</h2>
        <p><a href="/gov-gateway/email-address" class="govuk-link govuk-link--no-visited-state">Create a GOV.UK One Login</a></p> -->
        <!-- <p>You can create a GOV.UK One Login or if you already have one use it to <a href="#">sign in</a>.</p> -->
    
        <!-- <h2 class="govuk-heading-m">Not sure if you have either</h2> -->
        <!-- <p>You’ll need:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>an email address</li>
            <li>a way to get security codes - this can be a mobile phone number or an authenticator app</li>
        </ul>

        <div class="govuk-inset-text">
            The GOV.UK One Login is also available <a href="#">in Welsh (Cymraeg)</a>.
        </div> -->

        <!-- <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary"><span class="govuk-details__summary-text">About GOV.UK One Login</span></summary>
            <div class="govuk-details__text">
                <p>GOV.UK One Login is new. At the moment you can only use your GOV.UK One Login with:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>This {service name}</li>
                    <li>Apply for a vehicle operator licence</li>
                    <li>GOV.UK email subscriptions</li>
                    <li>LITE ( Licensing for International Trader and Enterprise)</li>
                    <li>Request a basic DBS check</li>
                </ul>
                <p>GOV.UK One Login is currently separate from other government accounts (for example Government Gateway or Universal Credit)</p>
                <p>In the future, you’ll be able to use your GOV.UK One Login to sign in to most services on OGV.UK</p>                
            </div>
        </details> -->
        
        <!-- <form method="post" action="" >            
            
            {{ govukButton({
                text: "Create a GOV.UK One Login"
            }) }}                                
        </form> -->

        


        



      
      

      <!-- {% include "includes/get-help.html" %} -->

       
    </div>
</div>


{% endblock %}
