{% extends "layout.html" %}

{% set title = "Your Defra account" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {% include "includes/account-nav-admin-login.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{title}}
    </h1>

      <p class="govuk-body">You have signed out. You can sign in to Your Defra account above.</p>
      <h2></h2>
      <p class="govuk-body">To continue registering for online services from Defra and related organisations, select a service below:</p>

      <h3 class="govuk-heading-m">UK Reach IT</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="/service-start-logged-out">UK-Reach-IT</a>
          </li>
        </ul>
        <br />

        <h3 class="govuk-heading-m">Notification Service</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="/service-start-logged-out-imports">Notification Service</a>
          </li>
        </ul>
        <br />

        <h3 class="govuk-heading-m">VMD Secure Messaging</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="/service-start-logged-out-VMD">VMD Secure Messaging</a>
          </li>
        </ul>
        <br />

        <h3 class="govuk-heading-m">Apply for Export Catch Certificate</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="/service-start-logged-out-exports">Apply for Export Catch Certificate</a>
          </li>
        </ul>
        <br />

        <h3 class="govuk-heading-m">An Other Service</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="#">An Other Service </a>
          </li>
        </ul>
        <br />
  </div>
</div>

{% endblock %}
