{% extends "layout.html" %}

{% set title = "Your Defra account" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {% include "includes/account-nav-admin-login.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{title}}
    </h1>

      <p class="govuk-body">You have signed out. You can sign in to Your Defra account above.</p>
      <h2></h2>
      <p class="govuk-body">To continue registering for online services from Defra and related organisations, select a service below:</p>


      <div class="govuk-accordion" data-module="accordion" id="accordion-with-summary-sections">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                UK Reach IT
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
              REACH is a European Union regulation concerning the Registration, Evaluation, Authorisation & restriction of CHemicals.
            </div>
          </div>
          <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="/service-start-logged-out">Comply with UK-Reach-IT</a>
              </li>
              <li>
                <a class="govuk-link" href="/service-start-logged-out">Another UK-Reach-IT Service</a>
              </li>
            </ul>
          </div>
        </div>
        <!--
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
                Notification Service
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
              description
            </div>
          </div>
          <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="/service-start-logged-out-imports">Notification Service</a>
              </li>

            </ul>
          </div>

        </div>-->
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
                VMD Secure Messaging
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
              The Veterinary Medicines Directorate (VMD) protects animal health, public health and the environment.
            </div>
          </div>
          <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="/service-start-logged-out-VMD">VMD Secure Messaging</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
                Apply for Export Catch Certificate
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-4">
              Use this service to apply for a UK catch certificate for fish and shellfish caught by UK flagged vessels for export.
            </div>
          </div>
          <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="/service-start-logged-out-exports">Apply for Export Catch Certificate</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}
