{% extends "layout.html" %}
{% set showBackLink = false %}
{% set serviceName = "" %}

{% set pageHeading = "Sign in using Government Gateway" %}

{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        
            

        {% if data['defraAccount'] != "No"  %}
        <form method="post" action="/oneLogin/email-address" >
        {% else %}
            <form method="post" action="/oneLogin/" >
        {% endif %}

        

        {{ govukButton({
            text: "Sign in"            
        }) }}      
        
        <p></p>

        </form>


        <h2 class="govuk-heading-m">GOV.UK One Login</h2>

        <p>GOV.UK One Login is new. It’s currently separate from other government accounts (for example Government Gateway or Universal Credit).</p>
        <p>In the future, you’ll be able to use your GOV.UK One Login to sign in to most services on GOV.UK.</p>

        <p><a href="#">Create a GOV.UK One Login</a></p>
        
        <!-- <ul class="govuk-list">
            <li><a href="/gov-gateway/sign-in" class="govuk-link govuk-link--no-visited-state">Sign in using your Government Gateway user ID</a></li>                        
            
        </ul> -->

        {% if data['defraAccount'] != "No"  %}

        <h2 class="govuk-heading-m govuk-!-margin-top-3">Not sure if you have a Defra account</h2>

        <p>If you’re not sure if you have a Defra account or if you use GOV.UK One Login or Government Gateway <a href="/email-address">you can tell us your email address</a> and we can check for you.</p>

        {% endif %}

        <!-- {{ govukInput({
            label: {
            text: "Email address"
            },            
            classes: "govuk-!-width-one-half",
            id: "govOneLoginEmail",
            name: "govOneLoginEmail",
            value: govOneLoginEmail
        }) }} -->

        <!-- <h2 class="govuk-heading-m">New users of GOV.UK One Login</h2>
        <p><a href="/gov-gateway/email-address" class="govuk-link govuk-link--no-visited-state">Create a GOV.UK One Login</a></p> -->
        <!-- <p>You can create a GOV.UK One Login or if you already have one use it to <a href="#">sign in</a>.</p> -->
    
        <!-- <h2 class="govuk-heading-m">Not sure if you have either</h2> -->
        <!-- <p>You’ll need:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>an email address</li>
            <li>a way to get security codes - this can be a mobile phone number or an authenticator app</li>
        </ul>

        <div class="govuk-inset-text">
            The GOV.UK One Login is also available <a href="#">in Welsh (Cymraeg)</a>.
        </div> -->

        <!-- <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary"><span class="govuk-details__summary-text">About GOV.UK One Login</span></summary>
            <div class="govuk-details__text">
                <p>GOV.UK One Login is new. At the moment you can only use your GOV.UK One Login with:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>This {service name}</li>
                    <li>Apply for a vehicle operator licence</li>
                    <li>GOV.UK email subscriptions</li>
                    <li>LITE ( Licensing for International Trader and Enterprise)</li>
                    <li>Request a basic DBS check</li>
                </ul>
                <p>GOV.UK One Login is currently separate from other government accounts (for example Government Gateway or Universal Credit)</p>
                <p>In the future, you’ll be able to use your GOV.UK One Login to sign in to most services on OGV.UK</p>                
            </div>
        </details> -->
        
        <!-- <form method="post" action="" >            
            
            {{ govukButton({
                text: "Create a GOV.UK One Login"
            }) }}                                
        </form> -->

        


        



      
      

      {% include "includes/get-help.html" %}

       
    </div>
</div>


{% endblock %}
