{% extends "/layouts/main.html" %}

{% set title = "We've signed you out" %}

{% block header %}
{{ govukHeader({ serviceName: "" }) }}
{% endblock %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}
{% block pageScripts %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        {{title}}
    </h1>
    <p class="govuk-body">If we think you've stopped using your account for 15 minutes, we sign you out to keep your information secure.</p>

    


    {{ govukButton({
        text: "Sign in again",
        href: "./"
      }) }}

      <p class="govuk-body">You can <a href="./">return to GOV.UK</a> if you do not want to sign in again</p>

      
      

    </div>
  
  </div>


        

        

    

       



{% endblock %}