{% extends "layout.html" %}
{% set showBackLink = false %}
{% set serviceName = "" %}

{% set pageHeading = "Sign in using GOV.UK One Login or Government Gateway" %}
{% set pageHeading = "Sign in using GOV.UK One Login" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <div class="govuk-inset-text">
            <p>GOV.UK One Login is new.</p>
        </div>
        <p>It’s currently separate from other government accounts (for example Government Gateway or Universal Credit).</p>
        <p class="govuk-!-margin-bottom-7">In the future, you’ll be able to use your GOV.UK One Login to sign in to most services on GOV.UK.</p>


        <form method="post" action="/oneLogin/email-address" >

        {{ govukButton({
            text: "Sign in with GOV.UK One Login"            
        }) }}  

        </form>


        <!-- {{ govukInput({
            label: {
            text: "Email address"
            },            
            classes: "govuk-!-width-one-half",
            id: "govOneLoginEmail",
            name: "govOneLoginEmail",
            value: govOneLoginEmail
        }) }} -->

        <!-- <h2 class="govuk-heading-m">New users of GOV.UK One Login</h2>
        <p><a href="/gov-gateway/email-address" class="govuk-link govuk-link--no-visited-state">Create a GOV.UK One Login</a></p> -->
        <!-- <p>You can create a GOV.UK One Login or if you already have one use it to <a href="#">sign in</a>.</p> -->
        

        <h2 class="govuk-heading-m govuk-!-margin-top-3">Problems signing in</h2>
        <ul class="govuk-list">
            <li><a href="/oneLogin/" class="govuk-link govuk-link--no-visited-state">Create a new GOV.UK One Login</a></li>
            <li><a href="/gov-gateway/sign-in" class="govuk-link govuk-link--no-visited-state">Sign in using your Government Gateway user ID</a></li>
            
        </ul>

        <!-- <h2 class="govuk-heading-m">Not sure if you have either</h2>       -->
        <p>If you are not sure if you have a GOV.UK One Login or Government Gateway ID <a href="/email-address">you can tell us your email address</a> and we will help you find out.</p>
      



        <!-- <p>You’ll need:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>an email address</li>
            <li>a way to get security codes - this can be a mobile phone number or an authenticator app</li>
        </ul>

        <div class="govuk-inset-text">
            The GOV.UK One Login is also available <a href="#">in Welsh (Cymraeg)</a>.
        </div> -->

        <!-- <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary"><span class="govuk-details__summary-text">About GOV.UK One Login</span></summary>
            <div class="govuk-details__text">
                <p>GOV.UK One Login is new. At the moment you can only use your GOV.UK One Login with:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>This {service name}</li>
                    <li>Apply for a vehicle operator licence</li>
                    <li>GOV.UK email subscriptions</li>
                    <li>LITE ( Licensing for International Trader and Enterprise)</li>
                    <li>Request a basic DBS check</li>
                </ul>
                <p>GOV.UK One Login is currently separate from other government accounts (for example Government Gateway or Universal Credit)</p>
                <p>In the future, you’ll be able to use your GOV.UK One Login to sign in to most services on OGV.UK</p>                
            </div>
        </details> -->
        
        <!-- <form method="post" action="" >            
            
            {{ govukButton({
                text: "Create a GOV.UK One Login"
            }) }}                                


        </form> -->

        


        



      {% if data['mfaDisabled'] == "Yes" %}

          <form action="/unavailable" method="post">
      
      {% elif data['mfaEmailDisabled'] == "Yes" %}
          {% if data['multiplePhoneNumber'] == "Yes" %}
              <form action="/authentication/verify-multiple-numbers" method="post">
              <input type="hidden" id="verify-your-identity" name="verify-your-identity" value="send-sms" />
          {% else %}
              <form action="/authentication/verify" method="post">
              <input type="hidden" id="verify-your-identity" name="verify-your-identity" value="send-sms" />            
          {% endif %}
      {% elif data['mfaSmsDisabled'] == "Yes" %}
          <form action="/authentication/security-word" method="post">
          <input type="hidden" id="verify-your-identity" name="verify-your-identity" value="send-email" />

      {% else %}

          {% if data['companySize'] == "Single" %}
              <!-- <form action="verify" method="post"> -->
              <form action="/authentication/verify-single-number" method="post">
          {% elif data['companySize'] == "20" %}
              <form action="/authentication/verify-single-number" method="post">
          {% elif data['companySize'] == "45" %}
              <form action="/authentication/verify-single-number" method="post">
          {% endif %}

      {% endif %}

              

              

          </form>

      
      

      <!-- {% include "includes/get-help.html" %} -->

       
    </div>
</div>


{% endblock %}
