{% extends "layout.html" %}

{% set title = "Your Defra account" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {% include "includes/account-nav-logout.html" %}



{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{title}}
    </h1>

    <p class="govuk-body">To register for online services by Defra and related organisations, select a service below:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="/service-start-logged-out">UK-Reach-IT</a>
      </li>
      <li>
        <a class="govuk-link" href="/service-start-logged-out-imports">Notification Service</a>
      </li>
      <li>
        <a class="govuk-link" href="/service-start-logged-out-VMD">VMD Secure Messaging</a>
      </li>
      <li>
        <a class="govuk-link" href="/service-start-logged-out-exports">Apply for Export Catch Certificate</a>
      </li>
      <li>
        <a class="govuk-link" href="#">An Other Service</a>
      </li>
    </ul>



  </div>
</div>

{% endblock %}
