{% extends "layout.html" %}

{% set title = "Your Defra account" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {% include "includes/account-nav-admin-login.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{title}}
    </h1>

      <p class="govuk-body"><b>You have signed out.</b> You can sign in to Your Defra account above.</p>
      <h2></h2>
      <p class="govuk-body">To continue registering for online services from Defra and related organisations, select a service below:</p>
      <br />

      <h3 class="govuk-heading-m">UK Reach IT</h3>
      <p class="govuk-body">REACH is a European Union regulation concerning the Registration, Evaluation, Authorisation & restriction of CHemicals.</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="/service-start-logged-out">Comply with Reach-IT</a>
          </li>
          <li>
            <a class="govuk-link" href="/service-start-logged-out">Another UK-Reach-IT link</a>
          </li>
        </ul>
        <br />

        <h3 class="govuk-heading-m">Notification Service</h3>
        <p class="govuk-body">description</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="/service-start-logged-out-imports">Notification Service</a>
          </li>
        </ul>
        <br />

        <h3 class="govuk-heading-m">VMD Secure Messaging</h3>
        <p class="govuk-body">The Veterinary Medicines Directorate (VMD) protects animal health, public health and the environment.</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="/service-start-logged-out-VMD">VMD Secure Messaging</a>
          </li>
        </ul>
        <br />

        <h3 class="govuk-heading-m">Apply for Export Catch Certificate</h3>
        <p class="govuk-body">Use this service to apply for a UK catch certificate for fish and shellfish caught by UK flagged vessels for export.</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="/service-start-logged-out-exports">Apply for Export Catch Certificate</a>
          </li>
        </ul>
        <br />

        <h3 class="govuk-heading-m">An Other Service</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="#">An Other Service </a>
          </li>
        </ul>
        <br />
  </div>
</div>

{% endblock %}
