{% extends "layout.html" %}

{% set title = "Accessible table test" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      {{title}}
    </h1>

    <h2 class="govuk-heading-l">Table 1</h2>
    <p>An accessible, responsive, sortable table using html and javascript</p>

    <table class="govuk-table sortable" id="team1" role="grid">
      <caption class="govuk-table__caption">Table 1 caption goes here</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="column-full sortable-column govuk-table__header govuk-table__header--column-third" scope="col" data-sortby="text">
        <span class="visually-hidden--desktop">Sort by: </span><span class="colHeader">Team member </span><i class="arrow colHeader"></i>
      </th>
      <th class="column-full sortable-column govuk-table__header govuk-table__header--column-quarter" scope="col" data-sortby="text">
        <span class="visually-hidden--desktop">Sort by: </span><span class="colHeader">Role type </span><i class="arrow colHeader"></i>

      </th>
      <th class="column-full sortable-column govuk-table__header govuk-table__header--column-quarter" scope="col" data-sortby="text">
        <span class="visually-hidden--desktop">Sort by: </span><span class="colHeader">Account status </span><i class="arrow colHeader"></i>

      </th>
      <th class="column-full hide-cell govuk-table__header govuk-table__header--column-quarter" scope="col" data-sortby="text">
        <span class="th-content colHeader visually-hidden--desktop">Action <i class="arrow colHeader"></i></span>
      </th>
    </tr>
    </thead>

    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td data-title="Team member:" class="govuk-table__cell" tabindex="-1">
          <a class="govuk-link--no-visited-state" href="services-on-team-member-admin-self">Ann Cooper (you)</a><br>
            <span class="govuk-body-s">Ann.Cooper@email.com</span>
        </td>
        <td data-title="Role type:" class="govuk-table__cell" tabindex="-1">Administrator
        </td>
        <td data-title="Account status:" class="govuk-table__cell" tabindex="-1">
          <span class="visually-hidden--desktop">Approved</span>
        </td>
        <td data-title="Action:" class="govuk-table__cell" tabindex="-1">
          <a class="govuk-link--no-visited-state" href="">Manage</a>
        </td>
      </tr>

      <tr class="govuk-table__row">
        <td data-title="Team member" class="govuk-table__cell" tabindex="-1">
          <a class="govuk-link--no-visited-state" href="services-on-team-member-standard">Adam Mastly</a><br>
            <span class="govuk-body-s">Adam.Mastly@email.com</span>
        </td>
        <td data-title="Role type" class="govuk-table__cell" tabindex="-1">Standard user
        </td>
        <td data-title="Account status" class="govuk-table__cell" tabindex="-1">
          <span class="visually-hidden--desktop">Approved</span>
        </td>
        <td data-title="Action" class="govuk-table__cell" tabindex="-1">
          <a class="govuk-link--no-visited-state" href="">Manage</a>
        </td>
      </tr>

      <tr class="govuk-table__row">
        <td data-title="Account status" class="govuk-table__cell" tabindex="-1">
          <a class="govuk-link--no-visited-state" href="services-on-team-member-admin">Barry Anders</a><br>
            <span class="govuk-body-s">Barry.Anders@email.com</span>
        </td>
        <td data-title="Role type" class="govuk-table__cell" tabindex="-1">Administrator
        </td>
        <td data-title="Account status"class="govuk-table__cell" tabindex="-1">
          <span class="visually-hidden--desktop">Approved</span>
        </td>
        <td data-title="Action" class="govuk-table__cell" tabindex="-1">
          <a class="govuk-link--no-visited-state" href="">Manage</a>
        </td>
      </tr>

      <tr class="govuk-table__row">
        <td data-title="Team member" class="govuk-table__cell" tabindex="-1">
          <a class="govuk-link--no-visited-state" href="services-on-team-member-invited-1">Sara Chippers</a><br>
            <span class="govuk-body-s">Sara.Chippers@email.com</span>
        </td>
        <td data-title="Role type" class="govuk-table__cell" tabindex="-1">Access manager
        </td>
        <td data-title="Account status" class="govuk-table__cell" tabindex="-1">Invite email sent
        </td>
        <td data-title="Action" class="govuk-table__cell" tabindex="-1">
          <a class="govuk-link--no-visited-state" href="">Manage</a>
        </td>

      </tr>
      <tr class="govuk-table__row">
        <td data-title="Team member" class="govuk-table__cell" tabindex="-1">
          <a class="govuk-link--no-visited-state" href="services-on-team-member-service-request">Tiegan Mole</a><br>
            <span class="govuk-body-s">Tiegan.Mole@email.com</span>
        </td>
        <td data-title="Role type" class="govuk-table__cell" tabindex="-1">
          Standard user
        </td>
        <td data-title="Account status" class="govuk-table__cell" tabindex="-1">Access request received
        </td>
        <td data-title="Action" class="govuk-table__cell" tabindex="-1">
          <a class="govuk-link--no-visited-state" href="">Manage</a>
        </td>
      </tr>

      <tr class="govuk-table__row">
        <td data-title="Team member" class="govuk-table__cell" tabindex="-1">
          <a class="govuk-link--no-visited-state" href="services-on-team-member-service-request">Ann Other</a><br>
            <span class="govuk-body-s">Ann.Other@email.com</span>
        </td>
        <td data-title="Role type" class="govuk-table__cell" tabindex="-1">
          Standard user
        </td>
        <td data-title="Account status" class="govuk-table__cell" tabindex="-1">
          <span class="visually-hidden--desktop">Approved</span>
        </td>
        <td data-title="Action" class="govuk-table__cell" tabindex="-1">
          <a class="govuk-link--no-visited-state" href="">Manage</a>
        </td>
      </tr>

    </tbody>
  </table>



  <h2 class="govuk-heading-l">Table 2</h2>
  <p>An accessible, responsive, sortable table using html and javascript</p>

      {{ govukTable({
        caption: "Table 2 caption",
        captionClasses: "govuk-caption",
        firstCellIsHeader: false,
        head: [
          {
            html: 'Team member',
            format: 'column-third column-full'
          },
          {
            html: 'Role type',
            format: 'column-quarter column-full'
          },
          {
            html: 'Account status',
            format: 'column-quarter column-full'
          },
          {
            html: 'Action',
            format: 'column-sixth column-full visibility'
          }
        ],
        rows: [
          [
            {
              html: '<a class="govuk-link--no-visited-state" href="services-on-team-member-admin-self">Ann Cooper (you)</a><br>
                      <span class="govuk-body-s">Ann.Cooper@email.com</span>'
            },
            {
              text: "Administrator"
            },
            {
              html: '<span class="visibility">Approved</span>'
            },
            {
              html: '<a class="govuk-link--no-visited-state" href="">Manage</a>'
            }
          ],
          [
            {
              html: '<a class="govuk-link--no-visited-state" href="services-on-team-member-standard">Adam Mastly</a><br>
                      <span class="govuk-body-s">Adam.Mastly@email.com</span>'
            },
            {
              text: "Standard user"
            },
            {
              html: '<span class="visibility">Approved</span>'
            },
            {
              html: '<a class="govuk-link--no-visited-state" href="">Manage</a>'
            }
          ],
          [
            {
              html: '<a class="govuk-link--no-visited-state" href="services-on-team-member-admin">Barry Anders</a><br>
                      <span class="govuk-body-s">Barry.Anders@email.com</span>'
            },
            {
              text: "Administrator"
            },
            {
              html: '<span class="visibility">Approved</span>'
            },
            {
              html: '<a class="govuk-link--no-visited-state" href="">Manage</a>'
            }
          ],
          [
            {
              html: '<a class="govuk-link--no-visited-state" href="services-on-team-member-invited-1">Sara Chippers</a><br>
                      <span class="govuk-body-s">Sara.Chippers@email.com</span>'
            },
            {
              text: "Access manager"
            },
            {
              text: "Invite email sent"
            },
            {
              html: '<a class="govuk-link--no-visited-state" href="#">Manage</a>'
            }
          ],
          [
            {
              html: '<a class="govuk-link--no-visited-state" href="services-on-team-member-service-request">Tiegan Mole</a><br>
                      <span class="govuk-body-s">Tiegan.Mole@email.com</span>'
            },
            {
              text: "Standard user"
            },
            {
              text: "Access request received"
            },
            {
              html: '<a class="govuk-link--no-visited-state" href="">Manage</a>'
            }
          ],
          [
            {
              html: '<a class="govuk-link--no-visited-state" href="services-on-team-member-service-request">Ann Other</a><br>
                      <span class="govuk-body-s">Ann.Other@email.com</span>'
            },
            {
              text: "Standard user"
            },
            {
              html: '<span class="visibility">Approved</span>'
            },
            {
              html: '<a class="govuk-link--no-visited-state" href="">Manage</a>'
            }
          ]
        ]
      }) }}


  </div>
</div>



<script src="/public/javascripts/sortable-table.js"></script>






{% endblock %}
