{% extends "layout.html" %}

{% set title = "Terms and conditions for the Use Defra online service" %}

{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{title}}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-inset-text">
      <strong>If you do not agree to the following terms and conditions, please do not use this website.</strong>
      </div>
      <p class="govuk-body">By using this Defra website, known as the Use Defra online service, you give us your consent to ask for, store, and use your personal information as explained in these terms and conditions and our  <a href="privacy-notice">privacy notice</a>. You are also agreeing to Defra’s use of <a href=”cookies page URL”>cookies</a>. </p>
      <p class="govuk-body">If you do not give your consent, you will not be able to use this or any related service.</p>

      <h2 class="govuk-heading-m">How you must use this website (also known as ‘permitted use’)</h2>
      <h3 class="govuk-heading-s">When using this website, you agree:</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>to act only for lawful and relevant purposes</li>
      </ul>

      <h3 class="govuk-heading-s">If you share access to the Use Defra online service with someone who does not have a legitimate reason to use it, you agree that:</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>you are responsible for any action they take that is a <a href=”anchor to relevant section below”>breach of our permitted use</a></li>
      </ul>

      <h3 class="govuk-heading-s">When providing or receiving security information, you agree:</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>to treat any username, password or any other information that forms part of Defra’s security procedures as confidential</li>
        <li>that you will not share this security information with any unauthorised third party</li>
        <li>that you will be liable for any loss or damage caused by sharing this security information with another person</li>
      </ul>

      <h3 class="govuk-heading-s">You must not:</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>misuse this website by knowingly providing incorrect, false or fraudulent information about your identity, or any other user’s identity</li>
        <li>attempt to gain unauthorised access to this website; including the server on which it is stored, or any server, computer or database connected to this website; for yourself or any other user</li>
        <li>infringe the rights of other authorised users</li>
        <li>restrict or inhibit the use of this site by any authorised third party or entity</li>
      </ul>

      <h2 class="govuk-heading-m">What happens if you breach the permitted use of this Defra service</h2>
      <p class="govuk-body">If you use the Use Defra online service without a legitimate reason, it will be considered a material breach of use.</p>
      <p class="govuk-body">If you help anyone else to use the Use Defra online service without a legitimate reason, this will also be considered a material breach of use.</p>
      <p class="govuk-body">Failure to comply, in Defra’s opinion, with this acceptable use policy may result in Defra taking all or any of the following actions:</p>

<ol class="govuk-list govuk-list--number">
        <li>We may disable any access code, username, password or other security information given to you by Defra at any time.</li>
        <li>Immediately withdraw your right to use this and any related service on a temporary or permanent basis.</li>
        <li>Issue you with a warning or consideration of any lawful enforcement action available.</li>
        <li>Start legal proceedings against you for reimbursement of all costs on an indemnity basis (including, but not limited to, reasonable administrative and legal costs) resulting from the breach.</li>
        <li>Take further legal action against you.</li>
        <li>Give law enforcement authorities any information we reasonably feel is necessary or required by law.</li>
      </ol>



{{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}


</div>


{% endblock %}
