{% extends "/layouts/main.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Your Defra account terms and conditions" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


        {% if data['status'] != "review" %}

        <p class="govuk-body">By ticking the acceptance box you confirm you have read and accepted the terms and conditions of this site.</p>

        {% endif %}

        <h2 class="govuk-heading-m">Sharing and storing personal data</h2>
        <p class="govuk-body">Our privacy notice explains where your data is stored, and who it is shared with. Our cookie policy explains how this service uses and stores cookies. By agreeing to these terms and conditions you are agreeing to be contacted by us by email, text, phone or letter.</p>

        <h2 class="govuk-heading-m">Who are we</h2>
        <p class="govuk-body">Your Defra account is managed by the Department of Environment, Food and Rural Affairs (referred to as ‘Defra’, ‘us’ or ‘we’ from now on.) You should check these terms and conditions regularly. We may update them at any time without notice. When we update the terms and conditions, you will be asked to confirm that you’ve read and accepted the terms. </p>
        <p class="govuk-body">We recommend that you print a copy of these terms for future reference.</p>

        <h2 class="govuk-heading-m">How to use this site responsibly</h2>
        <p class="govuk-body">When using this site and each Defra service connected with it, you agree to use the site for only lawful purposes.</p>

        <p class="govuk-body">When providing or receiving security information, you agree:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>to treat any username, password or any other information which forms part of Defra’s security procedures as confidential</li>
            <li>that you will not share this security information with any unauthorised third party and that you’ll be liable for any loss or damage arising from sharing this security information with any unauthorised third party </li>
            <li>to promptly <a href="mailto:Customer.Identity-Support@defra.gov.uk" class="govuk-link">notify us</a> if you know or suspect that anyone other than you knows your user identification code or password</li>
        </ul>
        <p class="govuk-body">There are risks in using a shared computer (for example, in a public place like a library) to access this site. It's your responsibility to be aware of these risks and to avoid using any computer which may subject your personal information to being accessible to others. In such circumstances you are responsible for maintaining security and protection while using  Your Defra account. You should take reasonably necessary precautions to ensure that the way in which you access this service does not expose you to the risk of:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>viruses</li>
            <li>malicious computer code</li>
        </ul>
        <p class="govuk-body">You must not misuse this site by knowingly introducing viruses, Trojans, worms, logic bombs, spyware, adware, time-bombs, keystroke loggers or any other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to this site, the system on which it is stored, or any server, computer or database connected to it. You must not attack this site using a denial-of-service attack or a distributed denial-of-service attack.</p>
        <p class="govuk-body">You must not access without authority, interfere with, damage or disrupt any part of our site, any equipment or network on which our site is stored, any software used in the provision of our site, or any equipment or network or software owned or used by any third party.</p>
        <p class="govuk-body">You must not use this site in any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect. This includes, but is not limited to, misusing this site by knowingly providing incorrect, false or fraudulent information about your identity or any other user’s identity, by misrepresenting your identity or any other user’s identity.</p>
        <p class="govuk-body">By using this site, you agree that you will not:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>register for an account to act on behalf of an organisation where you do not have the necessary authority to do so</li>
            <li>attempt to gain unauthorised access to this site, including the server on which it is stored or any server, computer or database connected to this website for yourself or for another user</li>
            <li>knowingly invite or verify a user who does not have the authority to act on your behalf or on the behalf of the organisation for which you represent</li>
            <li>use Your Defra account to provide access to users to services that they do not have the authority to access</li>
            <li>be a party to sending any unsolicited or unauthorised advertising or promotional material or any other form of similar solicitation (spam)</li>
            <li>carry out any activities in relation to “screen scraping” or database scraping to obtain lists of users, URLs, internet keywords or other information</li>
            <li>access this site by any means other than the interface that is provided by Defra</li>
            <li>infringe the rights of other authorised users</li>
            <li>restrict or inhibit the use of this site by any authorised third party or entity</li>
            <li>reproduce, duplicate, copy or resell any part of our site in contravention of the provisions of our terms and conditions of this website</li>
        </ul>

        <h2 class="govuk-heading-m">Your interaction and actions on the site</h2>
        <p class="govuk-body">By using this site, you agree that you will not engage in any behavior or activity or put any information on the site that is:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>defamatory of any person</li>
            <li>obscene, offensive, hateful or inflammatory</li>
            <li>promoting sexually explicit material</li>
            <li>promoting violence</li>
            <li>promoting discrimination based on race, sex, religion, nationality, disability, sexual orientation or age</li>
            <li>infringing any copyright, database right or trademark of any other person </li>
            <li>likely to deceive any person</li>
            <li>breaching any legal duty owed to a third party, such as a contractual duty or a duty of confidence</li>
            <li>in contempt of court</li>
            <li>is threatening, abusive or invading another’s privacy</li>
            <li>is impersonating any person, or misrepresenting your identity or affiliation with any person </li>
            <li>a direct or indirect encouragement or other inducement to the commission, preparation or instigation of acts of terrorism </li>
        </ul>

        <h2 class="govuk-heading-m">Obligation to provide correct and accurate information</h2>
        <p class="govuk-body">You must complete the application with correct and accurate information. You must keep us updated on the information you provide including any subsequent changes to your name and contact details.</p>

        <h2 class="govuk-heading-m">Obligation to notify of change in status</h2>
        <p class="govuk-body">You must immediately inform us if there is any change to your status or the trading status of your organisation or the organisation you represent. Such changes may include where the organisation is no longer active or has been dissolved or is in the process of being dissolved or has gone into liquidation or is in the process of going into liquidation or is in administration or going through the process of administration or has moved overseas.</p>

        <h2 class="govuk-heading-m">Breach of terms and conditions</h2>
        <p class="govuk-body">If you fail to comply with the terms and condition, you may not be permitted to use our site and it may result in further action including, but not limited to any and all actions listed below:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>we may issue a warning to you</li>
            <li>we may immediately, temporary, or permanently remove your authorisation to access services via Your Defra account and inform all relevant parties to disable your access </li>
            <li>we may instigate legal proceedings against you for reimbursement of all costs on an indemnity basis (including, but not limited to, reasonable administrative and legal costs) resulting from the breach</li>
            <li>we may take further legal action against you</li>
            <li>we may disclose any information to law enforcement authorities that we deem necessary or as required by the law</li>
        </ul>
        <p class="govuk-body">We exclude our liability for all action we may take in response to a breach of terms and conditions.</p>

        <h2 class="govuk-heading-m">Copyright and intellectual property</h2>
        <p class="govuk-body">All intellectual property rights on this site, and in any material published on it, belongs to us. These works are protected by copyright laws and treaties around the world. All such rights are reserved.</p>

        <h2 class="govuk-heading-m">Disclaimer</h2>
        <p class="govuk-body">The information contained on this site is for general information purposes only. The information is provided by Defra and while we endeavour to keep the information up to date and correct, we don’t provide a guarantee of any kind for any purpose, express or implied, about the completeness, accuracy, reliability, suitability or availability of the information, products, services or related graphics on the site. Any reliance you place on such information is strictly at your own risk.</p>
        <p class="govuk-body">We are not liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage arising from loss of data or profits arising out of, or in connection with, the use of this site.</p>
        <p class="govuk-body">Every effort is made to keep the website up and running smoothly. However, Defra takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.</p>
        <p class="govuk-body">Although Defra has taken reasonable precautions to ensure that no viruses are present on this site, Defra cannot accept responsibility for any loss or damage sustained as a result of computer virus. You should use your own virus protection software. We accept no responsibility for damage which may be caused by computer viruses.</p>

        <h2 class="govuk-heading-m">In the event of dispute</h2>
        <p class="govuk-body">All terms, its subject matter and its formation are governed by English law. By using this site you agree that the courts of England and Wales will have exclusive jurisdiction except that if you are a resident of Northern Ireland, you may bring proceedings in Northern Ireland, and if you are a resident of Scotland, you may bring proceedings in Scotland.</p>

        <h2 class="govuk-heading-m">Contact details</h2>
        <p class="govuk-body">Email us at <a href="mailto:Customer.identity-Support@defra.gov.uk" class="govuk-link">customer.identity-support@defra.gov.uk</a> for further information.</p>

        <div class="govuk-inset-text">
            <p class="govuk-body govuk-body-s">This was last updated on 21 April 2023</p>
        </div>


        {% if data['status'] == "review" %}

        <form method="post" action="/register/what-we-need" >

        
        {{ govukButton({
            text: "Accept and continue",
            classes: "govuk-!-margin-top-5"
        })}}
        </form>
        {% endif %}

    </div>
    <div class="govuk-grid-column-one-third review">      
        <ul class="govuk-list govuk-body-s govuk-!-text-align-right">        
        
            {% if data['status'] == "review" %}
                <li><a href="/terms-and-conditions?status=" class="govuk-link govuk-link--no-visited-state">Current page</a></li>        
            {% else %}
                <li><a href="/terms-and-conditions?status=review" class="govuk-link govuk-link--no-visited-state">Suggested page changes</a></li>        
            {% endif %}
        </ul>          
    </div>
</div>

{% endblock %}
