{% extends "/layouts/main.html" %}

{% set title = "You will be signed out soon" %}

{% block header %}
{{ govukHeader({ serviceName: "" }) }}
{% endblock %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
       

          {{ hmrcTimeoutDialog ({
            timeout: 70,
            countdown: 68,
            keepAliveUrl: "?continue=true",
            signOutUrl: "/signed-out?lang=English",
            language: "en"
          }) }}

      



    </div>
    
</div>

{% endblock %}