{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "{Service Name}" %}

{% set pageHeading = "Sorry, the service is unavailable" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
        
        <p>You will be able to use the service later.</p>
        <p>When the service is available, you will have to start again.</p>

        {% if data['status'] != "noService" %}

        <p class="govuk-body">Contact <a class="govuk-link govuk-link--no-visited-state" href=“mailto:{SERVICE email address}”>{email address}</a> if you need help or call our helpline.</p>
        <p class="govuk-body">
            Helpline:<br>
            <strong class="govuk-!-font-weight-bold">{SERVICE helpline number}</strong>
        </p>
        <p class="govuk-body">
            Opening times:<br>
            <strong class="govuk-!-font-weight-bold">{SERVICE opening times}</strong>
        </p>        
        <p><a href="https://www.gov.uk/call-charges" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" >Find out about call charges (opens in a new tab).</a></p>                

        {% endif %}
    </div>
    <div class="govuk-grid-column-one-third review">      
        <ul class="govuk-list govuk-body-s govuk-!-text-align-right">        
            {% if data['status'] == "noService" %}                        
                <li><a href="/unavailable?status=" class="govuk-link govuk-link--no-visited-state">Service information available</a></li>        
            {% else %}
                <li><a href="/unavailable?status=noService" class="govuk-link govuk-link--no-visited-state">Service information not available</a></li>        
            {% endif %}
        </ul>      
    </div>
</div>


{% endblock %}
