{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}

{{ govukButton({
  text: "Start now",
  href: "#",
  classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
}) }}


{{ govukButton({
  text: "Continue",
  href: "new-user-reg/task/task-list-page-company-details"
}) }}

{{ govukFieldset({
  legend: {
    text: "Legend text goes here",
    classes: "govuk-fieldset__legend--xl",
    isPageHeading: true
  }
}) }}

{{ govukInput({
  label: {
    text: "Email address",
    isPageHeading: true,
    classes: "govuk-label--xl"
  },
  hint: {
    text: "We’ll only use this to send you a receipt."
  },
  classes: "govuk-input--width-20",
  id: "email",
  name: "email",
  value: data['businessType']
}) }}

{% if data['numServices'] == 1 %}
  {{ govukButton({
    text: "Done",
    href: "/manage/team-members/team-members"
  }) }}
{% endif %}

<h1 class="govuk-heading-xl">govuk-heading-xl</h1>
<h2 class="govuk-heading-l">govuk-heading-l</h2>
<h3 class="govuk-heading-m">govuk-heading-m</h3>
<h4 class="govuk-heading-s">govuk-heading-s</h4>

<p class="govuk-body"></p>

<p class="govuk-body-l">/<p>

<a class="govuk-link"></a>

<a class="govuk-link--no-visited-state"></a>

<p class="govuk-visually-hidden"></p>

<hr class="govuk-section-break--s">


<label class="govuk-label--xl">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set setServiceNameHtml %}
        What do you want them to be able to do in the {{ data['serviceLine'] }} service?
    {% endset %}

  router.get('/scp/login-invite', function (req, res) {
   req.session.data[userType]="invited"
   res.render('scp/login',{
     "signinButton": '/about-data'
   })})

<!--routes for checkboxes -->
  router.post('/originPage', function (req, res) {

  if (req.session.data['nameOfCheckboxes'].includes('ValueOfCheckbox')) {
    res.redirect('/route1')
  } else {
    res.redirect('/route2')
  }
})

Single line form fields: class="govuk-!-display-inline-block"
