{% extends "layout.html" %}

{% set title = "Accessible table test" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      {{title}}
    </h1>

    <h2 class="govuk-heading-l">Table 1</h2>
    <p>An accessible, responsive, sortable table using html and javascript</p>


    <table class="govuk-table sortable" id="teamMembers" role="grid">
      <caption class="govuk-table__caption govuk-visually-hidden">All team members</caption>
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
          <span class="govuk-visually-hidden--desktop">Sort by: </span>Team member <i class="A-to-Z"></i>
        </th>
        <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
          <span class="govuk-visually-hidden--desktop">Sort by: </span>Email address <i class="no-sort"></i>
        </th>
        <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
          <span class="govuk-visually-hidden--desktop">Sort by: </span>Acccount role <i class="no-sort"></i>
        </th>
        <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
          <span class="govuk-visually-hidden--desktop">Sort by: </span>Account status <i class="no-sort"></i>
        </th>
      </tr>
      </thead>
      <tr class="govuk-table__row {{ AdamUserCSS }}">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
          <a class="govuk-link--no-visited-state" href="services-on-team-member-standard?name=Adam Mastly">Adam Mastly</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Email address:</span> Adam.Mastly@email.com
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account role:</span> Standard user
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Live
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
          <a class="govuk-link--no-visited-state" href="{{ setAnnURL }}">Ann Cooper (you)</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Email address:</span> Ann.Cooper@email.com
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account role:</span> Admin
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Live
        </td>
      </tr>
      <tr class="govuk-table__row {{ BarryUserCSS }}">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
          <a class="govuk-link--no-visited-state" href="services-on-team-member-admin?name=Barry Anders">Barry Anders</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Email address:</span> Barry.Anders@email.com
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account role:</span> Admin
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Live
        </td>
      </tr>
      <tr class="govuk-table__row {{ newUserCSS }}">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
          <span class="govuk-body govuk-body--grey">Name to be confirmed</span>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Email address:</span> {{ data['inviteEmail'] }}
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account role:</span><span class="govuk-body--grey"> None</span>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Invite email sent
        </td>
      </tr>
      <tr class="govuk-table__row {{ invitedUserCSS }}">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
          <a class="govuk-link--no-visited-state" href="services-on-team-member-invited?name=Sara Chippers&userType=invited">Sara Chippers</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Email address:</span> Sara.Chippers@email.com
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account role:</span> {{ data['systemRole'] }}
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Live
        </td>
      </tr>
      <tr class="govuk-table__row {{ n1UserCSS }}">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
          <a class="govuk-link--no-visited-state" href="services-on-team-member-verify?name=Tiegan Mole&userType=verified&parentService=yes">Tiegan Mole</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Email address:</span> Tiegan.Mole@email.com
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account role:</span><span class="govuk-body--grey"> None</span>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span>  Request received
        </td>
      </tr>

    </table>



  <h2 class="govuk-heading-l">Table 2</h2>
  <p>An accessible, responsive table using html</p>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-visually-hidden">All team members</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-table__header--column-quarter column-full" scope="col">
        Team member
      </th>
      <th class="govuk-table__header govuk-table__header--column-third column-full" scope="col">
        Email address
      </th>
      <th class="govuk-table__header govuk-table__header--column-sixth column-full" scope="col">
        Account status
      </th>
    </tr>
    </thead>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
        <a class="govuk-link--no-visited-state" href="services-on-team-member-admin-self-all-1">Ann Cooper (you)</a>
      </td>
      <td class="govuk-table__cell">
        <span class="govuk-visually-hidden--desktop td-header">Email address:</span> Ann.Cooper@email.com
      </td>
      <td class="govuk-table__cell">
        <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Approved
      </td>
    </tr>
  </table>



  <h2 class="govuk-heading-l">Table 3</h2>
  <p>An responsive table using nunjunks</p>

      {{ govukTable({
        caption: "Table 2 caption",
        captionClasses: "govuk-caption",
        firstCellIsHeader: false,
        head: [
          {
            html: 'Team member',
            format: 'column-third column-full'
          },
          {
            html: 'Role type',
            format: 'column-quarter column-full'
          },
          {
            html: 'Account status',
            format: 'column-quarter column-full'
          }
        ],
        rows: [
          [
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Team member:</span> <a class="govuk-link--no-visited-state" href="services-on-team-member-admin-self">Ann Cooper (you)</a><br>
                      <span class="govuk-body-s">Ann.Cooper@email.com</span>'
            },
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Role type:</span> Admin'
            },
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Account status:</span> <span class="visibility">Approved</span>'
            }
          ],
          [
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Team member:</span> <a class="govuk-link--no-visited-state" href="services-on-team-member-standard">Adam Mastly</a><br>
                      <span class="govuk-body-s">Adam.Mastly@email.com</span>'
            },
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Role type:</span> Standard user'
            },
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Account status:</span> <span class="visibility">Approved</span>'
            }
          ],
          [
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Team member:</span> <a class="govuk-link--no-visited-state" href="services-on-team-member-admin">Barry Anders</a><br>
                      <span class="govuk-body-s">Barry.Anders@email.com</span>'
            },
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Role type:</span> Admin'
            },
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Account status:</span> <span class="visibility">Approved</span>'
            }
          ],
          [
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Team member:</span> <a class="govuk-link--no-visited-state" href="services-on-team-member-invited">Sara Chippers</a>'
            },
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Role type:</span> Standard user'
            },
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Account status:</span> Invite email sent'
            }
          ],
          [
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Team member:</span> <a class="govuk-link--no-visited-state" href="services-on-team-member-service-request">Tiegan Mole</a><br>
                      <span class="govuk-body-s">Tiegan.Mole@email.com</span>'
            },
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Role type:</span> Standard user'
            },
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Account status:</span> Access request received'
            }
          ],
          [
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Team member:</span> <a class="govuk-link--no-visited-state" href="services-on-team-member-service-request">Ann Other</a><br>
                      <span class="govuk-body-s">Ann.Other@email.com</span>'
            },
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Role type:</span> Standard user'
            },
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Account status:</span> <span class="visibility">Approved</span>'
            }
          ]
        ]
      }) }}

  </div>
</div>

<h2 class="govuk-heading-l">Table 4</h2>
<p>Table needs to look like this</p>
<table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">All team members</caption>
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header column-full" scope="col">
      Account
    </th>
    <th class="govuk-table__header column-full" scope="col">
      Account role
    </th>
    <th class="govuk-table__header column-full" scope="col">
      Service
    </th>
    <th class="govuk-table__header column-full" scope="col">
      Service role
    </th>
    <th class="govuk-table__header govuk-table__header--column-sixth column-full" scope="col">
      <span class="govuk-visually-hidden--desktop td-header">Action</span>
    </th>
  </tr>
  </thead>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Account:</span>
      Acme Org Ltd
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Account role:</span> Admin
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Service:</span> Comply with REACH IT
      <br><br>
      <span class="govuk-visually-hidden--desktop td-header">Service:</span> Notification Service
      <br><br>
      <span class="govuk-visually-hidden--desktop td-header">Service:</span> Apply for Export Catch Certificate
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Service role:</span> REACH Manager
      <br><br>
      <span class="govuk-visually-hidden--desktop td-header">Service role:</span> Importer
      <br><br>
      <span class="govuk-visually-hidden--desktop td-header">Service role:</span> Standard
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Action:</span>
      <a href="/manage/dashboard-all?orgName=Acme Org Ltd&numUsers=5&numAgents=0&numServices=3&numLocations=1&multiOrg=yes&parentChild=parent" class="govuk-link--no-visited-state"> Manage account
        <span class="govuk-visually-hidden td-header"> for Acme Org Ltd</span>
      </a>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Account:</span>
      &nbsp&nbsp&nbsp&nbsp&nbspAcme Org Thailand
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Account role:</span> Admin
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Service:</span> Comply with REACH IT
      <br><br>
      <span class="govuk-visually-hidden--desktop td-header">Service:</span> Notification Service
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Service role:</span> REACH Manager
      <br><br>
      <span class="govuk-visually-hidden--desktop td-header">Service role:</span> Importer
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Action:</span>
      <a href="/manage/dashboard-all?childName=Acme Org Thailand&numUsers=1&numAgents=0&numServices=2&numLocations=1&multiOrg=yes&parentChild=parent" class="govuk-link--no-visited-state"> Manage account
        <span class="govuk-visually-hidden td-header"> for Acme Org Thailand</span>
      </a>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Account:</span>
      &nbsp&nbsp&nbsp&nbsp&nbspAcme Org India
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Account role:</span> Admin
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Service:</span> Comply with REACH IT
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Service role:</span> REACH Manager
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Action:</span>
      <a href="/manage/dashboard-all?childName=Acme Org India&numUsers=1&numAgents=0&numServices=1&numLocations=1&multiOrg=yes&parentChild=parent" class="govuk-link--no-visited-state"> Manage account
        <span class="govuk-visually-hidden td-header"> for Acme Org India</span>
      </a>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Account:</span> Another Org
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Account role:</span> Admin
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Service:</span> Notification Service
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Service role:</span> Importer
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Action:</span>
      <a href="/manage/dashboard-all?orgName=Another Org&numUsers=5&numAgents=0&numServices=1&numLocations=1&multiOrg=yes&parentChild=parent" class="govuk-link--no-visited-state"> Manage account
        <span class="govuk-visually-hidden td-header"> for Another Org</span>
      </a>
    </td>
  </tr>
</table>

<h2 class="govuk-heading-l">Table 5</h2>
<p>Table needs to be sematically like this so it works in mobile</p>
<table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">All team members</caption>
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header column-full" scope="col">
      Account
    </th>
    <th class="govuk-table__header column-full" scope="col">
      Account role
    </th>
    <th class="govuk-table__header column-full" scope="col">
      Service
    </th>
    <th class="govuk-table__header column-full" scope="col">
      Service role
    </th>
    <th class="govuk-table__header govuk-table__header--column-sixth column-full" scope="col">
      <span class="govuk-visually-hidden--desktop td-header">Action</span>
    </th>
  </tr>
  </thead>

  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Account:</span> Acme Org Ltd
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Account role:</span> Admin
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Service:</span> Comply with REACH IT
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Service role:</span> REACH Manager
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Action:</span>
      <a href="/manage/dashboard-all?orgName=Acme Org Ltd&numUsers=5&numAgents=0&numServices=3&numLocations=1&multiOrg=yes&parentChild=parent" class="govuk-link--no-visited-state"> Manage account
        <span class="govuk-visually-hidden td-header"> for Acme Org Ltd</span>
      </a>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Account:</span><span class="govuk-visually-hidden--desktop"> Acme Org Ltd</span>
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Account role:</span><span class="govuk-visually-hidden--desktop"> Admin</span>
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Service:</span> Notifications
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Service role:</span> Importer
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Action:</span>
      <span class="govuk-visually-hidden--desktop">
        <a href="/manage/dashboard-all?orgName=Acme Org Ltd&numUsers=5&numAgents=0&numServices=3&numLocations=1&multiOrg=yes&parentChild=parent" class="govuk-link--no-visited-state"> Manage account
          <span class="govuk-visually-hidden td-header"> for Acme Org Ltd</span>
        </a>
      </span>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Account:</span><span class="govuk-visually-hidden--desktop"> Acme Org Ltd</span>
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Account role:</span><span class="govuk-visually-hidden--desktop"> Admin</span>
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Service:</span> Apply for Export Catch Certificate
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Service role:</span> Standard
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Action:</span>
      <span class="govuk-visually-hidden--desktop">
        <a href="/manage/dashboard-all?orgName=Acme Org Ltd&numUsers=5&numAgents=0&numServices=3&numLocations=1&multiOrg=yes&parentChild=parent" class="govuk-link--no-visited-state"> Manage account
          <span class="govuk-visually-hidden td-header"> for Acme Org Ltd</span>
        </a>
      </span>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Account:</span>
      &nbsp&nbsp&nbsp&nbsp&nbspAcme Org Thailand
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Account role:</span> Admin
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Service:</span> Comply with REACH IT
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Service role:</span> REACH Manager
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Action:</span>
      <a href="/manage/dashboard-all?childName=Acme Org Thailand&numUsers=5&numAgents=0&numServices=2&numLocations=1&multiOrg=yes&parentChild=parent" class="govuk-link--no-visited-state"> Manage account
        <span class="govuk-visually-hidden td-header"> for Acme Org Thailand</span>
      </a>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Account:</span><span class="govuk-visually-hidden--desktop"> &nbsp&nbsp&nbsp&nbsp&nbspAcme Org Thailand</span>
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Account role:</span><span class="govuk-visually-hidden--desktop"> Admin</span>
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Service:</span> Notification Service
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Service role:</span> Importer
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Action:</span>
      <span class="govuk-visually-hidden--desktop">
        <a href="/manage/dashboard-child?childName=Acme Org Thailand&numUsers=5&numAgents=0&numServices=2&numLocations=1&multiOrg=yes&parentChild=parent" class="govuk-link--no-visited-state"> Manage account
          <span class="govuk-visually-hidden td-header"> for Acme Org Thailand</span>
        </a>
      </span>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Account:</span>
      &nbsp&nbsp&nbsp&nbsp&nbspAcme Org India
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Account role:</span> Admin
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Service:</span> Comply with REACH IT
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Service role:</span> REACH Manager
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Action:</span>
      <a href="/manage/dashboard-child?childName=Acme Org India&numUsers=5&numAgents=0&numServices=1&numLocations=1&multiOrg=yes&parentChild=parent" class="govuk-link--no-visited-state"> Manage account
        <span class="govuk-visually-hidden td-header"> for Acme Org India</span>
      </a>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Account:</span> Another Org
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Account role:</span> Admin
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Service:</span> Notification Service
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Service role:</span> Importer
    </td>
    <td class="govuk-table__cell">
      <span class="govuk-visually-hidden--desktop td-header">Action:</span>
      <a href="/manage/dashboard-all?orgName=Another Org&numUsers=5&numAgents=0&numServices=1&numLocations=1&multiOrg=yes&parentChild=parent" class="govuk-link--no-visited-state"> Manage account
        <span class="govuk-visually-hidden td-header"> for Another Org</span>
      </a>
    </td>
  </tr>
</table>



<script src="/public/javascripts/sortable-table.js"></script>






{% endblock %}
