{% extends "layout.html" %}

{% set title = "Accessible table test" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      {{title}}
    </h1>

    <h2 class="govuk-heading-l">Table 1</h2>
    <p>An accessible, responsive, sortable table using html and javascript</p>

    <table class="govuk-table sortable" id="team1" role="grid">
      <caption class="govuk-table__caption">Table 1 caption goes here</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="sortable-button column-full sortable-column govuk-table__header govuk-table__header--column-half" scope="col" data-sortby="text">
        <span class="govuk-visually-hidden--desktop">Sort by: </span>Team member <i class="arrow"></i>
      </th>
      <th class="sortable-button column-full sortable-column govuk-table__header govuk-table__header--column-quarter" scope="col" data-sortby="text">
        <span class="govuk-visually-hidden--desktop">Sort by: </span>Role type <i class="arrow"></i>
      </th>
      <th class="sortable-button column-full sortable-column govuk-table__header govuk-table__header--column-quarter" scope="col" data-sortby="text">
        <span class="govuk-visually-hidden--desktop">Sort by: </span>Account status <i class="arrow"></i>
      </th>
    </tr>
    </thead>

    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
          <a class="govuk-link--no-visited-state" href="services-on-team-member-admin-self">Ann Cooper (you)</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Role type:</span>
          Administrator
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span>
          Approved
        </td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
          <a class="govuk-link--no-visited-state" href="services-on-team-member-admin-self">George Ezra</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Role type:</span>
          Standard
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span>
          Invite sent
        </td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
          <a class="govuk-link--no-visited-state" href="services-on-team-member-admin-self">Tina Turner</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Role type:</span>
          Standard
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span>
          Pending
        </td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
          <a class="govuk-link--no-visited-state" href="services-on-team-member-admin-self">Bob Holness</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Role type:</span>
          Administrator
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span>
          Approved
        </td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
          <a class="govuk-link--no-visited-state" href="services-on-team-member-admin-self">Simon Sprat</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Role type:</span>
          Standard
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account status:</span>
          Approved
        </td>
      </tr>



    </tbody>
  </table>

  <h2 class="govuk-heading-l">Table 2</h2>
  <p>An accessible, responsive, sortable table using html and javascript</p>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-visually-hidden">All team members</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-table__header--column-quarter column-full" scope="col">
        Team member
      </th>
      <th class="govuk-table__header govuk-table__header--column-third column-full" scope="col">
        Email address
      </th>
      <th class="govuk-table__header govuk-table__header--column-sixth column-full" scope="col">
        Account status
      </th>
    </tr>
    </thead>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <span class="govuk-visually-hidden--desktop td-header">Team member:</span>
        <a class="govuk-link--no-visited-state" href="services-on-team-member-admin-self-all-1">Ann Cooper (you)</a>
      </td>
      <td class="govuk-table__cell">
        <span class="govuk-visually-hidden--desktop td-header">Email address:</span> Ann.Cooper@email.com
      </td>
      <td class="govuk-table__cell">
        <span class="govuk-visually-hidden--desktop td-header">Account status:</span> Approved
      </td>
    </tr>
  </table>



  <h2 class="govuk-heading-l">Table 3</h2>
  <p>An responsive table using nunjunks</p>

      {{ govukTable({
        caption: "Table 2 caption",
        captionClasses: "govuk-caption",
        firstCellIsHeader: false,
        head: [
          {
            html: 'Team member',
            format: 'column-third column-full'
          },
          {
            html: 'Role type',
            format: 'column-quarter column-full'
          },
          {
            html: 'Account status',
            format: 'column-quarter column-full'
          }
        ],
        rows: [
          [
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Team member:</span> <a class="govuk-link--no-visited-state" href="services-on-team-member-admin-self">Ann Cooper (you)</a><br>
                      <span class="govuk-body-s">Ann.Cooper@email.com</span>'
            },
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Role type:</span> Administrator'
            },
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Account status:</span> <span class="visibility">Approved</span>'
            }
          ],
          [
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Team member:</span> <a class="govuk-link--no-visited-state" href="services-on-team-member-standard">Adam Mastly</a><br>
                      <span class="govuk-body-s">Adam.Mastly@email.com</span>'
            },
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Role type:</span> Standard user'
            },
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Account status:</span> <span class="visibility">Approved</span>'
            }
          ],
          [
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Team member:</span> <a class="govuk-link--no-visited-state" href="services-on-team-member-admin">Barry Anders</a><br>
                      <span class="govuk-body-s">Barry.Anders@email.com</span>'
            },
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Role type:</span> Administrator'
            },
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Account status:</span> <span class="visibility">Approved</span>'
            }
          ],
          [
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Team member:</span> <a class="govuk-link--no-visited-state" href="services-on-team-member-invited-1">Sara Chippers</a>'
            },
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Role type:</span> Standard user'
            },
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Account status:</span> Invite email sent'
            }
          ],
          [
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Team member:</span> <a class="govuk-link--no-visited-state" href="services-on-team-member-service-request">Tiegan Mole</a><br>
                      <span class="govuk-body-s">Tiegan.Mole@email.com</span>'
            },
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Role type:</span> Standard user'
            },
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Account status:</span> Access request received'
            }
          ],
          [
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Team member:</span> <a class="govuk-link--no-visited-state" href="services-on-team-member-service-request">Ann Other</a><br>
                      <span class="govuk-body-s">Ann.Other@email.com</span>'
            },
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Role type:</span> Standard user'
            },
            {
              html: '<span class="govuk-visually-hidden--desktop td-header">Account status:</span> <span class="visibility">Approved</span>'
            }
          ]
        ]
      }) }}

  </div>
</div>



<script src="/public/javascripts/sortable-table.js"></script>






{% endblock %}
