<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Windows-1=252">
</head>
<body style="font-family: Arial; font-variant-numeric: normal; font-variant-east-asian: normal; margin-left: 10px; margin-right: 10px;">
<table style="background-color: rgb(256, 256, 256); padding:0; margin:0;" cellpadding="0" cellspacing="0" width="100%" >
	<tr>
	<td style="background-color: rgb(0, 0, 0);">
	<img alt="Gov.uk Logo" src="https://devwptinfsto001.blob.core.windows.net/dynamics-emails-images/gov-uk-logo.png">
	</td>
	</tr>
	<tr>
	<td style="background-color: rgb(256, 256, 256);">
	<img style="margin-top:10px; margin-bottom: 10px;" width="200" height="57" alt="Environment Agency Logo" src="https://devwptinfsto001.blob.core.windows.net/dynamics-emails-images/ea_logo_sm.png">
	</td>
	</tr>
</table>

<div style="max-width: 600px;">

	<div><span style="font-weight: 700; white-space: pre-wrap;"><font size="6">We have received your application</font></span></div>
	<div><span style="font-weight: 700; white-space: pre-wrap;"><font size="6">You paid £2,641.00 by card</font></span></div>
	<div>
	<p style="line-height: 1.38; margin-top: 10pt; margin-bottom: 10pt;" dir="ltr"><span>We have emailed you a separate receipt for your card payment.</p>
	</div>
	<div>
	<div style="font-family: Arial; font-variant-numeric: normal; font-variant-east-asian: normal; ">
		<div><span >Application reference: WE1006AA</span></div>
		<div><span>Standard rules permit: WE1006AA</span></div>
		<div><span>Site: WE1006AA</span></div>
		<div><span>Operator: WE1006AA</span></div>
		<div><span>Date received: WE1006AA</span></div>
	</div>


	<div style="margin-top: 10pt; margin-bottom: 10pt;"><font face="Arial" size="4"><b>What happens next</b></font></div>

	<div><font face="Arial">We will check any documents you have uploaded, your technical qualification and the site location, if applicable. We will run checks on the permit holder and any other relevant people.</font></div>
	<div><font face="Arial"><br>
	</font></div>
	<div><font face="Arial">It takes up to 13 weeks to issue a permit. It may take longer if the information you gave us does not meet our requirements.</font></div>
	<div><font face="Arial"><br>
	</font></div>
	<div><font face="Arial">We will not issue a permit if we believe that your operation will pollute the environment or harm human health to a level which we cannot accept.</font></div>
	</div>

	<div style="margin-top: 10pt; margin-bottom: 10pt;"><font face="Arial" size="4"><b>To contact us</b></font></div>

	<div><span style="font-family: Arial;">Permitting and Support Centre</span></div>
	<div><font face="Arial"><a id="1link" href="mailto:psc@environment-agency.gov.uk">psc@environment-agency.gov.uk</a></font></div>
	<div><font face="Arial">Telephone: 02030 253 898</font></div>
	<div><font face="Arial">Monday to Friday, 8am to 5pm</font></div>
</div>

</body>
</html>
