{% extends "layout-signed-out.html" %}

{% set title = "Verify your identity" %}

{% set serviceName = "Defra identity" %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{ title }}</h1>

    {% if data['scenario'] == "20-orgs" %}

    <form action="get-code-success-v2" method="post">

      {% elif data['scenario'] == "40-orgs" %}
      <form action="/mfa/get-code-success-search" method="post">
     


      {% else %}
      <form action="/mfa/account-page" method="post">


     

        {% endif %}


      




          {{ govukInput({
          label: {
          text: "Enter the code sent to xxxxxxxx478."
          },
          id: "account-number",
          name: "account-number",
          inputmode: "numeric",
          pattern: "[0-9]*",
          spellcheck: false,
          classes: "govuk-!-width-two-thirds",
          id: "verify",
          name: "verify-code"

          }) }}


          {{ govukButton({
          text: "Verify code"
          }) }}


        </form>
        {{ govukButton({
        text: "Send another code",
        classes: "govuk-button govuk-button--secondary"
        }) }}

        {{ govukDetails({
        summaryText: "Help with this page",
        html: "You can find information on how to update your number on the <a href=''>services help page</a>,
        or instead you can verify <a href='security-word'>using your email address</a>. You will need to answer a
        security question first to
        make sure its you"
        }) }}

  </div>
</div>

{% endblock %}