{% extends "layout-signed-out.html" %}

{% set serviceName = "Apply for an Annual Health and Welfare review" %}

{% set title = "We were unable to send an sms to this number" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{ title }}</h1>
    <p class="govuk-body">Before we send a recovery email with a verification code to <strong>timmy.mallet@wackaday.co.uk</strong>, we will require 
      you to confirm some security details, so we know its you.
    </p>
    

    {% if data['scenario'] == "email-recovery"%}
    <form action="/mfa/security-word" method="post">


{% else %}





{% endif %}

   

        



      {{ govukButton({
        text: "Continue",
        href: ""
      }) }}
    </form>

    {{ govukDetails({
      summaryText: "My email is not shown",
      html: "You can find information on how to update your phone number on the the <a href='/help'>services help page</a>"
    }) }}

  </div>
</div>

{% endblock %}
