{% extends "layout-signed-out.html" %}

{% set serviceName = "Apply for an Annual Health and Welfare review" %}

{% set title = "Verify your identity" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--<h1 class="govuk-heading-xl">{{ title }}</h1>
    <p class="govuk-body">This is the number we will send the verification code to</p>
    <h2 class="govuk-heading-m">xxxxxxxx478</h2>-->

  

{{ govukRadios({
  idPrefix: "verify-your-identity",
  name: "verify-your-identity",
  fieldset: {
    legend: {
      text: "Verify your identity",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [
    {
      value: "send-sms",
      text: "Send a code to xxxxxxxx478"
    },
    {
      value: "send-email",
      text: "Send a code to my email address"
    }
  ]
}) }}

    {% if data['scenario'] == "email-recovery"%}
    
      <form action="/mfa/unable-to-verify" method="post">

        {% elif data['scenario'] == "choose-email"%}
    
        <form action="/mfa/security-word" method="post">

        {% else %}

        <form action="/mfa/get-code-success-search" method="post">
      

{% endif %}

   

        



      {{ govukButton({
        text: "Continue",
        href: ""
      }) }}
    </form>

    {{ govukDetails({
      summaryText: "My number is not shown",
      html: "You can find information on how to update your phone number on the the <a href=''>services help page</a>"
    }) }}

  </div>
</div>

{% endblock %}
