{% extends "layout.html" %}

{% set title = "System access roles" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form action="add-user-service" method="post">

        {{ govukRadios({
          idPrefix: "systemRole",
          name: "systemRole",
          fieldset: {
            legend: {
              text: "What system access should the team member get?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "These are the roles the team member will have with the system...not the service"
          },
          items: [
            {
              value: "Administrator",
              html: ' <span class="govuk-body govuk-!-font-weight-bold">Administrator</span><br>
                      Description of what a system admin can do...',
              checked:  checked('systemRole','Administrator')

            },
            {
              value: "User Administrator",
              html: ' <span class="govuk-body govuk-!-font-weight-bold">User Administrator</span><br>
                      Description of what a user admin can do...',
              checked:  checked('systemRole','User Administrator')
            },
            {
              value: "Standard",
              html: ' <span class="govuk-body govuk-!-font-weight-bold">Standard user</span><br>
                      Description of what a standard user can do...',
              checked:  checked('systemRole','Standard')

            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>




{% endblock %}
