{% extends "layout.html" %}

{% set title = "What level of account access do you want this person to have?" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

        <form class="add-user-service" onsubmit="return myFunction()" method="post">

          <script>
            const form = document.querySelector('.add-user-service')

            function myFunction() {
              const checked = document.querySelector('[name="systemRole"]:checked')
              const checkedValue = checked.value

              switch(checkedValue){
                case 'Full access':
                form.action = 'check-answers/check-your-answers-admin'

                break;
                case 'Access manager':
                form.action = 'check-answers/check-your-answers-admin'

                break;
                case 'Standard access':
                form.action = 'add-user-service'

                break;
                default:
                form.action = 'add-user-service'
              }
              return true
            }
          </script>

        {{ govukRadios({
          idPrefix: "systemRole",
          name: "systemRole",
          fieldset: {
            legend: {
              text: "What level of account access do you want this person to have?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Full access",
              html: ' <span class="govuk-body govuk-!-font-weight-bold">Full access</span><br>
                      They can view all information held by the services your organisation is registered with. They can submit data to these services. They can give or remove access to services.',
              checked:  checked('systemRole','Administrator')

            },
            
            {
              value: "Standard access",
              html: ' <span class="govuk-body govuk-!-font-weight-bold">Standard access</span><br>
                      They can only view information held by the services you give them access to. They cannot give or remove access to services.',
              checked:  checked('systemRole','Standard')

            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>




{% endblock %}
