{% extends "layout.html" %}

{% set title = "Add service access" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form action="add-user-org" method="post">

        {% set setServiceTypeHtml %}
        {% endset %}

        {{ govukRadios ({
          idPrefix: "serviceRole",
          name: "serviceRole",
          fieldset: {
            legend: {
              text: "What do you want them to be able to do in the SERVICE NAME service?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            html: setServiceTypeHtml
          },
          items: [
            {
              value: "Manager",
              html: 'Edit and submit information.',
              checked:  checked('serviceRole','Manager')
            },
            {
              value: "Reader",
              html: 'View only. They cannot edit or submit any information.',
              checked:  checked('serviceRole','Reader')
            }
          ]
        }) }}

        {{ govukButton({
          text: "Done"
        }) }}

      </form>
    </div>
  </div>




{% endblock %}
