{% extends "layout.html" %}

{% set title = "This person's request was declined by another administrator" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% include "includes/account-nav-admin-corp.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{title}}</h1>
    <p class="govuk-body">Another administrator for {{data['orgName']}} has declined this user’s request. The user’s details have been removed.
</p>
      <p class="govuk-body">You may wish to contact the relevant administrator:</p>
      <p class="govuk-body">
        [admin name]<br>
        [email address]<br>
        [telephone number]
      </p>

      <p class="govuk-body">If this was a mistake, you can <a class="govuk-link" href="/manage/team-members/invite-user/add-user-details">invite the user again</a>.</p>

      {{ govukButton({
        text: "Continue",
        href: "manage/team-members/team-members?verifiedUser=n"
      }) }}

  </div>
</div>


{% endblock %}
