{% extends "layout.html" %}

{% set title = "Add service access" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form action="check-answers/check-your-answers-standard" method="post">
        {% set setServiceNameHtml %}
        What tasks do you want this person to do in the {{ data['serviceName'] }} service?
        {% endset %}

        {{ govukRadios ({
          idPrefix: "serviceRole",
          name: "serviceRole",
          fieldset: {
            legend: {
              html: setServiceNameHtml,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            html: setServiceTypeHtml
          },
          items: [
            {
              value: "AllTasks",
              html: 'All tasks - this person can view, add and edit information within the service.',
              checked:  checked('serviceRole','AllTasks')
            },
            {
              value: "Viewer",
              html: 'View only - this person can view all information held by the service.',
              checked:  checked('serviceRole','Viewer')
            },
            {
              value: "AnotherTask",
              html: 'Another task - this role is configurable by the service (e.g. the user can only view certain information, or edit certain sections).',
              checked:  checked('serviceRole','AnotherTask')
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>





{% endblock %}
