{% extends "layout.html" %}

{% set title = "Check your information" %}

{% block header %}
{% include "includes/logged-out-header.html" %}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{title}}</h1>

    <h2 class="govuk-heading-m">
      About you
    </h2>
    <dl class="app-check-your-answers app-check-your-answers--short">

      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Your name
        </dt>
        <dd class="app-check-your-answers__answer">
          {{ data['personalFirstName']}} {{ data['personalSurname']}}
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="personal-details" class="govuk-link" >
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Your contact details
        </dt>
        <dd class="app-check-your-answers__answer">
          {{data['scpEmail']}} <br>
          {{ data['personalTelephone'] }}
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="personal-contact" class="govuk-link" >
            Change<span class="govuk-visually-hidden"> contact number</span>
          </a>
        </dd>
      </div>

      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Your security word
        </dt>
        <dd class="app-check-your-answers__answer">
          {{ data['securityNum'] }} <br>
          {{ data['securityHint'] }}
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="personal-security?flowType=check" class="govuk-link" >
            Change<span class="govuk-visually-hidden"> your security word</span>
          </a>
        </dd>
      </div>

    </dl>


    <!-- reCAPTCHA -->

    <form action="reg-confirmation" method="post">

    <div class="govuk-form-group">
      <label class="govuk-label govuk-visually-hidden" for="reCAPTCHA">
        reCAPTCHA
      </label>

       <!-- Start of Mary's beautiful Capture Hack -->
      <div class="rc-anchor rc-anchor-normal rc-anchor-light">
        <div class="rc-anchor-content">
          <div class="rc-inline-block">
            <div class="rc-anchor-center-container">
              <div class="rc-anchor-center-item">
                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="robot" name="robot" type="checkbox" value="myButton" onchange="document.getElementById('myButton').disabled = !this.checked;">
                    <label class="govuk-body-s govuk-checkboxes__label" for="robot">
                      I'm not a robot.
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rc-anchor-normal-footer">
          <div class="rc-anchor-logo-portrait" aria-hidden="true" role="presentation">
            <div class="rc-anchor-logo-img rc-anchor-logo-img-portrait"></div>
            <div class="rc-anchor-logo-text">reCAPTCHA</div>
          </div>
          <div class="rc-anchor-pt">
             <a href="https://www.google.com/intl/en/policies/privacy/" target="_blank">Privacy</a><span aria-hidden="true" role="presentation"> - </span><a href="https://www.google.com/intl/en/policies/terms/" target="_blank">Terms</a>
           </div>
        </div>
      </div>
      <!-- End of Mary's beautiful capture hack -->
    </div>


    <button type="submit" disabled="disabled" class="govuk-button" data-module="govuk-button" id="myButton" href="reg-confirmation">Continue</button>

    </form>



    <!-- reCatptcha End -->

  </div>
</div>

{% endblock %}
