{% extends "layout.html" %}

{% set title = "You have registered" %}

{% block header %}
  {% include "includes/logged-out-header.html" %}
{% endblock %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{title}} </h1>
        <p class="govuk-body">Hello [First name],</p>
        <p class="govuk-body">Thank you for registering...some words here... </p>

        <div class="govuk-inset-text">Please contact [admin email address] to tell them that you have completed this registration process.</div>
        <p class="govuk-body">They will choose which information you can see and which tasks you can perform on behalf of [organisation name].</p>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            To withdraw your consent for Defra to store and use your email address, please follow the guidance in our privacy policy: URL.
          </strong>
        </div>




    </div>
</div>

{% endblock %}
