{#
    For guidance on how to use layouts see:
    https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
    #}
    
    {% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
    
{% import "macros/page-title.njk" as macroPageTitle %}
{% import "macros/page-header.njk" as macroPageHeader %}

{% block head %}{% include "includes/head.html" %}{% endblock %}

{% block pageTitle %}GOV.UK Prototype Kit{% endblock %}

{% block header %}
    {% include "includes/cookie-banner.html" %}
    
        {% if DefraAccount == true %}

            {% if ((data['defaultAccountUser'] == "CEO") or (data['defaultAccountUser'] == "thirdPartyUser")) %}
                
            {{ govukHeader({
                homepageUrl: "/",
                serviceName: "Defra account",
                serviceUrl: "/",
                containerClasses: "govuk-width-container",
                useTudorCrown: true,
                navigation: [                
                {
                    href: "/signed-out?status=signedOut",
                    text: "Home"                  
                },
                {
                    href: "/signed-out?status=signedOut",
                    text: "Add new organisation"                  
                },                
                {
                    href: "/signed-out?status=signedOut",
                    text: "Update your details"                  
                },                
                {
                    href: "/signed-out?status=signedOut",
                    text: "Sign out"                    
                }
            ]                              
            }) }}

            {% else %}

            {{ govukHeader({
                homepageUrl: "/",
                serviceName: "Defra account",
                serviceUrl: "/",
                containerClasses: "govuk-width-container",
                useTudorCrown: true                
                    
            }) }}

            {% endif %}
        {% else %}
            {{ govukHeader({
                homepageUrl: "/",
                serviceName: serviceName,
                serviceUrl: "/",
                containerClasses: "govuk-width-container",
                useTudorCrown: true                
            }) }}
        {% endif %}
              
{% endblock %}

{% block beforeContent %}
            
        {% if showNav == true %}
            {% block pageNavigation %}
                {% include "includes/account-nav.html" %}        
            {% endblock %}
        {% endif %}        
    
        {% if showPhaseBanner != false %}
            {{ govukPhaseBanner({
                tag: { text: "Prototype" },
                html: "This is a prototype. It is not a real service."
            }) }}
        {% endif %}

        

        {% if showBackLink != false %}
            {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
            }) }}
        {% endif %}
    
        
        {% block pageBanner %}{% endblock %}

    
{% endblock %}


  {% block footer %}
    {{ govukFooter({
      meta: {
        html: '        
          <ul class="govuk-footer__inline-list">
              <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/help" rel="noreferrer noopener" target="_blank">Help</a></li>
              <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/privacy-notice" rel="noreferrer noopener" target="_blank">Privacy notice</a></li>
              <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/terms-and-conditions" rel="noreferrer noopener" target="_blank">Terms and conditions</a></li>
              <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/cookies" rel="noreferrer noopener" target="_blank">Cookies</a></li>
              <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/accessibility" rel="noreferrer noopener" target="_blank">Accessibility</a></li>
          </ul>
          <p><a class="govuk-body-s govuk-footer__link" href="/manage-prototype/clear-data" >Clear data</a></p>',


        items: [

        ]
      }
    }) }}
  {% endblock %}
